{% extends 'base.html' %}

{% load i18n %}

{% block title %}{% translate 'Log out' %} - Mimir{% endblock %}

{% block content %}

<div class="box box-solid box-primary">

  <div class="box-header with-border">
    <h2 class="box-title">{% translate 'Log out' %}</h2>
  </div>

  <div class="box-body">
    <p>{% translate 'You are now logged out.' %}</p>

    <p><a href="{% url 'login' %}">{% translate 'Log in again' %}</a></p>
  </div>

</div>

{% endblock %}
