{% extends 'base.html' %}

{% load i18n %}
{% load mimir %}

{% block title %}{% translate 'Log in' %} - Mimir{% endblock %}

{% block content %}

<div class="box box-solid box-primary">

  <div class="box-header with-border">
    <h2 class="box-title">{% translate 'Log in' %}</h2>
  </div>

  <form class="form" action="{{ app_path }}" method="post" id="login-form">
    {% csrf_token %}

    <div class="box-body">

      {% if form.errors and not form.non_field_errors %}
        <div class="alert alert-warning">
          {% if form.errors.items|length == 1 %}{% translate "Please correct the error below." %}{% else %}{% translate "Please correct the errors below." %}{% endif %}
        </div>
      {% endif %}

      {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
        <div class="alert alert-warning">
          {{ error }}
        </div>
        {% endfor %}
      {% endif %}

      {% if user.is_authenticated %}
      <div class="alert alert-warning">
        {% blocktranslate trimmed %}
          You are authenticated as {{ username }}, but are not authorized to
          access this page. Would you like to login to a different account?
        {% endblocktranslate %}
      </div>
      {% endif %}

      <div class="form-group row{% if form.username.errors %} has-error{% endif %}">
        {{ form.username.errors }}
        <label for="{{ form.username.id_for_label }}" class="col-sm-2 col-form-label">{{ form.username.label }}</label>
        <div class="col-sm-10">{{ form.username|field_add_class:'form-control input-sm' }}</div>
      </div>

      <div class="form-group row{% if form.password.errors %} has-error{% endif %}">
        {{ form.password.errors }}
        <label for="{{ form.password.id_for_label }}" class="col-sm-2 col-form-label">{{ form.password.label }}</label>
        <div class="col-sm-10">{{ form.password|field_add_class:'form-control input-sm' }}</div>
        <input type="hidden" name="next" value="{{ next }}" />
      </div>

      {% url 'admin_password_reset' as password_reset_url %}
      {% if password_reset_url %}
        <div class="password-reset-link">
          <a href="{{ password_reset_url }}">{% translate 'Forgotten your password or username?' %}</a>
        </div>
      {% endif %}

    </div>

    <div class="box-footer">
      <input type="submit" class="btn btn-primary center-block" value="{% translate 'Log in' %}" />
    </div>

  </form>
</div>

{% endblock %}
