{% extends 'base.html' %}

{% load i18n %}
{% load mimir %}

{% block title %}{% translate 'Password change' %} - Mimir{% endblock %}

{% block content %}

<div class="box box-solid box-primary">

  <div class="box-header with-border">
    <h2 class="box-title">{% translate 'Password change' %}</h2>
  </div>

  <form class="form" action="{{ app_path }}" method="post">
    {% csrf_token %}

    <div class="box-body">

      {% if form.errors %}
        <div class="alert alert-warning">
          {% if form.errors.items|length == 1 %}{% translate "Please correct the error below." %}{% else %}{% translate "Please correct the errors below." %}{% endif %}
        </div>
      {% endif %}

      <p>{% translate "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</p>

      <div class="form-group row{% if form.old_password.errors %} has-error{% endif %}">
        {{ form.old_password.errors }}
        <label for="{{ form.old_password.id_for_label }}" class="col-sm-2 col-form-label">{{ form.old_password.label }}</label>
        <div class="col-sm-10">{{ form.old_password|field_add_class:'form-control input-sm' }}</div>
      </div>

      <div class="form-group row{% if form.new_password1.errors %} has-error{% endif %}">
        {{ form.new_password1.errors }}
        <label for="{{ form.new_password1.id_for_label }}" class="col-sm-2 col-form-label">{{ form.new_password1.label }}</label>
        <div class="col-sm-10">{{ form.new_password1|field_add_class:'form-control input-sm' }}</div>
      </div>

      <div class="form-group row{% if form.new_password2.errors %} has-error{% endif %}">
        {{ form.new_password2.errors }}
        <label for="{{ form.new_password2.id_for_label }}" class="col-sm-2 col-form-label">{{ form.new_password2.label }}</label>
        <div class="col-sm-10">{{ form.new_password2|field_add_class:'form-control input-sm' }}</div>
      </div>

    </div>

    <div class="box-footer">
      <input type="submit" class="btn btn-primary center-block" value="{% translate 'Change my password' %}" />
    </div>

  </form>
</div>

{% endblock %}
