{% extends 'base.html' %}

{% load i18n %}

{% block title %}{% translate 'Password change' %} - Mimir{% endblock %}

{% block content %}

<div class="box box-solid box-primary">

  <div class="box-header with-border">
    <h2 class="box-title">{% translate 'Password change' %}</h2>
  </div>

  <div class="box-body">
    <p>{% translate 'Your password was changed.' %}</p>
  </div>

</div>

{% endblock %}
