{% load static i18n %}<!DOCTYPE html>
<html>

<head>
  {% block title_outer %}
    <title>{% block title %}Mimir{% endblock %}</title>
  {% endblock %}

  {% block meta %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  {% endblock %}

  {% block stylesheets %}
    {% include 'styles.html' %}
  {% endblock %}

  {% block extra_head %}{% endblock %}
</head>

{% block body %}
<body class="hold-transition skin-blue sidebar-mini {% block body_class %}{% endblock %}">

  <div class="wrapper">

    {% block nav_header %}
      {% include 'header_sidebar.html' %}
    {% endblock nav_header %}

    {% block nav_sidebar %}
    {% endblock nav_sidebar %}

    {% block content_wrapper %}
    <div class="content-wrapper">
      {% block content_header %}
      <section class="content-header">
        <h1>{% block content_title %}{% endblock content_title %}</h1>
      </section>
      {% endblock content_header %}

      {% block content_outer %}
      <section class="content">
        {% block messages %}
          {% include 'messages.html' %}
        {% endblock messages %}

        {% block content %}{% endblock %}
      </section>
      {% endblock content_outer %}
    </div>
    {% endblock %}

    {% block nav_footer %}
    <footer class="main-footer">
      <div class="pull-right hidden-xs">
        {% block footer_right %}{% endblock %}
      </div>

      {% block footer_left %}
      <strong>Copyright &copy; 2017-{% now "Y" %} Teddy Michel</strong>. {% translate 'All rights reserved.' %}
      {% endblock %}
    </footer>
    {% endblock nav_footer %}

  </div>

  {% block javascript %}
  {% include 'scripts.html' %}
  {% endblock %}

  {% block extra_foot %}{% endblock %}

</body>
{% endblock body %}

</html>
