
{% load i18n %}
{% load mimir %}

{{ form.non_field_errors }}

{% if form.subject.errors %}
<ol>
  {% for error in form.subject.errors %}
  <li><strong>{{ error|escape }}</strong></li>
  {% endfor %}
</ol>
{% endif %}

<div class="box box-primary">
  <form action="{{ form_url }}" method="post" class="form">
    {% csrf_token %}

    <div class="box-body">
      {% for field in form.hidden_fields %}
        {{ field }}
      {% endfor %}
      {% for field in form.visible_fields %}
      <div class="form-group row{% if field.errors %} has-error{% endif %}">
        {{ field.errors }}
        <label for="{{ field.id_for_label }}" class="col-sm-2 col-form-label">{{ field.label }}</label>
        <div class="col-sm-10">{{ field|field_add_class:'form-control input-sm' }}</div>
        {% if field.help_text %}
          <p class="form-text text-muted">{{ field.help_text|safe }}</p>
        {% endif %}
      </div>
      {% endfor %}
      <p id="form_info" class="col-sm-offset-2 text-info small"></p>
    </div>

    <div class="box-footer">
      <input type="submit" class="btn btn-primary center-block" value="{% translate 'Validate' %}" />
    </div>
  </form>
</div>
