{% load i18n %}
{% load mimir %}

<header class="main-header">

  {% block navbar %}
  <nav class="navbar navbar-static-top" role="navigation">

    <div class="container">

      {% block navbar_title %}
      <div class="navbar-header">
        <a href="{% url 'home' %}" class="navbar-brand"><b>Mimir</b></a>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
          <i class="fa fa-bars"></i>
        </button>
      </div>
      {% endblock navbar_title %}

      {% block navbar_apps %}
      {% if user.is_authenticated %}
      <div class="collapse navbar-collapse pull-left" id="navbar-collapse">
        <ul class="nav navbar-nav">
          <li class=""><a href="{% url 'base_home' %}">{% translate 'Base' %}</a></li>
          {% if "movies"|is_app_installed %}<li class=""><a href="{% url 'movies_home' %}">{% translate 'Movies and series' %}</a></li>{% endif %}
          {% if "books"|is_app_installed %}<li class=""><a href="{% url 'books_home' %}">{% translate 'Books' %}</a></li>{% endif %}
          {% if "games"|is_app_installed %}<li class=""><a href="{% url 'games_home' %}">{% translate 'Games' %}</a></li>{% endif %}
          {% if user.is_superuser %}
          <li class=""><a href="{% url 'admin:index' %}">{% translate 'Administration' %}</a></li>
          {% endif %}
        </ul>
        {% comment %}
        <form action="" class="navbar-form navbar-left" method="get" role="search">
          <div class="input-group">
            <input type="text" name="q" class="form-control" id="navbar-search-input" placeholder="{% translate 'Search...' %}">
            <span class="input-group-btn">
              <button type="submit" id="search-btn2" class="btn btn-flat">
                <i class="fa fa-search"></i>
              </button>
            </span>
          </div>
        </form>
        {% endcomment %}
      </div>
      {% endif %}
      {% endblock navbar_apps %}

      {% block nav_custom_menu %}
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          {% block header_dropdowns %}
            {% if request.user.is_authenticated %}
              <li class="dropdown user user-menu ">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <span class="fa fa-user"></span>
                  <span class="hidden-xs">{% firstof request.user.get_short_name request.user.get_username %}</span>
                </a>
                <ul class="dropdown-menu">
                  {% block user_header %}
                  <li class="user-header">
                    <p>
                      {% firstof request.user.get_short_name request.user.get_username %}
                      <small>{% translate 'Member since' %} {{ request.user.date_joined }}</small>
                    </p>
                  </li>
                  {% endblock %}

                  {% block menu_footer %}
                  <li class="user-footer">
                    <div class="pull-left">
                      <a href="{% url 'password_change' %}" class="btn btn-default btn-flat">{% translate 'Change password' %}</a>
                    </div>
                    <div class="pull-right">
                      <a href="{% url 'logout' %}" class="btn btn-default btn-flat">{% translate 'Logout' %}</a>
                    </div>
                  </li>
                  {% endblock %}
                </ul>
              </li>
            {% endif %}
          {% endblock header_dropdowns %}
        </ul>
      </div>
      {% endblock nav_custom_menu %}
    </div>
  </nav>
  {% endblock %}

</header>
