{% load static %}

{% block scripts %}
<script src="{% static 'js/jquery/jquery-3.6.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap/bootstrap-3.3.7.min.js' %}"></script>
<script src="{% static 'js/adminlte/adminlte-2.4.2.min.js' %}"></script>
{% endblock %}
