
{% load i18n %}
{% load mimir %}

<html>

<head>
<meta charset="utf-8" />
<title>{% translate 'Movies' %}</title>

<style>
body {
    font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: 400;
}

h3 {
    margin: 0 0 10px 0;
}

p {
    font-size: 11pt;
}

table {
    #width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

table {
    #border: 1px solid;
}

tr {
    margin: 0;
}

td {
    border: 1px solid;
    vertical-align: top;
    padding: 3px;
}
</style>

</head>

<body>

<table>
  <tbody>
  {% for movie in movies.values %}
    <tr>
      <td>
        {% if movie.movie.image %}
          <img src="{{ movie.movie.image.url }}" style="max-width: 100px; max-height: 150px;" class="center-block" />
        {% endif %}
      </td>
      <td>
        <h3><i>{{ movie.movie.title }}</i>{% if movie.movie.title_vo and movie.movie.title_vo != movie.movie.title %} (<i>{{ movie.movie.title_vo }}</i>){% endif %}</h3>
        <p>
          {% if movie.movie.date %}<strong>{% translate 'Year' %}{% translate ':' %}</strong> {{ movie.movie.date|date_year }}<br/>{% endif %}
          {% if movie.movie.countries.count > 0 %}<strong>{% translate 'Country' %}{% translate ':' %}</strong> {% for country in movie.movie.countries.all %}{% if not forloop.first %}, {% endif %}{{ country.name }}{% endfor %}<br/>{% endif %}
          {% if movie.duration > 0 %}<strong>{% translate 'Duration' %}{% translate ':' %}&nbsp;:</strong> {{ movie.duration|duration_txt }}<br/>{% endif %}
          {% if movie.realisation %}<strong>Réalisation{% translate ':' %}</strong> {% for realisation in movie.realisation %}{% if not forloop.first %}, {% endif %}{{ realisation.person.person.name }}{% endfor %}<br/>{% endif %}
          {% if movie.acteurs %}<strong>Acteurs principaux{% translate ':' %}</strong> {% for acteur in movie.acteurs %}{% if not forloop.first %}, {% endif %}{{ acteur }}{% endfor %}<br/>{% endif %}
          {% if movie.movie.summary %}<strong>{% translate 'Summary' %}{% translate ':' %}</strong> {{ movie.movie.summary }}<br/>{% endif %}
          {% if movie.movie.sagas.count > 0 %}<strong>{% translate 'Saga' %}{% translate ':' %}</strong> {% for sagaMovie in movie.movie.sagas.all %}{% if not forloop.first %}, {% endif %}{{ sagaMovie.saga.title }} (n° {{ sagaMovie|get_order }}){% endfor %}<br/>{% endif %}
          {% if movie.info %}<strong>Localisation{% translate ':' %}</strong> {{ movie.info }}{% endif %}
        </p>
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>

</body>

</html>
