{% extends 'movies/base.html' %}

{% load i18n %}
{% load mimir %}
{% load static %}

{% block content_title %}
{% translate 'Movies and series' %}
{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/datatables/dataTables.min.css' %}">

<style>
.tooltip-inner {
    min-width: 300px;
    max-width: 400px;
}
</style>
{% endblock %}

{% if arte %}
{% block extra_foot %}
<script src="{% static 'js/datatables/datatables.min.js' %}"></script>

<script>
$(function() {
    var table = $("#arte_list").DataTable({
        "paging"      : true,
        "lengthChange": true,
        "searching"   : true,
        "ordering"    : true,
        "info"        : true,
        "autoWidth"   : true,
        "language": {
            "processing":     "Traitement en cours...",
            "search":         "Rechercher&nbsp;:",
            "lengthMenu":     "Afficher _MENU_ &eacute;l&eacute;ments",
            "info":           "Affichage de l'&eacute;lement _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
            "infoEmpty":      "Affichage de l'&eacute;lement 0 &agrave; 0 sur 0 &eacute;l&eacute;ments",
            "infoFiltered":   "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
            "infoPostFix":    "",
            "loadingRecords": "Chargement en cours...",
            "zeroRecords":    "Aucun &eacute;l&eacute;ment &agrave; afficher",
            "emptyTable":     "Aucune donnée disponible dans le tableau.",
            "paginate": {
                "first":      "Premier",
                "previous":   "Pr&eacute;c&eacute;dent",
                "next":       "Suivant",
                "last":       "Dernier"
            },
            "aria": {
                "sortAscending":  ": activer pour trier la colonne par ordre croissant",
                "sortDescending": ": activer pour trier la colonne par ordre décroissant"
            }
        },
        "order": [[ 3, "asc" ]],
    });

    table.on("draw", function() {
        $('a[data-toggle="tooltip"]').tooltip({
            html: true,
        });
    });

    $('a[data-toggle="tooltip"]').tooltip({
        html: true,
    });
});
</script>
{% endblock %}
{% endif %}

{% block content %}

<div class="row">
    <div class="col-md-6">
        <div class="box box-solid box-info">
            <div class="box-header with-border">
                <h3 class="box-title">{% translate 'Last movies' %}</h3>
            </div>
            <div class="box-body">
                {% if movies|length > 0 %}
                <table class="table table-bordered table-stripped table-hover table-condensed">
                    <thead>
                        <tr>
                            <th>{% translate 'Title' %}</th>
                            <th>{% translate 'Date' %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for movie in movies %}
                        <tr>
                            <td>
                                <a href="{% url 'movie_info' movie.id|stringformat:'06d' %}"{% if user.is_authenticated %} class="{% if movie.viewed %}movie_viewed{% else %}movie_not_viewed{% endif %}"{% endif %}><i>{{ movie.title }}</i></a>
                                {% if movie.title_vo and movie.title_vo != movie.title %} (<i>{{ movie.title_vo }}</i>){% endif %}
                            </td>
                            <td>{{ movie.date|date_format }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <p>{% translate 'No movies.' %}</p>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="box box-solid box-info">
            <div class="box-header with-border">
                <h3 class="box-title">{% translate 'Last episodes' %}</h3>
            </div>
            <div class="box-body">
                {% if episodes|length > 0 %}
                <table class="table table-bordered table-stripped table-hover table-condensed">
                    <thead>
                        <tr>
                            <th>{% translate 'Serie' %}</th>
                            <th>{% translate 'Episode' %}</th>
                            <th>{% translate 'Title' %}</th>
                            <th>{% translate 'Date' %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for movie in episodes %}
                        <tr>
                            <td>
                                <a href="{% url 'serie_info' movie.episode.season.serie.id|stringformat:'06d' %}"><i>{{ movie.episode.season.serie.title }}</i></a>
                            </td>
                            <td>{{ movie.episode.season }} - {% translate 'episode' %} {{ movie.episode|get_order }}</td>
                            <td>
                                <a href="{% url 'movie_info' movie.id|stringformat:'06d' %}"{% if user.is_authenticated %} class="{% if movie.viewed %}movie_viewed{% else %}movie_not_viewed{% endif %}"{% endif %}><i>{{ movie.title }}</i></a>
                                {% if movie.title_vo and movie.title_vo != movie.title %} (<i>{{ movie.title_vo }}</i>){% endif %}
                            </td>
                            <td>{{ movie.date|date_format }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <p>{% translate 'No movies.' %}</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% if arte %}
<div class="box box-solid box-info">
    <div class="box-header with-border">
        <h3 class="box-title">Arte.tv</h3>
    </div>
    <div class="box-body">
        <table class="table table-bordered table-stripped table-hover table-condensed" id="arte_list">
            <thead>
                <tr>
                    <th>{% translate 'Title' %}</th>
                    <th>{% translate 'Duration' %}</th>
                    <th>{% translate 'Start date' %}</th>
                    <th>{% translate 'End date' %}</th>
                    <th>{% translate 'Movie' %}</th>
                </tr>
            </thead>
            <tbody>
                {% for video in arte %}
                <tr>
                    <td><a href="{{ video.url }}" data-toggle="tooltip" title="<img src='{{ video.image }}' /><p class='text-sm'>{{ video.description }}</p>"><em>{{ video.title }}</em>{% if video.subtitle %} (<em>{{ video.subtitle }}</em>){% endif %}</a></td>
                    <td><span class="hidden">{{ video.duration|stringformat:'06d' }} </span>{{ video.duration|duration_txt }}</td>
                    <td><span class="hidden">{{ video.date_start|date:'Y-m-d' }} </span>{{ video.date_start|date:'d/m/Y H:i' }}</td>
                    <td><span class="hidden">{{ video.date_end|date:'Y-m-d' }} </span>{{ video.date_end|date:'d/m/Y H:i' }}</td>
                    <td>{% if video.movie %}<a href="{% url 'movie_info' video.movie.id|stringformat:'06d' %}"{% if user.is_authenticated %} class="{% if video.movie.viewed %}movie_viewed{% else %}movie_not_viewed{% endif %}"{% endif %}><i>{{ video.movie }}</i></a> {% else %}<span style="display: none;">-</span>{% endif %}<a href="{% url 'edit_arte_video' video.id|stringformat:'06d' %}" class="btn btn-xs btn-primary pull-right">{% translate 'Edit' %}</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endif %}

{% endblock %}
