{% extends 'movies/base.html' %}

{% load static %}
{% load i18n %}

{% block title %}
{% translate 'Lists' %} - Mimir
{% endblock %}

{% block content_title %}
{% translate 'Lists' %}
{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/datatables/dataTables.min.css' %}">
{% endblock %}

{% block extra_foot %}
<script src="{% static 'js/datatables/datatables.min.js' %}"></script>

<script>
$(function() {
  $("#lists_list").DataTable({
    "paging"      : true,
    "lengthChange": true,
    "searching"   : true,
    "ordering"    : true,
    "info"        : true,
    "autoWidth"   : true,
    "language": {
        "processing":     "Traitement en cours...",
        "search":         "Rechercher&nbsp;:",
        "lengthMenu":     "Afficher _MENU_ &eacute;l&eacute;ments",
        "info":           "Affichage de l'&eacute;lement _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
        "infoEmpty":      "Affichage de l'&eacute;lement 0 &agrave; 0 sur 0 &eacute;l&eacute;ments",
        "infoFiltered":   "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
        "infoPostFix":    "",
        "loadingRecords": "Chargement en cours...",
        "zeroRecords":    "Aucun &eacute;l&eacute;ment &agrave; afficher",
        "emptyTable":     "Aucune donnée disponible dans le tableau.",
        "paginate": {
            "first":      "Premier",
            "previous":   "Pr&eacute;c&eacute;dent",
            "next":       "Suivant",
            "last":       "Dernier"
        },
        "aria": {
            "sortAscending":  ": activer pour trier la colonne par ordre croissant",
            "sortDescending": ": activer pour trier la colonne par ordre décroissant"
        }
    },
  });
});
</script>
{% endblock %}

{% block content %}

  <div class="box box-solid box-info">

    <div class="box-header">
      <h3 class="box-title">{% translate 'Lists' %}</h3>
      {% if user.is_authenticated %}
      <div class="box-tools pull-right">
        <a href="{% url 'list_create' %}" class="btn btn-box-tool">
          <i class="fa fa-plus-square"></i>
        </a>
      </div>
      {% endif %}
    </div>

    <div class="box-body">

      {% if lists %}

      <table class="table table-bordered table-stripped table-hover" id="lists_list">
        <thead>
          <tr>
            <th>{% translate 'Name' %}</th>
            <th>{% translate 'Creation' %}</th>
          </tr>
        </thead>
        <tbody>
        {% for list in lists %}
          <tr>
            <td>
              <a href="{% url 'list_info' list.id|stringformat:'06d' %}"><i>{{ list.name }}</i></a>
            </td>
            <td>{{ list.creation }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>

      {% else %}
      <p>Il n'y a aucune liste pour le moment.</p>
      {% endif %}

    </div>
  </div>

{% endblock %}
