{% extends 'movies/base.html' %}

{% load static %}
{% load i18n %}
{% load mimir %}

{% block footer_right %}
{% if list.creation %}{% translate 'Creation:' %} {{ list.creation }}.{% endif %}
{% if list.modification %}{% translate 'Last modification:' %} {{ list.modification }}.{% endif %}
{% endblock %}

{% block title %}
{{ list.name }} - {% translate 'Movies' %} - Mimir
{% endblock %}

{% block content_header %}
<section class="content-header">
  <h1>{{ list.name }}
    {% if user.is_authenticated %}
    <div class="pull-right">
      <a href="{% url 'list_edit' list.id|stringformat:'06d' %}" class="btn btn-sm btn-warning">{% translate 'Edit' %}</a>
      <a href="{% url 'list_delete' list.id|stringformat:'06d' %}" class="btn btn-sm btn-danger">{% translate 'Delete' %}</a>
    </div>
    {% endif %}
  </h1>
</section>
{% endblock content_header %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/datatables/dataTables.min.css' %}">
{% endblock %}

{% block extra_foot %}
<script src="{% static 'js/datatables/datatables.min.js' %}"></script>

<script>
$(function() {
    $("#movies_list").DataTable({
        "paging"      : false,
        "lengthChange": false,
        "searching"   : false,
        "ordering"    : true,
        "info"        : false,
        "autoWidth"   : true,
        "language": {
            "processing":     "Traitement en cours...",
            "search":         "Rechercher&nbsp;:",
            "lengthMenu":     "Afficher _MENU_ &eacute;l&eacute;ments",
            "info":           "Affichage de l'&eacute;lement _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
            "infoEmpty":      "Affichage de l'&eacute;lement 0 &agrave; 0 sur 0 &eacute;l&eacute;ments",
            "infoFiltered":   "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
            "infoPostFix":    "",
            "loadingRecords": "Chargement en cours...",
            "zeroRecords":    "Aucun &eacute;l&eacute;ment &agrave; afficher",
            "emptyTable":     "Aucune donnée disponible dans le tableau.",
            "paginate": {
                "first":      "Premier",
                "previous":   "Pr&eacute;c&eacute;dent",
                "next":       "Suivant",
                "last":       "Dernier"
            },
            "aria": {
                "sortAscending":  ": activer pour trier la colonne par ordre croissant",
                "sortDescending": ": activer pour trier la colonne par ordre décroissant"
            }
        },
    });
});
</script>
{% endblock %}

{% block content %}

  <div class="row">
    <div class="col-md-4">
      <div class="box box-solid box-info">
        <div class="box-body">
          <dl class="dl-horizontal">
            <dt>{% translate 'Name' %}</dt><dd><i>{{ list.name }}</i></dd>
            <dt>{% translate 'Creator' %}</dt><dd><i>{{ list.user }}</i></dd>
          </dl>
        </div>
      </div>
    </div>
  </div>

  <div class="box box-solid box-info">
    <div class="box-header with-border">
      <h3 class="box-title">{% translate 'Criteria' %}</h3>
      <div class="box-tools pull-right">
        <button type="button" class="btn btn-box-tool" data-widget="collapse">
          <i class="fa fa-minus"></i>
        </button>
      </div>
    </div>
    <div class="box-body">
      {% if list.criteria.count > 0 %}
      <p>{% if list.union %}{% translate 'Any conditions:' %}{% else %}{% translate 'All condition:' %}{% endif %}</p>
      <ul>
        {% for criterion in list.criteria.all %}
        <li>
          {% if criterion.type == 257 %}{% translate 'Title' %}
          {% elif criterion.type == 258 %}{% translate 'Summary' %}
          {% elif criterion.type == 259 %}{% translate 'Information' %}
          {% elif criterion.type == 260 %}{% translate 'Tag' %}
          {% elif criterion.type == 261 %}{% translate 'List' %}
          {% elif criterion.type == 513 %}{% translate 'Duration' %}
          {% elif criterion.type == 514 %}{% translate 'Views' %}
          {% elif criterion.type == 515 %}{% translate 'Year' %}
          {% elif criterion.type == 769 %}{% translate 'Episode' %}
          {% elif criterion.type == 770 %}{% translate 'Viewed' %}
          {% else %}{{ criterion.type }}{% endif %}

          {% if criterion.condition == 1 %}{% translate 'is' %}
          {% elif criterion.condition == 2 %}{% translate 'is not' %}
          {% elif criterion.condition == 3 %}{% translate 'contains' %}
          {% elif criterion.condition == 4 %}{% translate 'does not contain' %}
          {% elif criterion.condition == 5 %}{% translate 'starts with' %}
          {% elif criterion.condition == 6 %}{% translate 'ends with' %}
          {% elif criterion.condition == 7 %}{% translate 'is less than' %}
          {% elif criterion.condition == 8 %}{% translate 'is greater than' %}
          {% elif criterion.condition == 9 %}{% translate 'is between' %}
          {% else %}{{ criterion.condition }}{% endif %}

          {% if criterion.value1 %}{% if criterion.type == 257 or criterion.type == 258 or criterion.type == 259 or criterion.type == 260 or criterion.type == 261 %}"{{ criterion.value1 }}"{% else %}{{ criterion.value1 }}{% endif %}{% endif %}
          {% if criterion.value2 and criterion.condition == 9 %}{% translate 'and' %} {{ criterion.value2 }}{% endif %}
        </li>
        {% endfor %}
      </ul>
      {% else %}
      <p>{% translate 'No conditions.' %}</p>
      {% endif %}
    </div>
  </div>

  <div class="box box-solid box-info">
    <div class="box-header with-border">
      <h3 class="box-title">{% translate 'Movies' %} <small>({{ movies|length }})</small></h3>
      <div class="box-tools pull-right">
        <button type="button" class="btn btn-box-tool" data-widget="collapse">
          <i class="fa fa-minus"></i>
        </button>
      </div>
    </div>
    <div class="box-body">
      {% if movies|length > 0 %}
      <table class="table table-bordered table-stripped table-hover" id="movies_list">
        <thead>
          <tr>
            <th>{% translate 'Title' %}</th>
            <th>{% translate 'Year' %}</th>
            <th>{% translate 'Duration' %}</th>
          </tr>
        </thead>
        <tbody>
          {% for movie in movies %}
          <tr>
            <td>
              <a href="{% url 'movie_info' movie.id|stringformat:'06d' %}"{% if user.is_authenticated %} class="{% if movie.viewed %}movie_viewed{% else %}movie_not_viewed{% endif %}"{% endif %}><i>{{ movie.title }}</i></a>
              {% if movie.title_vo and movie.title != movie.title_vo %} (<i>{{ movie.title_vo }}</i>){% endif %}
              {% if movie.episode %}
                (<a href="{% url 'serie_info' movie.episode.season.serie.id|stringformat:'06d' %}">{{ movie.episode.season.serie }}</a> - {{ movie.episode.season }})
              {% endif %}
            </td>
            <td>{% if movie.date %}<a href="{% url 'movies_year' movie.date|date_year %}">{{ movie.date|date_year }}</a>{% endif %}</td>
            <td>{{ movie.duration|duration_txt }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <p>{% translate 'No movies.' %}</p>
      {% endif %}
    </div>
  </div>

{% endblock %}
