{% extends 'movies/base.html' %}

{% load static %}
{% load i18n %}
{% load mimir %}
{% load movies %}

{% block footer_right %}
{% if movie.creation %}{% translate 'Creation:' %} {{ movie.creation }}.{% endif %}
{% if movie.modification %}{% translate 'Last modification:' %} {{ movie.modification }}.{% endif %}
{% endblock %}

{% block title %}
{{ movie.title }}{% if movie.episode %} ({{ movie.episode.season.serie.title }}){% endif %} - {% translate 'Movies' %} - Mimir
{% endblock %}

{% block content_header %}
<section class="content-header">
  <h1><i>{{ movie.title }}</i> {% if movie.episode %}(<a href="{% url 'serie_info' movie.episode.season.serie.id|stringformat:'06d' %}"><i>{{ movie.episode.season.serie.title }}</i></a>)
      {% if episode_previous %}
        <a href="{% url 'movie_info' episode_previous.movie.id|stringformat:'06d' %}" class="btn btn-xs btn-primary"><span class="fa fa-chevron-left"></span> {% translate 'Previous' %}</a>
      {% else %}
        <btn class="btn btn-xs btn-primary" disabled="disabled"><span class="fa fa-chevron-left"></span> {% translate 'Previous' %}</btn>
      {% endif %}
      {% if episode_next %}
        <a href="{% url 'movie_info' episode_next.movie.id|stringformat:'06d' %}" class="btn btn-xs btn-primary"><span class="fa fa-chevron-right"></span> {% translate 'Next' %}</a>
      {% else %}
        <btn class="btn btn-xs btn-primary" disabled="disabled"><span class="fa fa-chevron-right"></span> {% translate 'Next' %}</btn>
      {% endif %}
    {% endif %}
    {% if perms.movies.change_movie or perms.movies.delete_movie %}
    <div class="pull-right">
      {% if perms.movies.change_movie %}
      <a href="{% url 'movie_edit' movie.id|stringformat:'06d' %}" class="btn btn-sm btn-warning">{% translate 'Edit' %}</a>
      {% endif %}
      {% if perms.movies.delete_movie %}
      <a href="{% url 'movie_delete' movie.id|stringformat:'06d' %}" class="btn btn-sm btn-danger">{% translate 'Delete' %}</a>
      {% endif %}
    </div>
    {% endif %}
  </h1>
</section>
{% endblock content_header %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/datatables/dataTables.min.css' %}" />
{% endblock %}

{% block extra_foot %}
<script src="{% static 'js/datatables/datatables.min.js' %}"></script>

<script>
$(function() {
    function makeDataTable(obj, options={}) {
        var opt = {
            "paging"      : false,
            "lengthChange": false,
            "searching"   : false,
            "ordering"    : true,
            "info"        : false,
            "autoWidth"   : true,
            "language": {
                "processing":     "Traitement en cours...",
                "search":         "Rechercher&nbsp;:",
                "lengthMenu":     "Afficher _MENU_ &eacute;l&eacute;ments",
                "info":           "Affichage de l'&eacute;lement _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
                "infoEmpty":      "Affichage de l'&eacute;lement 0 &agrave; 0 sur 0 &eacute;l&eacute;ments",
                "infoFiltered":   "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
                "infoPostFix":    "",
                "loadingRecords": "Chargement en cours...",
                "zeroRecords":    "Aucun &eacute;l&eacute;ment &agrave; afficher",
                "emptyTable":     "Aucune donnée disponible dans le tableau.",
                "paginate": {
                    "first":      "{% translate 'First' %}",
                    "previous":   "{% translate 'Previous' %}",
                    "next":       "{% translate 'Next' %}",
                    "last":       "{% translate 'Last' %}"
                },
                "aria": {
                    "sortAscending":  ": activer pour trier la colonne par ordre croissant",
                    "sortDescending": ": activer pour trier la colonne par ordre décroissant"
                }
            },
        };
        jQuery.extend(opt, options);
        obj.DataTable(opt);
    }

    makeDataTable($("#actors_list"), {"order": []});
    makeDataTable($("#actors_dubbing_list"), {"order": [[0, "asc"], [1, "asc"]]});
    makeDataTable($("#crew_list"));
});
</script>
{% endblock %}

{% block content %}

  <div class="row">
    <div class="col-sm-12 col-md-7 col-lg-4">
      <div class="box box-solid box-info">
        <div class="box-body">
          <dl class="dl-horizontal">
            <dt>{% translate 'Title' %}{% translate ':' %}</dt><dd><i>{{ movie.title }}</i></dd>
            {% if movie.title_vo %}<dt>{% translate 'Original title' %}{% translate ':' %}</dt><dd><i>{{ movie.title_vo }}</i></dd>{% endif %}
            {% if movie.date %}<dt>{% translate 'Release date' %}{% translate ':' %}</dt><dd>{{ movie.date|date_format }}</dd>{% endif %}
            {% if movie.imdb > 0 %}<dt>{% translate 'IMDb number' %}{% translate ':' %}</dt><dd><a href="{{ movie.imdb|imdb_link_title }}">{{ movie.imdb }} <span class="fa fa-external-link"></span></a></dd>{% endif %}
            {% if movie.duration > 0 %}<dt>{% translate 'Duration' %}{% translate ':' %}</dt><dd>{{ movie.duration|duration_txt }}</dd>{% endif %}
            {% if movie.lang %}<dt>{% translate 'Language' context 'The language' %}{% translate ':' %}</dt><dd><a href="{% url 'language_info' movie.lang.code %}">{{ movie.lang }}</a></dd>{% endif %}
            {% if movie.countries.count > 0 %}<dt>{% blocktranslate count c=movie.countries.count %}Country{% plural %}Countries{% endblocktranslate %}{% translate ':' %}</dt><dd>{% for country in movie.countries.all %}{% if not forloop.first %}, {% endif %}<a href="{% url 'country_info' country.code %}">{{ country.name }}</a>{% endfor %}</dd>{% endif %}

            {% if movie.episode %}
            <dt>{% translate 'Serie' %}{% translate ':' %}</dt>
            <dd>
              <a href="{% url 'serie_info' movie.episode.season.serie.id|stringformat:'06d' %}"><i>{{ movie.episode.season.serie.title }}</i></a> ({{ movie.episode.season.name }} {% translate 'episode' context 'episode num' %} {{ movie.episode|get_order }})
            </dd>
            {% endif %}

            {% if movie.sagas.count > 0 %}
            <dt>{% blocktranslate count c=movie.sagas.count %}Saga{% plural %}Sagas{% endblocktranslate %}{% translate ':' %}</dt>
            <dd>
              {% for sagaMovie in movie.sagas.all %}
                {% if not forloop.first %}, {% endif %}
                <a href="{% url 'saga_info' sagaMovie.saga.id|stringformat:'06d' %}">{{ sagaMovie.saga.title }}</a> (n° {{ sagaMovie|get_order }})
              {% endfor %}
            </dd>
            {% endif %}
          </dl>
        </div>
      </div>
    </div>

    {% if movie.image %}
    <div class="col-sm-12 col-md-5 col-lg-4">
      <div class="box box-solid box-info" style="width: 220px;">
        <div class="box-body">
          <img src="{{ movie.image.url }}" style="max-width: 200px; max-height: 300px;" class="center-block" />
        </div>
      </div>
    </div>
    {% endif %}

    {% if perms.movies.add_movieview or views.count > 0 %}
    <div class="col-sm-12 {% if movie.image %}col-md-12 col-lg-4{% else %}col-md-5 col-lg-offset-4 col-lg-4{% endif %}">
      <div class="box box-solid box-info">
        <div class="box-header with-border">
          <h3 class="box-title">{% translate 'Views' %}</h3>
          {% if user.is_authenticated %}
          <div class="box-tools pull-right">
            {% if perms.movies.change_movieview %}
            <a href="{% url 'movie_edit_views' movie.id|stringformat:'06d' %}" class="btn btn-box-tool" title="{% translate 'Edit views' %}">
              <i class="fa fa-edit"></i>
            </a>
            {% endif %}
            {% if perms.movies.add_movieview %}
            <a href="{% url 'movie_add_view' movie.id|stringformat:'06d' %}" class="btn btn-box-tool" title="{% translate 'Add view' %}">
              <i class="fa fa-plus-square"></i>
            </a>
            {% endif %}
          </div>
          {% endif %}
        </div>
        <div class="box-body">
          {% if views.count > 0 %}
          <ul>
            {% for view in views.all %}
            <li>{{ view.date|date_txt }}{% if view.lang %} en {{ view.lang|lower }}{% endif %}{% if view.sublang %} sous-titré en {{ view.sublang|lower }}{% endif %}{% if view.user and view.user != request.user %} par {{ view.user }}{% endif %}{% if view.info %} ({{ view.info }}){% endif %}</li>
            {% endfor %}
          </ul>
          {% else %}
          <p>{% translate 'No views.' %}</p>
          {% endif %}
        </div>
      </div>
    </div>
    {% endif %}
  </div>

  {% if movie.summary %}
  <div class="box box-solid box-info">
    <div class="box-header with-border">
      <h3 class="box-title">{% translate 'Summary' %}</h3>
      <div class="box-tools pull-right">
        <button type="button" class="btn btn-box-tool" data-widget="collapse">
          <i class="fa fa-minus"></i>
        </button>
      </div>
    </div>
    <div class="box-body">{{ movie.summary|linebreaks }}</div>
  </div>
  {% endif %}

  {% if movie.info %}
  <div class="box box-solid box-info">
    <div class="box-header with-border">
      <h3 class="box-title">{% translate 'Information' %}</h3>
      <div class="box-tools pull-right">
        <button type="button" class="btn btn-box-tool" data-widget="collapse">
          <i class="fa fa-minus"></i>
        </button>
      </div>
    </div>
    <div class="box-body">{{ movie.info|linebreaks }}</div>
  </div>
  {% endif %}

  <div class="box box-solid box-info">
    <div class="box-header with-border">
      <h3 class="box-title">{% translate 'Actors' %}</h3>
      <div class="box-tools pull-right">
        {% if perms.movies.change_movieactor and movie.actors.count > 0 %}
        <a href="{% url 'movie_edit_actors' movie.id|stringformat:'06d' %}" class="btn btn-box-tool" title="{% translate 'Edit actors' %}">
          <i class="fa fa-edit"></i>
        </a>
        {% endif %}
        {% if perms.movies.change_movieactor and movie.imdb > 0 %}
        <a href="{% url 'movie_import_actors' movie.id|stringformat:'06d' %}" class="btn btn-box-tool" title="{% translate 'Import actors' %}">
          <i class="fa fa-share-alt-square"></i>
        </a>
        {% endif %}
        {% if perms.movies.add_movieactor %}
        <a href="{% url 'movie_add_actor' movie.id|stringformat:'06d' %}" class="btn btn-box-tool" title="{% translate 'Add actor' %}">
          <i class="fa fa-plus-square"></i>
        </a>
        {% endif %}
        <button type="button" class="btn btn-box-tool" data-widget="collapse">
          <i class="fa fa-minus"></i>
        </button>
      </div>
    </div>
    <div class="box-body">
      {% if movie.actors.count > 0 %}
      <table class="table table-bordered table-stripped table-hover" id="actors_list">
        <thead>
          <tr>
            <th data-sortable="true" data-visible="false">{% translate 'Order' %}</th>
            <th data-sortable="true">{% translate 'Person' %}</th>
            <th data-sortable="true">{% translate 'Role' %}</th>
            <th data-sortable="true">{% translate 'Language' context 'The language' %}</th>
            <th data-sortable="false">{% translate 'Information' %}</th>
            <th data-sortable="true">{% translate 'Credited' %}</th>
            <th data-sortable="true">{% translate 'Visible' %}</th>
          </tr>
        </thead>
        <tbody>
          {% for actor in movie.actors.all %}
          <tr>
            <td>{{ actor|get_order }}</td>
            <td>
              {% if actor.person.person %}
                <a href="{% url 'person_info' actor.person.person.id|stringformat:'06d' %}">{% if actor.person.person.gender == 'M' %}<i class="fa fa-male"></i> {% elif actor.person.person.gender == 'F' %}<i class="fa fa-female"></i> {% endif %}{{ actor.person.person.name }}</a>
              {% elif actor.person.group %}
                <a href="{% url 'group_info' actor.person.group.id|stringformat:'06d' %}">{{ actor.person.group.name }}</a>
              {% else %}
                {{ actor.person.name }}
              {% endif %}
              {% if actor.name != actor.person.name %} ({% translate 'as' %} {{ actor.name }}){% endif %}
            </td>
            <td>{{ actor.role }}</td>
            <td>{% if actor.lang %}<a href="{% url 'language_info' actor.lang.code %}">{{ actor.lang.name }}</a>{% endif %}</td>
            <td>{{ actor.info }}</td>
            <td><span class="glyphicon glyphicon-{% if actor.credit %}check{% else %}unchecked{% endif %}" aria-hidden="true"> <span class="sr-only">{{ actor.credit }}</span></td>
            <td><span class="glyphicon glyphicon-{% if actor.visible %}check{% else %}unchecked{% endif %}" aria-hidden="true"> <span class="sr-only">{{ actor.visible }}</span></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <p>{% translate 'No actors.' %}</p>
      {% endif %}
    </div>
  </div>

  <div class="box box-solid box-info">
    <div class="box-header with-border">
      <h3 class="box-title">{% translate 'Dubbing actors' %}</h3>
      <div class="box-tools pull-right">
        {% if perms.movies.change_movieactordubbing and movie.dubbing_actors.all %}
        <a href="{% url 'movie_edit_actorsdubbing' movie.id|stringformat:'06d' %}" class="btn btn-box-tool" title="{% translate 'Edit dubbing actors' %}">
          <i class="fa fa-edit"></i>
        </a>
        {% endif %}
        {% if perms.movies.change_movieactordubbing %}
        <a href="{% url 'movie_add_actordubbing' movie.id|stringformat:'06d' %}" class="btn btn-box-tool" title="{% translate 'Add dubbing actor' %}">
          <i class="fa fa-plus-square"></i>
        </a>
        {% endif %}
        <button type="button" class="btn btn-box-tool" data-widget="collapse">
          <i class="fa fa-minus"></i>
        </button>
      </div>
    </div>
    <div class="box-body">
      {% if movie.dubbing_actors.count > 0 %}
      <table class="table table-bordered table-stripped table-hover" id="actors_dubbing_list">
        <thead>
          <tr>
            <th data-sortable="true">{% translate 'Dubbing actor' %}</th>
            <th data-sortable="true">{% translate 'Actor' %}</th>
            <th data-sortable="true">{% translate 'Language' context 'The language' %}</th>
          </tr>
        </thead>
        <tbody>
          {% for actor in movie.dubbing_actors.all %}
          <tr data-id="{{ actor.id }}">
            <td>
              {% if actor.person.person %}
                <a href="{% url 'person_info' actor.person.person.id|stringformat:'06d' %}">{% if actor.person.person.gender == 'M' %}<i class="fa fa-male"></i> {% elif actor.person.person.gender == 'F' %}<i class="fa fa-female"></i> {% endif %}{{ actor.person.person.name }}</a>
              {% elif actor.person.group %}
                <a href="{% url 'group_info' actor.person.group.id|stringformat:'06d' %}">{{ actor.person.group.name }}</a>
              {% else %}
                {{ actor.person.name }}
              {% endif %}
            </td>
            <td>
              {% if actor.actor.person %}
                <a href="{% url 'person_info' actor.actor.person.id|stringformat:'06d' %}">{% if actor.actor.person.gender == 'M' %}<i class="fa fa-male"></i> {% elif actor.actor.person.gender == 'F' %}<i class="fa fa-female"></i> {% endif %}{{ actor.actor.person.name }}</a>
              {% elif actor.actor.group %}
                <a href="{% url 'group_info' actor.actor.group.id|stringformat:'06d' %}">{{ actor.actor.group.name }}</a>
              {% else %}
                {{ actor.actor.name }}
              {% endif %}
            </td>
            <td>{% if actor.lang %}<a href="{% url 'language_info' actor.lang.code %}">{{ actor.lang.name }}</a>{% endif %}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <p>{% translate 'No dubbing actors.' %}</p>
      {% endif %}
    </div>
  </div>

  <div class="box box-solid box-info">
    <div class="box-header with-border">
      <h3 class="box-title">{% translate 'Crew' %}</h3>
      <div class="box-tools pull-right">
        {% if perms.movies.change_moviecrewmember and movie.crew_members.count > 0 %}
        <a href="{% url 'movie_edit_crew' movie.id|stringformat:'06d' %}" class="btn btn-box-tool" title="{% translate 'Edit crew' %}">
          <i class="fa fa-edit"></i>
        </a>
        {% endif %}
        {% if perms.movies.change_moviecrewmember %}
        <a href="{% url 'movie_add_crewmember' movie.id|stringformat:'06d' %}" class="btn btn-box-tool" title="{% translate 'Add crew member' %}">
          <i class="fa fa-plus-square"></i>
        </a>
        {% endif %}
        <button type="button" class="btn btn-box-tool" data-widget="collapse">
          <i class="fa fa-minus"></i>
        </button>
      </div>
    </div>
    <div class="box-body">
      {% if movie.crew_members.count > 0 %}
      <table class="table table-bordered table-stripped table-hover" id="crew_list">
        <thead>
          <tr>
            <th data-sortable="true">{% translate 'Person' %}</th>
            <th data-sortable="true">{% translate 'Function' %}</th>
            <th data-sortable="false">{% translate 'Information' %}</th>
            <th data-sortable="true">{% translate 'Credited' %}</th>
          </tr>
        </thead>
        <tbody>
          {% for member in movie.crew_members.all %}
          <tr>
            <td>
              {% if member.person.person %}
                <a href="{% url 'person_info' member.person.person.id|stringformat:'06d' %}">{% if member.person.person.gender == 'M' %}<i class="fa fa-male"></i> {% elif member.person.person.gender == 'F' %}<i class="fa fa-female"></i> {% endif %}{{ member.person.person.name }}</a>
              {% elif member.person.group %}
                <a href="{% url 'group_info' member.person.group.id|stringformat:'06d' %}">{{ member.person.group.name }}</a>
              {% else %}
                {{ member.person.name }}
              {% endif %}
              {% if member.name %} (as {{ member.name }}){% endif %}
            </td>
            <td>{{ member.function }}</td>
            <td>{{ member.info }}</td>
            <td><span class="glyphicon glyphicon-{% if member.credit %}check{% else %}unchecked{% endif %}" aria-hidden="true"> <span class="sr-only">{{ member.credit }}</span></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <p>{% translate 'No crew.' %}</p>
      {% endif %}
    </div>
  </div>

  <div class="row">

    <div class="col-md-12 col-lg-6">
      <div class="box box-solid box-info">
        <div class="box-header with-border">
          <h3 class="box-title">{% translate 'References' %}</h3>
          <div class="box-tools pull-right">
            {% if user.is_authenticated %}
            {% if movie.refs.count > 0 %}
            <a href="{% url 'movie_edit_refs' movie.id|stringformat:'06d' %}" class="btn btn-box-tool" title="{% translate 'Edit references' %}">
              <i class="fa fa-edit"></i>
            </a>
            {% endif %}
            <a href="{% url 'movie_add_ref' movie.id|stringformat:'06d' %}" class="btn btn-box-tool" title="{% translate 'Add reference' %}">
              <i class="fa fa-plus-square"></i>
            </a>
            {% endif %}
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
              <i class="fa fa-minus"></i>
            </button>
          </div>
        </div>
        <div class="box-body">
          {% if movie.refs.count > 0 %}
          <ul>
            {% for ref in movie.refs.all %}
            <li>
              {% if ref.ref_movie %}
                {% if ref.ref_movie.episode %}{% translate 'Episode' %} <a href="{% url 'serie_info' ref.ref_movie.episode.season.serie.id|stringformat:'06d' %}"><i>{{ ref.ref_movie.episode.season.serie.title }}</i></a> - {% else %}{% translate 'Movie' %} {% endif %}
                <a href="{% url 'movie_info' ref.ref_movie.id|stringformat:'06d' %}"><i>{{ ref.ref_movie.title }}</i></a>
                {% if ref.info %} ({{ ref.info }}){% endif %}
              {% elif ref.ref_serie %}
                {% translate 'Serie' %} <a href="{% url 'serie_info' ref.ref_serie.id|stringformat:'06d' %}"><i>{{ ref.ref_serie.title }}</i></a>
                {% if ref.info %} ({{ ref.info }}){% endif %}
              {% elif ref.ref_person %}
                <a href="{% url 'person_info' ref.ref_person.id|stringformat:'06d' %}">{% if ref.ref_person.gender == 'M' %}<i class="fa fa-male"></i> {% elif ref.ref_person.gender == 'F' %}<i class="fa fa-female"></i> {% endif %}{{ ref.ref_person.name }}</a>
                {% if ref.info %} ({{ ref.info }}){% endif %}
              {% elif ref.ref_book %}
                {% if ref.ref_book.genre %}{{ ref.ref_book.genre }} {% endif %}<a href="{% url 'work_info' ref.ref_book.id|stringformat:'06d' %}"><i>{{ ref.ref_book.title }}</i></a>
                {% if ref.ref_book.author_credit %} {% translate 'by' %} {{ ref.ref_book.author_credit }}{% endif %}
                {% if ref.ref_book.authors.count > 0 %}
                  {% if ref.ref_book.author_credit %} ({% else %} {% translate 'by' %} {% endif %}
                  {% for author in ref.ref_book.authors.all %}{% if not forloop.first %}, {% endif %}<a href="{% url 'person_info' author.id|stringformat:'06d' %}">{{ author.name }}</a>{% endfor %}
                  {% if ref.ref_book.author_credit %}){% endif %}
                {% endif %}
                {% if ref.info %} ({{ ref.info }}){% endif %}
              {% elif ref.ref_game %}
                {% translate 'Game' %} <a href="{% url 'game_info' ref.ref_game.id|stringformat:'06d' %}"><i>{{ ref.ref_game.title }}</i></a>
                {% if ref.info %} ({{ ref.info }}){% endif %}
              {% else %}
                {{ ref.info }}
              {% endif %}
            </li>
            {% endfor %}
          </ul>
          {% else %}
          <p>{% translate 'No references.' %}</p>
          {% endif %}

          {% if movie.ref_by.count > 0 or movie.ref_by_work.count > 0 %}
          <p>{% translate 'Referenced by:' %}</p>
          <ul>
            {% for ref in movie.ref_by.all %}
            <li>
              {% if ref.movie.episode %}{% translate 'Episode' %} <a href="{% url 'serie_info' ref.movie.episode.season.serie.id|stringformat:'06d' %}"><i>{{ ref.movie.episode.season.serie.title }}</i></a> - {% else %}{% translate 'Movie' %} {% endif %}
              <a href="{% url 'movie_info' ref.movie.id|stringformat:'06d' %}"><i>{{ ref.movie.title }}</i></a>
              {% if ref.info %} ({{ ref.info }}){% endif %}
            </li>
            {% endfor %}
            {% for ref in movie.ref_by_work.all %}
            <li>
              {% if ref.work.genre %}{{ ref.work.genre }}{% else %}{% translate 'Work' %}{% endif %} <a href="{% url 'work_info' ref.work.id|stringformat:'06d' %}"><i>{{ ref.work.title }}</i></a>
              {% if ref.work.title_vo and ref.work.title != ref.work.title_vo %} (<i>{{ ref.work.title_vo }}</i>){% endif %}
              {% if ref.work.author_credit %} {% translate 'by' %} {{ ref.work.author_credit }}{% endif %}
              {% if ref.work.authors.count > 0 %}
                {% if ref.work.author_credit %} ({% else %} {% translate 'by' %} {% endif %}
                {% for author in ref.work.authors.all %}{% if not forloop.first %}, {% endif %}<a href="{% url 'person_info' author.id|stringformat:'06d' %}">{{ author.name }}</a>{% endfor %}
                {% if ref.work.author_credit %}){% endif %}
              {% endif %}
              {% if ref.info %} ({{ ref.info }}){% endif %}
            </li>
            {% endfor %}
          </ul>
          {% endif %}
        </div>
      </div>

      <div class="box box-solid box-info">
        <div class="box-header with-border">
          <h3 class="box-title">{% translate 'Tags' %}</h3>
          <div class="box-tools pull-right">
            {% if perms.movies.change_movietag %}
            <a href="{% url 'movie_edit_tags' movie.id|stringformat:'06d' %}" class="btn btn-box-tool" title="{% translate 'Edit tags' %}">
              <i class="fa fa-edit"></i>
            </a>
            {% endif %}
            {% if perms.movies.add_movietag %}
            <a href="{% url 'movie_add_tag' movie.id|stringformat:'06d' %}" class="btn btn-box-tool" title="{% translate 'Add tag' %}">
              <i class="fa fa-plus-square"></i>
            </a>
            {% endif %}
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
              <i class="fa fa-minus"></i>
            </button>
          </div>
        </div>
        <div class="box-body">
          {% if movie.tags.count > 0 %}
          <ul>
            {% for movieTag in movie.tags.all %}
            <li><a href="{% url 'tag_info' movieTag.tag.id|stringformat:'06d' %}">{{ movieTag.tag.name }}</a>{% if movieTag.info %} ({{ movieTag.info }}){% endif %}</li>
            {% endfor %}
          </ul>
          {% else %}
          <p>{% translate 'No tags.' %}</p>
          {% endif %}
        </div>
      </div>
    </div>

    <div class="col-md-12 col-lg-6">
      <div class="box box-solid box-info">
        <div class="box-header with-border">
          <h3 class="box-title">{% translate 'Attributes' %}</h3>
          <div class="box-tools pull-right">
            {% if perms.movies.change_movielink %}
            <a href="{% url 'movie_edit_attributes' movie.id|stringformat:'06d' %}" class="btn btn-box-tool" title="{% translate 'Edit attributes' %}">
              <i class="fa fa-edit"></i>
            </a>
            {% endif %}
            {% if perms.movies.add_movielink %}
            <a href="{% url 'movie_add_attribute' movie.id|stringformat:'06d' %}" class="btn btn-box-tool" title="{% translate 'Add attribute' %}">
              <i class="fa fa-plus-square"></i>
            </a>
            {% endif %}
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
              <i class="fa fa-minus"></i>
            </button>
          </div>
        </div>
        <div class="box-body">
          {% if movie.attributes.count > 0 %}
          <ul>
            {% for attribute in movie.attributes.all %}
            <li>{{ attribute.name }} : {{ attribute.value }}</li>
            {% endfor %}
          </ul>
          {% else %}
          <p>{% translate 'No attributes.' %}</p>
          {% endif %}
        </div>
      </div>

      <div class="box box-solid box-info">
        <div class="box-header with-border">
          <h3 class="box-title">{% translate 'Links' %}</h3>
          <div class="box-tools pull-right">
            {% if perms.movies.change_movie %}
            <a href="{% url 'movie_edit_links' movie.id|stringformat:'06d' %}" class="btn btn-box-tool" title="{% translate 'Edit links' %}">
              <i class="fa fa-edit"></i>
            </a>
            <a href="{% url 'movie_add_link' movie.id|stringformat:'06d' %}" class="btn btn-box-tool" title="{% translate 'Add link' %}">
              <i class="fa fa-plus-square"></i>
            </a>
            {% endif %}
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
              <i class="fa fa-minus"></i>
            </button>
          </div>
        </div>
        <div class="box-body">
          {% if movie.links.count > 0 %}
          <ul>
            {% for link in movie.links.all %}
            <li><a href="{{ link.uri }}">{{ link.name }} <span class="fa fa-external-link"></span></a>{% if link.lang %} ({{ link.lang }}){% endif %}</li>
            {% endfor %}
          </ul>
          {% else %}
          <p>{% translate 'No links.' %}</p>
          {% endif %}
        </div>
      </div>
    </div>

  </div>

{% endblock %}
