{% extends 'movies/base.html' %}

{% load i18n %}

{% block content_title %}
<a href="{% url 'movie_info' movie.id|stringformat:'06d' %}"><i>{{ movie.title }}</i></a> - {% translate 'Delete' %}
{% endblock %}

{% block title %}
{{ movie.title }} - {% translate 'Movies' %} - Mimir
{% endblock %}

{% block content %}

<div class="box box-primary">
  <form action="{% url 'movie_delete' movie.id|stringformat:'06d' %}" method="post" class="form">
    {% csrf_token %}
    <input type="hidden" name="delete" value="1" />

    <div class="box-body">
      <div class="alert alert-warning">
        <p>{% translate 'Are you sure you want to remove this movie?' %}</p>
        <p><i class="icon fa fa-warning"></i>{% translate 'This action is irreversible.' %}</p>
      </div>
    </div>

    <div class="box-footer">
      <input type="submit" class="btn btn-danger center-block" value="{% translate 'Delete' %}" />
    </div>
  </form>
</div>

{% endblock %}
