{% extends 'movies/base.html' %}

{% load static %}
{% load i18n %}
{% load mimir %}

{% block content_title %}
<a href="{% url 'movie_info' movie.id|stringformat:'06d' %}"><i>{{ movie.title }}</i></a> - {% translate 'Add reference' %}
{% endblock %}

{% block title %}
{{ movie.title }} - {% translate 'Movies' %} - Mimir
{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/select2.min.css' %}" media="all" />
{% endblock %}

{% block extra_foot %}
<script src="{% static 'js/select2/select2.min.js' %}"></script>
<script src="{% static 'js/select2/i18n/fr.js' %}"></script>

<script>
$(function() {
    function formatMovie(movie) {
        var markup = '<strong><i>' + movie.title + '</i></strong>';

        if (movie.year) {
            markup += ' <span class="small">(' + movie.year;
            if (movie.title_vo != '' && movie.title_vo != movie.title) {
                markup += ', <i>' + movie.title_vo + '</i>';
            }
            markup += ')</span>';
        } else if (movie.title_vo != '' && movie.title_vo != movie.title) {
            markup += ' <span class="small">(<i>' + movie.title_vo + '</i>)</span>';
        }

        if (movie.creation) {
            creation = Date.parse(movie.creation);
            if (Date.now() - creation < 3600000) {
                markup += ' <span class="badge badge-secondary">{% translate "new" context "movie recently created" %}</span>';
            }
        }

        return markup;
    }

    function formatMovieSelection(movie) {
        var markup = '<i>' + movie.title + '</i>';
        if (movie.year) {
            markup += ' (' + movie.year + ')';
        }
        return markup;
    }

    function formatSerie(serie) {
        var markup = '<strong><i>' + serie.title + '</i></strong>';
        if (serie.title_vo && serie.title_vo != serie.title) {
            markup += ' <i>(' + serie.title_vo + ')</i>';
        }
        return markup;
    }

    function formatSerieSelection(serie) {
        var markup = '<i>' + serie.title + '</i>';
        if (serie.title_vo && serie.title_vo != serie.title) {
            markup += ' <i>(' + serie.title_vo + ')</i>';
        }
        return markup;
    }

    function formatPerson(person) {
        if (person.loading) {
            return person.text;
        }
        var markup = '';
        if (person.id < 0) {
            markup += "<i>{% translate 'Create person' context 'add' %}</i> ";
            markup += '<strong>' + person.text + '</strong>';
        } else {
            markup += '<div style="width: 20px; display: inline-block;">';
            if (person.gender == "M") {
                markup += '<i class="fa fa-male"></i>';
            } else if (person.gender == "F") {
                markup += '<i class="fa fa-female"></i>';
            }
            markup += '</div><div style="display: inline-block;">';
            markup += '<strong>' + person.text + '</strong>';
            if (person.birth_year || person.death_year) {
                markup += '<small> (';
                if (person.birth_year)
                    markup += person.birth_year;
                markup += '-';
                if (person.death_year)
                    markup += person.death_year;
                markup += ')</small>';
            }
            markup += '</div>';
        }
        return markup;
    }

    function formatPersonSelection(person) {
        return person.text;
    }

    function formatWork(work) {
        var markup = '<strong><i>' + work.title + '</i></strong>';
        if (work.year) {
            markup += ' <span class="small">(' + work.year + ')</span>';
        }
        if (work.authors && work.authors.length > 0) {
            markup += '{% translate ' by ' %}';
            for (var i = 0; i < work.authors.length; ++i) {
                if (i > 0) {
                    markup += ', ';
                }
                markup += work.authors[i].name;
            }
        }
        return markup;
    }

    function formatWorkSelection(work) {
        var markup = '<i>' + work.title + '</i>';
        if (work.year) {
            markup += ' (' + work.year + ')';
        }
        if (work.authors && work.authors.length > 0) {
            markup += '{% translate ' by ' %}';
            for (var i = 0; i < work.authors.length; ++i) {
                if (i > 0) {
                    markup += ', ';
                }
                markup += work.authors[i].name;
            }
        }
        return markup;
    }

    function formatGame(game) {
        var markup = '<strong><i>' + game.title + '</i></strong>';
        if (game.year) {
            markup += ' <span class="small">(' + game.year + ')</span>';
        }
        return markup;
    }

    function formatGameSelection(game) {
        var markup = '<i>' + game.title + '</i>';
        if (game.year) {
            markup += ' (' + game.year + ')';
        }
        return markup;
    }

    $('#id_object_type').change(function() {
        $('#id_movie_id').empty();
        $('#id_serie_id').empty();
        $('#id_person_id').empty();
        $('#id_book_id').empty();
        $('#id_game_id').empty();

        $('#id_movie_id').parent().parent().hide();
        $('#id_serie_id').parent().parent().hide();
        $('#id_person_id').parent().parent().hide();
        $('#id_book_id').parent().parent().hide();
        $('#id_game_id').parent().parent().hide();

        $('#id_movie_title').val('');
        $('#id_serie_title').val('');
        $('#id_person_name').val('');
        $('#id_book_title').val('');
        $('#id_game_title').val('');

        $('#id_ref_movie').val('');
        $('#id_ref_serie').val('');
        $('#id_ref_person').val('');
        $('#id_ref_book').val('');
        $('#id_ref_game').val('');

        objType = $(this).val();
        if (objType == 'movie') {
            $('#id_movie_id').parent().parent().show();
            $('#id_movie_id').prop('disabled', false);
            $('#id_serie_id').prop('disabled', true);
            $('#id_person_id').prop('disabled', true);
            $('#id_book_id').prop('disabled', true);
            $('#id_game_id').prop('disabled', true);
        } else if (objType == 'serie') {
            $('#id_serie_id').parent().parent().show();
            $('#id_movie_id').prop('disabled', true);
            $('#id_serie_id').prop('disabled', false);
            $('#id_person_id').prop('disabled', true);
            $('#id_book_id').prop('disabled', true);
            $('#id_game_id').prop('disabled', true);
        } else if (objType == 'person') {
            $('#id_person_id').parent().parent().show();
            $('#id_movie_id').prop('disabled', true);
            $('#id_serie_id').prop('disabled', true);
            $('#id_person_id').prop('disabled', false);
            $('#id_book_id').prop('disabled', true);
            $('#id_game_id').prop('disabled', true);
        } else if (objType == 'book') {
            $('#id_book_id').parent().parent().show();
            $('#id_movie_id').prop('disabled', true);
            $('#id_serie_id').prop('disabled', true);
            $('#id_person_id').prop('disabled', true);
            $('#id_book_id').prop('disabled', false);
            $('#id_game_id').prop('disabled', true);
        } else if (objType == 'game') {
            $('#id_game_id').parent().parent().show();
            $('#id_movie_id').prop('disabled', true);
            $('#id_serie_id').prop('disabled', true);
            $('#id_person_id').prop('disabled', true);
            $('#id_book_id').prop('disabled', true);
            $('#id_game_id').prop('disabled', false);
        } else {
            $('#id_movie_id').prop('disabled', true);
            $('#id_serie_id').prop('disabled', true);
            $('#id_person_id').prop('disabled', true);
            $('#id_book_id').prop('disabled', true);
            $('#id_game_id').prop('disabled', true);
        }
    });

    $("select.select_movie").select2({
        ajax: {
            url: "{% url 'movies_api_search' %}?exclude={{ movie.id }}",
            dataType: 'json',
            delay: 250,
            data: function(params) {
                return {
                    q: params.term,
                    page: params.page
                };
            },
            processResults: function(data, params) {
                params.page = params.page || 1;

                for (var i = 0; i < data.items.length; ++i) {
                    data.items[i]['text'] = data.items[i]['title'];
                }

                return {
                    results: data.items,
                    pagination: {
                        more: data.incomplete_results
                    }
                };
            },
            cache: true
        },
        escapeMarkup: function(markup) { return markup; },
        minimumInputLength: 1,
        templateResult: formatMovie,
        templateSelection: formatMovieSelection,
    }).on("change", function(e) {
        $('#id_movie_title').val($('#id_movie_id option:selected').text());
        $('#id_ref_movie').val($('#id_movie_id').val());
    });

    $("select.select_serie").select2({
        ajax: {
            url: "{% url 'series_api_search' %}",
            dataType: 'json',
            delay: 250,
            data: function(params) {
                return {
                    q: params.term,
                    page: params.page
                };
            },
            processResults: function(data, params) {
                params.page = params.page || 1;

                for (var i = 0; i < data.items.length; ++i) {
                    data.items[i]['text'] = data.items[i]['title'];
                }

                return {
                    results: data.items,
                    pagination: {
                        more: data.incomplete_results
                    }
                };
            },
            cache: true
        },
        escapeMarkup: function(markup) { return markup; },
        minimumInputLength: 1,
        templateResult: formatSerie,
        templateSelection: formatSerieSelection,
    }).on("change", function(e) {
        $('#id_serie_title').val($('#id_serie_id option:selected').text());
        $('#id_ref_serie').val($('#id_serie_id').val());
    });

    $("select.select_person").select2({
        ajax: {
            url: "{% url 'persons_api_search' %}",
            dataType: 'json',
            delay: 250,
            data: function(params) {
                return {
                    q: params.term,
                    page: params.page
                };
            },
            processResults: function(data, params) {
                params.page = params.page || 1;

                for (var i = 0; i < data.items.length; ++i) {
                    data.items[i]['text'] = data.items[i]['name'];
                }

                return {
                    results: data.items,
                    pagination: {
                        more: data.incomplete_results
                    }
                };
            },
            cache: true
        },
        escapeMarkup: function(markup) { return markup; },
        minimumInputLength: 1,
        templateResult: formatPerson,
        templateSelection: formatPersonSelection,
    }).on("change", function(e) {
        $('#id_person_name').val($('#id_person_id option:selected').text());
        $('#id_ref_person').val($('#id_person_id').val());
    });

    $("select.select_book").select2({
        ajax: {
            url: "{% url 'works_api_search' %}",
            dataType: 'json',
            delay: 250,
            data: function(params) {
                return {
                    q: params.term,
                    page: params.page
                };
            },
            processResults: function(data, params) {
                params.page = params.page || 1;

                for (var i = 0; i < data.items.length; ++i) {
                    data.items[i]['text'] = data.items[i]['title'];
                }

                return {
                    results: data.items,
                    pagination: {
                        more: data.incomplete_results
                    }
                };
            },
            cache: true
        },
        escapeMarkup: function(markup) { return markup; },
        minimumInputLength: 1,
        templateResult: formatWork,
        templateSelection: formatWorkSelection,
    }).on("change", function(e) {
        $('#id_book_title').val($('#id_book_id option:selected').text());
        $('#id_ref_book').val($('#id_book_id').val());
    });

    $("select.select_game").select2({
        ajax: {
            url: "{% url 'games_api_search' %}",
            dataType: 'json',
            delay: 250,
            data: function(params) {
                return {
                    q: params.term,
                    page: params.page
                };
            },
            processResults: function(data, params) {
                params.page = params.page || 1;

                for (var i = 0; i < data.items.length; ++i) {
                    data.items[i]['text'] = data.items[i]['title'];
                }

                return {
                    results: data.items,
                    pagination: {
                        more: data.incomplete_results
                    }
                };
            },
            cache: true
        },
        escapeMarkup: function(markup) { return markup; },
        minimumInputLength: 1,
        templateResult: formatGame,
        templateSelection: formatGameSelection,
    }).on("change", function(e) {
        $('#id_game_title').val($('#id_game_id option:selected').text());
        $('#id_ref_game').val($('#id_game_id').val());
    });

    $(document).on('select2:open', function(e) {
        document.querySelector(`[aria-controls="select2-${e.target.id}-results"]`).focus();
    });

    $('#id_movie_id').parent().parent().hide();
    $('#id_serie_id').parent().parent().hide();
    $('#id_person_id').parent().parent().hide();
    $('#id_book_id').parent().parent().hide();
    $('#id_game_id').parent().parent().hide();

    $('#id_movie_id').prop('disabled', true);
    $('#id_serie_id').prop('disabled', true);
    $('#id_person_id').prop('disabled', true);
    $('#id_book_id').prop('disabled', true);
    $('#id_game_id').prop('disabled', true);

    val = $('#id_object_type').val();
    if (val == 'movie') {
        $('#id_movie_id').parent().parent().show();
        $('#id_movie_id').prop('disabled', false);
        if ($('#id_ref_movie').val()) {
            $('#id_movie_id').append('<option value="' + $('#id_ref_movie').val() + '" title="' + $('#id_movie_title').val() +'" selected="selected">' + $('#id_movie_title').val() + '</option>');
            $('#id_movie_id').trigger('change');
        }
    } else if (val == 'serie') {
        $('#id_serie_id').parent().parent().show();
        $('#id_serie_id').prop('disabled', false);
        if ($('#id_ref_serie').val()) {
            $('#id_serie_id').append('<option value="' + $('#id_ref_serie').val() + '" title="' + $('#id_serie_title').val() +'" selected="selected">' + $('#id_serie_title').val() + '</option>');
            $('#id_serie_id').trigger('change');
        }
    } else if (val == 'person') {
        $('#id_person_id').parent().parent().show();
        $('#id_person_id').prop('disabled', false);
        if ($('#id_ref_person').val()) {
            $('#id_person_id').append('<option value="' + $('#id_ref_person').val() + '" title="' + $('#id_person_name').val() +'" selected="selected">' + $('#id_person_name').val() + '</option>');
            $('#id_person_id').trigger('change');
        }
    } else if (val == 'book') {
        $('#id_book_id').parent().parent().show();
        $('#id_book_id').prop('disabled', false);
        if ($('#id_ref_book').val()) {
            $('#id_book_id').append('<option value="' + $('#id_ref_book').val() + '" title="' + $('#id_book_title').val() +'" selected="selected">' + $('#id_book_title').val() + '</option>');
            $('#id_book_id').trigger('change');
        }
    } else if (val == 'game') {
        $('#id_game_id').parent().parent().show();
        $('#id_game_id').prop('disabled', false);
        if ($('#id_ref_game').val()) {
            $('#id_game_id').append('<option value="' + $('#id_ref_game').val() + '" title="' + $('#id_game_title').val() +'" selected="selected">' + $('#id_game_title').val() + '</option>');
            $('#id_game_id').trigger('change');
        }
    }
});
</script>
{% endblock %}

{% block content %}

  {{ form.non_field_errors }}

  {% if form.subject.errors %}
    <ol>
      {% for error in form.subject.errors %}
      <li><strong>{{ error|escape }}</strong></li>
      {% endfor %}
    </ol>
  {% endif %}

  <div class="box box-primary">
    <form action="{% url 'movie_add_ref' movie.id %}" method="post" class="form">
      {% csrf_token %}

      <div class="box-body">
        {% for field in form.hidden_fields %}
          {{ field }}
        {% endfor %}
        {% for field in form.visible_fields %}
        <div class="form-group row{% if field.errors %} has-error{% endif %}">
          {{ field.errors }}
          <label for="{{ field.id_for_label }}" class="col-sm-2 col-form-label">{{ field.label }}</label>
          <div class="col-sm-10">{{ field|field_add_class:'form-control input-sm' }}</div>
          {% if field.help_text %}
            <p class="form-text text-muted">{{ field.help_text|safe }}</p>
          {% endif %}
        </div>
        {% endfor %}
      </div>

      <div class="box-footer">
        <input type="submit" class="btn btn-primary center-block" value="{% translate 'Submit' %}" />
      </div>
    </form>
  </div>

{% endblock %}
