{% extends 'movies/base.html' %}

{% load static %}
{% load i18n %}
{% load mimir %}

{% block content_title %}
{% translate 'Movies' %}
{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/datatables/dataTables.min.css' %}">
{% endblock %}

{% if not display_thumb %}
{% block extra_foot %}
<script src="{% static 'js/datatables/datatables.min.js' %}"></script>

<script>
$(function() {
    $('#movies_list').DataTable({
        "paging"      : true,
        "lengthChange": true,
        "searching"   : false,
        "ordering"    : true,
        "info"        : true,
        "autoWidth"   : true,
        "stateSave"   : true,
        "processing"  : true,
        "serverSide"  : true,
        "ajax": {
            "url": "{% url 'movies_api_list' %}",
            "dataFilter": function(data) {
                var json = jQuery.parseJSON(data);

                for (var i = 0; i < json.data.length; ++i) {
                    json.data[i]["title_url"] = '<a href="' + json.data[i]['url'] + '"';
                    if (json.data[i]['viewed'] === true) {
                        json.data[i]["title_url"] += ' class="movie_viewed"';
                    } else if (json.data[i]['viewed'] === false) {
                        json.data[i]["title_url"] += ' class="movie_not_viewed"';
                    }
                    json.data[i]["title_url"] += '><i>' + json.data[i]['title'] + '</i></a>';
                    if (json.data[i]['title_vo'] && json.data[i]['title_vo'] != json.data[i]['title']) {
                        json.data[i]["title_url"] += ' (<i>' + json.data[i]['title_vo'] + '</i>)';
                    }
                }

                return JSON.stringify(json);
            },
        },
        "columns": [
            { "data": "title_url" },
            { "data": "date_txt" },
            { "data": "duration_txt" },
        ],
        "language": {
            "processing":     "Traitement en cours...",
            "search":         "Rechercher&nbsp;:",
            "lengthMenu":     "Afficher _MENU_ &eacute;l&eacute;ments",
            "info":           "Affichage de l'&eacute;lement _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
            "infoEmpty":      "Affichage de l'&eacute;lement 0 &agrave; 0 sur 0 &eacute;l&eacute;ments",
            "infoFiltered":   "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
            "infoPostFix":    "",
            "loadingRecords": "Chargement en cours...",
            "zeroRecords":    "Aucun &eacute;l&eacute;ment &agrave; afficher",
            "emptyTable":     "Aucune donnée disponible dans le tableau.",
            "paginate": {
                "first":      "Premier",
                "previous":   "Pr&eacute;c&eacute;dent",
                "next":       "Suivant",
                "last":       "Dernier"
            },
            "aria": {
                "sortAscending":  ": activer pour trier la colonne par ordre croissant",
                "sortDescending": ": activer pour trier la colonne par ordre décroissant"
            }
        },
    });
});
</script>
{% endblock %}
{% endif %}

{% block content %}

  {% if display_thumb %}
    <div>
      {% for movie in movies %}
      <div class="box box-solid box-info" style="width: 220px; min-height: 100px; display: inline-block; margin: 5px; vertical-align: top; text-align: center;">
        <div class="box-body">
          <a href="{% url 'movie_info' movie.id|stringformat:'06d' %}">
            {% if movie.image %}<img src="{{ movie.image.url }}" style="max-width: 200px; max-height: 300px;" class="center-block" />{% endif %}
            <small><i>{{ movie.title }}</i>{% if movie.title_vo and movie.title_vo != movie.title %} (<i>{{ movie.title_vo }}</i>){% endif %}</small>
          </a>
        </div>
      </div>
      {% endfor %}
    </div>

    {% if movies.has_other_pages %}
    <div class="text-center">
      <ul class="pagination">
        {% if movies.has_previous %}
          <li><a href="{% url 'movies_list' %}?thumb&page={{ movies.previous_page_number}}">{% translate 'Previous' %}</a></li>
          {% if movies.number > 2 %}<li><a href="{% url 'movies_list' %}?thumb&page=1">1</a></li>{% endif %}
          {% if movies.number > 3 %}<li class="disabled"><a href="#">...</a></li>{% endif %}
          {% if movies.number > 1 %}<li><a href="{% url 'movies_list' %}?thumb&page={{ movies.previous_page_number }}">{{ movies.previous_page_number }}</a></li>{% endif %}
        {% else %}
          <li class="disabled"><a href="#">{% translate 'Previous' %}</a></li>
        {% endif %}
        <li class="active"><a href="#">{{ movies.number }}</a></li>
        {% if movies.has_next %}
          {% if movies.number|add:1 < movies.paginator.num_pages %}<li><a href="{% url 'movies_list' %}?thumb&page={{ movies.next_page_number }}">{{ movies.next_page_number }}</a></li>{% endif %}
          {% if movies.number|add:2 < movies.paginator.num_pages %}<li class="disabled"><a href="#">...</a></li>{% endif %}
          <li><a href="{% url 'movies_list' %}?thumb&page={{ movies.paginator.num_pages }}">{{ movies.paginator.num_pages }}</a></li>
          <li><a href="{% url 'movies_list' %}?thumb&page={{ movies.next_page_number }}">{% translate 'Next' %}</a></li>
        {% else %}
          <li class="disabled"><a href="#">{% translate 'Next' %}</a></li>
        {% endif %}
      </ul>
    </div>
    {% endif %}
  {% else %}
  <div class="box box-solid box-info">
    <div class="box-header">
      <h3 class="box-title">{% translate 'Movies list' %}</h3>
      {% if perms.movies.add_movie %}
      <div class="box-tools pull-right">
        <a href="{% url 'movie_create' %}" class="btn btn-box-tool" title="{% translate 'Create movie' %}">
          <i class="fa fa-plus-square"></i>
        </a>
        <a href="{% url 'movie_import' %}" class="btn btn-box-tool" title="{% translate 'Import movie' %}">
          <i class="fa fa-share-alt-square"></i>
        </a>
      </div>
      {% endif %}
    </div>

    <div class="box-body">
      <table class="table table-bordered table-stripped table-hover" id="movies_list">
        <thead>
          <tr>
            <th>{% translate 'Title' %}</th>
            <th>{% translate 'Release date' %}</th>
            <th>{% translate 'Duration' %}</th>
          </tr>
        </thead>
        <tbody>
          {% for movie in movies %}
          <tr>
            <td><a href="{% url 'movie_info' movie.id|stringformat:'06d' %}"><i>{{ movie.title }}</i></a>{% if movie.title_vo and movie.title_vo != movie.title %} (<i>{{ movie.title_vo }}</i>){% endif %}</td>
            <td>{{ movie.date|date_format }}</td>
            <td>{{ movie.duration|duration_txt }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  {% endif %}

{% endblock %}
