{% extends 'movies/base.html' %}

{% load i18n %}
{% load static %}

{% block content_title %}
<a href="{% url 'movie_info' movie.id|stringformat:'06d' %}"><i>{{ movie.title }}</i></a> - {% translate 'Add crew member' %}
{% endblock %}

{% block title %}
{{ movie.title }} - {% translate 'Movies' %} - Mimir
{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/select2.min.css' %}" media="all" />
{% endblock %}

{% block extra_foot %}
<script src="{% static 'js/select2/select2.min.js' %}"></script>
<script src="{% static 'js/select2/i18n/fr.js' %}"></script>

<script>
$(function() {
    function formatPerson(person) {
        if (person.loading) {
            return person.text;
        }
        var markup = '';
        if (person.id < 0) {
            markup += "<i>{% translate 'Create person' context 'add' %}</i> ";
            markup += '<strong>' + person.text + '</strong>';
        } else {
            markup += '<div style="width: 20px; display: inline-block;">';
            if (person.gender == "M") {
                markup += '<i class="fa fa-male"></i>';
            } else if (person.gender == "F") {
                markup += '<i class="fa fa-female"></i>';
            }
            markup += '</div><div style="display: inline-block;">';
            markup += '<strong>' + person.text + '</strong>';

            if (person.birth_year || person.death_year) {
                markup += ' <small>(';
                if (person.birth_year)
                    markup += person.birth_year;
                markup += '-';
                if (person.death_year)
                    markup += person.death_year;
                markup += ')</small>';
            }

            markup += ' <small class="text-muted">[' + person.id + ']</small>';

            markup += '</div>';
        }
        return markup;
    }

    function formatPersonSelection(person) {
        return person.text;
    }

    function formatGroup(group) {
        if (group.loading) {
            return group.text;
        }
        var markup = '';
        if (group.id < 0) {
            markup += "<i>{% translate 'Create group' %}</i> ";
            markup += '<strong>' + group.text + '</strong>';
        } else {
            markup += '<div style="width: 20px; display: inline-block;">';
            markup += '<i class="fa fa-group"></i>';
            markup += '</div><div style="display: inline-block;">';
            markup += '<strong>' + group.text + '</strong>';
            markup += '</div>';
        }
        return markup;
    }

    function formatGroupSelection(group) {
        return group.text;
    }

    $("select.select_person").select2({
        ajax: {
            url: "{% url 'persons_api_search' %}?create=1",
            dataType: 'json',
            delay: 250,
            data: function(params) {
                return {
                    q: params.term,
                    page: params.page
                };
            },
            processResults: function(data, params) {
                params.page = params.page || 1;

                for (var i = 0; i < data.items.length; ++i) {
                    data.items[i]['text'] = data.items[i]['name'];
                }

                return {
                    results: data.items,
                    pagination: {
                        more: data.incomplete_results
                    }
                };
            },
            cache: true
        },
        escapeMarkup: function(markup) { return markup; },
        minimumInputLength: 1,
        templateResult: formatPerson,
        templateSelection: formatPersonSelection,
    }).on("change", function(e) {
        $('#id_person_name').val($('#id_person_select option:selected').text());
        if ($('#id_person_select').val()) {
            $('#id_person_id').val($('#id_person_select').val());
            $("#id_group_select").empty().trigger('change');
            $("#id_other_name").val("");
        }
    });

    $("select.select_group").select2({
        ajax: {
            url: "{% url 'groups_api_search' %}?create=1",
            dataType: 'json',
            delay: 250,
            data: function(params) {
                return {
                    q: params.term,
                    page: params.page
                };
            },
            processResults: function(data, params) {
                params.page = params.page || 1;

                for (var i = 0; i < data.items.length; ++i) {
                    data.items[i]['text'] = data.items[i]['name'];
                }

                return {
                    results: data.items,
                    pagination: {
                        more: data.incomplete_results
                    }
                };
            },
            cache: true
        },
        escapeMarkup: function(markup) { return markup; },
        minimumInputLength: 1,
        templateResult: formatGroup,
        templateSelection: formatGroupSelection,
    }).on("change", function(e) {
        $('#id_group_name').val($('#id_group_select option:selected').text());
        if ($('#id_group_select').val()) {
            $('#id_group_id').val($('#id_group_select').val());
            $("#id_person_select").empty().trigger('change');
            $("#id_other_name").val("");
        }
    });

    $(document).on('select2:open', function(e) {
        document.querySelector(`[aria-controls="select2-${e.target.id}-results"]`).focus();
    });

    $("#id_other_name").change(function() {
        $("#id_person_select").empty().trigger('change');
        $("#id_group_select").empty().trigger('change');
    });

    if ($('#id_person_id').val()) {
        $('#id_person_select').append('<option value="' + $('#id_person_id').val() + '" title="' + $('#id_person_name').val() +'" selected="selected">' + $('#id_person_name').val() +'</option>');
        $('#id_person_select').trigger('change');
    }

    if ($('#id_group_id').val()) {
        $('#id_group_select').append('<option value="' + $('#id_group_id').val() + '" title="' + $('#id_group_name').val() +'" selected="selected">' + $('#id_group_name').val() +'</option>');
        $('#id_group_select').trigger('change');
    }
});
</script>
{% endblock %}

{% block content %}
{% include 'form_add_object.html' %}
{% endblock %}
