{% extends 'movies/base.html' %}

{% load static %}
{% load i18n %}

{% block content_title %}
<a href="{% url 'movie_info' movie.id|stringformat:'06d' %}"><i>{{ movie.title }}</i></a> - {% translate 'Import actors' %}
{% endblock %}

{% block title %}
{{ movie.title }} - {% translate 'Movies' %} - Mimir
{% endblock %}

{% block content %}

  <div class="box box-primary">
    <form action="{% url 'movie_import_actors' movie.id|stringformat:'06d' %}" method="post" class="form">
      {% csrf_token %}
      <input type="hidden" name="form-TOTAL" value="{{ actors|length }}" />

      <div class="box-body">

        {% if actors %}
        <table class="table">
          <thead>
            <tr>
              <th>{% translate 'Actor' %}</th>
              <th>{% translate 'Role' %}</th>
              <th>{% translate 'Information' %}</th>
              <th>{% translate 'Credited as' %}</th>
              <th>{% translate 'Credited' %}</th>
              <th>{% translate 'Visible' %}</th>
            </tr>
          </thead>
          <tbody>
            {% for actor in actors %}
            <tr>
              <td>
                <input type="hidden" name="form-{{ forloop.counter0 }}-name" value="{{ actor.name|escape }}" />
                <input type="hidden" name="form-{{ forloop.counter0 }}-role" value="{{ actor.role|escape }}" />
                <input type="hidden" name="form-{{ forloop.counter0 }}-imdb" value="{{ actor.imdb|escape }}" />
                <input type="hidden" name="form-{{ forloop.counter0 }}-info" value="{% for info in actor.info %}{% if not forloop.first %}, {% endif %}{{ info|escape }}{% endfor %}" />
                <input type="hidden" name="form-{{ forloop.counter0 }}-as" value="{{ actor.as|escape }}" />
                <input type="hidden" name="form-{{ forloop.counter0 }}-credit" value="{{ actor.credited }}" />
                <input type="hidden" name="form-{{ forloop.counter0 }}-visible" value="{{ actor.visible }}" />
                {{ actor.name }}
              </td>
              <td>{{ actor.role }}</td>
              <td>{% for info in actor.info %}{% if not forloop.first %}, {% endif %}{{ info }}{% endfor %}</td>
              <td>{{ actor.as }}</td>
              <td><span class="glyphicon glyphicon-{% if actor.credited %}check{% else %}unchecked{% endif %}" aria-hidden="true"></span> <span class="sr-only">{{ actor.credited }}</span></td>
              <td><span class="glyphicon glyphicon-{% if actor.visible %}check{% else %}unchecked{% endif %}" aria-hidden="true"></span> <span class="sr-only">{{ actor.visible }}</span></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% else %}
        <p>{% translate 'No actors.' %}</p>
        {% endif %}
      </div>

      <div class="box-footer">
        <div class="alert alert-warning">
          <i class="icon fa fa-warning"></i>
          {% translate 'If you click submit button, current actors will be removed.' %}
        </div>
        <input type="submit" class="btn btn-primary center-block" value="{% translate 'Submit' %}" />
      </div>
    </form>
  </div>

{% endblock %}
