{% extends 'movies/base.html' %}

{% load i18n %}

{% block content_title %}
<a href="{% url 'movie_info' movie.id|stringformat:'06d' %}"><i>{{ movie.title }}</i></a> - {% translate 'Add view' %}
{% endblock %}

{% block title %}
{{ movie.title }} - {% translate 'Movies' %} - Mimir
{% endblock %}

{% block content %}
{% include 'form_add_object.html' %}
{% endblock %}
