{% extends 'movies/base.html' %}

{% load static %}
{% load i18n %}
{% load mimir %}
{% load movies %}

{% block content_title %}
{% translate 'Import movie' %}
{% endblock %}

{% block content %}

  <div class="box box-primary">
    <form action="{% url 'movie_import' %}" method="post" class="form">
      {% csrf_token %}

      <div class="box-body">
        <div class="form-group row">
          <label for="id_query" class="col-sm-2 col-form-label">{% translate 'Numéro ou lien IMDb' %}</label>
          <div class="col-sm-10">
            <input name="query" maxlength="150" class="form-control input-sm" required="" id="id_query" type="text" value="{{ query }}" />
          </div>
        </div>
      </div>

      <div class="box-footer">
        <input type="submit" class="btn btn-primary center-block" value="{% translate 'Search' %}" />
      </div>
    </form>
  </div>

  {% if data %}

  {% if data.status == 'success' %}
    <div class="box box-solid box-primary">
      <div class="box-header with-border">
        <h3 class="box-title">{% translate 'Movie' %}</h3>
      </div>

      <div class="box-body">
        <div class="box box-solid box-info">
          <div class="box-body">
            <dl class="dl-horizontal">
              <dt>{% translate 'Title' %}{% translate ':' %}</dt><dd><i>{{ data.title }}</i></dd>
              {% if data.title_vo %}<dt>{% translate 'Original title' %}{% translate ':' %}</dt><dd><i>{{ data.title_vo }}</i></dd>{% endif %}
              {% if data.serie_name %}
                <dt>{% translate 'Serie' %}{% translate ':' %}</dt>
                <dd>
                  {% if serie %}
                    <i><a href="{% url 'serie_info' serie.id|stringformat:'06d' %}">{{ data.serie_name }}</a></i>
                  {% else %}
                    <i>{{ data.serie_name }}</i>{% if data.serie_id %} (<a href="{% url 'serie_import' %}?query={{ data.serie_id }}">{% translate 'import' %}</a>){% endif %}
                  {% endif %}
                </dd>
              {% endif %}
              {% if data.serie %}<dt>{% translate 'Serie' %}{% translate ':' %}</dt><dd>{% translate 'Yes' %}</dd>{% endif %}
              {% if data.imdb > 0 %}<dt>{% translate 'IMDb number' %}{% translate ':' %}</dt><dd><a href="{{ data.imdb|imdb_link_title }}">{{ data.imdb }} <span class="fa fa-external-link"></span></a></dd>{% endif %}
              {% if data.date %}<dt>{% translate 'Date' %}{% translate ':' %}</dt><dd>{{ data.date|date_txt }}</dd>{% endif %}
              {% if data.countries %}
                <dt>{% blocktranslate count c=data.countries|length %}Country{% plural %}Countries{% endblocktranslate %}{% translate ':' %}</dt>
                <dd>{% for country in data.countries %}{% if not forloop.first %}, {% endif %}<a href="{% url 'country_info' country.code %}">{{ country.name }}</a>{% endfor %}</dd>
              {% endif %}
              {% if data.languages %}
                <dt>{% blocktranslate count c=data.languages|length %}Language{% plural %}Languages{% endblocktranslate %}{% translate ':' %}</dt>
                <dd>{% for language in data.languages %}{% if not forloop.first %}, {% endif %}<a href="{% url 'language_info' language.code %}">{{ language.name }}</a>{% endfor %}</dd>
              {% endif %}
              {% if data.duration > 0 %}<dt>{% translate 'Duration' %}{% translate ':' %}</dt><dd>{{ data.duration|duration_txt }}</dd>{% endif %}
              {% if data.genres %}
                <dt>{% blocktranslate count c=data.genres|length context 'Movie genre' %}Genre{% plural %}Genres{% endblocktranslate %}{% translate ':' %}</dt>
                <dd>{% for genre in data.genres %}{% if not forloop.first %}, {% endif %}{{ genre }}{% endfor %}</dd>
              {% endif %}
            </dl>
            {% if data.plot %}
              <p>{{ data.plot }}</p>
            {% endif %}
          </div>
        </div>

        {% if data.serie %}
        <div class="alert alert-warning">
          <p><i class="icon fa fa-warning"></i>{% translate 'You are trying to import a serie.' %}<br/>{% translate 'Please us ' %}<a href="{% url 'serie_import' %}?query={{ data.imdb }}">{% translate 'this link' %}</a>.</p>
        </div>
        {% endif %}

        {% if movies.count > 0 %}
        <div class="alert alert-warning">
          <p><i class="icon fa fa-warning"></i>{% translate 'This movie is already in the database:' %}</p>
          <ul>
            {% for movie in movies.all %}
            <li><a href="{% url 'movie_info' movie.id|stringformat:'06d' %}"><i>{{ movie.title }}</i></a></li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>

      <div class="box-footer">
        <form action="{% url 'movie_import' %}" method="post">
          {% csrf_token %}
          <input type="hidden" name="imdb" value="{{ data.imdb }}" />
          <input type="hidden" name="query" value="{{ query }}" />
          <input type="hidden" name="import" value="1" />
          <input type="submit" class="btn btn-primary center-block" value="{% translate 'Import' %}" />
        </form>
      </div>
    </div>
  {% else %}
    <div class="alert alert-warning">
      <p><i class="icon fa fa-warning"></i>{% translate "Can't find this movie." %}</p>
    </div>
  {% endif %}

  {% endif %}

{% endblock %}
