{% extends 'movies/base.html' %}

{% load static %}
{% load i18n %}
{% load mimir %}

{% block content_title %}
<a href="{% url 'saga_info' saga.id|stringformat:'06d' %}">{% translate 'Saga' context 'The saga' %} <q><i>{{ saga.title }}</i></q></a> - {% translate 'Add movie' %}
{% endblock %}

{% block title %}
{{ saga.title }} - {% translate 'Movies' %} - Mimir
{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/select2.min.css' %}" media="all" />
{% endblock %}

{% block extra_foot %}
<script src="{% static 'js/select2/select2.min.js' %}"></script>
<script src="{% static 'js/select2/i18n/fr.js' %}"></script>

<script>
$(function() {
    function formatMovie(movie) {
        var markup = '<strong><i>' + movie.title + '</i></strong>';

        if (movie.year) {
            markup += ' <span class="small">(' + movie.year;
            if (movie.title_vo != '' && movie.title_vo != movie.title) {
                markup += ', <i>' + movie.title_vo + '</i>';
            }
            markup += ')</span>';
        } else if (movie.title_vo != '' && movie.title_vo != movie.title) {
            markup += ' <span class="small">(<i>' + movie.title_vo + '</i>)</span>';
        }

        if (movie.creation) {
            creation = Date.parse(movie.creation);
            if (Date.now() - creation < 3600000) {
                markup += ' <span class="badge badge-secondary">{% translate "new" context "movie recently created" %}</span>';
            }
        }

        return markup;
    }

    function formatMovieSelection(movie) {
        var value = '<i>' + movie.title + '</i>';
        if (movie.year) {
            value += ' (' + movie.year + ')';
        }
        return value;
    }

    $("select.select_movie").select2({
        ajax: {
            url: "{% url 'movies_api_search' %}{% if saga.movies.count > 0 %}?exclude={% for movie in saga.movies.all %}{% if not forloop.first %},{% endif %}{{ movie.movie.id }}{% endfor %}{% endif %}",
            dataType: 'json',
            delay: 250,
            data: function(params) {
                return {
                    q: params.term,
                    page: params.page
                };
            },
            processResults: function(data, params) {
                params.page = params.page || 1;

                for (var i = 0; i < data.items.length; ++i) {
                    data.items[i]['text'] = data.items[i]['title'];
                }

                return {
                    results: data.items,
                    pagination: {
                        more: data.incomplete_results
                    }
                };
            },
            cache: true
        },
        escapeMarkup: function(markup) { return markup; },
        minimumInputLength: 1,
        templateResult: formatMovie,
        templateSelection: formatMovieSelection,
    }).on("change", function(e) {
        $('#id_movie_title').val($('#id_movie_id option:selected').text());
        $('#id_movie').val($('#id_movie_id').val());
    });

    $(document).on('select2:open', function(e) {
        document.querySelector(`[aria-controls="select2-${e.target.id}-results"]`).focus();
    });

    $('#id_movie_id').val({value: $('#id_movie').val(), text: $('#id_movie_title').val()});
});
</script>
{% endblock %}

{% block content %}

  {{ form.non_field_errors }}

  {% if form.subject.errors %}
  <ol>
    {% for error in form.subject.errors %}
    <li><strong>{{ error|escape }}</strong></li>
    {% endfor %}
  </ol>
  {% endif %}

  <div class="box box-primary">
    <form action="{% url 'saga_add_movie' saga.id %}" method="post" class="form">
      {% csrf_token %}

      <div class="box-body">
        {% for field in form.hidden_fields %}
          {{ field }}
        {% endfor %}
        {% for field in form.visible_fields %}
        <div class="form-group row{% if field.errors %} has-error{% endif %}">
          {{ field.errors }}
          <label for="{{ field.id_for_label }}" class="col-sm-2 col-form-label">{{ field.label }}</label>
          <div class="col-sm-10">{{ field|field_add_class:'form-control input-sm' }}</div>
          {% if field.help_text %}
            <p class="form-text text-muted">{{ field.help_text|safe }}</p>
          {% endif %}
        </div>
        {% endfor %}
      </div>

      <div class="box-footer">
        <input type="submit" class="btn btn-primary center-block" value="{% translate 'Submit' %}" />
      </div>
    </form>
  </div>

{% endblock %}
