{% extends 'movies/base.html' %}

{% load static %}
{% load i18n %}
{% load mimir %}

{% block footer_right %}
{% if saga.creation %}{% translate 'Creation:' %} {{ saga.creation }}.{% endif %}
{% if saga.modification %}{% translate 'Last modification:' %} {{ saga.modification }}.{% endif %}
{% endblock %}

{% block title %}
{{ saga.title }} - {% translate 'Movies' %} - Mimir
{% endblock %}

{% block content_header %}
<section class="content-header">
  <h1>{{ saga.title }}
    {% if perms.movies.change_saga or perms.movies.delete_saga %}
    <div class="pull-right">
      {% if perms.movies.change_saga %}
      <a href="{% url 'saga_edit' saga.id|stringformat:'06d' %}" class="btn btn-sm btn-warning">{% translate 'Edit' %}</a>
      {% endif %}
      {% if perms.movies.delete_saga %}
      <a href="{% url 'saga_delete' saga.id|stringformat:'06d' %}" class="btn btn-sm btn-danger">{% translate 'Delete' %}</a>
      {% endif %}
    </div>
    {% endif %}
  </h1>
</section>
{% endblock content_header %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/datatables/dataTables.min.css' %}">
{% endblock %}

{% block extra_foot %}
<script src="{% static 'js/datatables/datatables.min.js' %}"></script>

<script>
$(function() {
    $("#movies_list").DataTable({
        "paging"      : false,
        "lengthChange": false,
        "searching"   : false,
        "ordering"    : true,
        "info"        : false,
        "autoWidth"   : true,
        "language": {
            "processing":     "Traitement en cours...",
            "search":         "Rechercher&nbsp;:",
            "lengthMenu":     "Afficher _MENU_ &eacute;l&eacute;ments",
            "info":           "Affichage de l'&eacute;lement _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
            "infoEmpty":      "Affichage de l'&eacute;lement 0 &agrave; 0 sur 0 &eacute;l&eacute;ments",
            "infoFiltered":   "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
            "infoPostFix":    "",
            "loadingRecords": "Chargement en cours...",
            "zeroRecords":    "Aucun &eacute;l&eacute;ment &agrave; afficher",
            "emptyTable":     "Aucune donnée disponible dans le tableau.",
            "paginate": {
                "first":      "Premier",
                "previous":   "Pr&eacute;c&eacute;dent",
                "next":       "Suivant",
                "last":       "Dernier"
            },
            "aria": {
                "sortAscending":  ": activer pour trier la colonne par ordre croissant",
                "sortDescending": ": activer pour trier la colonne par ordre décroissant"
            }
        },
    });
});
</script>
{% endblock %}

{% block content %}

  <div class="row">
    <div class="col-md-4">
      <div class="box box-solid box-info">
        <div class="box-body">
          <dl class="dl-horizontal">
            <dt>{% translate 'Title' %}</dt><dd><i>{{ saga.title }}</i></dd>
            {% if saga.title_vo %}<dt>{% translate 'Original title' %}</dt><dd><i>{{ saga.title_vo }}</i></dd>{% endif %}
          </dl>
        </div>
      </div>
    </div>
  </div>

  {% if saga.info %}
  <div class="box box-solid box-info">
    <div class="box-header with-border">
      <h3 class="box-title">{% translate 'Information' %}</h3>
    </div>
    <div class="box-body">{{ saga.info|linebreaks }}</div>
  </div>
  {% endif %}

  <div class="box box-solid box-info">
    <div class="box-header with-border">
      <h3 class="box-title">{% translate 'Movies' %}</h3>
      <div class="box-tools pull-right">
        {% if perms.movies.change_sagamovie %}
        <a href="{% url 'saga_edit_movies' saga.id|stringformat:'06d' %}" class="btn btn-box-tool" title="{% translate 'Edit movies' %}">
          <i class="fa fa-edit"></i>
        </a>
        {% endif %}
        {% if perms.movies.add_sagamovie %}
        <a href="{% url 'saga_add_movie' saga.id|stringformat:'06d' %}" class="btn btn-box-tool" title="{% translate 'Add movie' %}">
          <i class="fa fa-plus-square"></i>
        </a>
        {% endif %}
        <button type="button" class="btn btn-box-tool" data-widget="collapse">
          <i class="fa fa-minus"></i>
        </button>
      </div>
    </div>
    <div class="box-body">
      {% if movies|length > 0 %}
      <table class="table table-bordered table-stripped table-hover" id="movies_list">
        <thead>
          <tr>
            <th>{% translate 'Order' %}</th>
            <th>{% translate 'Title' %}</th>
            <th>{% translate 'Year' %}</th>
          </tr>
        </thead>
        <tbody>
          {% for sagaMovie in movies %}
          <tr>
            <td>{{ sagaMovie|get_order }}</td>
            <td>
              <a href="{% url 'movie_info' sagaMovie.movie.id|stringformat:'06d' %}" class="{% if sagaMovie.viewed %}movie_viewed{% else %}movie_not_viewed{% endif %}"><i>{{ sagaMovie.movie.title }}</i></a>
              {% if sagaMovie.movie.title_vo and sagaMovie.movie.title_vo != sagaMovie.movie.title %} (<i>{{ sagaMovie.movie.title_vo }}</i>){% endif %}
            </td>
            <td>{% if sagaMovie.movie.date %}<a href="{% url 'movies_year' sagaMovie.movie.date|date_year %}">{{ sagaMovie.movie.date|date_year }}</a>{% endif %}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <p>{% translate 'No movies.' %}</p>
      {% endif %}
    </div>
  </div>

{% endblock %}
