{% extends 'movies/base.html' %}

{% load static %}
{% load i18n %}
{% load mimir %}

{% block content_title %}
{% translate 'Search' %}
{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/datatables/dataTables.min.css' %}">
{% endblock %}

{% block extra_foot %}
<script src="{% static 'js/datatables/datatables.min.js' %}"></script>

<script>
$(function() {
    function makeDataTable(obj) {
        obj.DataTable({
            "paging"      : true,
            "lengthChange": true,
            "searching"   : true,
            "ordering"    : true,
            "info"        : true,
            "autoWidth"   : true,
            "stateSave"   : true,
            "language": {
                "processing":     "Traitement en cours...",
                "search":         "Rechercher&nbsp;:",
                "lengthMenu":     "Afficher _MENU_ &eacute;l&eacute;ments",
                "info":           "Affichage de l'&eacute;lement _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
                "infoEmpty":      "Affichage de l'&eacute;lement 0 &agrave; 0 sur 0 &eacute;l&eacute;ments",
                "infoFiltered":   "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
                "infoPostFix":    "",
                "loadingRecords": "Chargement en cours...",
                "zeroRecords":    "Aucun &eacute;l&eacute;ment &agrave; afficher",
                "emptyTable":     "Aucune donnée disponible dans le tableau.",
                "paginate": {
                    "first":      "{% translate 'First' %}",
                    "previous":   "{% translate 'Previous' %}",
                    "next":       "{% translate 'Next' %}",
                    "last":       "{% translate 'Last' %}"
                },
                "aria": {
                    "sortAscending":  ": activer pour trier la colonne par ordre croissant",
                    "sortDescending": ": activer pour trier la colonne par ordre décroissant"
                }
            },
        });
    }

    makeDataTable($('#movies_list'));
    makeDataTable($('#series_list'));
    makeDataTable($('#episodes_list'));
    makeDataTable($('#sagas_list'));
});
</script>
{% endblock %}

{% block content %}

  <div class="box box-solid box-info">
    <form action="{% url 'movies_search' %}" class="form" method="get">
      <div class="box-body">
        <div class="form-group row">
          <label for="id_form_q" class="col-sm-2 col-form-label">{% translate 'Query' %}</label>
          <div class="col-sm-10">
            <input type="text" name="q" id="id_form_q" class="form-control input-sm" value="{{ query }}" />
          </div>
        </div>
      </div>

      <div class="box-footer">
        <input type="submit" class="btn btn-primary center-block" value="{% translate 'Search...' %}" />
      </div>
    </form>
  </div>

  {% if query %}
  <div class="box box-solid box-info">
    <div class="box-header">
      <h3 class="box-title">{% translate 'Movies' %} <span class="badge">{{ movies|length }}</span></h3>
    </div>

    <div class="box-body">
      {% if movies %}
      <table class="table table-bordered table-stripped table-hover" id="movies_list">
        <thead>
          <tr>
            <th>{% translate 'Title' %}</th>
            <th>{% translate 'Release date' %}</th>
            <th>{% translate 'Duration' %}</th>
          </tr>
        </thead>
        <tbody>
          {% for movie in movies %}
          <tr data-id="{{ movie.id }}">
            <td><a href="{% url 'movie_info' movie.id|stringformat:'06d' %}" class="{% if movie.viewed %}movie_viewed{% else %}movie_not_viewed{% endif %}"><i>{{ movie.title }}</i></a>{% if movie.title_vo and movie.title_vo != movie.title %} (<i>{{ movie.title_vo }}</i>){% endif %}</td>
            <td><span style="display: none;">{{ movie.date }}</span>{{ movie.date|date_format }}</td>
            <td>{{ movie.duration|duration_txt }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <p>{% translate 'No movies.' %}</p>
      {% endif %}
    </div>
  </div>

  <div class="box box-solid box-info">
    <div class="box-header">
      <h3 class="box-title">{% translate 'Series' %} <span class="badge">{{ series|length }}</span></h3>
    </div>

    <div class="box-body">
      {% if series %}
      <table class="table table-bordered table-stripped table-hover" id="series_list">
        <thead>
          <tr>
            <th>{% translate 'Title' %}</th>
            <th>{% translate 'Number of seasons' %}</th>
            <th>{% translate 'Number of episodes' %}</th>
            <th>{% translate 'Last episode' %}</th>
          </tr>
        </thead>
        <tbody>
          {% for serie in series %}
          <tr data-id="{{ serie.id }}">
            <td>
              <a href="{% url 'serie_info' serie.id|stringformat:'06d' %}"><i>{{ serie.title }}</i></a>
              {% if serie.title_vo and serie.title_vo != serie.title %}(<i>{{ serie.title_vo}}</i>){% endif %}
            </td>
            <td>{{ serie.seasons.all|length }}</td>
            <td>{{ serie.episodes_count }}</td>
            <td>
            {% if serie.last_episode %}
              <span class="hidden">{{ serie.last_episode.date }}</span>{{ serie.last_episode.date|date_format }}
              (<a href="{% url 'movie_info' serie.last_episode.id|stringformat:'06d' %}"><i>{{ serie.last_episode.title|truncatechars:30 }}</i></a>)
            {% endif%}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <p>{% translate 'No series.' %}</p>
      {% endif %}
    </div>
  </div>

  <div class="box box-solid box-info">
    <div class="box-header">
      <h3 class="box-title">{% translate 'Episodes' %} <span class="badge">{{ episodes|length }}</span></h3>
    </div>

    <div class="box-body">
      {% if episodes %}
      <table class="table table-bordered table-stripped table-hover" id="episodes_list">
        <thead>
          <tr>
            <th>{% translate 'Serie' %}</th>
            <th>{% translate 'Episode' %}</th>
            <th>{% translate 'Title' %}</th>
            <th>{% translate 'Date' %}</th>
          </tr>
        </thead>
        <tbody>
          {% for episode in episodes %}
          <tr>
            <td>
              <a href="{% url 'serie_info' episode.episode.season.serie.id|stringformat:'06d' %}"><i>{{ episode.episode.season.serie.title }}</i></a>
              {% if episode.episode.season.serie.title_vo and episode.episode.season.serie.title_vo != episode.episode.season.serie.title %}(<i>{{ episode.episode.season.serie.title_vo}}</i>){% endif %}
            </td>
            <td>{{ episode.episode.season.name }} {% translate 'episode' context 'episode num' %} {{ episode.episode|get_order }}</td>
            <td>
              <a href="{% url 'movie_info' episode.id|stringformat:'06d' %}"><i>{{ episode.title }}</i></a>
              {% if episode.title_vo and episode.title_vo != episode.title %}(<i>{{ episode.title_vo}}</i>){% endif %}
            </td>
            <td><span class="hidden">{% if episode.date %}{{ episode.date }}{% else %}0000-00-00{% endif %}</span>{{ episode.date|date_format }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <p>{% translate 'No episodes.' %}</p>
      {% endif %}
    </div>
  </div>

  <div class="box box-solid box-info">
    <div class="box-header">
      <h3 class="box-title">{% translate 'Sagas' %} <span class="badge">{{ sagas|length }}</span></h3>
    </div>

    <div class="box-body">
      {% if sagas %}
      <table class="table table-bordered table-stripped table-hover" id="sagas_list">
        <thead>
          <tr>
            <th>{% translate 'Title' %}</th>
            <th>{% translate 'Number of movies' %}</th>
          </tr>
        </thead>
        <tbody>
          {% for saga in sagas %}
          <tr data-id="{{ saga.id }}">
            <td>
              <a href="{% url 'saga_info' saga.id|stringformat:'06d' %}">{{ saga.title }}</a>
              {% if saga.title_vo %}({{ saga.title_vo}}){% endif %}
            </td>
            <td>{{ saga.movies.all|length }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <p>{% translate 'No sagas.' %}</p>
      {% endif %}
    </div>
  </div>
  {% endif %}

{% endblock %}
