{% extends 'movies/base.html' %}

{% load static %}
{% load i18n %}
{% load mimir %}

{% block content_title %}
<a href="{% url 'serie_info' serie.id|stringformat:'06d' %}"><i>{{ serie.title }}</i></a> - {{ season.name }} - {% translate 'Add episode' %}
{% endblock %}

{% block title %}
{{ serie.title }} - {% translate 'Series' %} - Mimir
{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/select2.min.css' %}" media="all" />
{% endblock %}

{% block extra_foot %}
<script src="{% static 'js/select2/select2.min.js' %}"></script>
<script src="{% static 'js/select2/i18n/fr.js' %}"></script>

<script>
$(function() {
    function formatMovie(movie) {
        var markup = '<strong><i>' + movie.title + '</i></strong>';

        if (movie.year) {
            markup += ' <span class="small">(' + movie.year;
            if (movie.title_vo != '' && movie.title_vo != movie.title) {
                markup += ', <i>' + movie.title_vo + '</i>';
            }
            markup += ')</span>';
        } else if (movie.title_vo != '' && movie.title_vo != movie.title) {
            markup += ' <span class="small">(<i>' + movie.title_vo + '</i>)</span>';
        }

        if (movie.creation) {
            creation = Date.parse(movie.creation);
            if (Date.now() - creation < 3600000) {
                markup += ' <span class="badge badge-secondary">{% translate "new" context "movie recently created" %}</span>';
            }
        }

        return markup;
    }

    function formatMovieSelection(movie) {
        var value = '<i>' + movie.title + '</i>';
        if (movie.year) {
            value += ' (' + movie.year + ')';
        }
        return value;
    }

    $("select#id_movie").select2({
        ajax: {
            url: "{% url 'movies_api_search' %}?episodes=1{% if season.episodes.count > 0 %}&exclude={% for episode in season.episodes.all %}{% if not forloop.first %},{% endif %}{{ episode.movie.id }}{% endfor %}{% endif %}",
            dataType: 'json',
            delay: 250,
            data: function(params) {
                return {
                    q: params.term,
                    page: params.page
                };
            },
            processResults: function(data, params) {
                params.page = params.page || 1;

                for (var i = 0; i < data.items.length; ++i) {
                    data.items[i]['text'] = data.items[i]['title'];
                }

                return {
                    results: data.items,
                    pagination: {
                        more: data.incomplete_results
                    }
                };
            },
            cache: true
        },
        escapeMarkup: function(markup) { return markup; },
        minimumInputLength: 1,
        templateResult: formatMovie,
        templateSelection: formatMovieSelection,
    });

    $(document).on('select2:open', function(e) {
        document.querySelector(`[aria-controls="select2-${e.target.id}-results"]`).focus();
    });
});
</script>
{% endblock %}

{% block content %}

  <div class="box box-primary">
    <form action="{% url 'season_add_episode' serie.id|stringformat:'06d' season.id|stringformat:'06d' %}" method="post" class="form">
      {% csrf_token %}

      <div class="box-body">
        <div class="form-group row">
          <label for="id_movie" class="col-sm-2 col-form-label">{% translate 'Movie' %}</label>
          <div class="col-sm-10">
            <select name="movie" id="id_movie" class="form-control input-sm">
            </select>
          </div>
        </div>
      </div>

      <div class="box-footer">
        <input type="submit" class="btn btn-primary center-block" value="{% translate 'Submit' %}" />
      </div>
    </form>
  </div>

{% endblock %}
