{% extends 'movies/base.html' %}

{% load static %}
{% load i18n %}
{% load mimir %}

{% block title %}
{% translate 'Series' %} - Mimir
{% endblock %}

{% block content_title %}
{% translate 'Series' %}
{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/datatables/dataTables.min.css' %}">
{% endblock %}

{% block extra_foot %}
<script src="{% static 'js/datatables/datatables.min.js' %}"></script>

<script>
$(function() {
    $('#series_list').DataTable({
        "paging"      : true,
        "lengthChange": true,
        "searching"   : true,
        "ordering"    : true,
        "info"        : true,
        "autoWidth"   : true,
        "stateSave"   : true,
        "processing"  : true,
        "serverSide"  : true,
        "ajax": {
            "url": "{% url 'series_api_list' %}",
            "dataFilter": function(data) {
                var json = jQuery.parseJSON(data);

                for (var i = 0; i < json.data.length; ++i) {
                    json.data[i]["title_url"] = '<a href="' + json.data[i]['url'] + '"><i>' + json.data[i]['title'] + '</i></a>';
                    if (json.data[i]['title_vo'] && json.data[i]['title_vo'] != json.data[i]['title']) {
                        json.data[i]["title_url"] += ' (<i>' + json.data[i]['title_vo'] + '</i>)';
                    }

                    json.data[i]["last_episode_html"] = '';
                    if (json.data[i]["last_episode"]) {
                        json.data[i]["last_episode_html"] += '<span class="hidden">' + json.data[i]["last_episode"]["date"] + '</span>';
                        episodeTitle = json.data[i]["last_episode"]["title"];
                        if (episodeTitle.length > 30) {
                            episodeTitle = episodeTitle.substring(0, 29) + '…';
                        }
                        json.data[i]["last_episode_html"] += '<a href="' + json.data[i]["last_episode"]["url"] + '"><i>' + episodeTitle + '</i></a>';
                        if (json.data[i]["last_episode"]["date_txt"])
                            json.data[i]["last_episode_html"] += ' (' + json.data[i]["last_episode"]["date_txt"] + ')';
                    }
                }

                return JSON.stringify(json);
            },
        },
        "columns": [
            { "data": "title_url" },
            { "data": "seasons_count" },
            { "data": "episodes_count" },
            { "data": "last_episode_html" },
        ],
        "language": {
            "processing":     "Traitement en cours...",
            "search":         "Rechercher&nbsp;:",
            "lengthMenu":     "Afficher _MENU_ &eacute;l&eacute;ments",
            "info":           "Affichage de l'&eacute;lement _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
            "infoEmpty":      "Affichage de l'&eacute;lement 0 &agrave; 0 sur 0 &eacute;l&eacute;ments",
            "infoFiltered":   "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
            "infoPostFix":    "",
            "loadingRecords": "Chargement en cours...",
            "zeroRecords":    "Aucun &eacute;l&eacute;ment &agrave; afficher",
            "emptyTable":     "Aucune donnée disponible dans le tableau.",
            "paginate": {
                "first":      "Premier",
                "previous":   "Pr&eacute;c&eacute;dent",
                "next":       "Suivant",
                "last":       "Dernier"
            },
            "aria": {
                "sortAscending":  ": activer pour trier la colonne par ordre croissant",
                "sortDescending": ": activer pour trier la colonne par ordre décroissant"
            }
        },
    });
});
</script>
{% endblock %}

{% block content %}

  <div class="box box-solid box-info">

    <div class="box-header">
      <h3 class="box-title">{% translate 'Series list' %}</h3>
      {% if perms.movies.add_serie %}
      <div class="box-tools pull-right">
        <a href="{% url 'serie_create' %}" class="btn btn-box-tool" title="{% translate 'Create serie' %}">
          <i class="fa fa-plus-square"></i>
        </a>
        <a href="{% url 'serie_import' %}" class="btn btn-box-tool" title="{% translate 'Import serie' %}">
          <i class="fa fa-share-alt-square"></i>
        </a>
      </div>
      {% endif %}
    </div>

    <div class="box-body">

      {% if series %}

      <table class="table table-bordered table-stripped table-hover" id="series_list">
        <thead>
          <tr>
            <th>{% translate 'Title' %}</th>
            <th>{% translate 'Number of seasons' %}</th>
            <th>{% translate 'Number of episodes' %}</th>
            <th>{% translate 'Last episode' %}</th>
          </tr>
        </thead>
        <tbody>
        {% for serie in series %}
          <tr>
            <td>
              <a href="{% url 'serie_info' serie.id|stringformat:'06d' %}"><i>{{ serie.title }}</i></a>
              {% if serie.title_vo and serie.title_vo != serie.title %} (<i>{{ serie.title_vo}}</i>){% endif %}
            </td>
            <td>{{ serie.num_seasons }}</td>
            <td>{{ serie.episodes_count }}</td>
            <td>
            {% if serie.last_episode %}
              <span class="hidden">{{ serie.last_episode.date }}</span>
              <a href="{% url 'movie_info' serie.last_episode.id|stringformat:'06d' %}"><i>{{ serie.last_episode.title|truncatechars:30 }}</i></a>
              {% if serie.last_episode.date %} ({{ serie.last_episode.date|date_format }}){% endif %}
            {% endif%}
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>

      {% else %}
      <p>Il n'y a aucune série pour le moment.</p>
      {% endif %}

    </div>
  </div>

{% endblock %}
