{% extends 'movies/base.html' %}

{% load static %}
{% load i18n %}
{% load mimir %}
{% load movies %}

{% block footer_right %}
{% if serie.creation %}{% translate 'Creation:' %} {{ serie.creation }}.{% endif %}
{% if serie.modification %}{% translate 'Last modification:' %} {{ serie.modification }}.{% endif %}
{% endblock %}

{% block title %}
{{ serie.title }} - {% translate 'Series' %} - Mimir
{% endblock %}

{% block content_header %}
<section class="content-header">
  <h1><i>{{ serie.title }}</i>
    {% if perms.movies.change_serie or perms.movies.delete_serie %}
    <div class="pull-right">
      {% if perms.movies.change_serie %}
      <a href="{% url 'serie_edit' serie.id|stringformat:'06d' %}" class="btn btn-sm btn-warning">{% translate 'Edit' %}</a>
      {% endif %}
      {% if perms.movies.delete_serie %}
      <a href="{% url 'serie_delete' serie.id|stringformat:'06d' %}" class="btn btn-sm btn-danger">{% translate 'Delete' %}</a>
      {% endif %}
    </div>
    {% endif %}
  </h1>
</section>
{% endblock content_header %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/datatables/dataTables.min.css' %}">
{% endblock %}

{% block extra_foot %}
<script src="{% static 'js/datatables/datatables.min.js' %}"></script>

<script>
$(function() {
    function makeDataTable(obj, options={}) {
        var opt = {
            "paging"      : false,
            "lengthChange": false,
            "searching"   : false,
            "ordering"    : true,
            "info"        : false,
            "autoWidth"   : true,
            "language": {
                "processing":     "Traitement en cours...",
                "search":         "Rechercher&nbsp;:",
                "lengthMenu":     "Afficher _MENU_ &eacute;l&eacute;ments",
                "info":           "Affichage de l'&eacute;lement _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
                "infoEmpty":      "Affichage de l'&eacute;lement 0 &agrave; 0 sur 0 &eacute;l&eacute;ments",
                "infoFiltered":   "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
                "infoPostFix":    "",
                "loadingRecords": "Chargement en cours...",
                "zeroRecords":    "Aucun &eacute;l&eacute;ment &agrave; afficher",
                "emptyTable":     "Aucune donnée disponible dans le tableau.",
                "paginate": {
                    "first":      "Premier",
                    "previous":   "Pr&eacute;c&eacute;dent",
                    "next":       "Suivant",
                    "last":       "Dernier"
                },
                "aria": {
                    "sortAscending":  ": activer pour trier la colonne par ordre croissant",
                    "sortDescending": ": activer pour trier la colonne par ordre décroissant"
                }
            },
        };
        jQuery.extend(opt, options);
        obj.DataTable(opt);
    }

    makeDataTable($(".episodes_list"));
    makeDataTable($("#table_actors"), {"paging": true, "order": [[1, "desc"]]});

    $(".box-body.collapse").on('shown.bs.collapse', function(e) {
        if ($(this).is(e.target)) {
            $(this).parent().removeClass('collapsed-box');
        }
    });

    $(".box-body.collapse").on('hidden.bs.collapse', function(e) {
        if ($(this).is(e.target)) {
            $(this).parent().addClass('collapsed-box');
        }
    });

    $(".box-body.collapse").on('show.bs.collapse', function(e) {
        if ($(this).is(e.target)) {
            $(this).parent().children('.box-header').find('div > button > i').addClass('fa-minus').removeClass('fa-plus');
        }
    });

    $(".box-body.collapse").on('hide.bs.collapse', function(e) {
        if ($(this).is(e.target)) {
            $(this).parent().children('.box-header').find('div > button > i').addClass('fa-plus').removeClass('fa-minus');
        }
    });
});
</script>
{% endblock %}

{% block content %}

  <div class="row">
    <div class="col-md-4">
      <div class="box box-solid box-info">
        <div class="box-body">
          <dl class="dl-horizontal">
            <dt>{% translate 'Title' %}</dt><dd><i>{{ serie.title }}</i></dd>
            {% if serie.title_vo %}<dt>{% translate 'Original title' %}</dt><dd><i>{{ serie.title_vo }}</i></dd>{% endif %}
            {% if serie.imdb > 0 %}<dt>{% translate 'IMDb number' %}</dt><dd><a href="{{ serie.imdb|imdb_link_title }}">{{ serie.imdb }} <span class="fa fa-external-link"></span></a></dd>{% endif %}
            {% if serie.duration > 0 %}<dt>{% translate 'Episode duration' %}</dt><dd>{{ serie.duration|duration_txt }}</dd>{% endif %}
            {% if serie.lang %}<dt>{% translate 'Language' context 'The language' %}</dt><dd><a href="{% url 'language_info' serie.lang.code %}">{{ serie.lang }}</a></dd>{% endif %}
            {% if countries.count > 0 %}<dt>{% blocktranslate count c=countries.count|length %}Country{% plural %}Countries{% endblocktranslate %}</dt><dd>{% for country in countries.all %}{% if not forloop.first %}, {% endif %}<a href="">{{ country }}</a>{% endfor %}</dd>{% endif %}
          </dl>
        </div>
      </div>
    </div>
  </div>

  {% if serie.summary %}
  <div class="box box-solid box-info">
    <div class="box-header with-border">
      <h3 class="box-title">{% translate 'Summary' %}</h3>
      <div class="box-tools pull-right">
        <button class="btn btn-box-tool" data-widget="collapse">
          <i class="fa fa-minus"></i>
        </button>
      </div>
    </div>
    <div class="box-body">{{ serie.summary|linebreaks }}</div>
  </div>
  {% endif %}

  {% if serie.info %}
  <div class="box box-solid box-info">
    <div class="box-header with-border">
      <h3 class="box-title">{% translate 'Information' %}</h3>
      <div class="box-tools pull-right">
        <button class="btn btn-box-tool" data-widget="collapse">
          <i class="fa fa-minus"></i>
        </button>
      </div>
    </div>
    <div class="box-body">{{ serie.info|linebreaks }}</div>
  </div>
  {% endif %}

  <div class="box box-solid box-info">
    <div class="box-header with-border">
      <h3 class="box-title">{% translate 'Episodes' %}</h3>
      <div class="box-tools pull-right">
        {% if perms.movies.change_season or perms.movies.delete_season %}
        <a href="{% url 'serie_edit_seasons' serie.id|stringformat:'06d' %}" class="btn btn-box-tool" title="{% translate 'Edit seasons' %}">
          <i class="fa fa-edit"></i>
        </a>
        {% endif %}
        {% if perms.movies.add_season %}
        <a href="{% url 'serie_add_season' serie.id|stringformat:'06d' %}" class="btn btn-box-tool" title="{% translate 'Add season' %}">
          <i class="fa fa-plus-square"></i>
        </a>
        {% endif %}
        {% if perms.movies.add_season and serie.imdb > 0 %}
        <a href="{% url 'serie_import_episodes' serie.id|stringformat:'06d' %}" class="btn btn-box-tool" title="{% translate 'Import episodes' %}">
          <i class="fa fa-share-alt-square"></i>
        </a>
        {% endif %}
        <button data-target="#seasons" class="btn btn-box-tool" data-toggle="collapse">
          <i class="fa fa-minus"></i>
        </button>
      </div>
    </div>
    <div class="box-body collapse in" id="seasons">

      {% if seasons|length > 0 %}
        {% for season in seasons %}
        <div class="box box-solid box-default">
          <div class="box-header">
            <h4 class="box-title">{{ season.season.name }}</h4>
            <div class="box-tools pull-right">
              {% if perms.movies.change_season %}
                {% if season.episodes|length > 0 %}
                <a href="{% url 'season_edit_episodes' serie.id|stringformat:'06d' season.season.id|stringformat:'06d' %}" class="btn btn-box-tool" title="{% translate 'Edit episodes' %}">
                  <i class="fa fa-edit"></i>
                </a>
                {% endif %}
                {% if perms.movies.add_episode %}
                <a href="{% url 'season_create_episode' serie.id|stringformat:'06d' season.season.id|stringformat:'06d' %}" class="btn btn-box-tool" title="{% translate 'Create episode' %}">
                  <i class="fa fa-plus-square"></i>
                </a>
                {% endif %}
                {% if perms.movies.add_episode %}
                <a href="{% url 'season_add_episode' serie.id|stringformat:'06d' season.season.id|stringformat:'06d' %}" class="btn btn-box-tool" title="{% translate 'Add existing episode' %}">
                  <i class="fa fa-gg-circle"></i>
                </a>
                {% endif %}
              {% endif %}
              <button data-target="#season-{{ season.season.id }}" class="btn btn-box-tool" data-toggle="collapse">
                <i class="fa fa-minus"></i>
              </button>
            </div>
          </div>
          <div class="box-body collapse in" id="season-{{ season.season.id }}">
            {% if season.episodes|length > 0 %}
            <table class="table table-bordered table-stripped table-hover episodes_list">
              <thead>
                <tr data-id="{{ season.season.id }}">
                  <th data-sortable="true" data-width="10%">{% translate 'Number' %}</th>
                  <th data-sortable="true" data-width="60%">{% translate 'Title' %}</th>
                  <th data-sortable="true" data-width="30%">{% translate 'Release date' %}</th>
                </tr>
              </thead>
              <tbody>
                {% for episode in season.episodes %}
                <tr data-id="{{ episode.id }}">
                  <td>{{ forloop.counter }}</td>
                  <td>
                    <a href="{% url 'movie_info' episode.movie.id|stringformat:'06d' %}"
                    {% if user.is_authenticated %}
                      {% if episode.viewed %}
                        class="movie_viewed"
                      {% else %}
                        class="movie_not_viewed"
                      {% endif %}
                    {% endif %}
                    ><i>{{ episode.movie.title }}</i></a>
                    {% if episode.movie.title_vo and episode.movie.title_vo != episode.movie.title %} (<i>{{ episode.movie.title_vo }}</i>){% endif %}
                  </td>
                  <td>
                    <span class="hidden">{{ episode.movie.date }}</span>
                    {{ episode.movie.date|date_format }}
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            {% else %}
            <p>{% translate 'No episodes.' %}</p>
            {% endif %}
          </div>
        </div>
        {% endfor %}
      {% else %}
        <p>{% translate 'No episodes.' %}</p>
      {% endif %}

    </div>
  </div>

  {% if actors %}
  <div class="box box-solid box-info">
    <div class="box-header with-border">
      <h3 class="box-title">{% translate 'Actors' %}</h3>
      <div class="box-tools pull-right">
        <button type="button" class="btn btn-box-tool" data-widget="collapse">
          <i class="fa fa-minus"></i>
        </button>
      </div>
    </div>
    <div class="box-body">
      <table class="table table-bordered table-stripped table-hover" id="table_actors">
        <thead>
          <tr>
            <th>{% translate 'Person' %}</th>
            <th>{% translate 'Number of episodes' %}</th>
            <th>{% translate 'Roles' %}</th>
            <th>{% translate 'First appearance' %}</th>
            <th>{% translate 'Last appearance' %}</th>
          </tr>
        </thead>
        <tbody>
          {% for actor in actors %}
            <tr>
              <td>
                {% if actor.actor.person %}
                  <a href="{% url 'person_info' actor.actor.person.id|stringformat:'06d' %}">{{ actor.actor.person.name }}</a>
                  {% if actor.actor.name %} ({% translate 'as' %} {{ actor.actor.name }}){% endif %}
                {% elif actor.actor.group %}
                  <a href="{% url 'group_info' actor.actor.group.id|stringformat:'06d' %}">{{ actor.actor.group.name }}</a>
                  {% if actor.actor.name %} ({% translate 'as' %} {{ actor.actor.name }}){% endif %}
                {% else %}
                  {{ actor.actor.name }}
                {% endif %}
              </td>
              <td>{{ actor.count }}</td>
              <td>
                {% for role, count in actor.roles %}{% if forloop.counter0 < 12 %}{% if not forloop.first %}, {% endif %}{{ role }} ({{ count }} {% translate 'episodes' %}){% endif %}{% endfor %}
                {% if actor.roles|length > 12 %} [...]{% endif %}
              </td>
              <td><span class="hidden">{{ actor.date_first }}</span>{{ actor.date_first|date_format }}</td>
              <td><span class="hidden">{{ actor.date_last }}</span>{{ actor.date_last|date_format }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  {% endif %}

  <div class="box box-solid box-info">
    <div class="box-header with-border">
      <h3 class="box-title">{% translate 'Crew' %}</h3>
      <div class="box-tools pull-right">
        {% if perms.movies.change_seriecrewmember and crew.count > 0 %}
        <a href="{% url 'serie_edit_crew' serie.id|stringformat:'06d' %}" class="btn btn-box-tool" title="{% translate 'Edit crew' %}">
          <i class="fa fa-edit"></i>
        </a>
        {% endif %}
        {% if perms.movies.change_seriecrewmember %}
        <a href="{% url 'serie_add_crewmember' serie.id|stringformat:'06d' %}" class="btn btn-box-tool" title="{% translate 'Add crew member' %}">
          <i class="fa fa-plus-square"></i>
        </a>
        {% endif %}
        <button type="button" class="btn btn-box-tool" data-widget="collapse">
          <i class="fa fa-minus"></i>
        </button>
      </div>
    </div>
    <div class="box-body">
      {% if crew.count > 0 %}
      <table class="table table-bordered table-stripped table-hover">
        <thead>
          <tr>
            <th>{% translate 'Person' %}</th>
            <th>{% translate 'Function' %}</th>
            <th>{% translate 'Information' %}</th>
          </tr>
        </thead>
        <tbody>
          {% for member in crew.all %}
          <tr>
            <td>
            {% if member.person.person %}
              <a href="{% url 'person_info' member.person.person.id|stringformat:'06d' %}">{{ member.person.person.name }}</a>
              {% if member.name %} ({% translate 'as' %} {{ member.name }}){% endif %}
            {% elif member.person.group %}
              <a href="{% url 'group_info' member.person.group.id|stringformat:'06d' %}">{{ member.person.group.name }}</a>
              {% if member.name %} ({% translate 'as' %} {{ member.name }}){% endif %}
            {% else %}
              {{ member.person.name }}
            {% endif %}
            </td>
            <td>{{ member.function }}</td>
            <td>{{ member.info }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <p>{% translate 'No crew.' %}</p>
      {% endif %}
    </div>
  </div>

  {% if serie.ref_by.all %}
  <div class="box box-solid box-info">
    <div class="box-header with-border">
      <h3 class="box-title">{% translate 'Referenced by' %}</h3>
      <div class="box-tools pull-right">
        <button type="button" class="btn btn-box-tool" data-widget="collapse">
          <i class="fa fa-minus"></i>
        </button>
      </div>
    </div>
    <div class="box-body">
      <ul>
        {% for ref in serie.ref_by.all %}
        <li>
          {% if ref.movie.episode %}{% translate 'Episode' %} <a href="{% url 'serie_info' ref.movie.episode.season.serie.id|stringformat:'06d' %}"><i>{{ ref.movie.episode.season.serie.title }}</i></a> - {% else %}{% translate 'Movie' %} {% endif %}
          <a href="{% url 'movie_info' ref.movie.id|stringformat:'06d' %}"><i>{{ ref.movie.title }}</i></a>
          {% if ref.info %} ({{ ref.info }}){% endif %}
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  {% endif %}

  <div class="row">

    <div class="col-md-12 col-lg-6">
      <div class="box box-solid box-info">
        <div class="box-header with-border">
          <h3 class="box-title">{% translate 'Tags' %}</h3>
          <div class="box-tools pull-right">
            {% if perms.movies.change_serietag %}
            <a href="{% url 'serie_edit_tags' serie.id|stringformat:'06d' %}" class="btn btn-box-tool" title="{% translate 'Edit tags' %}">
              <i class="fa fa-edit"></i>
            </a>
            {% endif %}
            {% if perms.movies.add_serietag %}
            <a href="{% url 'serie_add_tag' serie.id|stringformat:'06d' %}" class="btn btn-box-tool" title="{% translate 'Add tag' %}">
              <i class="fa fa-plus-square"></i>
            </a>
            {% endif %}
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
              <i class="fa fa-minus"></i>
            </button>
          </div>
        </div>
        <div class="box-body">
          {% if tags.count > 0 %}
          <ul>
            {% for serieTag in tags.all %}
            <li><a href="{% url 'tag_info' serieTag.tag.id|stringformat:'06d' %}">{{ serieTag.tag.name }}</a>{% if serieTag.info %} ({{ serieTag.info }}){% endif %}</li>
            {% endfor %}
          </ul>
          {% else %}
          <p>{% translate 'No tags.' %}</p>
          {% endif %}
        </div>
      </div>
    </div>

    <div class="col-md-12 col-lg-6">
      <div class="box box-solid box-info">
        <div class="box-header with-border">
          <h3 class="box-title">{% translate 'Attributes' %}</h3>
          <div class="box-tools pull-right">
            {% if perms.movies.change_serie %}
            <a href="{% url 'serie_edit_attributes' serie.id|stringformat:'06d' %}" class="btn btn-box-tool" title="{% translate 'Edit attributes' %}">
              <i class="fa fa-edit"></i>
            </a>
            {% endif %}
            {% if perms.movies.change_serie %}
            <a href="{% url 'serie_add_attribute' serie.id|stringformat:'06d' %}" class="btn btn-box-tool" title="{% translate 'Add attribute' %}">
              <i class="fa fa-plus-square"></i>
            </a>
            {% endif %}
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
              <i class="fa fa-minus"></i>
            </button>
          </div>
        </div>
        <div class="box-body">
          {% if serie.attributes.count > 0 %}
          <ul>
            {% for attribute in serie.attributes.all %}
            <li>{{ attribute.name }} : {{ attribute.value }}</li>
            {% endfor %}
          </ul>
          {% else %}
          <p>{% translate 'No attributes.' %}</p>
          {% endif %}
        </div>
      </div>
    </div>

    <div class="col-md-12 col-lg-6">
      <div class="box box-solid box-info">
        <div class="box-header with-border">
          <h3 class="box-title">{% translate 'Links' %}</h3>
          <div class="box-tools pull-right">
            {% if perms.movies.change_serie %}
            <a href="{% url 'serie_edit_links' serie.id|stringformat:'06d' %}" class="btn btn-box-tool" title="{% translate 'Edit links' %}">
              <i class="fa fa-edit"></i>
            </a>
            <a href="{% url 'serie_add_link' serie.id|stringformat:'06d' %}" class="btn btn-box-tool" title="{% translate 'Add link' %}">
              <i class="fa fa-plus-square"></i>
            </a>
            {% endif %}
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
              <i class="fa fa-minus"></i>
            </button>
          </div>
        </div>
        <div class="box-body">
          {% if links.count > 0 %}
          <ul>
            {% for link in links.all %}
            <li><a href="{{ link.uri }}">{{ link.name }} <span class="fa fa-external-link"></span></a>{% if link.lang %} ({{ link.lang }}){% endif %}</li>
            {% endfor %}
          </ul>
          {% else %}
          <p>{% translate 'No links.' %}</p>
          {% endif %}
        </div>
      </div>
    </div>

  </div>

{% endblock %}
