{% extends 'movies/base.html' %}

{% load i18n %}
{% load mimir %}
{% load static %}

{% block content_title %}
<a href="{% url 'serie_info' serie.id|stringformat:'06d' %}"><i>{{ serie.title }}</i></a> - {% translate 'Edit' %}
{% endblock %}

{% block title %}
{{ serie.title }} - {% translate 'Series' %} - Mimir
{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/select2.min.css' %}" media="all" />
{% endblock %}

{% block extra_foot %}
<script src="{% static 'js/select2/select2.min.js' %}"></script>
<script src="{% static 'js/select2/i18n/fr.js' %}"></script>

<script>
$(function() {
    $('#id_countries').select2();
});
</script>
{% endblock %}

{% block content %}

  {{ form.non_field_errors }}

  {% if form.subject.errors %}
    <ol>
      {% for error in form.subject.errors %}
      <li><strong>{{ error|escape }}</strong></li>
      {% endfor %}
    </ol>
  {% endif %}

  <div class="box box-primary">
    <form action="{% url 'serie_edit' serie.id %}" method="post" class="form">
      {% csrf_token %}

      <div class="box-body">
        {% for field in form.hidden_fields %}
          {{ field }}
        {% endfor %}
        {% for field in form.visible_fields %}
        <div class="form-group row{% if field.errors %} has-error{% endif %}">
          {{ field.errors }}
          <label for="{{ field.id_for_label }}" class="col-sm-2 col-form-label">{{ field.label }}</label>
          <div class="col-sm-10">{{ field|field_add_class:'form-control input-sm' }}</div>
          {% if field.help_text %}
            <p class="form-text text-muted">{{ field.help_text|safe }}</p>
          {% endif %}
        </div>
        {% endfor %}
      </div>

      <div class="box-footer">
        <input type="submit" class="btn btn-primary center-block" value="{% translate 'Submit' %}" />
      </div>
    </form>
  </div>

{% endblock %}
