{% extends 'movies/base.html' %}

{% load static %}
{% load i18n %}
{% load mimir %}
{% load movies %}

{% block content_title %}
<a href="{% url 'serie_info' serie.id|stringformat:'06d' %}"><i>{{ serie.title }}</i></a> - {% translate 'Import episodes' %}
{% endblock %}

{% block title %}
{{ serie.title }} - {% translate 'Series' %} - Mimir
{% endblock %}

{% block content %}

  <div class="box box-solid box-info">
    <div class="box-header with-border">
      <h3 class="box-title">{% translate 'Episodes' %}</h3>
    </div>

    <div class="box-body">
      <ul>
        {% for seasonName, seasonInfo in seasons.items %}
          <li>
            <span style="{% if seasonInfo.exists %}{% if not seasonInfo.object %}color: green{% endif %}{% else %}color: red{% endif %};">{{ seasonName}}</span>&nbsp;:
            <ul>
            {% for episodeInfo in seasonInfo.episodes %}
              <li>
                <span style="{% if episodeInfo.title %}{% if not episodeInfo.object %}color: green{% endif %}{% else %}color: red{% endif %};">
                {{ episodeInfo.title }}{% if episodeInfo.object %} (<a href="{% url 'movie_info' episodeInfo.object.movie.id|stringformat:'06d' %}">{{ episodeInfo.object.movie.title }}</a>){% endif %}
                </span>
              </li>
            {% endfor %}
            </ul>
          </li>
        {% endfor %}
      </ul>
    </div>

    <div class="box-footer">
      <form action="{% url 'serie_import_episodes' serie.id|stringformat:'06d' %}" method="post" class="form">
        {% csrf_token %}
        <input type="hidden" name="import" value="1" />
        <input type="submit" class="btn btn-primary center-block" value="{% translate 'Import' %}" />
      </form>
    </div>
  </div>

{% endblock %}
