{% extends 'movies/base.html' %}

{% load static %}
{% load i18n %}
{% load mimir %}
{% load movies %}

{% block content_title %}
{% translate 'Import serie' %}
{% endblock %}

{% block content %}

  <div class="box box-primary">
    <form action="{% url 'serie_import' %}" method="post" class="form">
      {% csrf_token %}

      <div class="box-body">
        <div class="form-group row">
          <label for="id_query" class="col-sm-2 col-form-label">Numéro ou lien IMDb</label>
          <div class="col-sm-10">
            <input name="query" maxlength="150" class="form-control input-sm" required="" id="id_query" type="text" value="{{ query }}" />
          </div>
        </div>
      </div>

      <div class="box-footer">
        <input type="submit" class="btn btn-primary center-block" value="{% translate 'Search' %}" />
      </div>
    </form>
  </div>

  {% if data %}

  <div class="box box-solid box-primary">
    <div class="box-header with-border">
      <h3 class="box-title">{% translate 'Serie' %}</h3>
    </div>

    <div class="box-body">
        <div class="box box-solid box-info">
          <div class="box-body">
            <dl class="dl-horizontal">
              <dt>{% translate 'Title' %}</dt><dd><i>{{ data.title }}</i></dd>
              {% if data.title_vo %}<dt>{% translate 'Original title' %}</dt><dd><i>{{ data.title_vo }}</i></dd>{% endif %}
              {% if data.imdb > 0 %}<dt>{% translate 'IMDb number' %}</dt><dd><a href="{{ data.imdb|imdb_link_title }}">{{ data.imdb }} <span class="fa fa-external-link"></span></a></dd>{% endif %}
              {% if data.duration > 0 %}<dt>{% translate 'Duration' %}</dt><dd>{{ data.duration|duration_txt }}</dd>{% endif %}
            </dl>
          </div>
      </div>

      {% if series.count > 0 %}
      <div class="alert alert-warning">
        <p><i class="icon fa fa-warning"></i>{% translate 'This serie is already in the database:' %}</p>
        <ul>
          {% for serie in series.all %}
          <li><a href="{% url 'serie_info' serie.id|stringformat:'06d' %}"><i>{{ serie.title }}</i></a></li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
    </div>

    <div class="box-footer">
      <form action="{% url 'serie_import' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="imdb" value="{{ data.imdb }}" />
        <input type="hidden" name="query" value="{{ query }}" />
        <input type="hidden" name="import" value="1" />
        <input type="submit" class="btn btn-primary center-block" value="{% translate 'Import' %}" />
      </form>
    </div>
  </div>

  {% endif %}

{% endblock %}
