{% load i18n %}

<aside class="main-sidebar">
  <section class="sidebar">

    <form action="{% url 'movies_search' %}" method="get" class="sidebar-form" role="search">
      <div class="input-group">
        <input type="text" name="q" class="form-control" placeholder="{% translate 'Search...' %}">
        <span class="input-group-btn">
          <button type="submit" id="search-btn" class="btn btn-flat">
            <i class="fa fa-search"></i>
          </button>
        </span>
      </div>
    </form>

    {% block nav_links %}
    <ul class="sidebar-menu" data-widget="tree">

      <li class="header">{% translate 'MOVIES' %}</li>
      <li class="{% if request.resolver_match.url_name == 'movies_list' %}active{% endif %}">
        <a href="{% url 'movies_list' %}">
          <i class="fa fa-list"></i> {% translate 'Movies list' %}
        </a>
      </li>
      {% if perms.movies.add_movie %}
      <li class="{% if request.resolver_match.url_name == 'movie_create' %}active{% endif %}">
        <a href="{% url 'movie_create' %}">
          <i class="fa fa-plus-square"></i> {% translate 'Create movie' %}
        </a>
      </li>
      {% endif %}

      <li class="header">{% translate 'SERIES' %}</li>
      <li class="{% if request.resolver_match.url_name == 'series_list' %}active{% endif %}">
        <a href="{% url 'series_list' %}">
          <i class="fa fa-list"></i> {% translate 'Series list' %}
        </a>
      </li>
      {% if perms.movies.add_serie %}
      <li class="{% if request.resolver_match.url_name == 'serie_create' %}active{% endif %}">
        <a href="{% url 'serie_create' %}">
          <i class="fa fa-plus-square"></i> {% translate 'Create serie' %}
        </a>
      </li>
      {% endif %}

      <li class="header">{% translate 'SAGAS' %}</li>
      <li class="{% if request.resolver_match.url_name == 'sagas_list' %}active{% endif %}">
        <a href="{% url 'sagas_list' %}">
          <i class="fa fa-list"></i> {% translate 'Sagas list' %}
        </a>
      </li>
      {% if perms.movies.add_saga %}
      <li class="{% if request.resolver_match.url_name == 'saga_create' %}active{% endif %}">
        <a href="{% url 'saga_create' %}">
          <i class="fa fa-plus-square"></i> {% translate 'Create saga' %}
        </a>
      </li>
      {% endif %}

      <li class="header">{% translate 'OTHERS' %}</li>
      <li class="{% if request.resolver_match.url_name == 'movies_stats' %}active{% endif %}">
        <a href="{% url 'movies_stats' %}">
          <i class="fa fa-bar-chart"></i> {% translate 'Statistics' %}
        </a>
      </li>
      {% if user.is_authenticated %}
      <li class="{% if request.resolver_match.url_name == 'lists_list' %}active{% endif %}">
        <a href="{% url 'lists_list' %}">
          <i class="fa fa-list"></i> {% translate 'Lists' %}
        </a>
      </li>
      <li class="{% if request.resolver_match.url_name == 'movies_views_stats' %}active{% endif %}">
        <a href="{% url 'movies_views_stats' %}">
          <i class="fa fa-bar-chart"></i> {% translate 'Views' %}
        </a>
      </li>
      {% endif %}
      <li class="{% if request.resolver_match.url_name == 'movies_search' %}active{% endif %}">
        <a href="{% url 'movies_search' %}">
          <i class="fa fa-search"></i> {% translate 'Search' %}
        </a>
      </li>

    </ul>
    {% endblock nav_links %}
  </section>
</aside>
