{% extends 'movies/base.html' %}

{% load i18n %}
{% load static %}
{% load mimir %}
{% load movies %}

{% block content_title %}
{% translate 'Views' %}
{% endblock %}

{% block content_header %}
<section class="content-header">
  <h1>{% translate 'Views' %}
    <div class="pull-right">
      <a href="{% url 'movies_views_export' %}" class="btn btn-sm btn-primary">{% translate 'Export' %}</a>
    </div>
  </h1>
</section>
{% endblock content_header %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/datatables/dataTables.min.css' %}">
<style>
canvas {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
</style>
{% endblock %}

{% block extra_foot %}
<script src="{% static 'js/Chart.min.js' %}"></script>
<script src="{% static 'js/datatables/datatables.min.js' %}"></script>

<script>
$(function() {
  {% if years %}
    var chart = new Chart($("#chart_years"), {
        "type": "bar",
        "data": {
            "labels": [{% for e in years %}{{ e.year }}, {% endfor %}],
            "datasets": [{
                "label": "{% translate 'Movies' %}",
                "data": [{% for e in years %}{{ e.movies }}, {% endfor %}],
                "backgroundColor": "rgb(255, 99, 132)",
                "borderWidth": 1,
            },{
                "label": "{% translate 'Episodes' %}",
                "data": [{% for e in years %}{{ e.episodes }}, {% endfor %}],
                "backgroundColor": "rgb(255, 205, 86)",
                "borderWidth": 1,
            }],
        },
        "options": {
            "maintainAspectRatio": false,
            "legend": {
                "position": "right",
            },
            "scales": {
                "yAxes": [{
                    "ticks": {
                        "beginAtZero": true,
                    }
                }],
            },
        },
    });
  {% endif %}

  {% if countries %}
    var chart = new Chart($("#chart_countries"), {
        "type": "doughnut",
        "data": {
            "labels": [{% for e in countries %}{% if forloop.counter <= 6 %}"{{ e.country|escapejs }}", {% endif %}{% endfor %}],
            "datasets": [{
                "label": "{% translate 'Movies' %}",
                "data": [{% for e in countries %}{% if forloop.counter <= 6 %}{{ e.movies }}, {% endif %}{% endfor %}],
                "backgroundColor": [
                    "rgba(255, 99, 132, 0.5)",
                    "rgba(54, 162, 235, 0.5)",
                    "rgba(255, 206, 86, 0.5)",
                    "rgba(75, 192, 192, 0.5)",
                    "rgba(153, 102, 255, 0.5)",
                    "rgba(255, 159, 64, 0.5)",
                ],
            }],
        },
        "options": {
            "maintainAspectRatio": false,
        },
    });
  {% endif %}

    function makeDataTable(obj, options={}) {
        var opt = {
            "paging"      : true,
            "lengthChange": true,
            "searching"   : false,
            "ordering"    : true,
            "info"        : true,
            "autoWidth"   : true,
            "language": {
                "processing":     "Traitement en cours...",
                "search":         "Rechercher&nbsp;:",
                "lengthMenu":     "Afficher _MENU_ &eacute;l&eacute;ments",
                "info":           "Affichage de l'&eacute;lement _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
                "infoEmpty":      "Affichage de l'&eacute;lement 0 &agrave; 0 sur 0 &eacute;l&eacute;ments",
                "infoFiltered":   "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
                "infoPostFix":    "",
                "loadingRecords": "Chargement en cours...",
                "zeroRecords":    "Aucun &eacute;l&eacute;ment &agrave; afficher",
                "emptyTable":     "Aucune donnée disponible dans le tableau.",
                "paginate": {
                    "first":      "Premier",
                    "previous":   "Pr&eacute;c&eacute;dent",
                    "next":       "Suivant",
                    "last":       "Dernier"
                },
                "aria": {
                    "sortAscending":  ": activer pour trier la colonne par ordre croissant",
                    "sortDescending": ": activer pour trier la colonne par ordre décroissant"
                }
            },
        };
        jQuery.extend(opt, options);
        obj.DataTable(opt);
    }

    makeDataTable($("#movies_list"), {"order": [[1, "desc"]]});
    makeDataTable($("#episodes_list"), {"order": [[2, "desc"]]});
    makeDataTable($("#countries_table"), {"order": [[1, "desc"]], "lengthChange": false});
});
</script>
{% endblock %}

{% block content %}

<div class="box box-solid box-info">
  <div class="box-header with-border">
    <h3 class="box-title">{% translate 'Statistics' %}</h3>
    <div class="box-tools pull-right">
      <button type="button" class="btn btn-box-tool" data-widget="collapse">
        <i class="fa fa-minus"></i>
      </button>
    </div>
  </div>
  <div class="box-body">
    <ul>
      <li>Nombre de visionnages&nbsp;: {{ views_count }}</li>
      <li>Nombre de films vus&nbsp;: {{ movies_count }} (dont {{ movies_long_count }} longs-métrages)</li>
      <li>Nombre d'épisodes vus&nbsp;: {{ episodes_count }}</li>
    </ul>
  </div>
</div>

<div class="box box-solid box-info">
  <div class="box-header with-border">
    <h3 class="box-title">{% translate 'Movies' %}</h3>
    <div class="box-tools pull-right">
      <button type="button" class="btn btn-box-tool" data-widget="collapse">
        <i class="fa fa-minus"></i>
      </button>
    </div>
  </div>
  <div class="box-body">
    {% if views_movies|length > 0 %}
    <table class="table table-bordered table-stripped table-hover" id="movies_list">
      <thead>
        <tr>
          <th>{% translate 'Title' %}</th>
          <th>{% translate 'Date' %}</th>
          <th>{% translate 'Duration' %}</th>
          <th>{% translate 'Language' context 'language' %}</th>
          <th>{% translate 'Subtitles' %}</th>
          <th data-sortable="false">{% translate 'Information' %}</th>
        </tr>
      </thead>
      <tbody>
        {% for view in views_movies %}
        <tr>
          <td>
            <a href="{% url 'movie_info' view.movie.id|stringformat:'06d' %}"><i>{{ view.movie.title }}</i></a>
            {% if view.movie.title_vo and view.movie.title_vo != view.movie.title %} (<i>{{ view.movie.title_vo }}</i>){% endif %}
          </td>
          <td><span class="hidden">{% if view.date %}{{ view.date }}{% else %}0000-00-00{% endif %}</span>{{ view.date|date_format }}</td>
          <td>{% if view.lang %}{{ view.lang }}{% endif %}</td>
          <td>{% if view.movie.duration > 0 %}{{ view.movie.duration|duration_txt }}{% endif %}</td>
          <td>{% if view.sublang %}{{ view.sublang }}{% endif %}</td>
          <td>{{ view.info }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <p>{% translate 'No movies.' %}</p>
    {% endif %}
  </div>
</div>

{% if years %}
<div class="box box-solid box-info">
  <div class="box-header with-border">
    <h3 class="box-title">{% translate 'Years' %}</h3>
    <div class="box-tools pull-right">
      <button type="button" class="btn btn-box-tool" data-widget="collapse">
        <i class="fa fa-minus"></i>
      </button>
    </div>
  </div>
  <div class="box-body">
    <div style="position: relative; max-height: 300px; overflow: hidden; height: 300px;">
      <canvas id="chart_years" height="300"></canvas>
    </div>
  </div>
</div>
{% endif %}

{% if countries %}
<div class="box box-solid box-info">
  <div class="box-header with-border">
    <h3 class="box-title">{% translate 'Countries' %}</h3>
    <div class="box-tools pull-right">
      <button type="button" class="btn btn-box-tool" data-widget="collapse">
        <i class="fa fa-minus"></i>
      </button>
    </div>
  </div>
  <div class="box-body">
    <div style="position: relative; max-height: 300px; overflow: hidden; height: 300px;">
      <canvas id="chart_countries" height="300"></canvas>
    </div>

    <table class="table table-bordered table-stripped table-hover" id="countries_table">
      <thead>
        <tr>
          <th>{% translate 'Country' context 'The country' %}</th>
          <th>{% translate 'Movies' %}</th>
        </tr>
      </thead>
      <tbody>
      {% for e in countries %}
        <tr>
          <td><a href="{% url 'country_info' e.country.code %}">{{ e.country }}</a></td>
          <td>{{ e.movies }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endif %}

<div class="box box-solid box-info">
  <div class="box-header with-border">
    <h3 class="box-title">{% translate 'Episodes' %}</h3>
    <div class="box-tools pull-right">
      <button type="button" class="btn btn-box-tool" data-widget="collapse">
        <i class="fa fa-minus"></i>
      </button>
    </div>
  </div>
  <div class="box-body">
    {% if views_episodes|length > 0 %}
    <table class="table table-bordered table-stripped table-hover" id="episodes_list">
      <thead>
        <tr>
          <th>{% translate 'Serie' %}</th>
          <th>{% translate 'Title' %}</th>
          <th>{% translate 'Date' %}</th>
          <th>{% translate 'Language' context 'language' %}</th>
          <th>{% translate 'Subtitles' %}</th>
          <th data-sortable="false">{% translate 'Information' %}</th>
        </tr>
      </thead>
      <tbody>
        {% for view in views_episodes %}
        <tr>
          <td>
            <a href="{% url 'serie_info' view.movie.episode.season.serie.id|stringformat:'06d' %}">{{ view.movie.episode.season.serie.title }}</a>
            ({{ view.movie.episode.season.name }} épisode n° {{ view.movie.episode|get_order }})
          </td>
          <td>
            <a href="{% url 'movie_info' view.movie.id|stringformat:'06d' %}"><i>{{ view.movie.title }}</i></a>
            {% if view.movie.title_vo and view.movie.title_vo != view.movie.title %} (<i>{{ view.movie.title_vo }}</i>){% endif %}
          </td>
          <td><span class="hidden">{% if view.date %}{{ view.date }}{% else %}0000-00-00{% endif %}</span>{{ view.date|date_format }}</td>
          <td>{% if view.lang %}{{ view.lang }}{% endif %}</td>
          <td>{% if view.sublang %}{{ view.sublang }}{% endif %}</td>
          <td>{{ view.info }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <p>{% translate 'No episodes.' %}</p>
    {% endif %}
  </div>
</div>

{% endblock %}
