{% extends 'movies/base.html' %}

{% load i18n %}
{% load static %}

{% block content_title %}
{% translate 'Statistics' %}
{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/datatables/dataTables.min.css' %}">
<style>
canvas {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
</style>
{% endblock %}

{% block extra_foot %}
<script src="{% static 'js/Chart.min.js' %}"></script>
<script src="{% static 'js/datatables/datatables.min.js' %}"></script>

<script>
$(function() {

  {% if stats.years %}
    var chart = new Chart($("#chart_years"), {
        "type": "bar",
        "data": {
            "labels": [{% for e in stats.years %}{{ e.year }}, {% endfor %}],
            "datasets": [{
                "label": "{% translate 'Movies' %}",
                "data": [{% for e in stats.years %}{{ e.movies }}, {% endfor %}],
                "backgroundColor": "rgb(255, 99, 132)",
                "borderWidth": 1,
            },{
                "label": "{% translate 'Episodes' %}",
                "data": [{% for e in stats.years %}{{ e.episodes }}, {% endfor %}],
                "backgroundColor": "rgb(255, 205, 86)",
                "borderWidth": 1,
            }],
        },
        "options": {
            "maintainAspectRatio": false,
            "legend": {
                "position": "right",
            },
            "scales": {
                "yAxes": [{
                    "ticks": {
                        "beginAtZero": true,
                    }
                }],
            },
        },
    });
  {% endif %}

  {% if stats.countries %}
    var chart = new Chart($("#chart_countries"), {
        "type": "doughnut",
        "data": {
            "labels": [{% for e in stats.countries %}{% if forloop.counter <= 6 %}"{{ e.country|escapejs }}", {% endif %}{% endfor %}],
            "datasets": [{
                "label": "{% translate 'Movies' %}",
                "data": [{% for e in stats.countries %}{% if forloop.counter <= 6 %}{{ e.movies }}, {% endif %}{% endfor %}],
                "backgroundColor": [
                    "rgba(255, 99, 132, 0.5)",
                    "rgba(54, 162, 235, 0.5)",
                    "rgba(255, 206, 86, 0.5)",
                    "rgba(75, 192, 192, 0.5)",
                    "rgba(153, 102, 255, 0.5)",
                    "rgba(255, 159, 64, 0.5)",
                ],
            }],
        },
        "options": {
            "maintainAspectRatio": false,
        },
    });
  {% endif %}

    function makeDataTable(obj, options={}) {
        var opt = {
            "paging"      : true,
            "lengthChange": false,
            "searching"   : false,
            "ordering"    : true,
            "info"        : true,
            "autoWidth"   : true,
            "language": {
                "processing":     "Traitement en cours...",
                "search":         "Rechercher&nbsp;:",
                "lengthMenu":     "Afficher _MENU_ &eacute;l&eacute;ments",
                "info":           "Affichage de l'&eacute;lement _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
                "infoEmpty":      "Affichage de l'&eacute;lement 0 &agrave; 0 sur 0 &eacute;l&eacute;ments",
                "infoFiltered":   "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
                "infoPostFix":    "",
                "loadingRecords": "Chargement en cours...",
                "zeroRecords":    "Aucun &eacute;l&eacute;ment &agrave; afficher",
                "emptyTable":     "Aucune donnée disponible dans le tableau.",
                "paginate": {
                    "first":      "Premier",
                    "previous":   "Pr&eacute;c&eacute;dent",
                    "next":       "Suivant",
                    "last":       "Dernier"
                },
                "aria": {
                    "sortAscending":  ": activer pour trier la colonne par ordre croissant",
                    "sortDescending": ": activer pour trier la colonne par ordre décroissant"
                }
            },
        };
        jQuery.extend(opt, options);
        obj.DataTable(opt);
    }

    makeDataTable($("#countries_table"), {"order": [[1, "desc"]]});
});
</script>
{% endblock %}

{% block content %}

<div class="box box-solid box-info">
  <div class="box-header with-border">
    <h3 class="box-title">{% translate 'Statistics' %}</h3>
    <div class="box-tools pull-right">
      <button type="button" class="btn btn-box-tool" data-widget="collapse">
        <i class="fa fa-minus"></i>
      </button>
    </div>
  </div>
  <div class="box-body">
    <ul>
      <li>Nombre de films&nbsp;: {{ stats.movies_count }}
        <ul>
          <li>Nombre de longs-métrages&nbsp;: {{ stats.movies_long_count }}</li>
          <li>Nombre de moyens-métrages&nbsp;: {{ stats.movies_medium_count }}</li>
          <li>Nombre de courts-métrages&nbsp;: {{ stats.movies_short_count }}</li>
        </ul>
      </li>
      <li>Nombre de séries&nbsp;: {{ stats.series_count }}</li>
      <li>Nombre d'épisodes&nbsp;: {{ stats.episodes_count }}</li>
      <li>Nombre de sagas&nbsp;: {{ stats.sagas_count }}</li>
    </ul>
  </div>
</div>

{% if stats.years %}
<div class="box box-solid box-info">
  <div class="box-header with-border">
    <h3 class="box-title">{% translate 'Years' %}</h3>
    <div class="box-tools pull-right">
      <button type="button" class="btn btn-box-tool" data-widget="collapse">
        <i class="fa fa-minus"></i>
      </button>
    </div>
  </div>
  <div class="box-body">
    <div style="position: relative; max-height: 300px; overflow: hidden; height: 300px;">
      <canvas id="chart_years" height="300"></canvas>
    </div>
  </div>
</div>
{% endif %}

{% if stats.countries %}
<div class="box box-solid box-info">
  <div class="box-header with-border">
    <h3 class="box-title">{% translate 'Countries' %}</h3>
    <div class="box-tools pull-right">
      <button type="button" class="btn btn-box-tool" data-widget="collapse">
        <i class="fa fa-minus"></i>
      </button>
    </div>
  </div>
  <div class="box-body">
    <div style="position: relative; max-height: 300px; overflow: hidden; height: 300px;">
      <canvas id="chart_countries" height="300"></canvas>
    </div>

    <table class="table table-bordered table-stripped table-hover" id="countries_table">
      <thead>
        <tr>
          <th>{% translate 'Country' context 'The country' %}</th>
          <th>{% translate 'Movies' %}</th>
        </tr>
      </thead>
      <tbody>
      {% for e in stats.countries %}
        <tr>
          <td><a href="{% url 'country_info' e.country.code %}">{{ e.country }}</a></td>
          <td>{{ e.movies }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endif %}

{% endblock %}
