{% extends 'movies/base.html' %}

{% load i18n %}
{% load mimir %}
{% load static %}

{% block content_header %}
<section class="content-header">
  <h1>{% translate 'Year' %} {{ year }}
    <a href="{% url 'movies_year' year|add:-1 %}" class="btn btn-xs btn-primary"><span class="fa fa-chevron-left"></span> {% translate 'Previous' %}</a>
    <a href="{% url 'movies_year' year|add:1 %}" class="btn btn-xs btn-primary"><span class="fa fa-chevron-right"></span> {% translate 'Next' %}</a>
  </h1>
</section>
{% endblock content_header %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/datatables/dataTables.min.css' %}" />
{% endblock %}

{% block extra_foot %}
<script src="{% static 'js/datatables/datatables.min.js' %}"></script>

<script>
$(function() {
    function makeDataTable(obj, options={}) {
        var opt = {
            "paging"      : false,
            "lengthChange": false,
            "searching"   : false,
            "ordering"    : true,
            "info"        : false,
            "autoWidth"   : true,
            "language": {
                "processing":     "Traitement en cours...",
                "search":         "Rechercher&nbsp;:",
                "lengthMenu":     "Afficher _MENU_ &eacute;l&eacute;ments",
                "info":           "Affichage de l'&eacute;lement _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
                "infoEmpty":      "Affichage de l'&eacute;lement 0 &agrave; 0 sur 0 &eacute;l&eacute;ments",
                "infoFiltered":   "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
                "infoPostFix":    "",
                "loadingRecords": "Chargement en cours...",
                "zeroRecords":    "Aucun &eacute;l&eacute;ment &agrave; afficher",
                "emptyTable":     "Aucune donnée disponible dans le tableau.",
                "paginate": {
                    "first":      "Premier",
                    "previous":   "Pr&eacute;c&eacute;dent",
                    "next":       "Suivant",
                    "last":       "Dernier"
                },
                "aria": {
                    "sortAscending":  ": activer pour trier la colonne par ordre croissant",
                    "sortDescending": ": activer pour trier la colonne par ordre décroissant"
                }
            },
        };
        jQuery.extend(opt, options);
        obj.DataTable(opt);
    }

    makeDataTable($("#movies_list"), {"order": [[1, "asc"]]});
    makeDataTable($("#episodes_list"), {"order": [[3, "asc"]]});
});
</script>
{% endblock %}

{% block content %}

  <div class="box box-solid box-info">
    <div class="box-header with-border">
      <h3 class="box-title">{% translate 'Movies' %}</h3>
      <div class="box-tools pull-right">
        <button type="button" class="btn btn-box-tool" data-widget="collapse">
          <i class="fa fa-minus"></i>
        </button>
      </div>
    </div>
    <div class="box-body">
      {% if movies|length > 0 %}
      <table class="table table-bordered table-stripped table-hover" id="movies_list">
        <thead>
          <tr>
            <th>{% translate 'Title' %}</th>
            <th>{% translate 'Date' %}</th>
          </tr>
        </thead>
        <tbody>
          {% for movie in movies %}
          <tr>
            <td>
              <a href="{% url 'movie_info' movie.id|stringformat:'06d' %}" class="{% if movie.viewed %}movie_viewed{% else %}movie_not_viewed{% endif %}"><i>{{ movie.title }}</i></a>
              {% if movie.title_vo and movie.title_vo != movie.title %} (<i>{{ movie.title_vo }}</i>){% endif %}
            </td>
            <td><span class="hidden">{{ movie.date }}</span>{{ movie.date|date_format }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <p>{% translate 'No movies.' %}</p>
      {% endif %}
    </div>
  </div>

  {% if episodes|length > 0 %}
  <div class="box box-solid box-info">
    <div class="box-header with-border">
      <h3 class="box-title">{% translate 'Episodes' %}</h3>
      <div class="box-tools pull-right">
        <button type="button" class="btn btn-box-tool" data-widget="collapse">
          <i class="fa fa-minus"></i>
        </button>
      </div>
    </div>
    <div class="box-body">
      <table class="table table-bordered table-stripped table-hover" id="episodes_list">
        <thead>
          <tr>
            <th>{% translate 'Serie' %}</th>
            <th>{% translate 'Episode' %}</th>
            <th>{% translate 'Title' %}</th>
            <th>{% translate 'Date' %}</th>
          </tr>
        </thead>
        <tbody>
          {% for movie in episodes %}
          <tr>
            <td>
              <a href="{% url 'serie_info' movie.episode.season.serie.id|stringformat:'06d' %}"><i>{{ movie.episode.season.serie.title }}</i></a>
              {% if movie.episode.season.serie.title_vo and movie.episode.season.serie.title_vo != movie.episode.season.serie.title %}(<i>{{ movie.episode.season.serie.title_vo}}</i>){% endif %}
            </td>
            <td>{{ movie.episode.season.name }} {% translate 'episode' context 'episode num' %} {{ movie.episode|get_order }}</td>
            <td>
              <a href="{% url 'movie_info' movie.id|stringformat:'06d' %}" class="{% if movie.viewed %}movie_viewed{% else %}movie_not_viewed{% endif %}"><i>{{ movie.title }}</i></a>
              {% if movie.title_vo and movie.title_vo != movie.title %} (<i>{{ movie.title_vo }}</i>){% endif %}
            </td>
            <td><span class="hidden">{{ movie.date }}</span>{{ movie.date|date_format }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  {% endif %}

{% endblock %}
