
.navbar-nav > .user-menu > .dropdown-menu {
    width: 300px;
}


a.work_read::before,
a.work_not_read::before,
a.movie_viewed::before,
a.movie_not_viewed::before,
a.game_played::before,
a.game_finished::before,
a.game_not_played::before {
    content: ' ';
    width: 8px;
    height: 8px;
    border-radius: 4px;
    display: inline-block;
    margin-right: 5px;
}

a.work_read::before,
a.movie_viewed::before,
a.game_finished::before {
    background-color: green;
}

a.game_played::before {
    background-color: blue;
}

a.work_not_read::before,
a.movie_not_viewed::before,
a.game_not_played::before {
    background-color: orange;
}


.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #3c8dbc !important;
    border-color: #367fa9 !important;
    color: #fff;
}
