{% extends 'games/base.html' %}

{% load static %}
{% load i18n %}
{% load mimir %}

{% block content_title %}
{% translate 'Games' %}
{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/datatables/dataTables.min.css' %}">
{% endblock %}

{% block extra_foot %}
<script src="{% static 'js/datatables/datatables.min.js' %}"></script>

<script>
$(function() {
    $('#games_list').DataTable({
        "paging"      : true,
        "lengthChange": true,
        "searching"   : false,
        "ordering"    : true,
        "info"        : true,
        "autoWidth"   : true,
        "stateSave"   : true,
        "processing"  : true,
        "serverSide"  : true,
        "ajax": {
            "url": "{% url 'games_api_list' %}",
            "dataFilter": function(data) {
                var json = jQuery.parseJSON(data);

                for (var i = 0; i < json.data.length; ++i) {
                    json.data[i]["title_url"] = '<a href="' + json.data[i]['url'] + '"';
                    if (json.data[i]["finished"] === true) {
                        json.data[i]["title_url"] += ' class="game_finished"';
                    } else if (json.data[i]["played"] === true) {
                        json.data[i]["title_url"] += ' class="game_played"';
                    } else if (json.data[i]["played"] === false) {
                        json.data[i]["title_url"] += ' class="game_not_played"';
                    }
                    json.data[i]["title_url"] += '><i>' + json.data[i]["title"] + '</i></a>';
                }

                return JSON.stringify(json);
            },
        },
        "columns": [
            { "data": "title_url" },
            { "data": "year" },
            { "data": "editor" },
            { "data": "platform" },
        ],
        "language": {
            "processing":     "Traitement en cours...",
            "search":         "Rechercher&nbsp;:",
            "lengthMenu":     "Afficher _MENU_ &eacute;l&eacute;ments",
            "info":           "Affichage de l'&eacute;lement _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
            "infoEmpty":      "Affichage de l'&eacute;lement 0 &agrave; 0 sur 0 &eacute;l&eacute;ments",
            "infoFiltered":   "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
            "infoPostFix":    "",
            "loadingRecords": "Chargement en cours...",
            "zeroRecords":    "Aucun &eacute;l&eacute;ment &agrave; afficher",
            "emptyTable":     "Aucune donnée disponible dans le tableau.",
            "paginate": {
                "first":      "Premier",
                "previous":   "Pr&eacute;c&eacute;dent",
                "next":       "Suivant",
                "last":       "Dernier"
            },
            "aria": {
                "sortAscending":  ": activer pour trier la colonne par ordre croissant",
                "sortDescending": ": activer pour trier la colonne par ordre décroissant"
            }
        },
    });
});
</script>
{% endblock %}

{% block content %}

  <div class="box box-solid box-info">

    <div class="box-header">
      <h3 class="box-title">{% translate 'Games list' %}</h3>
      {% if perms.games.add_game %}
      <div class="box-tools pull-right">
        <a href="{% url 'game_create' %}" class="btn btn-box-tool" title="{% translate 'Create game' %}">
          <i class="fa fa-plus-square"></i>
        </a>
      </div>
      {% endif %}
    </div>

    <div class="box-body">
      <table class="table table-bordered table-stripped table-hover" id="games_list">
        <thead>
          <tr>
            <th>{% translate 'Title' %}</th>
            <th>{% translate 'Year' %}</th>
            <th>{% translate 'Editor' %}</th>
            <th>{% translate 'Platform' %}</th>
          </tr>
        </thead>
        <tbody>
          {% for game in games %}
          <tr>
            <td><a href="{% url 'game_info' game.id|stringformat:'06d' %}"><i>{{ game.title }}</i></a></td>
            <td>{{ game.year }}</td>
            <td>{{ game.editor }}</td>
            <td>{{ game.platform }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

{% endblock %}
