{% extends 'games/base.html' %}

{% load static %}
{% load i18n %}
{% load mimir %}

{% block footer_right %}
{% if game.creation %}{% translate 'Creation:' %} {{ game.creation }}.{% endif %}
{% if game.modification %}{% translate 'Last modification:' %} {{ game.modification }}.{% endif %}
{% endblock %}

{% block title %}
{{ game.title }} - {% translate 'Games' %} - Mimir
{% endblock %}

{% block content_header %}
<section class="content-header">
  <h1><i>{{ game.title }}</i>
    {% if perms.games.change_game or perms.games.delete_game %}
    <div class="pull-right">
      {% if perms.games.change_game %}
      <a href="{% url 'game_edit' game.id|stringformat:'06d' %}" class="btn btn-sm btn-warning">{% translate 'Edit' %}</a>
      {% endif %}
      {% if perms.games.delete_game %}
      <a href="{% url 'game_delete' game.id|stringformat:'06d' %}" class="btn btn-sm btn-danger">{% translate 'Delete' %}</a>
      {% endif %}
    </div>
    {% endif %}
  </h1>
</section>
{% endblock content_header %}

{% block content %}

  <div class="row">
    <div class="col-md-4">
      <div class="box box-solid box-info">
        <div class="box-body">
          <dl class="dl-horizontal">
            <dt>{% translate 'Title' %}</dt><dd><i>{{ game.title }}</i></dd>
            {% if game.title_vo %}<dt>{% translate 'Original title' %}</dt><dd><i>{{ game.title_vo }}</i></dd>{% endif %}
            {% if game.year %}<dt>{% translate 'Year' %}</dt><dd>{{ game.year }}</dd>{% endif %}
            {% if game.editor %}<dt>{% translate 'Editor' %}</dt><dd>{{ game.editor }}</dd>{% endif %}
            {% if game.developper %}<dt>{% translate 'Developper' %}</dt><dd>{{ game.developper }}</dd>{% endif %}
            {% if game.platform %}<dt>{% translate 'Platform' %}</dt><dd>{{ game.platform }}</dd>{% endif %}

            {% if game.sagas.count > 0 %}
            <dt>{% blocktranslate count c=game.sagas.count %}Saga{% plural %}Sagas{% endblocktranslate %}</dt>
            <dd>
              {% for sagaGame in game.sagas.all %}
                {% if not forloop.first %}, {% endif %}
                <a href="{% url 'games_saga_info' sagaGame.saga.id|stringformat:'06d' %}">{{ sagaGame.saga.title }}</a> (n° {{ sagaGame|get_order }})
              {% endfor %}
            </dd>
            {% endif %}
          </dl>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      {% if game.image %}
      <div class="box box-solid box-info" style="width: 220px;">
        <div class="box-body">
          <img src="{{ game.image.url }}" style="max-width: 200px; max-height: 300px;" class="center-block" />
        </div>
      </div>
      {% endif %}
    </div>

    {% if user.is_authenticated %}
    <div class="col-md-4">
      <div class="box box-solid box-info">
        <div class="box-header with-border">
          <h3 class="box-title">{% translate 'User' %}</h3>
          <div class="box-tools pull-right">
            <a href="{% url 'game_edit_user' game.id|stringformat:'06d' %}" class="btn btn-box-tool" title="{% translate 'Edit' %}">
              <i class="fa fa-edit"></i>
            </a>
          </div>
        </div>
        <div class="box-body">
          <dl class="dl-horizontal">
            <dt>{% translate 'Bought' %}</dt>
            <dd>{% if gameuser.bought %}{% translate 'Yes' %}{% else %}{% translate 'No' %}{% endif %}{% if gameuser.location %} ({{ gameuser.location }}){% endif %}</dd>
            <dt>{% translate 'Played' %}</dt>
            <dd>{% if gameuser.played %}{% translate 'Yes' %}{% else %}{% translate 'No' %}{% endif %}</dd>
            <dt>{% translate 'Finished' %}</dt>
            <dd>{% if gameuser.finished %}{% translate 'Yes' %}{% else %}{% translate 'No' %}{% endif %}</dd>
          </dl>
          {% if gameuser.notes %}{{ gameuser.notes }}{% endif %}
        </div>
      </div>
    </div>
    {% endif %}
  </div>

  {% if game.info %}
  <div class="box box-solid box-info">
    <div class="box-header with-border">
      <h3 class="box-title">{% translate 'Information' %}</h3>
      <div class="box-tools pull-right">
        <button type="button" class="btn btn-box-tool" data-widget="collapse">
          <i class="fa fa-minus"></i>
        </button>
      </div>
    </div>
    <div class="box-body">{{ game.info|linebreaks }}</div>
  </div>
  {% endif %}

  {% comment %}
  <div class="box box-solid box-info">
    <div class="box-header with-border">
      <h3 class="box-title">{% translate 'References' %}</h3>
      <div class="box-tools pull-right">
        {% if user.is_authenticated %}
        <a href="{% url 'game_edit_refs' game.id|stringformat:'06d' %}" class="btn btn-box-tool" title="{% translate 'Edit references' %}">
          <i class="fa fa-edit"></i>
        </a>
        <a href="{% url 'game_add_ref' game.id|stringformat:'06d' %}" class="btn btn-box-tool" title="{% translate 'Add reference' %}">
          <i class="fa fa-plus-square"></i>
        </a>
        {% endif %}
        <button type="button" class="btn btn-box-tool" data-widget="collapse">
          <i class="fa fa-minus"></i>
        </button>
      </div>
    </div>
    <div class="box-body">
      {% if game.refs.count > 0 %}
      <ul>
        {% for ref in game.refs.all %}
        <li>
          {% if ref.ref_movie %}
            {% if ref.ref_movie.episode %}{% translate 'Episode' %} <a href="{% url 'serie_info' ref.ref_movie.episode.season.serie.id|stringformat:'06d' %}"><i>{{ ref.ref_movie.episode.season.serie.title }}</i></a> - {% else %}{% translate 'Movie' %} {% endif %}
            <a href="{% url 'movie_info' ref.ref_movie.id|stringformat:'06d' %}"><i>{{ ref.ref_movie.title }}</i></a>
            {% if ref.info %} ({{ ref.info }}){% endif %}
          {% elif ref.ref_serie %}
            {% translate 'Serie' %} <a href="{% url 'serie_info' ref.ref_serie.id|stringformat:'06d' %}"><i>{{ ref.ref_serie.title }}</i></a>
            {% if ref.info %} ({{ ref.info }}){% endif %}
          {% elif ref.ref_person %}
            <a href="{% url 'person_info' ref.ref_person.id|stringformat:'06d' %}">{% if ref.ref_person.gender == 'M' %}<i class="fa fa-male"></i>{% elif ref.ref_person.gender == 'F' %}<i class="fa fa-female"></i>{% endif %}{{ ref.ref_person.name }}</a>
            {% if ref.info %} ({{ ref.info }}){% endif %}
          {% elif ref.ref_book %}
            {% translate 'Work' %} <a href="{% url 'work_info' ref.ref_book.id|stringformat:'06d' %}"><i>{{ ref.ref_book.title }}</i></a>
            {% if ref.ref_book.author_credit %} {% translate 'by' %} {{ ref.ref_book.author_credit }}{% endif %}
            {% if ref.ref_book.authors.count > 0 %}
              {% if ref.ref_book.author_credit %} ({% else %} {% translate 'by' %} {% endif %}
              {% for author in ref.ref_book.authors.all %}{% if not forloop.first %}, {% endif %}<a href="{% url 'person_info' author.id|stringformat:'06d' %}">{{ author.name }}</a>{% endfor %}
              {% if ref.ref_book.author_credit %}){% endif %}
            {% endif %}
            {% if ref.info %} ({{ ref.info }}){% endif %}
          {% elif ref.ref_game %}
            {% translate 'Game' %} <a href="{% url 'game_info' ref.ref_game.id|stringformat:'06d' %}"><i>{{ ref.ref_game.title }}</i></a>
            {% if ref.info %} ({{ ref.info }}){% endif %}
          {% else %}
            {{ ref.info }}
          {% endif %}
        </li>
        {% endfor %}
      </ul>
      {% else %}
      <p>{% translate 'No references.' %}</p>
      {% endif %}

      {% if game.ref_by.count > 0 %}
      <p>{% translate 'Referenced by:' %}</p>
      <ul>
        {% for ref in game.ref_by.all %}
        <li>
          {% if ref.movie.episode %}<a href="{% url 'serie_info' ref.movie.episode.season.serie.id|stringformat:'06d' %}"><i>{{ ref.movie.episode.season.serie.title }}</i></a> - {% endif %}
          <a href="{% url 'movie_info' ref.movie.id|stringformat:'06d' %}"><i>{{ ref.movie.title }}</i></a>
          {% if ref.info %} ({{ ref.info }}){% endif %}
        </li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>
  </div>
  {% endcomment %}

  {% if game.ref_by.all %}
  <div class="box box-solid box-info">
    <div class="box-header with-border">
      <h3 class="box-title">{% translate 'Referenced by' %}</h3>
      <div class="box-tools pull-right">
        <button type="button" class="btn btn-box-tool" data-widget="collapse">
          <i class="fa fa-minus"></i>
        </button>
      </div>
    </div>
    <div class="box-body">
      <ul>
        {% for ref in game.ref_by.all %}
        <li>
          {% if ref.movie.episode %}<a href="{% url 'serie_info' ref.movie.episode.season.serie.id|stringformat:'06d' %}"><i>{{ ref.movie.episode.season.serie.title }}</i></a> - {% endif %}
          <a href="{% url 'movie_info' ref.movie.id|stringformat:'06d' %}"><i>{{ ref.movie.title }}</i></a>
          {% if ref.info %} ({{ ref.info }}){% endif %}
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  {% endif %}

  <div class="row">

    <div class="col-md-12 col-lg-6">
      <div class="box box-solid box-info">
        <div class="box-header with-border">
          <h3 class="box-title">{% translate 'Tags' %}</h3>
          <div class="box-tools pull-right">
            {% if perms.games.change_gametag %}
            <a href="{% url 'game_edit_tags' game.id|stringformat:'06d' %}" class="btn btn-box-tool" title="{% translate 'Edit tags' %}">
              <i class="fa fa-edit"></i>
            </a>
            {% endif %}
            {% if perms.games.add_gametag %}
            <a href="{% url 'game_add_tag' game.id|stringformat:'06d' %}" class="btn btn-box-tool" title="{% translate 'Add tag' %}">
              <i class="fa fa-plus-square"></i>
            </a>
            {% endif %}
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
              <i class="fa fa-minus"></i>
            </button>
          </div>
        </div>
        <div class="box-body">
          {% if tags.count > 0 %}
          <ul>
            {% for gameTag in tags.all %}
            <li><a href="{% url 'tag_info' gameTag.tag.id|stringformat:'06d' %}">{{ gameTag.tag.name }}</a>{% if gameTag.info %} ({{ gameTag.info }}){% endif %}</li>
            {% endfor %}
          </ul>
          {% else %}
          <p>{% translate 'No tags.' %}</p>
          {% endif %}
        </div>
      </div>
    </div>

    <div class="col-md-12 col-lg-6">
      <div class="box box-solid box-info">
        <div class="box-header with-border">
          <h3 class="box-title">{% translate 'Attributes' %}</h3>
          <div class="box-tools pull-right">
            {% if perms.games.change_gameattribute %}
            <a href="{% url 'game_edit_attributes' game.id|stringformat:'06d' %}" class="btn btn-box-tool" title="{% translate 'Edit attributes' %}">
              <i class="fa fa-edit"></i>
            </a>
            {% endif %}
            {% if perms.games.add_gameattribute %}
            <a href="{% url 'game_add_attribute' game.id|stringformat:'06d' %}" class="btn btn-box-tool" title="{% translate 'Add attribute' %}">
              <i class="fa fa-plus-square"></i>
            </a>
            {% endif %}
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
              <i class="fa fa-minus"></i>
            </button>
          </div>
        </div>
        <div class="box-body">
          {% if game.attributes.count > 0 %}
          <ul>
            {% for attribute in game.attributes.all %}
            <li>{{ attribute.name }} : {{ attribute.value }}</li>
            {% endfor %}
          </ul>
          {% else %}
          <p>{% translate 'No attributes.' %}</p>
          {% endif %}
        </div>
      </div>
    </div>

    <div class="col-md-12 col-lg-6">
      <div class="box box-solid box-info">
        <div class="box-header with-border">
          <h3 class="box-title">{% translate 'Links' %}</h3>
          <div class="box-tools pull-right">
            {% if perms.games.change_gamelink %}
            <a href="{% url 'game_edit_links' game.id|stringformat:'06d' %}" class="btn btn-box-tool" title="{% translate 'Edit links' %}">
              <i class="fa fa-edit"></i>
            </a>
            {% endif %}
            {% if perms.games.add_gamelink %}
            <a href="{% url 'game_add_link' game.id|stringformat:'06d' %}" class="btn btn-box-tool" title="{% translate 'Add link' %}">
              <i class="fa fa-plus-square"></i>
            </a>
            {% endif %}
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
              <i class="fa fa-minus"></i>
            </button>
          </div>
        </div>
        <div class="box-body">
          {% if links.count > 0 %}
          <ul>
            {% for link in links.all %}
            <li><a href="{{ link.uri }}">{{ link.name }} <span class="fa fa-external-link"></span></a>{% if link.lang %} ({{ link.lang }}){% endif %}</li>
            {% endfor %}
          </ul>
          {% else %}
          <p>{% translate 'No links.' %}</p>
          {% endif %}
        </div>
      </div>
    </div>

  </div>

{% endblock %}
