{% extends 'games/base.html' %}

{% load i18n %}

{% block content_title %}
<a href="{% url 'game_info' game.id|stringformat:'06d' %}"><i>{{ game.title }}</i></a> - {% translate 'Add link' %}
{% endblock %}

{% block title %}
{{ game.title }} - {% translate 'Games' %} - Mimir
{% endblock %}

{% block content %}
{% include 'form_add_object.html' %}
{% endblock %}
