{% extends 'games/base.html' %}

{% load i18n %}
{% load mimir %}

{% block content_title %}
{% translate 'Games' %}
{% endblock %}

{% block content %}

<div class="row">
  <div class="col-md-6">
    <div class="box box-solid box-info">
      <div class="box-header with-border">
        <h3 class="box-title">{% translate 'Last modified games' %}</h3>
      </div>
      <div class="box-body">
        {% if last_modified_games|length > 0 %}
        <table class="table table-bordered table-stripped table-hover table-condensed">
          <thead>
            <tr>
              <th>{% translate 'Title' %}</th>
              <th>{% translate 'Year' %}</th>
              <th>{% translate 'Date' %}</th>
            </tr>
          </thead>
          <tbody>
            {% for game in last_modified_games %}
            <tr>
              <td><a href="{% url 'game_info' game.id|stringformat:'06d' %}"><i>{{ game.title }}</i></a>{% if game.title_vo and game.title_vo != game.title %} (<i>{{ game.title_vo }}</i>){% endif %}</td>
              <td>{% if game.year %}{{ game.year }}{% endif %}</td>
              <td>{{ game.modification|date:"d/m/Y H:i" }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% else %}
        <p>{% translate 'No last_modified_games.' %}</p>
        {% endif %}
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="box box-solid box-info">
      <div class="box-header with-border">
        <h3 class="box-title">{% translate 'Last created games' %}</h3>
      </div>
      <div class="box-body">
        {% if last_created_games|length > 0 %}
        <table class="table table-bordered table-stripped table-hover table-condensed">
          <thead>
            <tr>
              <th>{% translate 'Title' %}</th>
              <th>{% translate 'Year' %}</th>
              <th>{% translate 'Date' %}</th>
            </tr>
          </thead>
          <tbody>
            {% for game in last_created_games %}
            <tr>
              <td><a href="{% url 'game_info' game.id|stringformat:'06d' %}"><i>{{ game.title }}</i></a>{% if game.title_vo and game.title_vo != game.title %} (<i>{{ game.title_vo }}</i>){% endif %}</td>
              <td>{% if game.year %}{{ game.year }}{% endif %}</td>
              <td>{{ game.creation|date:"d/m/Y H:i" }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% else %}
        <p>{% translate 'No last_created_games.' %}</p>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% endblock %}
