{% extends 'games/base.html' %}

{% load static %}
{% load i18n %}
{% load mimir %}

{% block content_title %}
{% translate 'Games library' %}
{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/datatables/dataTables.min.css' %}">
{% endblock %}

{% block extra_foot %}
<script src="{% static 'js/datatables/datatables.min.js' %}"></script>

<script>
$(function() {
    $('#games_list').DataTable({
        "paging"      : true,
        "lengthChange": true,
        "searching"   : true,
        "ordering"    : true,
        "info"        : true,
        "autoWidth"   : true,
        "language": {
            "processing":     "Traitement en cours...",
            "search":         "Rechercher&nbsp;:",
            "lengthMenu":     "Afficher _MENU_ &eacute;l&eacute;ments",
            "info":           "Affichage de l'&eacute;lement _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
            "infoEmpty":      "Affichage de l'&eacute;lement 0 &agrave; 0 sur 0 &eacute;l&eacute;ments",
            "infoFiltered":   "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
            "infoPostFix":    "",
            "loadingRecords": "Chargement en cours...",
            "zeroRecords":    "Aucun &eacute;l&eacute;ment &agrave; afficher",
            "emptyTable":     "Aucune donnée disponible dans le tableau.",
            "paginate": {
                "first":      "Premier",
                "previous":   "Pr&eacute;c&eacute;dent",
                "next":       "Suivant",
                "last":       "Dernier"
            },
            "aria": {
                "sortAscending":  ": activer pour trier la colonne par ordre croissant",
                "sortDescending": ": activer pour trier la colonne par ordre décroissant"
            }
        },
    });
});
</script>
{% endblock %}

{% block content %}

  <div class="box box-solid box-info">

    <div class="box-header">
      <h3 class="box-title">{% translate 'Games library' %}</h3>
      {% if perms.games.add_game %}
      <div class="box-tools pull-right">
        <a href="{% url 'game_create' %}" class="btn btn-box-tool" title="{% translate 'Create game' %}">
          <i class="fa fa-plus-square"></i>
        </a>
      </div>
      {% endif %}
    </div>

    <div class="box-body">
      <table class="table table-bordered table-stripped table-hover" id="games_list">
        <thead>
          <tr>
            <th>{% translate 'Title' %}</th>
            <th>{% translate 'Year' %}</th>
            <th>{% translate 'Editor' %}</th>
            <th>{% translate 'Platform' %}</th>
            <th>{% translate 'Location' %}</th>
          </tr>
        </thead>
        <tbody>
          {% for game in games %}
          <tr>
            <td><a href="{% url 'game_info' game.game.id|stringformat:'06d' %}" class="{% if game.finished %}game_finished{% elif game.played %}game_played{% else %}game_not_played{% endif %}"><i>{{ game.game.title }}</i></a></td>
            <td>{% if game.game.year %}{{ game.game.year }}{% endif %}</td>
            <td>{{ game.game.editor }}</td>
            <td>{{ game.game.platform }}</td>
            <td>{{ game.location }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

{% endblock %}
