{% extends 'games/base.html' %}

{% load static %}
{% load i18n %}
{% load mimir %}

{% block footer_right %}
{% if saga.creation %}{% translate 'Creation:' %} {{ saga.creation }}.{% endif %}
{% if saga.modification %}{% translate 'Last modification:' %} {{ saga.modification }}.{% endif %}
{% endblock %}

{% block title %}
{{ saga.title }} - {% translate 'Games' %} - Mimir
{% endblock %}

{% block content_header %}
<section class="content-header">
  <h1>{% translate 'Saga' context 'The saga' %} <q><i>{{ saga.title }}</i></q>
    {% if user.is_authenticated %}
    <div class="pull-right">
      <a href="{% url 'games_saga_edit' saga.id|stringformat:'06d' %}" class="btn btn-sm btn-warning">{% translate 'Edit' %}</a>
      <a href="{% url 'games_saga_delete' saga.id|stringformat:'06d' %}" class="btn btn-sm btn-danger">{% translate 'Delete' %}</a>
    </div>
    {% endif %}
  </h1>
</section>
{% endblock content_header %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/datatables/dataTables.min.css' %}">
{% endblock %}

{% block extra_foot %}
<script src="{% static 'js/datatables/datatables.min.js' %}"></script>

<script>
$(function() {
    $("#games_list").DataTable({
        "paging"      : false,
        "lengthChange": false,
        "searching"   : false,
        "ordering"    : true,
        "info"        : false,
        "autoWidth"   : true,
        "language": {
            "processing":     "Traitement en cours...",
            "search":         "Rechercher&nbsp;:",
            "lengthMenu":     "Afficher _MENU_ &eacute;l&eacute;ments",
            "info":           "Affichage de l'&eacute;lement _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
            "infoEmpty":      "Affichage de l'&eacute;lement 0 &agrave; 0 sur 0 &eacute;l&eacute;ments",
            "infoFiltered":   "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
            "infoPostFix":    "",
            "loadingRecords": "Chargement en cours...",
            "zeroRecords":    "Aucun &eacute;l&eacute;ment &agrave; afficher",
            "emptyTable":     "Aucune donnée disponible dans le tableau.",
            "paginate": {
                "first":      "{% translate 'First' %}",
                "previous":   "{% translate 'Previous' %}",
                "next":       "{% translate 'Next' %}",
                "last":       "{% translate 'Last' %}"
            },
            "aria": {
                "sortAscending":  ": activer pour trier la colonne par ordre croissant",
                "sortDescending": ": activer pour trier la colonne par ordre décroissant"
            }
        },
    });
});
</script>
{% endblock %}

{% block content %}

  <div class="row">
    <div class="col-md-4">
      <div class="box box-solid box-info">
        <div class="box-body">
          <dl class="dl-horizontal">
            <dt>{% translate 'Title' %}</dt><dd><i>{{ saga.title }}</i></dd>
            {% if saga.title_vo %}<dt>{% translate 'Original title' %}</dt><dd><i>{{ saga.title_vo }}</i></dd>{% endif %}
          </dl>
        </div>
      </div>
    </div>
  </div>

  {% if saga.info %}
  <div class="box box-solid box-info">
    <div class="box-header with-border">
      <h3 class="box-title">{% translate 'Information' %}</h3>
    </div>
    <div class="box-body">{{ saga.info|linebreaks }}</div>
  </div>
  {% endif %}

  <div class="box box-solid box-info">
    <div class="box-header with-border">
      <h3 class="box-title">{% translate 'Games' %}</h3>
      <div class="box-tools pull-right">
        {% if perms.games.change_sagagame %}
        <a href="{% url 'games_saga_edit_games' saga.id|stringformat:'06d' %}" class="btn btn-box-tool" title="{% translate 'Edit games' %}">
          <i class="fa fa-edit"></i>
        </a>
        {% endif %}
        {% if perms.games.add_sagagame %}
        <a href="{% url 'games_saga_add_game' saga.id|stringformat:'06d' %}" class="btn btn-box-tool" title="{% translate 'Add game' %}">
          <i class="fa fa-plus-square"></i>
        </a>
        {% endif %}
        <button type="button" class="btn btn-box-tool" data-widget="collapse">
          <i class="fa fa-minus"></i>
        </button>
      </div>
    </div>
    <div class="box-body">
      {% if games|length > 0 %}
      <table class="table table-bordered table-stripped table-hover" id="games_list">
        <thead>
          <tr>
            <th>{% translate 'Order' %}</th>
            <th>{% translate 'Title' %}</th>
            <th>{% translate 'Year' %}</th>
            <th>{% translate 'Editor' %}</th>
            <th>{% translate 'Platform' %}</th>
          </tr>
        </thead>
        <tbody>
          {% for sagaGame in games %}
          <tr>
            <td>{{ sagaGame|get_order }}</td>
            <td><a href="{% url 'game_info' sagaGame.game.id|stringformat:'06d' %}" class="{% if sagaGame.finished %}game_finished{% elif sagaGame.played %}game_played{% else %}game_not_played{% endif %}"><i>{{ sagaGame.game.title }}</i></a></td>
            <td>{% if sagaGame.game.year %}{{ sagaGame.game.year }}{% endif %}</td>
            <td>{{ sagaGame.game.editor }}</td>
            <td>{{ sagaGame.game.platform }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <p>{% translate 'No games.' %}</p>
      {% endif %}
    </div>
  </div>

{% endblock %}
