{% extends 'games/base.html' %}

{% load static %}
{% load i18n %}
{% load mimir %}

{% block content_title %}
<a href="{% url 'games_saga_info' saga.id|stringformat:'06d' %}">{% translate 'Saga' context 'The saga' %} <q><i>{{ saga.title }}</i></q></a> - {% translate 'Edit games' %}
{% endblock %}

{% block title %}
{{ saga.title }} - {% translate 'Games' %} - Mimir
{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/select2.min.css' %}" media="all" />
{% endblock %}

{% block extra_foot %}
<script src="{% static 'js/select2/select2.min.js' %}"></script>
<script src="{% static 'js/select2/i18n/fr.js' %}"></script>

<script>
$(function() {

  {% if formset.can_delete %}
    function clickButtonDelete() {
        var num = $(this).data('num');
        if ($(this).hasClass('active')) {
            $('#id_form-' + num + '-DELETE').prop('checked', false);
            $(this).addClass('btn-warning');
            $(this).removeClass('btn-danger');
        } else {
            $('#id_form-' + num + '-DELETE').prop('checked', true);
            $(this).addClass('btn-danger');
            $(this).removeClass('btn-warning');
        }
    }

    $('button.btn_delete').click(clickButtonDelete);
  {% endif %}

  {% if formset.can_order %}
    function disableButtons() {
        $('.btn_up').each(function() {
            var num = $(this).data('num');
            var val = parseInt($('#id_form-' + num + '-ORDER').val());
            if (val == 1) {
                $(this).prop('disabled', true);
            } else {
                $(this).prop('disabled', false);
            }
        });
        $('.btn_down').each(function() {
            var num = $(this).data('num');
            var val = parseInt($('#id_form-' + num + '-ORDER').val());
            if (val == $('#id_form-TOTAL_FORMS').val()) {
                $(this).prop('disabled', true);
            } else {
                $(this).prop('disabled', false);
            }
        });
    }

    function clickButtonUp() {
        var num = $(this).data('num');
        var val = parseInt($('#id_form-' + num + '-ORDER').val());
        if (val > 1) {
            objUp = $('.form_order').filter(function() {
                return ($(this).val() == val - 1);
            }).first();
            if (objUp != undefined) {
                objUp.val(val).trigger('change');
                $(this).closest("tr").after($(this).closest("tr").prev());
            }
            $('#id_form-' + num + '-ORDER').val(val - 1);
            disableButtons();
        }
    }

    function clickButtonDown() {
        var num = $(this).data('num');
        var val = parseInt($('#id_form-' + num + '-ORDER').val());
        var objDown = $('.form_order').filter(function() {
            return ($(this).val() == val + 1);
        }).first();
        if (objDown != undefined) {
            objDown.val(val).trigger('change');
            $(this).closest("tr").next().after($(this).closest("tr"));
            $('#id_form-' + num + '-ORDER').val(val + 1);
        }
        disableButtons();
    }

    $('button.btn_up').click(clickButtonUp);
    $('button.btn_down').click(clickButtonDown);
  {% endif %}

  {% if formset.empty_form %}
    $('button#btn_add').click(function() {
        var val = parseInt($('#id_form-TOTAL_FORMS').val());

        {% for field in formset.empty_form.hidden_fields %}
          html = '{{ field|escapejs }}'.replace(/__prefix__/g, val);
          $('form#form_data').append(html);
        {% endfor %}

        html = '<tr>';
        {% for field in formset.empty_form.visible_fields %}
          {% if field.name != 'DELETE' and field.name != 'ORDER' %}
            html += '<td>';
            html += '<label for="{{ field.id_for_label|escapejs }}" class="sr-only">{{ field.label|escapejs }}</label>';
            html += '{{ field|field_add_class:'form-control input-sm'|escapejs }}';
            {% if field.help_text %}
              html += '<p class="formset.empty_form-text text-muted">{{ field.help_text|safe|escapejs }}</p>';
            {% endif %}
            html += '</td>';
          {% endif %}
        {% endfor %}
        {% if formset.can_delete or formset.can_order %}
          html += '<td>';
          {% if formset.can_order %}
            {% with formset.empty_form.ORDER as field %}
              html += '<input type="number" class="hidden form_order" data-num="__prefix__" name="{{ field.html_name|escapejs }}" id="{{ field.id_for_label|escapejs }}" value="__prefix_plus_1__" />';
              html += '<div class="btn-group">';
              html += '<button type="button" class="btn btn-sm btn-default btn_up" data-num="__prefix__" id="{{ field.id_for_label|escapejs }}-up"{% if forloop.first %} TODO disabled="disabled"{% endif %}>';
              html += '<i class="fa fa-chevron-up"></i> <span class="sr-only">{% translate "Up" %}</span>';
              html += '</button>';
              html += '<button type="button" class="btn btn-sm btn-default btn_down" data-num="__prefix__" id="{{ field.id_for_label|escapejs }}-down"{% if forloop.last %} TODO disabled="disabled"{% endif %}>';
              html += '<i class="fa fa-chevron-down"></i> <span class="sr-only">{% translate "Down" %}</span>';
              html += '</button>';
              html += '</div> ';
            {% endwith %}
          {% endif %}
          {% if formset.can_delete %}
            {% with formset.empty_form.DELETE as field %}
              html += '<input type="checkbox" class="hidden" name="{{ field.html_name|escapejs }}" id="{{ field.id_for_label|escapejs }}" />';
              html += '<button type="button" class="btn btn-sm btn-warning btn_delete" data-num="__prefix__" data-toggle="button" id="{{ field.id_for_label|escapejs }}-btn">';
              html += '<i class="fa fa-remove"></i> {% translate "Remove" %}';
              html += '</button>';
            {% endwith %}
          {% endif %}
          html += '</td>';
        {% endif %}
        html += '</tr>';

        html = html.replace(/__prefix__/g, val).replace('__prefix_plus_1__', val + 1);
        $('table#table_data > tbody').append(html);

        {% if formset.can_order %}
          $('#{{ formset.empty_form.ORDER.id_for_label }}-up'.replace('__prefix__', val)).click(clickButtonUp);
          $('#{{ formset.empty_form.ORDER.id_for_label }}-down'.replace('__prefix__', val)).click(clickButtonDown);
          disableButtons();
        {% endif %}

        {% if formset.can_delete %}
          $('#{{ formset.empty_form.DELETE.id_for_label }}-btn'.replace('__prefix__', val)).click(clickButtonDelete);
        {% endif %}

        initSelectGame($('select#id_form-' + val + '-game_id'));

        $('#id_form-TOTAL_FORMS').val(val + 1);
    });
  {% endif %}

    function formatGame(game) {
        var markup = '<strong>' + game.title + '</strong>';
        if (game.year) {
            markup += ' <span class="small">(' + game.year + ')</span>';
        }
        return markup;
    }

    function formatGameSelection(game) {
        var value = game.title;
        if (game.year) {
            value += ' (' + game.year + ')';
        }
        return value;
    }

    function setDataNum(obj) {
        var id = obj.prop('id');
        var idPart = id.split('-');
        if (idPart.length == 3 && idPart[0] == 'id_form') {
            var num = parseInt(idPart[1]);
            obj.data('num', num);
        }
    }

    function initSelectGame(obj) {
        setDataNum(obj);

        obj.select2({
            ajax: {
                url: "{% url 'games_api_search' %}",
                dataType: 'json',
                delay: 250,
                data: function(params) {
                    return {
                        q: params.term,
                        page: params.page
                    };
                },
                processResults: function(data, params) {
                    params.page = params.page || 1;

                    for (var i = 0; i < data.items.length; ++i) {
                        data.items[i]['text'] = data.items[i]['title'];
                    }

                    return {
                        results: data.items,
                        pagination: {
                            more: data.incomplete_results
                        }
                    };
                },
                cache: true
            },
            escapeMarkup: function(markup) { return markup; },
            minimumInputLength: 1,
            templateResult: formatGame,
            templateSelection: formatGameSelection,
            width: '100%',
        }).on('change', function(e) {
            var num = $(this).data('num');
            $('#id_form-' + num + '-game_title').val($('#id_form-' + num + '-game_id option:selected').text());
            $('#id_form-' + num + '-game').val($('#id_form-' + num + '-game_id').val());
        });

        var num = obj.data('num');
        obj.append('<option value="' + $('#id_form-' + num + '-game').val() + '" title="' + $('#id_form-' + num + '-game_title').val() +'" selected="selected">' + $('#id_form-' + num + '-game_title').val() +'</option>');
        obj.trigger('change');
    }

    $("select.select_game").each(function() { initSelectGame($(this)); });
});
</script>
{% endblock %}

{% block content %}

  {{ form.non_field_errors }}

  {% if form.subject.errors %}
  <ol>
    {% for error in form.subject.errors %}
    <li><strong>{{ error|escape }}</strong></li>
    {% endfor %}
  </ol>
  {% endif %}

  <div class="box box-primary">
    <form action="{% url 'games_saga_edit_games' saga.id %}" method="post" class="form" id="form_data">
      {% csrf_token %}
      {{ formset.management_form }}

      {% for form in formset %}
        {% for field in form.hidden_fields %}
          {{ field }}
        {% endfor %}
      {% endfor %}

      <div class="box-body">
        <table class="table table-bordered table-stripped table-hover" id="table_data">
          {% for form in formset %}
            {% if forloop.first %}
            <thead>
              <tr>
                {% for field in form.visible_fields %}
                  {% if field.name != 'DELETE' and field.name != 'ORDER' %}
                  <th>{{ field.label }}</th>
                  {% endif %}
                {% endfor %}
                {% if formset.can_delete or formset.can_order %}
                  <th>{% translate 'Actions' %}</th>
                {% endif %}
              </tr>
            </thead>
            <tbody>
            {% endif %}
            <tr>
              {% for field in form.visible_fields %}
                {% if field.name != 'DELETE' and field.name != 'ORDER' %}
                  <td{% if field.errors %} class="has-error"{% endif %}>
                    {{ field.errors }}
                    <label for="{{ field.id_for_label }}" class="sr-only">{{ field.label }}</label>
                    {{ field|field_add_class:'form-control input-sm' }}
                    {% if field.help_text %}
                      <p class="form-text text-muted">{{ field.help_text|safe }}</p>
                    {% endif %}
                  </td>
                {% endif %}
              {% endfor %}
              {% if formset.can_delete or formset.can_order %}
                <td>
                  {% if formset.can_order %}
                    {% with form.ORDER as field %}
                      <input type="number" class="hidden form_order" data-num="{{ forloop.counter0 }}" name="{{ field.html_name }}" id="{{ field.id_for_label }}" value="{{ forloop.counter }}" />
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-default btn_up" data-num="{{ forloop.counter0 }}" id="{{ field.id_for_label }}-up"{% if forloop.first %} disabled="disabled"{% endif %}>
                          <i class="fa fa-chevron-up"></i> <span class="sr-only">{% translate 'Up' %}</span>
                        </button>
                        <button type="button" class="btn btn-sm btn-default btn_down" data-num="{{ forloop.counter0 }}" id="{{ field.id_for_label }}-down"{% if forloop.last %} disabled="disabled"{% endif %}>
                          <i class="fa fa-chevron-down"></i> <span class="sr-only">{% translate 'Down' %}</span>
                        </button>
                      </div>
                    {% endwith %}
                  {% endif %}
                  {% if formset.can_delete %}
                    {% with form.DELETE as field %}
                      <input type="checkbox" class="hidden" name="{{ field.html_name }}" id="{{ field.id_for_label }}" />
                      <button type="button" class="btn btn-sm btn-warning btn_delete" data-num="{{ forloop.counter0 }}" data-toggle="button" id="{{ field.id_for_label }}-btn">
                        <i class="fa fa-remove"></i> {% translate 'Remove' %}
                      </button>
                    {% endwith %}
                  {% endif %}
                </td>
              {% endif %}
            </tr>
            {% endfor %}
          </tbody>
          {% if formset.empty_form %}
          <tfoot>
            <tr>
              <td>
                <button type="button" class="btn btn-sm btn-success" id="btn_add">
                  <i class="fa fa-plus-square"></i> {% translate 'Add' %}
                </button>
              </td>
            </tr>
          </tfoot>
          {% endif %}
        </table>
        
      </div>

      <div class="box-footer">
        <button type="submit" class="btn btn-primary center-block">{% translate 'Submit' %}</button>
      </div>
    </form>
  </div>

{% endblock %}
