{% extends 'games/base.html' %}

{% load i18n %}

{% block content_title %}
<a href="{% url 'games_saga_info' saga.id|stringformat:'06d' %}">{% translate 'Saga' context 'The saga' %} <q><i>{{ saga.title }}</i></q></a> - {% translate 'Delete' %}
{% endblock %}

{% block title %}
{{ saga.title }} - {% translate 'Games' %} - Mimir
{% endblock %}

{% block content %}

  <div class="box box-primary">
    <form action="{% url 'games_saga_delete' saga.id|stringformat:'06d' %}" method="post" class="form">
      {% csrf_token %}
      <input type="hidden" name="delete" value="1" />

      <div class="box-body">
        <div class="alert alert-warning">
          <p>{% translate 'Are you sure you want to remove this saga?' %}</p>
          <p><i class="icon fa fa-warning"></i>{% translate 'This action is irreversible.' %}</p>
        </div>
      </div>

      <div class="box-footer">
        <input type="submit" class="btn btn-danger center-block" value="{% translate 'Delete' %}" />
      </div>
    </form>
  </div>

{% endblock %}
