{% extends 'games/base.html' %}

{% load static %}
{% load i18n %}
{% load mimir %}

{% block content_title %}
{% translate 'Search' %}
{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/datatables/dataTables.min.css' %}">
{% endblock %}

{% block extra_foot %}
<script src="{% static 'js/datatables/datatables.min.js' %}"></script>

<script>
$(function() {
    function makeDataTable(obj, options={}) {
        var opt = {
            "paging"      : true,
            "lengthChange": false,
            "searching"   : false,
            "ordering"    : true,
            "info"        : false,
            "autoWidth"   : true,
            "language": {
                "processing":     "Traitement en cours...",
                "search":         "Rechercher&nbsp;:",
                "lengthMenu":     "Afficher _MENU_ &eacute;l&eacute;ments",
                "info":           "Affichage de l'&eacute;lement _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
                "infoEmpty":      "Affichage de l'&eacute;lement 0 &agrave; 0 sur 0 &eacute;l&eacute;ments",
                "infoFiltered":   "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
                "infoPostFix":    "",
                "loadingRecords": "Chargement en cours...",
                "zeroRecords":    "Aucun &eacute;l&eacute;ment &agrave; afficher",
                "emptyTable":     "Aucune donnée disponible dans le tableau.",
                "paginate": {
                    "first":      "Premier",
                    "previous":   "Pr&eacute;c&eacute;dent",
                    "next":       "Suivant",
                    "last":       "Dernier"
                },
                "aria": {
                    "sortAscending":  ": activer pour trier la colonne par ordre croissant",
                    "sortDescending": ": activer pour trier la colonne par ordre décroissant"
                }
            },
        };
        jQuery.extend(opt, options);
        obj.DataTable(opt);
    }

  {% if games|length > 10 %}
    makeDataTable($('#games_list'), {"order": [[1, "asc"]], "paging": true});
  {% elif games|length > 0%}
    makeDataTable($('#games_list'), {"order": [[1, "asc"]]});
  {% endif %}

  {% if sagas|length > 10 %}
    makeDataTable($('#sagas_list', {"paging": true}));
  {% elif sagas|length > 0%}
    makeDataTable($('#sagas_list'));
  {% endif %}
});
</script>
{% endblock %}

{% block content %}

  <div class="box box-solid box-info">
    <form action="{% url 'games_search' %}" class="form" method="get">
      <div class="box-body">
        <div class="form-group row">
          <label for="id_form_q" class="col-sm-2 col-form-label">{% translate 'Query' %}</label>
          <div class="col-sm-10">
            <input type="text" name="q" id="id_form_q" class="form-control input-sm" value="{{ query }}" />
          </div>
        </div>
      </div>

      <div class="box-footer">
        <input type="submit" class="btn btn-primary center-block" value="{% translate 'Search...' %}" />
      </div>
    </form>
  </div>

  {% if query %}
  <div class="box box-solid box-info">
    <div class="box-header">
      <h3 class="box-title">{% translate 'Games' %} <span class="badge">{{ games|length }}</span></h3>
    </div>

    <div class="box-body">
      {% if games|length > 0 %}
      <table class="table table-bordered table-stripped table-hover" id="games_list">
        <thead>
          <tr>
            <th>{% translate 'Title' %}</th>
            <th>{% translate 'Year' %}</th>
          </tr>
        </thead>
        <tbody>
          {% for game in games %}
          <tr>
            <td>
              <a href="{% url 'game_info' game.id|stringformat:'06d' %}"><i>{{ game.title }}</i></a>
              {% if game.title_vo and game.title != game.title_vo %} (<i>{{ game.title_vo }}</i>){% endif %}
            </td>
            <td>{% if game.year %}{{ game.year }}{% endif %}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <p>{% translate 'No games.' %}</p>
      {% endif %}
    </div>
  </div>

  <div class="box box-solid box-info">
    <div class="box-header">
      <h3 class="box-title">{% translate 'Sagas' %} <span class="badge">{{ sagas|length }}</span></h3>
    </div>

    <div class="box-body">
      {% if sagas %}
      <table class="table table-bordered table-stripped table-hover" id="sagas_list">
        <thead>
          <tr>
            <th>{% translate 'Title' %}</th>
            <th>{% translate 'Number of games' %}</th>
          </tr>
        </thead>
        <tbody>
          {% for saga in sagas %}
          <tr>
            <td>
              <a href="{% url 'games_saga_info' saga.id|stringformat:'06d' %}"><i>{{ saga.title }}</i></a>
              {% if saga.title_vo %} (<i>{{ saga.title_vo}}</i>){% endif %}
            </td>
            <td>{{ saga.games.count }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <p>{% translate 'No sagas.' %}</p>
      {% endif %}
    </div>
  </div>
  {% endif %}

{% endblock %}
