{% load i18n %}

<aside class="main-sidebar">
  <section class="sidebar">

    <form action="{% url 'games_search' %}" method="get" class="sidebar-form" role="search">
      <div class="input-group">
        <input type="text" name="q" class="form-control" placeholder="{% translate 'Search...' %}">
        <span class="input-group-btn">
          <button type="submit" id="search-btn" class="btn btn-flat">
            <i class="fa fa-search"></i>
          </button>
        </span>
      </div>
    </form>

    {% block nav_links %}
    <ul class="sidebar-menu" data-widget="tree">

      <li class="header">{% translate 'GAMES' %}</li>
      <li class="{% if request.resolver_match.url_name == 'games_list' %}active{% endif %}">
        <a href="{% url 'games_list' %}">
          <i class="fa fa-list"></i> {% translate 'Games list' %}
        </a>
      </li>
      {% if perms.games.add_game %}
      <li class="{% if request.resolver_match.url_name == 'game_create' %}active{% endif %}">
        <a href="{% url 'game_create' %}">
          <i class="fa fa-plus-square"></i> {% translate 'Create game' %}
        </a>
      </li>
      {% endif %}
      <li class="{% if request.resolver_match.url_name == 'games_search' %}active{% endif %}">
        <a href="{% url 'games_search' %}">
          <i class="fa fa-search"></i> {% translate 'Search' %}
        </a>
      </li>

      <li class="header">{% translate 'SAGAS' %}</li>
      <li class="{% if request.resolver_match.url_name == 'games_sagas_list' %}active{% endif %}">
        <a href="{% url 'games_sagas_list' %}">
          <i class="fa fa-list"></i> {% translate 'Sagas list' %}
        </a>
      </li>
      {% if perms.games.add_saga %}
      <li class="{% if request.resolver_match.url_name == 'games_saga_create' %}active{% endif %}">
        <a href="{% url 'games_saga_create' %}">
          <i class="fa fa-plus-square"></i> {% translate 'Create saga' %}
        </a>
      </li>
      {% endif %}

      {% if user.is_authenticated %}
      <li class="header">{% translate 'GAMES LIBRARY' %}</li>
      <li class="{% if request.resolver_match.url_name == 'games_library' %}active{% endif %}">
        <a href="{% url 'games_library' %}">
          <i class="fa fa-list"></i> {% translate 'My games' %}
        </a>
      </li>
      {% endif %}

    </ul>
    {% endblock nav_links %}
  </section>
</aside>
