{% extends 'books/base.html' %}

{% load static %}
{% load i18n %}
{% load mimir %}

{% block footer_right %}
{% if book.creation %}{% translate 'Creation:' %} {{ book.creation }}.{% endif %}
{% if book.modification %}{% translate 'Last modification:' %} {{ book.modification }}.{% endif %}
{% endblock %}

{% block title %}
{{ book.volume.title }} ({% translate 'book' %}) - {% translate 'Books' %} - Mimir
{% endblock %}

{% block content_header %}
<section class="content-header">
  <h1><i>{{ book.volume.title }}</i> ({% translate 'book' %})
    {% if perms.books.change_book or perms.books.delete_book %}
    <div class="pull-right">
      {% if perms.books.change_book %}
      <a href="{% url 'book_edit' book.id|stringformat:'06d' %}" class="btn btn-sm btn-warning">{% translate 'Edit' %}</a>
      {% endif %}
      {% if perms.books.delete_book %}
      <a href="{% url 'book_delete' book.id|stringformat:'06d' %}" class="btn btn-sm btn-danger">{% translate 'Delete' %}</a>
      {% endif %}
    </div>
    {% endif %}
  </h1>
</section>
{% endblock content_header %}

{% block content %}

  <div class="row">
    <div class="col-md-4">
      <div class="box box-solid box-info">
        <div class="box-body">
          <dl class="dl-horizontal">
            {% if book.volume.edition.text %}
              <dt>{% translate 'Work' %}{% translate ':' %}</dt>
              <dd>
                {% if book.volume.edition.text.work %}
                  <a href="{% url 'work_info' book.volume.edition.text.work.id|stringformat:'06d' %}"><i>{{ book.volume.edition.text.work.title }}</i></a>
                  {% if book.volume.edition.text.work.year %} ({{ book.volume.edition.text.work.year }}){% endif %}
                {% elif book.volume.edition.text.translation %}
                  <a href="{% url 'work_info' book.volume.edition.text.translation.original_work.id|stringformat:'06d' %}"><i>{{ book.volume.edition.text.translation.original_work.title }}</i></a>
                  {% if book.volume.edition.text.translation.original_work.year %} ({{ book.volume.edition.text.translation.original_work.year }}){% endif %}
                {% endif %}
              </dd>
              {% if book.volume.edition.text.work %}
                {% if book.volume.edition.title != book.volume.edition.text.work.title %}<dt>{% translate 'Title' %}{% translate ':' %}</dt><dd><i>{{ book.volume.edition.title }}</i></dd>{% endif %}
              {% elif book.volume.edition.text.translation %}
                {% if book.volume.edition.title != book.volume.edition.text.translation.original_work.title %}<dt>{% translate 'Title' %}{% translate ':' %}</dt><dd><i>{{ book.volume.edition.title }}</i></dd>{% endif %}
              {% endif %}
            {% else %}
              <dt>{% translate 'Title' %}{% translate ':' %}</dt><dd><i>{{ book.volume.edition.title }}</i></dd>
            {% endif %}

            {% if book.volume.edition.text %}
              {% if book.volume.edition.text.work %}
                {% if book.volume.edition.text.work.authors.count > 0 %}
                  <dt>{% blocktranslate count c=book.volume.edition.text.work.authors.count %}Author{% plural %}Authors{% endblocktranslate %}{% translate ':' %}</dt>
                  <dd>{% for author in book.volume.edition.text.work.authors.all %}{% if not forloop.first %}, {% endif %}<a href="{% url 'person_info' author.id|stringformat:'06d' %}">{{ author.name }}</a>{% endfor %}</dd>
                {% endif %}
              {% elif book.volume.edition.text.translation %}
                {% if book.volume.edition.text.translation.original_work.authors.count > 0 %}
                  <dt>{% blocktranslate count c=book.volume.edition.text.translation.original_work.authors.count %}Author{% plural %}Authors{% endblocktranslate %}{% translate ':' %}</dt>
                  <dd>{% for author in book.volume.edition.text.translation.original_work.authors.all %}{% if not forloop.first %}, {% endif %}<a href="{% url 'person_info' author.id|stringformat:'06d' %}">{{ author.name }}</a>{% endfor %}</dd>
                {% endif %}
              {% endif %}
            {% else %}
              {% if book.volume.edition.authors|length > 0 %}
                <dt>{% blocktranslate count c=book.volume.edition.authors|length %}Author{% plural %}Authors{% endblocktranslate %}{% translate ':' %}</dt>
                <dd>{% for author in book.volume.edition.authors %}{% if not forloop.first %}, {% endif %}<a href="{% url 'person_info' author.id|stringformat:'06d' %}">{{ author.name }}</a>{% endfor %}</dd>
              {% endif %}
            {% endif %}
          </dl>

          {% if book.volume.edition.text.translation %}
          <dl class="dl-horizontal">
            <dt>{% translate 'Translation' %}{% translate ':' %}</dt>
            <dd><a href="{% url 'translation_info' book.volume.edition.text.translation.id|stringformat:'06d' %}">{{ book.volume.edition.text.translation }}</a></dd>
          </dl>
          {% endif %}

          <dl class="dl-horizontal">
            <dt>{% translate 'Edition' %}{% translate ':' %}</dt><dd><a href="{% url 'edition_info' book.volume.edition.id|stringformat:'06d' %}"><i>{{ book.volume.edition.title }}</i></a></dd>
            {% if book.volume.edition.publisher %}<dt>{% translate 'Publisher' %}{% translate ':' %}</dt><dd>{{ book.volume.edition.publisher }}</dd>{% endif %}
            {% if book.volume.edition.year %}<dt>{% translate 'Year' %}{% translate ':' %}</dt><dd>{{ book.volume.edition.year }}</dd>{% endif %}
          </dl>

          <dl class="dl-horizontal">
            {% if book.volume.title != book.volume.edition.title %}<dt>{% translate 'Title' %}{% translate ':' %}</dt><dd><i>{{ book.volume.title }}</i></dd>{% endif %}
            <dt>{% translate 'ISBN' %}{% translate ':' %}</dt><dd><a href="{% url 'volume_info' book.volume.edition.id|stringformat:'06d' book.volume.id|stringformat:'06d' %}">{% if book.volume.isbn %}{{ book.volume.isbn }}{% else %}{% translate 'Unknown' %}{% endif %}</a></dd>
          </dl>

          <dl class="dl-horizontal">
            {% if book.date %}<dt>{% translate 'Buying date' %}{% translate ':' %}</dt><dd>{{ book.date|date_txt }}</dd>{% endif %}
            <dt>{% translate 'Owner' %}{% translate ':' %}</dt><dd><a href="{TODO% url 'user_info' book.user.id|stringformat:'06d' %}">{{ book.user }}</a></dd>
            <dt>{% translate 'Origin' %}{% translate ':' %}</dt><dd>{% if book.origin == 'B' %}{% translate 'Bought' %}{% elif book.origin == 'G' %}{% translate 'Given' %}{% elif book.origin == 'F' %}{% translate 'Found' %}{% else %}{% translate 'Unknown' %}{% endif %}</dd>
            {% if book.printingdate %}<dt>{% translate 'Printing date' %}{% translate ':' %}</dt><dd>{{ book.printingdate }}</dd>{% endif %}
          </dl>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      {% if book.volume.image %}
      <div class="box box-solid box-info" style="width: 220px;">
        <div class="box-body">
          <img src="{{ book.volume.image.url }}" style="max-width: 200px; max-height: 300px;" class="center-block" />
        </div>
      </div>
      {% endif %}
    </div>

    {% if perms.books.add_reading or readings.count > 0 %}
    <div class="col-md-4">
      <div class="box box-solid box-info">
        <div class="box-header with-border">
          <h3 class="box-title">{% translate 'Readings' %}</h3>
          {% if user.is_authenticated %}
          <div class="box-tools pull-right">
            {% if perms.books.change_reading %}
            <a href="{% url 'book_edit_readings' book.id|stringformat:'06d' %}" class="btn btn-box-tool" title="{% translate 'Edit readings' %}">
              <i class="fa fa-edit"></i>
            </a>
            {% endif %}
            {% if perms.books.add_reading %}
            <a href="{% url 'book_add_reading' book.id|stringformat:'06d' %}" class="btn btn-box-tool" title="{% translate 'Add reading' %}">
              <i class="fa fa-plus-square"></i>
            </a>
            {% endif %}
          </div>
          {% endif %}
        </div>
        <div class="box-body">
          {% if readings.count > 0 %}
          <ul>
            {% for reading in readings.all %}
            <li>{% if reading.date_start != '0000-00-00' or reading.date_end != '0000-00-00' %}{{ reading.date_start|date_format }}{% if reading.date_end %} - {{ reading.date_end|date_format }}{% endif %}{% else %}{% translate 'Unknown date' %}{% endif %}{% if reading.user and reading.user != request.user %} par {{ reading.user }}{% endif %}{% if reading.info %} ({{ reading.info }}){% endif %}{% if not reading.date_end %} [{% translate 'in progress' %}]{% endif %}</li>
            {% endfor %}
          </ul>
          {% else %}
          <p>{% translate 'No readings.' %}</p>
          {% endif %}
        </div>
      </div>
    </div>
    {% endif %}
  </div>

  {% if book.info %}
  <div class="box box-solid box-info">
    <div class="box-header with-border">
      <h3 class="box-title">{% translate 'Information' %}</h3>
      <div class="box-tools pull-right">
        <button type="button" class="btn btn-box-tool" data-widget="collapse">
          <i class="fa fa-minus"></i>
        </button>
      </div>
    </div>
    <div class="box-body">{{ book.info|linebreaks }}</div>
  </div>
  {% endif %}

  {% if perms.books.change_list and lists|length > 0 %}
  <div class="row">
    <div class="col-md-12 col-lg-6">
      <div class="box box-solid box-info">
        <div class="box-header with-border">
          <h3 class="box-title">{% translate 'Lists' %}</h3>
          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
              <i class="fa fa-minus"></i>
            </button>
          </div>
        </div>
        <div class="box-body">
          {% for list in lists %}
            {% if list.disabled %}
              <a class="btn btn-xs btn-default" href="{% url 'booklist_info' list.id|stringformat:'06d' %}">{{ list.name }}</a>
            {% else %}
              <a class="btn btn-xs btn-primary" href="{% url 'booklist_add_volume' list.id|stringformat:'06d' book.volume.id|stringformat:'06d' %}">Ajouter à la liste "{{ list.name }}"</a>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  {% endif %}

{% endblock %}
