{% extends 'books/base.html' %}

{% load static %}
{% load i18n %}
{% load mimir %}

{% block content_title %}
{% if list %}{{ list.name }} - {% translate 'Books' %}{% else %}{% translate 'My books' %}{% endif %}
{% endblock %}

{% block title %}
{% if list %}{{ list.name }} - {% translate 'Books' %}{% else %}{% translate 'My books' %}{% endif %} - Mimir
{% endblock %}

{% block content_header %}
{% if list %}
<section class="content-header">
  <h1>{{ list.name }}
    {% if user.is_authenticated %}
    <div class="pull-right">
      <a href="{% url 'booklist_edit' list.id|stringformat:'06d' %}" class="btn btn-sm btn-warning">{% translate 'Edit' %}</a>
      <a href="{% url 'booklist_delete' list.id|stringformat:'06d' %}" class="btn btn-sm btn-danger">{% translate 'Delete' %}</a>
    </div>
    {% endif %}
  </h1>
</section>
{% endif %}
{% endblock content_header %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/datatables/dataTables.min.css' %}">
{% endblock %}

{% block extra_foot %}
<script src="{% static 'js/datatables/datatables.min.js' %}"></script>

<script>
$(function() {
    var table = $('#books_list').DataTable({
        'paging'      : true,
        'lengthChange': true,
        'searching'   : true,
        'ordering'    : true,
        'info'        : true,
        'autoWidth'   : true,
        'dom': 'Bfrtip',
        'buttons': [
          'pageLength',
          {
            'extend': 'colvis',
            'columns': {% if list %}[1,2,3,4,5,6]{% else %}[0,2,3,4,5,6,7,8,9]{% endif %},
          },
        ],
        'language': {
            "processing":     "{% translate 'Traitement en cours...' %}",
            "search":         "{% translate 'Search' %}{% translate ':' %}",
            "lengthMenu":     "{% translate 'Afficher _MENU_ &eacute;l&eacute;ments' %}",
            "info":           "{% translate "Affichage de l'&eacute;lement _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments" %}",
            "infoEmpty":      "{% translate "Affichage de l'&eacute;lement 0 &agrave; 0 sur 0 &eacute;l&eacute;ments" %}",
            "infoFiltered":   "{% translate '(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)' %}",
            "infoPostFix":    "",
            "loadingRecords": "{% translate 'Chargement en cours...' %}",
            "zeroRecords":    "{% translate 'Aucun &eacute;l&eacute;ment &agrave; afficher' %}",
            "emptyTable":     "{% translate 'Aucune donnée disponible dans le tableau.' %}",
            "paginate": {
                "first":      "{% translate 'First' %}",
                "previous":   "{% translate 'Previous' %}",
                "next":       "{% translate 'Next' %}",
                "last":       "{% translate 'Last' %}"
            },
            "aria": {
                "sortAscending":  ": activer pour trier la colonne par ordre croissant",
                "sortDescending": ": activer pour trier la colonne par ordre décroissant"
            },
            "buttons": {
                "colvis": "{% translate 'Colonnes affichées' %}",
                "pageLength": {
                    "-1": "{% translate 'Afficher toutes les lignes' %}",
                    _:    "{% translate 'Afficher %d lignes' %}"
                }
            },
        },
    });

    table.on('draw', function() {
        $('a[data-toggle="tooltip"]').tooltip({
            animated: 'fade',
            placement: 'bottom',
            html: true,
        });
    });

    $('a[data-toggle="tooltip"]').tooltip({
        animated: 'fade',
        placement: 'bottom',
        html: true,
    });
});
</script>
{% endblock %}

{% block content %}

<p>
  {% translate 'Mode' %}{% translate ':' %}
  <span class="btn-group btn-group-toggle">
    <a class="btn btn-xs btn-primary active">{% translate 'Table' %}</a>
    <a class="btn btn-xs btn-primary" href="{% if list %}{% url 'booklist_info' list.id|stringformat:'06d' %}{% else %}{% url 'books_list' %}{% endif %}?mode=images">{% translate 'Images' %}</a>
  </span>
</p>

  <div class="box box-solid box-info">

    <div class="box-header">
      <h3 class="box-title">{% translate 'Books list' %}</h3>
    </div>

    <div class="box-body">

      <table class="table table-bordered table-stripped table-hover" id="books_list">
        <thead>
          <tr>
            {% if not list %}<th>{% translate 'Date' %}</th>{% endif %}
            <th>{% translate 'Title' %}</th>
            <th>{% translate 'Year' %}</th>
            <th>{% translate 'Author' context 'function' %}</th>
            <th>{% translate 'Publisher' %}</th>
            <th data-visible="false">{% translate 'Number' %}</th>
            <th data-visible="false">{% translate 'Pages' %}</th>
            <th>{% translate 'ISBN' %}</th>
            {% if list %}
            <th>{% translate 'Action' %}</th>
            {% else %}
            <th data-visible="false" data-searchable="false">{% translate 'Owner' %}</th>
            <th data-visible="false" data-searchable="false">{% translate 'Origin' %}</th>
            {% endif %}
          </tr>
        </thead>
        <tbody>
          {% for book in books %}
          <tr>
            {% if not list %}
            <td>
              <span class="hidden">{{ book.date }}</span>
              <a href="{% url 'book_info' book.id|stringformat:'06d' %}" class="{% if book.read %}work_read{% elif book.unread %}work_not_read{% endif %}"{% if book.volume.image %} data-toggle="tooltip" title="<img src='{{ book.volume.image.url }}' style='max-width: 100px; max-height: 150px;' />"{% endif %}>
                {% if book.date %}{{ book.date|date_format }}{% else %}{% translate 'Unknown date' %}{% endif %}
              </a>
            </td>
            {% endif %}
            <td>
              {% if book.volume.edition.text %}
                {% if book.volume.edition.text.work %}
                  <a href="{% url 'work_info' book.volume.edition.text.work.id|stringformat:'06d' %}"><i>{{ book.volume.title }}</i></a>{% if book.volume.edition.text.work.title != book.volume.title %} (<i>{{ book.volume.edition.text.work.title }}</i>){% endif %}
                {% elif book.volume.edition.text.translation %}
                  <a href="{% url 'work_info' book.volume.edition.text.translation.original_work.id|stringformat:'06d' %}"><i>{{ book.volume.title }}</i></a>{% if book.volume.edition.text.translation.original_work.title != book.volume.title %} (<i>{{ book.volume.edition.text.translation.original_work.title }}</i>){% endif %}
                  <br/>{% translate 'Translation:' %} <a href="{% url 'translation_info' book.volume.edition.text.translation.id|stringformat:'06d' %}">{{ book.volume.edition.text.translation }}</a>
                {% endif %}
              {% else %}
                <a href="{% url 'edition_info' book.volume.edition.id|stringformat:'06d' %}"><i>{{ book.volume.edition.title }}</i></a> ({% translate 'collection' context 'collection of books' %})
              {% endif %}
            </td>
            <td>
              {% if book.volume.edition.text %}
                {% if book.volume.edition.text.work %}
                  {% if book.volume.edition.text.work.year %}{{ book.volume.edition.text.work.year }}{% endif %}
                {% elif book.volume.edition.text.translation %}
                  {% if book.volume.edition.text.translation.original_work.year %}{{ book.volume.edition.text.translation.original_work.year }}{% endif %}
                {% endif %}
              {% else %}
                {% if book.volume.edition.year %}{{ book.volume.edition.year }}{% endif %}
              {% endif %}
            </td>
            <td>
              {% if book.volume.edition.text %}
                {% if book.volume.edition.text.work %}
                  {% for author in book.volume.edition.text.work.authors.all %}{% if not forloop.first %}, {% endif %}<span class="hidden">{% if author.lastname %}{{ author.lastname }}, {{ author.firstname }}{% else %}{{ author.name }}{%endif %}</span><a href="{% url 'person_info' author.id|stringformat:'06d' %}">{{ author.name }}</a>{% endfor %}
                  {% if book.volume.edition.text.work.author_credit %} ({{ book.volume.edition.text.work.author_credit }}){% endif %}
                {% elif book.volume.edition.text.translation %}
                  {% for author in book.volume.edition.text.translation.original_work.authors.all %}{% if not forloop.first %}, {% endif %}<span class="hidden">{% if author.lastname %}{{ author.lastname }}, {{ author.firstname }}{% else %}{{ author.name }}{%endif %}</span><a href="{% url 'person_info' author.id|stringformat:'06d' %}">{{ author.name }}</a>{% endfor %}
                  {% if book.volume.edition.text.translation.original_work.author_credit %} ({{ book.volume.edition.text.translation.original_work.author_credit }}){% endif %}
                {% endif %}
              {% else %}
                {% for author in book.volume.edition.authors_prefetched %}{% if not forloop.first %}, {% endif %}<span class="hidden">{% if author.lastname %}{{ author.lastname }}, {{ author.firstname }}{% else %}{{ author.name }}{%endif %}</span><a href="{% url 'person_info' author.id|stringformat:'06d' %}">{{ author.name }}</a>{% endfor %}
              {% endif %}
            </td>
            <td>{% if book.volume.edition.publisher %}{{ book.volume.edition.publisher }}{% endif %}</td>
            <td>{% if book.volume.number %}{{ book.volume.number }}{% endif %}</td>
            <td>{% if book.volume.pages %}{{ book.volume.pages }}{% endif %}</td>
            <td><a href="{% url 'volume_info' book.volume.edition.id|stringformat:'06d' book.volume.id|stringformat:'06d' %}">{% if book.volume.isbn %}{{ book.volume.isbn }}{% else %}{% translate 'Unknown' %}{% endif %}</a></td>
            {% if list %}
            <td><a href="{% url 'booklist_remove_volume' list.id|stringformat:'06d' book.volume.id|stringformat:'06d' %}" class="btn btn-xs btn-warning">{% translate 'Remove' %}</a></td>
            {% else %}
            <td><a href="{TODO% url 'user_info' book.user.id|stringformat:'06d' %}">{{ book.user.username }}</a></td>
            <td>{% if book.origin == 'B' %}{% translate 'Bought' %}{% elif book.origin == 'G' %}{% translate 'Given' %}{% elif book.origin == 'F' %}{% translate 'Found' %}{% else %}{% translate 'Unknown' %}{% endif %}</td>
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>
      </table>

    </div>
  </div>

{% endblock %}
