{% extends 'books/base.html' %}

{% load static %}
{% load i18n %}
{% load mimir %}

{% block content_title %}
{% if list %}{{ list.name }} - {% translate 'Books' %}{% else %}{% translate 'My books' %}{% endif %}
{% endblock %}

{% block title %}
{% if list %}{{ list.name }} - {% translate 'Books' %}{% else %}{% translate 'My books' %}{% endif %} - Mimir
{% endblock %}

{% block content_header %}
{% if list %}
<section class="content-header">
  <h1>{{ list.name }}
    {% if user.is_authenticated %}
    <div class="pull-right">
      <a href="{% url 'booklist_edit' list.id|stringformat:'06d' %}" class="btn btn-sm btn-warning">{% translate 'Edit' %}</a>
      <a href="{% url 'booklist_delete' list.id|stringformat:'06d' %}" class="btn btn-sm btn-danger">{% translate 'Delete' %}</a>
    </div>
    {% endif %}
  </h1>
</section>
{% endif %}
{% endblock content_header %}

{% block extra_foot %}
<script>
$(function() {
    var books = [
      {% for book in books %}
        {
          'id': {{ book.id }},
          'title': '{{ book.title|escapejs }}',
          'authors': '{{ book.authors|escapejs }}',
          'year': '{{ book.year|escapejs }}',
          {% if not list %}'date': {% if book.date %}'{{ book.date }}'{% else %}'0000-00-00'{% endif %},{% endif %}
          'read': {% if book.read %}true{% else %}false{% endif %},
          'unread': {% if book.unread %}true{% else %}false{% endif %},
        },
      {% endfor %}
    ];

    function formatNumber(n) {
        return ("000000" + n).slice(-6);
    }

    function updateDisplay(display='all') {
        count = 0;
        for (var i = 0; i < books.length; i++) {
            book = $('#book_' + formatNumber(books[i].id));
            if (display == 'read') {
                if (books[i].read) {
                    book.show();
                    count++;
                } else {
                    book.hide();
                }
            } else if (display == 'unread') {
                if (books[i].unread) {
                    book.show();
                    count++;
                } else {
                    book.hide();
                }
            } else {
                book.show();
                count++;
            }
        }

        if (count == books.length) {
            $('#count_books').html(books.length + ' livres affichés');
        } else {
            $('#count_books').html(count + ' livres affichés sur ' + books.length);
        }
    }

    function updateSort(sort='title') {
        books.sort(function(v1, v2) { return (v1[sort] > v2[sort]); });
        for (var i = 0; i < books.length; i++) {
            book = $('#book_' + formatNumber(books[i].id));
            $('#books').append(book);
        }
    }

    $('#display_all').change(function() {
        updateDisplay('all');
    });

    $('#display_read').change(function() {
        updateDisplay('read');
    });

    $('#display_unread').change(function() {
        updateDisplay('unread');
    });

    $('#sort_title').change(function() {
        updateSort('title');
    });

    $('#sort_authors').change(function() {
        updateSort('authors');
    });

    $('#sort_year').change(function() {
        updateSort('year');
    });

    {% if not list %}
    $('#sort_date').change(function() {
        updateSort('date');
    });
    {% endif %}
});
</script>
{% endblock %}

{% block content %}

<p>
  {% translate 'Mode' %}{% translate ':' %}
  <span class="btn-group btn-group-toggle">
    <a class="btn btn-xs btn-primary" href="{% if list %}{% url 'booklist_info' list.id|stringformat:'06d' %}{% else %}{% url 'books_list' %}{% endif %}?mode=table">{% translate 'Table' %}</a>
    <a class="btn btn-xs btn-primary active">{% translate 'Images' %}</a>
  </span>

  <span style="margin-left: 20px;">{% translate 'Display' %}{% translate ':' %}</span>
  <span class="btn-group btn-group-toggle" data-toggle="buttons">
    <label class="btn btn-xs btn-primary active">
      <input type="radio" name="display" id="display_all" autocomplete="off" checked="checked" /> {% translate 'All books' %}
    </label>
    <label class="btn btn-xs btn-primary">
      <input type="radio" name="display" id="display_read" autocomplete="off" /> {% translate 'Read books' %}
    </label>
    <label class="btn btn-xs btn-primary">
      <input type="radio" name="display" id="display_unread" autocomplete="off" /> {% translate 'Unread books' %}
    </label>
  </span>

  <span style="margin-left: 20px;">{% translate 'Sort' %}{% translate ':' %}</span>
  <span class="btn-group btn-group-toggle" data-toggle="buttons">
    <label class="btn btn-xs btn-primary active">
      <input type="radio" name="sort" id="sort_title" autocomplete="off" checked="checked" /> {% translate 'Title' %}
    </label>
    <label class="btn btn-xs btn-primary">
      <input type="radio" name="sort" id="sort_authors" autocomplete="off" /> {% translate 'Authors' %}
    </label>
    <label class="btn btn-xs btn-primary">
      <input type="radio" name="sort" id="sort_year" autocomplete="off" /> {% translate 'Year' %}
    </label>
    {% if not list %}
    <label class="btn btn-xs btn-primary">
      <input type="radio" name="sort" id="sort_date" autocomplete="off" /> {% translate 'Date' %}
    </label>
    {% endif %}
  </span>
</p>

<div style="display: flex; flex-wrap: wrap; gap: 10px; text-align: center; margin-bottom: 10px;" id="books">
  {% for book in books %}
    <div class="box box-solid box-info" style="width: 160px; height: 240px; margin-bottom: 0;" id="book_{{ book.id|stringformat:'06d' }}">
      <div class="box-body">
        {% if book.volume.image %}
          <a href="{% if list %}{% url 'volume_info' book.volume.edition.id|stringformat:'06d' book.volume.id|stringformat:'06d' %}{% else %}{% url 'book_info' book.id|stringformat:'06d' %}{% endif %}">
            <img src="{{ book.volume.image.url }}" style="max-width: 138px; max-height: 218px;" title="{% if book.volume.edition.text %}{{ book.volume.title }}{% else %}{{ book.volume.edition.title }}{% endif %}" />
          </a>
        {% else %}
          <p>
            <a href="{% if list %}{% url 'volume_info' book.volume.edition.id|stringformat:'06d' book.volume.id|stringformat:'06d' %}{% else %}{% url 'book_info' book.id|stringformat:'06d' %}{% endif %}"><i>
            {% if book.volume.edition.text %}
              {{ book.volume.title }}</i></a>
              {% if book.volume.edition.text.work %}
                {% if book.volume.edition.text.work.title != book.volume.title %} (<i>{{ book.volume.edition.text.work.title }}</i>){% endif %}
              {% elif book.volume.edition.text.translation %}
                {% if book.volume.edition.text.translation.original_work.title != book.volume.title %} (<i>{{ book.volume.edition.text.translation.original_work.title }}</i>){% endif %}
              {% endif %}
            {% else %}
              {{ book.volume.edition.title }}</i></a> ({% translate 'collection' context 'collection of books' %})
            {% endif %}
          </p>

          <p>
            {% if book.volume.edition.text %}
              {% if book.volume.edition.text.work %}
                {% for author in book.volume.edition.text.work.authors.all %}{% if not forloop.first %}, {% endif %}<a href="{% url 'person_info' author.id|stringformat:'06d' %}">{{ author.name }}</a>{% endfor %}
                {% if book.volume.edition.text.work.author_credit %} ({{ book.volume.edition.text.work.author_credit }}){% endif %}
              {% elif book.volume.edition.text.translation %}
                {% for author in book.volume.edition.text.translation.original_work.authors.all %}{% if not forloop.first %}, {% endif %}<a href="{% url 'person_info' author.id|stringformat:'06d' %}">{{ author.name }}</a>{% endfor %}
                {% if book.volume.edition.text.translation.original_work.author_credit %} ({{ book.volume.edition.text.translation.original_work.author_credit }}){% endif %}
              {% endif %}
            {% else %}
              {% for author in book.volume.edition.authors_prefetched %}{% if not forloop.first %}, {% endif %}<a href="{% url 'person_info' author.id|stringformat:'06d' %}">{{ author.name }}</a>{% endfor %}
            {% endif %}
          </p>

          <p>
            {% if book.volume.edition.text %}
              {% if book.volume.edition.text.work %}
                {% if book.volume.edition.text.work.year %}{{ book.volume.edition.text.work.year }}{% endif %}
              {% elif book.volume.edition.text.translation %}
                {% if book.volume.edition.text.translation.original_work.year %}{{ book.volume.edition.text.translation.original_work.year }}{% endif %}
              {% endif %}
            {% else %}
              {% if book.volume.edition.year %}{{ book.volume.edition.year }}{% endif %}
            {% endif %}
          </p>
        {% endif %}
      </div>
    </div>
  {% endfor %}
</div>

<p id="count_books">{{ books|length }} livres affichés</p>

{% endblock %}
