{% extends 'books/base.html' %}

{% load i18n %}

{% block content_title %}
<a href="{% url 'book_info' book.id|stringformat:'06d' %}"><i>{{ book.volume.title }}</i></a> ({% translate 'book' %}) - {% translate 'Add reading' %}
{% endblock %}

{% block title %}
{{ book.volume.title }} ({% translate 'book' %}) - {% translate 'Books' %} - Mimir
{% endblock %}

{% block content %}
{% include 'form_add_object.html' %}
{% endblock %}
