{% extends 'books/base.html' %}

{% load i18n %}
{% load static %}

{% block content_title %}
<a href="{% url 'edition_info' edition.id|stringformat:'06d' %}"><i>{{ edition.title }}</i></a> - {% translate 'Add volume' %}
{% endblock %}

{% block title %}
{{ edition.title }} - {% translate 'Books' %} - Mimir
{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/fileinput.min.css' %}" media="all" />
{% endblock %}

{% block extra_foot %}
<script src="{% static 'js/fileinput/fileinput.min.js' %}"></script>
<script src="{% static 'js/fileinput/locales/fr.js' %}"></script>

<script>
$(function() {
    $('#id_image').fileinput({
        showPreview: true,
        previewFileType: 'image',
        allowedFileTypes: ['image'],
        showUpload: false,
        browseClass: 'btn btn-success',
        browseIcon: '<i class="glyphicon glyphicon-picture"></i> ',
        language: 'fr',
        maxFileCount: 1,
        autoReplace: true,
    });
});
</script>
{% endblock %}

{% block content %}
{% include 'form_add_object.html' %}
{% endblock %}
