{% extends 'books/base.html' %}

{% load static %}
{% load i18n %}
{% load mimir %}

{% block footer_right %}
{% if edition.creation %}{% translate 'Creation:' %} {{ edition.creation }}.{% endif %}
{% if edition.modification %}{% translate 'Last modification:' %} {{ edition.modification }}.{% endif %}
{% endblock %}

{% block title %}
{{ edition.title }} ({% translate 'edition' %}) - {% translate 'Books' %} - Mimir
{% endblock %}

{% block content_header %}
<section class="content-header">
  <h1><i>{{ edition.title }}</i> ({% translate 'edition' %})
    {% if perms.books.change_edition or perms.books.delete_edition %}
    <div class="pull-right">
      {% if perms.books.change_edition %}
      <a href="{% url 'edition_edit' edition.id|stringformat:'06d' %}" class="btn btn-sm btn-warning">{% translate 'Edit' %}</a>
      {% endif %}
      {% if perms.books.add_edition %}
      <a href="{% url 'edition_duplicate' edition.id|stringformat:'06d' %}" class="btn btn-sm btn-success">{% translate 'Duplicate' %}</a>
      {% endif %}
      {% if perms.books.delete_edition %}
      <a href="{% url 'edition_delete' edition.id|stringformat:'06d' %}" class="btn btn-sm btn-danger">{% translate 'Delete' %}</a>
      {% endif %}
    </div>
    {% endif %}
  </h1>
</section>
{% endblock content_header %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/datatables/dataTables.min.css' %}" />
{% endblock %}

{% block extra_foot %}
<script src="{% static 'js/datatables/datatables.min.js' %}"></script>

<script>
$(function() {
    function makeDataTable(obj, options={}) {
        var opt = {
            "paging"      : false,
            "lengthChange": false,
            "searching"   : false,
            "ordering"    : true,
            "info"        : false,
            "autoWidth"   : true,
            "language": {
                "processing":     "Traitement en cours...",
                "search":         "Rechercher&nbsp;:",
                "lengthMenu":     "Afficher _MENU_ &eacute;l&eacute;ments",
                "info":           "Affichage de l'&eacute;lement _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
                "infoEmpty":      "Affichage de l'&eacute;lement 0 &agrave; 0 sur 0 &eacute;l&eacute;ments",
                "infoFiltered":   "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
                "infoPostFix":    "",
                "loadingRecords": "Chargement en cours...",
                "zeroRecords":    "Aucun &eacute;l&eacute;ment &agrave; afficher",
                "emptyTable":     "Aucune donnée disponible dans le tableau.",
                "paginate": {
                    "first":      "{% translate 'First' %}",
                    "previous":   "{% translate 'Previous' %}",
                    "next":       "{% translate 'Next' %}",
                    "last":       "{% translate 'Last' %}"
                },
                "aria": {
                    "sortAscending":  ": activer pour trier la colonne par ordre croissant",
                    "sortDescending": ": activer pour trier la colonne par ordre décroissant"
                }
            },
        };
        jQuery.extend(opt, options);
        obj.DataTable(opt);
    }

    makeDataTable($("#works_list"));
    makeDataTable($("#volumes_list"), {"order": [[0, "asc"]]});
});
</script>
{% endblock %}

{% block content %}

  <div class="row">
    <div class="col-md-4">
      <div class="box box-solid box-info">
        <div class="box-body">
          <dl class="dl-horizontal">
            {% if edition.text %}
              <dt>{% translate 'Work' %}{% translate ':' %}</dt>
              <dd>
                {% if edition.text.work %}
                  <a href="{% url 'work_info' edition.text.work.id|stringformat:'06d' %}"><i>{{ edition.text.work.title }}</i></a>
                  {% if edition.text.work.year %} ({{ edition.text.work.year }}){% endif %}
                {% elif edition.text.translation %}
                  <a href="{% url 'work_info' edition.text.translation.original_work.id|stringformat:'06d' %}"><i>{{ edition.text.translation.original_work.title }}</i></a>
                  {% if edition.text.translation.original_work.year %} ({{ edition.text.translation.original_work.year }}){% endif %}
                {% endif %}
              </dd>
              {% if edition.text.work %}
                {% if edition.title != edition.text.work.title %}<dt>{% translate 'Title' %}{% translate ':' %}</dt><dd><i>{{ edition.title }}</i></dd>{% endif %}
              {% elif edition.text.translation %}
                {% if edition.title != edition.text.translation.original_work.title %}<dt>{% translate 'Title' %}{% translate ':' %}</dt><dd><i>{{ edition.title }}</i></dd>{% endif %}
              {% endif %}
            {% else %}
              <dt>{% translate 'Title' %}{% translate ':' %}</dt><dd><i>{{ edition.title }}</i></dd>
            {% endif %}

            {% if edition.text %}
              {% if edition.text.work %}
                {% if edition.text.work.authors.count > 0 %}
                  <dt>{% blocktranslate count c=edition.text.work.authors.count %}Author{% plural %}Authors{% endblocktranslate %}{% translate ':' %}</dt>
                  <dd>{% for author in edition.text.work.authors.all %}{% if not forloop.first %}, {% endif %}<a href="{% url 'person_info' author.id|stringformat:'06d' %}">{{ author.name }}</a>{% endfor %}</dd>
                {% endif %}
              {% elif edition.text.translation %}
                {% if edition.text.translation.original_work.authors.count > 0 %}
                  <dt>{% blocktranslate count c=edition.text.translation.original_work.authors.count %}Author{% plural %}Authors{% endblocktranslate %}{% translate ':' %}</dt>
                  <dd>{% for author in edition.text.translation.original_work.authors.all %}{% if not forloop.first %}, {% endif %}<a href="{% url 'person_info' author.id|stringformat:'06d' %}">{{ author.name }}</a>{% endfor %}</dd>
                {% endif %}
              {% endif %}
            {% else %}
              {% if edition.authors|length > 0 %}
                <dt>{% blocktranslate count c=edition.authors|length %}Author{% plural %}Authors{% endblocktranslate %}{% translate ':' %}</dt>
                <dd>{% for author in edition.authors %}{% if not forloop.first %}, {% endif %}<a href="{% url 'person_info' author.id|stringformat:'06d' %}">{{ author.name }}</a>{% endfor %}</dd>
              {% endif %}
            {% endif %}
          </dl>

          {% if edition.text.translation %}
          <dl class="dl-horizontal">
            <dt>{% translate 'Translation' %}{% translate ':' %}</dt>
            <dd><a href="{% url 'translation_info' edition.text.translation.id|stringformat:'06d' %}">{{ edition.text.translation }}</a></dd>
          </dl>
          {% endif %}

          <dl class="dl-horizontal">
            <dt>{% translate 'Edition' %}{% translate ':' %}</dt><dd><i>{{ edition.title }}</i></dd>
            {% if edition.publisher %}<dt>{% translate 'Publisher' %}{% translate ':' %}</dt><dd>{{ edition.publisher }}</dd>{% endif %}
            {% if edition.year %}<dt>{% translate 'Year' %}{% translate ':' %}</dt><dd>{{ edition.year }}</dd>{% endif %}
          </dl>

          {% if volume %}
          <dl class="dl-horizontal">
            {% if volume.title != volume.edition.title %}<dt>{% translate 'Title' %}{% translate ':' %}</dt><dd><i>{{ volume.title }}</i></dd>{% endif %}
            {% if volume.number %}<dt>{% translate 'Number' %}{% translate ':' %}</dt><dd>{{ volume.number }}</dd>{% endif %}
            {% if volume.pages %}<dt>{% translate 'Pages' %}{% translate ':' %}</dt><dd>{{ volume.pages }}</dd>{% endif %}
            <dt>{% translate 'ISBN' %}{% translate ':' %}</dt><dd>{% if volume.isbn %}{{ volume.isbn }}{% else %}{% translate 'Unknown' %}{% endif %}</dd>
          </dl>
          {% endif %}
        </div>
      </div>
    </div>

    {% if volume and volume.image %}
    <div class="col-md-4">
      <div class="box box-solid box-info" style="width: 220px;">
        <div class="box-body">
          <img src="{{ volume.image.url }}" style="max-width: 200px; max-height: 300px;" class="center-block" />
        </div>
      </div>
    </div>
    {% endif %}

    {% if perms.books.add_reading or readings|length > 0 %}
    <div class="{% if not volume or not volume.image %}col-md-offset-4 {% endif %}col-md-4">
      <div class="box box-solid box-info">
        <div class="box-header with-border">
          <h3 class="box-title">{% translate 'Readings' %}</h3>
          {% if user.is_authenticated %}
          <div class="box-tools pull-right">
            {% if perms.books.change_reading %}
            <a href="{% url 'edition_edit_readings' edition.id|stringformat:'06d' %}" class="btn btn-box-tool" title="{% translate 'Edit readings' %}">
              <i class="fa fa-edit"></i>
            </a>
            {% endif %}
            {% if perms.books.add_reading %}
            <a href="{% url 'edition_add_reading' edition.id|stringformat:'06d' %}" class="btn btn-box-tool" title="{% translate 'Add reading' %}">
              <i class="fa fa-plus-square"></i>
            </a>
            {% endif %}
          </div>
          {% endif %}
        </div>
        <div class="box-body">
          {% if readings|length > 0 %}
          <ul>
            {% for reading in readings %}
            <li>{% if reading.date_start != '0000-00-00' or reading.date_end != '0000-00-00' %}{{ reading.date_start|date_format }}{% if reading.date_end %} - {{ reading.date_end|date_format }}{% endif %}{% else %}{% translate 'Unknown date' %}{% endif %}{% if reading.user and reading.user != request.user %} par {{ reading.user }}{% endif %}{% if reading.info %} ({{ reading.info }}){% endif %}{% if not reading.date_end %} [en cours]{% endif %}</li>
            {% endfor %}
          </ul>
          {% else %}
          <p>{% translate 'No readings.' %}</p>
          {% endif %}
        </div>
      </div>
    </div>
    {% endif %}
  </div>

  {% if edition.info or volume and volume.info %}
  <div class="box box-solid box-info">
    <div class="box-header with-border">
      <h3 class="box-title">{% translate 'Information' %}</h3>
      <div class="box-tools pull-right">
        <button type="button" class="btn btn-box-tool" data-widget="collapse">
          <i class="fa fa-minus"></i>
        </button>
      </div>
    </div>
    <div class="box-body">{{ edition.info|linebreaks }}{% if volume and volume.info %}{% if edition.info %}<hr/>{% endif %}{{ volume.info|linebreaks }}{% endif %}</div>
  </div>
  {% endif %}

  {% if edition.text is None %}
  <div class="box box-solid box-info">
    <div class="box-header with-border">
      <h3 class="box-title">{% translate 'Texts' %}</h3>
      <div class="box-tools pull-right">
        {% if perms.books.change_editiontext %}
        <a href="{% url 'edition_edit_texts' edition.id|stringformat:'06d' %}" class="btn btn-box-tool" title="{% translate 'Edit texts' %}">
          <i class="fa fa-edit"></i>
        </a>
        {% endif %}
        {% if perms.books.add_editiontext %}
        <a href="{% url 'edition_add_text' edition.id|stringformat:'06d' %}" class="btn btn-box-tool" title="{% translate 'Add text' %}">
          <i class="fa fa-plus-square"></i>
        </a>
        {% endif %}
        <button type="button" class="btn btn-box-tool" data-widget="collapse">
          <i class="fa fa-minus"></i>
        </button>
      </div>
    </div>
    <div class="box-body">
      <table class="table table-bordered table-stripped table-hover" id="works_list">
        <thead>
          <tr>
            <th>{% translate 'Order' %}</th>
            <th>{% translate 'Title' %}</th>
            <th>{% translate 'Authors' %}</th>
            <th>{% translate 'Year' %}</th>
            <th>{% translate 'Role' %}</th>
          </tr>
        </thead>
        <tbody>
        {% for edition_text in texts %}
          <tr>
            <td>{{ edition_text|get_order }}</td>
            <td>
              {% if edition_text.text.work %}
                <a href="{% url 'work_info' edition_text.text.id|stringformat:'06d' %}" class="{% if edition_text.text.read %}work_read{% else %}work_not_read{% endif %}"><i>{{ edition_text.title }}</i></a>
              {% elif edition_text.text.translation %}
                <a href="{% url 'work_info' edition_text.text.translation.original_work.id|stringformat:'06d' %}" class="{% if edition_text.text.read %}work_read{% else %}work_not_read{% endif %}"><i>{{ edition_text.title }}</i></a>
              {% endif %}

              {% if edition_text.text.work %}
                {% if edition_text.text.work.title_vo and edition_text.text.work.title_vo != edition_text.title %}
                  (<i>{{ edition_text.text.work.title_vo }}</i>)
                {% elif edition_text.text.work.title != edition_text.title %}
                  (<i>{{ edition_text.text.work.title }}</i>)
                {% endif %}
              {% elif edition_text.text.translation %}
                {% if edition_text.text.translation.original_work.title_vo %}
                  {% if edition_text.text.translation.original_work.title_vo != edition_text.title %}
                    (<i>{{ edition_text.text.translation.original_work.title_vo }}</i>)
                  {% endif %}
                {% else %}
                  {% if edition_text.text.translation.original_work.title != edition_text.title %}
                    (<i>{{ edition_text.text.translation.original_work.title }}</i>)
                  {% endif %}
                {% endif %}
              {% endif %}

              {% if edition_text.text.translation %}
                <br/>{% translate 'Translation' %}{% translate ':' %} <a href="{% url 'translation_info' edition_text.text.translation.id|stringformat:'06d' %}">{{ edition_text.text.translation }}</a>
              {% endif %}
            </td>
            <td>
              {% if edition_text.text.work %}
                {% for author in edition_text.text.work.authors.all %}{% if not forloop.first %}, {% endif %}<a href="{% url 'person_info' author.id|stringformat:'06d' %}">{{ author.name }}</a>{% endfor %}
              {% elif edition_text.text.translation %}
                {% for author in edition_text.text.translation.original_work.authors.all %}{% if not forloop.first %}, {% endif %}<a href="{% url 'person_info' author.id|stringformat:'06d' %}">{{ author.name }}</a>{% endfor %}
              {% endif %}
            </td>
            <td>
              {% if edition_text.text.work %}
                {% if edition_text.text.year %}{{ edition_text.text.year }}{% endif %}
              {% elif edition_text.text.translation %}
                {% if edition_text.text.translation.original_work.year %}{{ edition_text.text.translation.original_work.year }}{% endif %}
              {% endif %}
            </td>
            <td>
              {% if edition_text.role == 'M' %}
                {% translate 'Main text' %}
              {% elif edition_text.role == 'B' %}
                {% translate 'Preface' %}
              {% elif edition_text.role == 'A' %}
                {% translate 'Postface' %}
              {% elif edition_text.role == 'N' %}
                {% translate 'Notes' %}
              {% elif edition_text.role == 'I' %}
                {% translate 'Introduction' %}
              {% else %}
                {% translate 'Other' %}
              {% endif %}
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  {% endif %}

  <div class="box box-solid box-info">
    <div class="box-header with-border">
      <h3 class="box-title">{% translate 'Volumes' %}</h3>
      <div class="box-tools pull-right">
        {% if perms.books.add_volume %}
        <a href="{% url 'edition_add_volume' edition.id|stringformat:'06d' %}" class="btn btn-box-tool" title="{% translate 'Add volume' %}">
          <i class="fa fa-plus-square"></i>
        </a>
        {% endif %}
        <button type="button" class="btn btn-box-tool" data-widget="collapse">
          <i class="fa fa-minus"></i>
        </button>
      </div>
    </div>
    <div class="box-body">
      {% if volumes.count > 0 %}
      <table class="table table-bordered table-stripped table-hover" id="volumes_list">
        <thead>
          <tr>
            <th>{% translate 'Title' %}</th>
            <th>{% translate 'ISBN' %}</th>
            <th>{% translate 'Number' %}</th>
          </tr>
        </thead>
        <tbody>
        {% for volume in volumes %}
          <tr>
            <td><a href="{% url 'volume_info' edition.id|stringformat:'06d' volume.id|stringformat:'06d' %}"><i>{{ volume.title }}</i></a></td>
            <td>{% if volume.isbn %}{{ volume.isbn }}{% endif %}</td>
            <td>{% if volume.number %}{{ volume.number }}{% endif %}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
      {% else %}
      <p>{% translate 'No volumes.' %}</p>
      {% endif %}
    </div>
  </div>

  {% if volume %}
    <div class="row">
      {% if perms.books.add_book or books.count > 0 %}
      <div class="col-md-12 col-lg-6">
        <div class="box box-solid box-info">
          <div class="box-header with-border">
            <h3 class="box-title">{% translate 'Books' %}</h3>
            <div class="box-tools pull-right">
              {% if perms.books.add_book %}
              <a href="{% url 'volume_add_book' volume.edition.id|stringformat:'06d' volume.id|stringformat:'06d' %}" class="btn btn-box-tool" title="{% translate 'Add book' %}">
                <i class="fa fa-plus-square"></i>
              </a>
              {% endif %}
              <button type="button" class="btn btn-box-tool" data-widget="collapse">
                <i class="fa fa-minus"></i>
              </button>
            </div>
          </div>
          <div class="box-body">
            {% if books.count > 0 %}
            <table class="table table-bordered table-stripped table-hover" id="books_list">
              <thead>
                <tr>
                  <th>{% translate 'Buying date' %}</th>
                  <th>{% translate 'Owner' %}</th>
                </tr>
              </thead>
              <tbody>
              {% for book in books.all %}
                <tr>
                  <td><a href="{% url 'book_info' book.id|stringformat:'06d' %}">{% if book.date %}{{ book.date|date_format }}{% else %}{% translate 'Unknown date' %}{% endif %}</a></td>
                  <td><a href="{TODO% url 'user_info' book.user.id|stringformat:'06d' %}">{{ book.user.username }}</a></td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
            {% else %}
            <p>{% translate 'No books.' %}</p>
            {% endif %}
          </div>
        </div>
      </div>
      {% endif %}

      {% if perms.books.change_list and lists|length > 0 %}
      <div class="col-md-12 col-lg-6">
        <div class="box box-solid box-info">
          <div class="box-header with-border">
            <h3 class="box-title">{% translate 'Lists' %}</h3>
            <div class="box-tools pull-right">
              <button type="button" class="btn btn-box-tool" data-widget="collapse">
                <i class="fa fa-minus"></i>
              </button>
            </div>
          </div>
          <div class="box-body">
            {% for list in lists %}
              {% if list.disabled %}
                <a class="btn btn-xs btn-default" href="{% url 'booklist_info' list.id|stringformat:'06d' %}">{{ list.name }}</a>
              {% else %}
                <a class="btn btn-xs btn-primary" href="{% url 'booklist_add_volume' list.id|stringformat:'06d' volume.id|stringformat:'06d' %}">Ajouter à la liste "{{ list.name }}"</a>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
      {% endif %}
    </div>
  {% endif %}

  <div class="row">
    <div class="col-md-12 col-lg-6">
      <div class="box box-solid box-info">
        <div class="box-header with-border">
          <h3 class="box-title">{% translate 'Attributes' %}</h3>
          <div class="box-tools pull-right">
            {% if perms.books.change_editionattribute %}
            <a href="{% url 'edition_edit_attributes' edition.id|stringformat:'06d' %}" class="btn btn-box-tool" title="{% translate 'Edit attributes' %}">
              <i class="fa fa-edit"></i>
            </a>
            {% endif %}
            {% if perms.books.add_editionattribute %}
            <a href="{% url 'edition_add_attribute' edition.id|stringformat:'06d' %}" class="btn btn-box-tool" title="{% translate 'Add attribute' %}">
              <i class="fa fa-plus-square"></i>
            </a>
            {% endif %}
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
              <i class="fa fa-minus"></i>
            </button>
          </div>
        </div>
        <div class="box-body">
          {% if edition.attributes.count > 0 %}
          <ul>
            {% for attribute in edition.attributes.all %}
            <li>{{ attribute.name }} : {{ attribute.value }}</li>
            {% endfor %}
          </ul>
          {% else %}
          <p>{% translate 'No attributes.' %}</p>
          {% endif %}
        </div>
      </div>
    </div>

    <div class="col-md-12 col-lg-6">
      <div class="box box-solid box-info">
        <div class="box-header with-border">
          <h3 class="box-title">{% translate 'Links' %}</h3>
          <div class="box-tools pull-right">
            {% if perms.books.change_editionlink %}
            <a href="{% url 'edition_edit_links' edition.id|stringformat:'06d' %}" class="btn btn-box-tool" title="{% translate 'Edit links' %}">
              <i class="fa fa-edit"></i>
            </a>
            {% endif %}
            {% if perms.books.add_editionlink %}
            <a href="{% url 'edition_add_link' edition.id|stringformat:'06d' %}" class="btn btn-box-tool" title="{% translate 'Add link' %}">
              <i class="fa fa-plus-square"></i>
            </a>
            {% endif %}
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
              <i class="fa fa-minus"></i>
            </button>
          </div>
        </div>
        <div class="box-body">
          {% if edition.links.count > 0 %}
          <ul>
            {% for link in edition.links.all %}
            <li><a href="{{ link.uri }}">{{ link.name }} <span class="fa fa-external-link"></span></a>{% if link.lang %} ({{ link.lang }}){% endif %}</li>
            {% endfor %}
          </ul>
          {% else %}
          <p>{% translate 'No links.' %}</p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

{% endblock %}
