{% extends 'books/base.html' %}

{% load i18n %}
{% load static %}

{% block content_title %}
<a href="{% url 'edition_info' edition.id|stringformat:'06d' %}"><i>{{ edition.title }}</i></a> - {% translate 'Add text' %}
{% endblock %}

{% block title %}
{{ edition.title }} - {% translate 'Books' %} - Mimir
{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/select2.min.css' %}" media="all" />
{% endblock %}

{% block extra_foot %}
<script src="{% static 'js/select2/select2.min.js' %}"></script>
<script src="{% static 'js/select2/i18n/fr.js' %}"></script>

<script>
$(function() {
    function formatText(text) {
        var markup = '<strong><i>' + text.title + '</i></strong>';
        if (text.work_year) {
            markup += ' <span class="small">(' + text.work_year + ')</span>';
        }
        if (text.authors && text.authors.length > 0) {
            markup += '{% translate ' by ' %}';
            for (var i = 0; i < text.authors.length; ++i) {
                if (i > 0) {
                    markup += ', ';
                }
                markup += text.authors[i].name;
            }
        }
        if (text.translators) {
            if (text.translators.length != 0) {
                markup += '{% translate ' translated by ' %}';
                for (var i = 0; i < text.translators.length; ++i) {
                    if (i > 0) {
                        markup += ', ';
                    }
                    markup += text.translators[i].name;
                }
            } else {
                markup += '{% translate ' translated' %}';
            }
            if (text.lang_name) {
                markup += '{% translate ' in ' context 'language' %}' + text.lang_name;
            }
            if (text.year) {
                markup += ' (' + text.year + ')';
            }
        }
        return markup;
    }

    function formatTextSelection(text) {
        var markup = '<i>' + text.title + '</i>';
        if (text.work_year) {
            markup += ' (' + text.work_year + ')';
        }
        if (text.authors && text.authors.length > 0) {
            markup += '{% translate ' by ' %}';
            for (var i = 0; i < text.authors.length; ++i) {
                if (i > 0) {
                    markup += ', ';
                }
                markup += text.authors[i].name;
            }
        }
        if (text.translators) {
            if (text.translators.length != 0) {
                markup += '{% translate ' translated by ' %}';
                for (var i = 0; i < text.translators.length; ++i) {
                    if (i > 0) {
                        markup += ', ';
                    }
                    markup += text.translators[i].name;
                }
            } else {
                markup += '{% translate ' translated' %}';
            }
            if (text.lang_name) {
                markup += '{% translate ' in ' context 'language' %}' + text.lang_name;
            }
            if (text.year) {
                markup += ' (' + text.year + ')';
            }
        }
        return markup;
    }

    $("select.select_text").select2({
        ajax: {
            url: "{% url 'texts_api_search' %}",
            dataType: 'json',
            delay: 250,
            data: function(params) {
                return {
                    q: params.term,
                    page: params.page
                };
            },
            processResults: function(data, params) {
                params.page = params.page || 1;

                for (var i = 0; i < data.items.length; ++i) {
                    data.items[i]['text'] = data.items[i]['title'];
                }

                return {
                    results: data.items,
                    pagination: {
                        more: data.incomplete_results
                    }
                };
            },
            cache: true
        },
        escapeMarkup: function(markup) { return markup; },
        minimumInputLength: 1,
        templateResult: formatText,
        templateSelection: formatTextSelection,
    }).on("change", function(e) {
        $('#id_text_title').val($('#id_text_id option:selected').text());
        $('#id_title').val($('#id_text_id option:selected').text());
        $('#id_text').val($('#id_text_id').val());
    });

    $(document).on('select2:open', function(e) {
        document.querySelector(`[aria-controls="select2-${e.target.id}-results"]`).focus();
    });

    $('#id_text_id').val({value: $('#id_text').val(), text: $('#id_text_title').val()});
});
</script>
{% endblock %}

{% block content %}
{% include 'form_add_object.html' %}
{% endblock %}
