{% extends 'books/base.html' %}

{% load i18n %}

{% block content_title %}
<a href="{% url 'edition_info' edition.id|stringformat:'06d' %}"><i>{{ edition.title }}</i></a> ({% translate 'edition' %}) - {% translate 'Add attribute' %}
{% endblock %}

{% block title %}
{{ edition.title }} ({% translate 'edition' %}) - {% translate 'Books' %} - Mimir
{% endblock %}

{% block content %}
{% include 'form_add_object.html' %}
{% endblock %}
