{% extends 'books/base.html' %}

{% load i18n %}

{% block content_title %}
<a href="{% url 'edition_info' edition.id|stringformat:'06d' %}"><i>{{ edition.title }}</i></a> ({% translate 'edition' %}) - {% translate 'Duplicate' %}
{% endblock %}

{% block title %}
{{ edition.title }} ({% translate 'edition' %}) - {% translate 'Books' %} - Mimir
{% endblock %}

{% block content %}

<div class="box box-primary">
  <form action="{% url 'edition_duplicate' edition.id|stringformat:'06d' %}" method="post" class="form">
    {% csrf_token %}
    <input type="hidden" name="duplicate" value="1" />

    <div class="box-body">
      <div class="alert alert-info">
        <p>{% translate 'Are you sure you want to duplicate this edition?' %}</p>
      </div>
    </div>

    <div class="box-footer">
      <input type="submit" class="btn btn-primary center-block" value="{% translate 'Duplicate' %}" />
    </div>
  </form>
</div>

{% endblock %}
