{% extends 'books/base.html' %}

{% load i18n %}
{% load mimir %}

{% block content_title %}
{% translate 'Books' %}
{% endblock %}

{% block content %}

<div class="row">
  <div class="col-md-6">
    <div class="box box-solid box-info">
      <div class="box-header with-border">
        <h3 class="box-title">{% translate 'Last modified works' %}</h3>
      </div>
      <div class="box-body">
        {% if works.count > 0 %}
        <table class="table table-bordered table-stripped table-hover table-condensed">
          <thead>
            <tr>
              <th>{% translate 'Title' %}</th>
              <th>{% translate 'Authors' %}</th>
              <th>{% translate 'Year' %}</th>
            </tr>
          </thead>
          <tbody>
            {% for work in works %}
            <tr>
              <td><a href="{% url 'work_info' work.id|stringformat:'06d' %}"><i>{{ work.title }}</i></a></td>
              <td>{% for author in work.authors.all %}{% if not forloop.first %}, {% endif %}<a href="{% url 'person_info' author.id|stringformat:'06d' %}">{{ author.name }}</a>{% endfor %}</td>
              <td>{% if work.year %}{{ work.year }}{% endif %}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% else %}
        <p>{% translate 'No works.' %}</p>
        {% endif %}
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="box box-solid box-info">
      <div class="box-header with-border">
        <h3 class="box-title">{% translate 'Last readings' %}</h3>
      </div>
      <div class="box-body">
        {% if readings|length > 0 %}
        <table class="table table-bordered table-stripped table-hover table-condensed">
          <thead>
            <tr>
              <th>{% translate 'Title' %}</th>
              <th>{% translate 'Authors' %}</th>
              <th>{% translate 'Date' %}</th>
            </tr>
          </thead>
          <tbody>
            {% for reading in readings %}
            <tr>
              <td>
                {% if reading.book %}
                  <a href="{% url 'book_info' reading.book.id|stringformat:'06d' %}"><i>{{ reading.edition.title }}</i></a>
                  {% if reading.text.work %}
                    {% if reading.text.work.title != reading.edition.title %} (<i>{{ reading.text.work.title }}</i>){% endif %}
                  {% elif reading.text.translation %}
                    {% if reading.text.translation.original_work.title != reading.edition.title %} (<i>{{ reading.text.translation.original_work.title }}</i>){% endif %}
                  {% endif %}
                {% elif reading.volume %}
                  <a href="{% url 'volume_info' reading.edition.id|stringformat:'06d' reading.volume.id|stringformat:'06d' %}"><i>{{ reading.volume.title }}</i></a>
                  {% if reading.text.work %}
                    {% if reading.text.work.title != reading.volume.title %} (<i>{{ reading.text.work.title }}</i>){% endif %}
                  {% elif reading.text.translation %}
                    {% if reading.text.translation.original_work.title != reading.volume.title %} (<i>{{ reading.text.translation.original_work.title }}</i>){% endif %}
                  {% endif %}
                {% elif reading.edition %}
                  <a href="{% url 'edition_info' reading.edition.id|stringformat:'06d' %}"><i>{{ reading.edition.title }}</i></a>
                  {% if reading.text.work %}
                    {% if reading.text.work.title != reading.edition.title %} (<i>{{ reading.text.work.title }}</i>){% endif %}
                  {% elif reading.text.translation %}
                    {% if reading.text.translation.original_work.title != reading.edition.title %} (<i>{{ reading.text.translation.original_work.title }}</i>){% endif %}
                  {% endif %}
                {% else %}
                  {% if reading.text.work %}
                    <a href="{% url 'work_info' reading.text.work.id|stringformat:'06d' %}"><i>{{ reading.text.work.title }}</i></a>
                  {% elif reading.text.translation %}
                    <a href="{% url 'translation_info' reading.text.translation.id|stringformat:'06d' %}"><i>{{ reading.text.translation.original_work.title }}</i></a>
                  {% endif %}
                {% endif %}
              </td>
              <td>
                {% if reading.text.work %}
                  {% for author in reading.text.work.authors.all %}{% if not forloop.first %}, {% endif %}<a href="{% url 'person_info' author.id|stringformat:'06d' %}">{{ author.name }}</a>{% endfor %}
                {% elif reading.text.translation %}
                  {% for author in reading.text.translation.original_work.authors.all %}{% if not forloop.first %}, {% endif %}<a href="{% url 'person_info' author.id|stringformat:'06d' %}">{{ author.name }}</a>{% endfor %}
                {% elif reading.edition %}
                  {% for author in reading.edition.authors %}{% if not forloop.first %}, {% endif %}<a href="{% url 'person_info' author.id|stringformat:'06d' %}">{{ author.name }}</a>{% endfor %}
                {% endif %}
              </td>
              <td>{% if reading.date_end is None %}{% translate 'in progress' %}{% else %}{{ reading.date_end|date_format }}{% endif %}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% else %}
        <p>{% translate 'No readings.' %}</p>
        {% endif %}
      </div>
    </div>
  </div>

  <div class="col-md-12">
    <div class="box box-solid box-info">
      <div class="box-header with-border">
        <h3 class="box-title">{% translate 'Last books' %}</h3>
      </div>
      <div class="box-body">

        {% if books|length > 0 %}
        <div style="display: flex; flex-wrap: wrap; gap: 10px; text-align: center;">
          {% for book in books %}
            <div class="box box-solid box-info" style="width: 160px; height: 240px; margin-bottom: 0;" id="book_{{ book.id|stringformat:'06d' }}">
              <div class="box-body">
                {% if book.volume.image %}
                  <a href="{% url 'book_info' book.id|stringformat:'06d' %}">
                    <img src="{{ book.volume.image.url }}" style="max-width: 138px; max-height: 218px;" title="{% if book.volume.edition.text %}{{ book.volume.title }}{% else %}{{ book.volume.edition.title }}{% endif %}" />
                  </a>
                {% else %}
                  <p>
                    <a href="{% url 'book_info' book.id|stringformat:'06d' %}"><i>
                    {% if book.volume.edition.text %}
                      {{ book.volume.title }}</i></a>
                      {% if book.volume.edition.text.work %}
                        {% if book.volume.edition.text.work.title != book.volume.title %} (<i>{{ book.volume.edition.text.work.title }}</i>){% endif %}
                      {% elif book.volume.edition.text.translation %}
                        {% if book.volume.edition.text.translation.original_work.title != book.volume.title %} (<i>{{ book.volume.edition.text.translation.original_work.title }}</i>){% endif %}
                      {% endif %}
                    {% else %}
                      {{ book.volume.edition.title }}</i></a> ({% translate 'collection' context 'collection of books' %})
                    {% endif %}
                  </p>

                  <p>
                    {% if book.volume.edition.text %}
                      {% if book.volume.edition.text.work %}
                        {% for author in book.volume.edition.text.work.authors.all %}{% if not forloop.first %}, {% endif %}<a href="{% url 'person_info' author.id|stringformat:'06d' %}">{{ author.name }}</a>{% endfor %}
                        {% if book.volume.edition.text.work.author_credit %} ({{ book.volume.edition.text.work.author_credit }}){% endif %}
                      {% elif book.volume.edition.text.translation %}
                        {% for author in book.volume.edition.text.translation.original_work.authors.all %}{% if not forloop.first %}, {% endif %}<a href="{% url 'person_info' author.id|stringformat:'06d' %}">{{ author.name }}</a>{% endfor %}
                        {% if book.volume.edition.text.translation.original_work.author_credit %} ({{ book.volume.edition.text.translation.original_work.author_credit }}){% endif %}
                      {% endif %}
                    {% else %}
                      {% for author in book.volume.edition.authors_prefetched %}{% if not forloop.first %}, {% endif %}<a href="{% url 'person_info' author.id|stringformat:'06d' %}">{{ author.name }}</a>{% endfor %}
                    {% endif %}
                  </p>

                  <p>
                    {% if book.volume.edition.text %}
                      {% if book.volume.edition.text.work %}
                        {% if book.volume.edition.text.work.year %}{{ book.volume.edition.text.work.year }}{% endif %}
                      {% elif book.volume.edition.text.translation %}
                        {% if book.volume.edition.text.translation.original_work.year %}{{ book.volume.edition.text.translation.original_work.year }}{% endif %}
                      {% endif %}
                    {% else %}
                      {% if book.volume.edition.year %}{{ book.volume.edition.year }}{% endif %}
                    {% endif %}
                  </p>
                {% endif %}
              </div>
            </div>
          {% endfor %}
        </div>
        {% else %}
        <p>{% translate 'No books.' %}</p>
        {% endif %}

      </div>
    </div>
  </div>
</div>

{% endblock %}
