{% extends 'books/base.html' %}

{% load i18n %}
{% load mimir %}

{% block content_title %}
<a href="{% url 'booklist_info' list.id|stringformat:'06d' %}">{{ list.name }}</a> - {% translate 'Edit' %}
{% endblock %}

{% block title %}
{{ list.name }} - {% translate 'Books' %} - Mimir
{% endblock %}

{% block extra_foot %}
<script>
$(function() {

  {% if formset.can_delete %}
    function clickButtonDelete() {
        var num = $(this).data('num');
        if ($(this).hasClass('active')) {
            $('#id_form-' + num + '-DELETE').prop('checked', false);
            $(this).addClass('btn-warning');
            $(this).removeClass('btn-danger');
        } else {
            $('#id_form-' + num + '-DELETE').prop('checked', true);
            $(this).addClass('btn-danger');
            $(this).removeClass('btn-warning');
        }
    }

    $('button.btn_delete').click(clickButtonDelete);
  {% endif %}

  {% if formset.can_order %}
    function disableButtons() {
        $('.btn_up').each(function() {
            var num = $(this).data('num');
            var val = parseInt($('#id_form-' + num + '-ORDER').val());
            if (val == 1) {
                $(this).prop('disabled', true);
            } else {
                $(this).prop('disabled', false);
            }
        });
        $('.btn_down').each(function() {
            var num = $(this).data('num');
            var val = parseInt($('#id_form-' + num + '-ORDER').val());
            if (val == $('#id_form-TOTAL_FORMS').val()) {
                $(this).prop('disabled', true);
            } else {
                $(this).prop('disabled', false);
            }
        });
    }

    function clickButtonUp() {
        var num = $(this).data('num');
        var val = parseInt($('#id_form-' + num + '-ORDER').val());
        if (val > 1) {
            objUp = $('.form_order').filter(function() {
                return ($(this).val() == val - 1);
            }).first();
            if (objUp != undefined) {
                objUp.val(val).trigger('change');
                $(this).closest("tr").after($(this).closest("tr").prev());
            }
            $('#id_form-' + num + '-ORDER').val(val - 1);
            disableButtons();
        }
    }

    function clickButtonDown() {
        var num = $(this).data('num');
        var val = parseInt($('#id_form-' + num + '-ORDER').val());
        var objDown = $('.form_order').filter(function() {
            return ($(this).val() == val + 1);
        }).first();
        if (objDown != undefined) {
            objDown.val(val).trigger('change');
            $(this).closest("tr").next().after($(this).closest("tr"));
            $('#id_form-' + num + '-ORDER').val(val + 1);
        }
        disableButtons();
    }

    $('button.btn_up').click(clickButtonUp);
    $('button.btn_down').click(clickButtonDown);
  {% endif %}

  {% if formset.empty_form %}
    $('button#btn_add').click(function() {
        var val = parseInt($('#id_form-TOTAL_FORMS').val());

        {% for field in formset.empty_form.hidden_fields %}
          html = '{{ field|escapejs }}'.replace(/__prefix__/g, val);
          $('form#form_data').append(html);
        {% endfor %}

        html = '<tr>';
        {% for field in formset.empty_form.visible_fields %}
          {% if field.name != 'DELETE' and field.name != 'ORDER' %}
            html += '<td>';
            html += '<label for="{{ field.id_for_label|escapejs }}" class="sr-only">{{ field.label|escapejs }}</label>';
            html += '{{ field|field_add_class:'form-control input-sm'|escapejs }}';
            {% if field.help_text %}
              html += '<p class="formset.empty_form-text text-muted">{{ field.help_text|safe|escapejs }}</p>';
            {% endif %}
            html += '</td>';
          {% endif %}
        {% endfor %}
        {% if formset.can_delete or formset.can_order %}
          html += '<td>';
          {% if formset.can_order %}
            {% with formset.empty_form.ORDER as field %}
              html += '<input type="number" class="hidden form_order" data-num="__prefix__" name="{{ field.html_name|escapejs }}" id="{{ field.id_for_label|escapejs }}" value="__prefix_plus_1__" />';
              html += '<div class="btn-group">';
              html += '<button type="button" class="btn btn-sm btn-default btn_up" data-num="__prefix__" id="{{ field.id_for_label|escapejs }}-up"{% if forloop.first %} TODO disabled="disabled"{% endif %}>';
              html += '<i class="fa fa-chevron-up"></i> <span class="sr-only">{% translate "Up" %}</span>';
              html += '</button>';
              html += '<button type="button" class="btn btn-sm btn-default btn_down" data-num="__prefix__" id="{{ field.id_for_label|escapejs }}-down"{% if forloop.last %} TODO disabled="disabled"{% endif %}>';
              html += '<i class="fa fa-chevron-down"></i> <span class="sr-only">{% translate "Down" %}</span>';
              html += '</button>';
              html += '</div> ';
            {% endwith %}
          {% endif %}
          {% if formset.can_delete %}
            {% with formset.empty_form.DELETE as field %}
              html += '<input type="checkbox" class="hidden" name="{{ field.html_name|escapejs }}" id="{{ field.id_for_label|escapejs }}" />';
              html += '<button type="button" class="btn btn-sm btn-warning btn_delete" data-num="__prefix__" data-toggle="button" id="{{ field.id_for_label|escapejs }}-btn">';
              html += '<i class="fa fa-remove"></i> {% translate "Remove" %}';
              html += '</button>';
            {% endwith %}
          {% endif %}
          html += '</td>';
        {% endif %}
        html += '</tr>';

        html = html.replace(/__prefix__/g, val).replace('__prefix_plus_1__', val + 1);
        $('table#table_data > tbody').append(html);

        {% if formset.can_order %}
          $('#{{ formset.empty_form.ORDER.id_for_label }}-up'.replace('__prefix__', val)).click(clickButtonUp);
          $('#{{ formset.empty_form.ORDER.id_for_label }}-down'.replace('__prefix__', val)).click(clickButtonDown);
          disableButtons();
        {% endif %}

        {% if formset.can_delete %}
          $('#{{ formset.empty_form.DELETE.id_for_label }}-btn'.replace('__prefix__', val)).click(clickButtonDelete);
        {% endif %}

        $('#id_form-TOTAL_FORMS').val(val + 1);
    });
  {% endif %}
});
</script>
{% endblock %}

{% block content %}

  {{ form.non_field_errors }}

  {% if form.subject.errors %}
    <ol>
      {% for error in form.subject.errors %}
      <li><strong>{{ error|escape }}</strong></li>
      {% endfor %}
    </ol>
  {% endif %}

  <div class="box box-primary">
    <form action="{% url 'booklist_edit' list.id|stringformat:'06d' %}" method="post" class="form">
      {% csrf_token %}
      {{ formset.management_form }}

      {% for form in formset %}
        {% for field in form.hidden_fields %}
          {{ field }}
        {% endfor %}
      {% endfor %}

      <div class="box-body">
        {% for field in form.hidden_fields %}
          {{ field }}
        {% endfor %}
        {% for field in form.visible_fields %}
        <div class="form-group row{% if field.errors %} has-error{% endif %}">
          {{ field.errors }}
          <label for="{{ field.id_for_label }}" class="col-sm-2 col-form-label">{{ field.label }}</label>
          <div class="col-sm-10">{{ field|field_add_class:'form-control input-sm' }}</div>
          {% if field.help_text %}
            <p class="form-text text-muted">{{ field.help_text|safe }}</p>
          {% endif %}
        </div>
        {% endfor %}

        <hr/>

        <table class="table table-bordered table-stripped table-hover" id="table_data">
          {% for form in formset %}
            {% if forloop.first %}
            <thead>
              <tr>
                {% for field in form.visible_fields %}
                  {% if field.name != 'DELETE' and field.name != 'ORDER' %}
                  <th>{{ field.label }}</th>
                  {% endif %}
                {% endfor %}
                {% if formset.can_delete or formset.can_order %}
                  <th>{% translate 'Actions' %}</th>
                {% endif %}
              </tr>
            </thead>
            <tbody>
            {% endif %}
            <tr>
              {% for field in form.visible_fields %}
                {% if field.name != 'DELETE' and field.name != 'ORDER' %}
                  <td{% if field.errors %} class="has-error"{% endif %}>
                    {{ field.errors }}
                    <label for="{{ field.id_for_label }}" class="sr-only">{{ field.label }}</label>
                    {{ field|field_add_class:'form-control input-sm' }}
                    {% if field.help_text %}
                      <p class="form-text text-muted">{{ field.help_text|safe }}</p>
                    {% endif %}
                  </td>
                {% endif %}
              {% endfor %}
              {% if formset.can_delete or formset.can_order %}
                <td>
                  {% if formset.can_order %}
                    {% with form.ORDER as field %}
                      <input type="number" class="hidden form_order" data-num="{{ forloop.counter0 }}" name="{{ field.html_name }}" id="{{ field.id_for_label }}" value="{{ forloop.counter }}" />
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-default btn_up" data-num="{{ forloop.counter0 }}" id="{{ field.id_for_label }}-up"{% if forloop.first %} disabled="disabled"{% endif %}>
                          <i class="fa fa-chevron-up"></i> <span class="sr-only">{% translate 'Up' %}</span>
                        </button>
                        <button type="button" class="btn btn-sm btn-default btn_down" data-num="{{ forloop.counter0 }}" id="{{ field.id_for_label }}-down"{% if forloop.last %} disabled="disabled"{% endif %}>
                          <i class="fa fa-chevron-down"></i> <span class="sr-only">{% translate 'Down' %}</span>
                        </button>
                      </div>
                    {% endwith %}
                  {% endif %}
                  {% if formset.can_delete %}
                    {% with form.DELETE as field %}
                      <input type="checkbox" class="hidden" name="{{ field.html_name }}" id="{{ field.id_for_label }}" />
                      <button type="button" class="btn btn-sm btn-warning btn_delete" data-num="{{ forloop.counter0 }}" data-toggle="button" id="{{ field.id_for_label }}-btn">
                        <i class="fa fa-remove"></i> {% translate 'Remove' %}
                      </button>
                    {% endwith %}
                  {% endif %}
                </td>
              {% endif %}
            </tr>
            {% endfor %}
          </tbody>
          {% if formset.empty_form %}
          <tfoot>
            <tr>
              <td>
                <button type="button" class="btn btn-sm btn-success" id="btn_add">
                  <i class="fa fa-plus-square"></i> {% translate 'Add' %}
                </button>
              </td>
            </tr>
          </tfoot>
          {% endif %}
        </table>

      </div>

      <div class="box-footer">
        <input type="submit" class="btn btn-primary center-block" value="{% translate 'Submit' %}" />
      </div>
    </form>
  </div>

{% endblock %}
