{% extends 'books/base.html' %}

{% load i18n %}
{% load static %}
{% load mimir %}

{% block title %}
{% translate 'Readings' %} - {% translate 'Books' %} - Mimir
{% endblock %}

{% block content_header %}
<section class="content-header">
  <h1>{% translate 'Readings' %}
    <div class="pull-right">
      <a href="{% url 'books_readings_export' %}" class="btn btn-sm btn-primary">{% translate 'Export' %}</a>
    </div>
  </h1>
</section>
{% endblock content_header %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/datatables/dataTables.min.css' %}">
{% endblock %}

{% block extra_foot %}
<script src="{% static 'js/datatables/datatables.min.js' %}"></script>

<script>
$(function() {
    function makeDataTable(obj, options={}) {
        var opt = {
            "paging"      : true,
            "lengthChange": true,
            "searching"   : false,
            "ordering"    : true,
            "info"        : true,
            "autoWidth"   : true,
            "language": {
                "processing":     "Traitement en cours...",
                "search":         "Rechercher&nbsp;:",
                "lengthMenu":     "Afficher _MENU_ &eacute;l&eacute;ments",
                "info":           "Affichage de l'&eacute;lement _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
                "infoEmpty":      "Affichage de l'&eacute;lement 0 &agrave; 0 sur 0 &eacute;l&eacute;ments",
                "infoFiltered":   "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
                "infoPostFix":    "",
                "loadingRecords": "Chargement en cours...",
                "zeroRecords":    "Aucun &eacute;l&eacute;ment &agrave; afficher",
                "emptyTable":     "Aucune donnée disponible dans le tableau.",
                "paginate": {
                    "first":      "{% translate 'First' %}",
                    "previous":   "{% translate 'Previous' %}",
                    "next":       "{% translate 'Next' %}",
                    "last":       "{% translate 'Last' %}"
                },
                "aria": {
                    "sortAscending":  ": activer pour trier la colonne par ordre croissant",
                    "sortDescending": ": activer pour trier la colonne par ordre décroissant"
                }
            },
        };
        jQuery.extend(opt, options);
        obj.DataTable(opt);
    }

    makeDataTable($("#readings_list"), {"order": [[3, "desc"]]});
});
</script>
{% endblock %}

{% block content %}

<div class="box box-solid box-info">
  <div class="box-header with-border">
    <h3 class="box-title">{% translate 'Statistics' %}</h3>
    <div class="box-tools pull-right">
      <button type="button" class="btn btn-box-tool" data-widget="collapse">
        <i class="fa fa-minus"></i>
      </button>
    </div>
  </div>
  <div class="box-body">
    <ul>
      <li><strong>{% translate 'Readings count:' %}</strong> {{ readings|length }}</li>
      <li><strong>{% translate 'Read works count:' %}</strong> {{ works|length }} <button data-toggle="collapse" data-target="#genres" aria-expanded="false" aria-controls="genres">Détails</button>
        <ul id="genres" class="collapse">
          {% for genre, count in genres.items %}
          <li><strong>{{ genre }}{% translate ':' %}</strong> {{ count }}</li>
          {% endfor %}
        </ul>
      </li>
    </ul>
  </div>
</div>

<div class="box box-solid box-info">
  <div class="box-header with-border">
    <h3 class="box-title">{% translate 'Readings' %}</h3>
    <div class="box-tools pull-right">
      <button type="button" class="btn btn-box-tool" data-widget="collapse">
        <i class="fa fa-minus"></i>
      </button>
    </div>
  </div>
  <div class="box-body">
    {% if readings|length > 0 %}
    <table class="table table-bordered table-stripped table-hover" id="readings_list">
      <thead>
        <tr>
          <th>{% translate 'Title' %}</th>
          <th>{% translate 'Author' context 'function' %}</th>
          <th>{% translate 'Year' %}</th>
          <th>{% translate 'Genre' %}</th>
          <th>{% translate 'Reading date' %}</th>
        </tr>
      </thead>
      <tbody>
        {% for reading in readings %}
        <tr>
          <td>
            {% if reading.book %}
              <a href="{% url 'book_info' reading.book.id|stringformat:'06d' %}"><i>{{ reading.edition.title }}</i></a>
              {% if reading.text %}
                {% if reading.text.work %}
                  {% if reading.text.work.title != reading.edition.title %} (<i>{{ reading.text.work.title }}</i>){% endif %}
                {% elif reading.text.translation %}
                  {% if reading.text.translation.original_work.title_vo and reading.text.translation.original_work.title_vo != reading.edition.title %} (<i>{{ reading.text.translation.original_work.title_vo }}</i>){% endif %}
                {% endif %}
              {% endif %}
            {% elif reading.edition %}
              <a href="{% url 'edition_info' reading.edition.id|stringformat:'06d' %}"><i>{{ reading.edition.title }}</i></a>
              {% if reading.text %}
                {% if reading.text.work %}
                  {% if reading.text.work.title != reading.edition.title %} (<i>{{ reading.text.work.title }}</i>){% endif %}
                {% elif reading.text.translation %}
                  {% if reading.text.translation.original_work.title_vo and reading.text.translation.original_work.title_vo != reading.edition.title %} (<i>{{ reading.text.translation.original_work.title_vo }}</i>){% endif %}
                {% endif %}
              {% else %}
                ({% translate 'collection' context 'collection of books' %})
              {% endif %}
            {% else %}
              {% if reading.text.work %}
                <a href="{% url 'work_info' reading.text.id|stringformat:'06d' %}"><i>{{ reading.text.work.title }}</i></a>
              {% elif reading.text.translation %}
                <a href="{% url 'translation_info' reading.text.id|stringformat:'06d' %}"><i>{{ reading.text.translation.original_work.title }}</i></a>{% if reading.text.translation.original_work.title_vo and reading.text.translation.original_work.title_vo != reading.text.translation.original_work.title %} (<i>{{ reading.text.translation.original_work.title_vo }}</i>){% endif %}
              {% endif %}
            {% endif %}
          </td>
          <td>
            {% if reading.text %}
              {% if reading.text.work %}
                {% for author in reading.text.work.authors.all %}{% if not forloop.first %}, {% endif %}<a href="{% url 'person_info' author.id|stringformat:'06d' %}">{{ author.name }}</a>{% endfor %}
              {% elif reading.text.translation %}
                {% for author in reading.text.translation.original_work.authors.all %}{% if not forloop.first %}, {% endif %}<a href="{% url 'person_info' author.id|stringformat:'06d' %}">{{ author.name }}</a>{% endfor %}
              {% endif %}
            {% elif reading.edition %}
              {% for author in reading.edition.authors %}{% if not forloop.first %}, {% endif %}<a href="{% url 'person_info' author.id|stringformat:'06d' %}">{{ author.name }}</a>{% endfor %}
            {% endif %}
          </td>
          <td>
            {% if reading.text.year %}
              {{ reading.text.year }}
            {% elif reading.edition.year %}
              {{ reading.edition.year }}
            {% elif reading.text.translation and reading.text.translation.original_work.year %}
              {{ reading.text.translation.original_work.year }}
            {% endif %}
          </td>
          <td>
            {% if reading.book %}
              {% if reading.text %}
                {% if reading.text.work %}
                  {% if reading.text.work.genre %}{{ reading.text.work.genre }}{% endif %}
                {% elif reading.text.translation %}
                  {% if reading.text.translation.original_work.genre %}{{ reading.text.translation.original_work.genre }}{% endif %}
                {% endif %}
              {% else %}
                {% translate 'Collection' context 'collection of books' %}
              {% endif %}
            {% elif reading.edition %}
              {% if reading.text %}
                {% if reading.text.work %}
                  {% if reading.text.work.genre %}{{ reading.text.work.genre }}{% endif %}
                {% elif reading.text.translation %}
                  {% if reading.text.translation.original_work.genre %}{{ reading.text.translation.original_work.genre }}{% endif %}
                {% endif %}
              {% else %}
                {% translate 'Collection' context 'collection of books' %}
              {% endif %}
            {% else %}
              {% if reading.text.work %}
                {% if reading.text.work.genre %}{{ reading.text.work.genre }}{% endif %}
              {% elif reading.text.translation %}
                {% if reading.text.translation.original_work.genre %}{{ reading.text.translation.original_work.genre }}{% endif %}
              {% endif %}
            {% endif %}
          </td>
          <td>
            <span class="hidden">{% if reading.date_end is None %}9999-99-99{% else %}{{ reading.date_end }}{% endif %}</span>
            {% if reading.date_end is None %}{% translate 'in progress' %}{% else %}{{ reading.date_end|date_format }}{% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}
  </div>
</div>

{% endblock %}
