{% extends 'books/base.html' %}

{% load i18n %}
{% load static %}
{% load mimir %}

{% block content_title %}
{% translate 'Export readings' %}
{% endblock content_title %}

{% block content %}

  <div class="box box-solid box-info">
    <form action="{% url 'books_readings_export' %}" class="form" method="post">
      {% csrf_token %}
      <div class="box-body">
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">{% translate 'Type' %}</label>
          <div class="col-sm-10">
            <label class="radio-inline"><input type="radio" name="type" value="readings" checked="checked" /> {% translate 'Readings' %}</label>
            <label class="radio-inline"><input type="radio" name="type" value="texts" /> {% translate 'Texts' %}</label>
            <label class="radio-inline"><input type="radio" name="type" value="works" /> {% translate 'Works' %}</label>
          </div>
        </div>
        <div class="form-group row">
          <label for="id_format" class="col-sm-2 col-form-label">{% translate 'Format' %}</label>
          <div class="col-sm-10">
            <select name="format" id="id_format" class="form-control input-sm">
              <option value="csv" selected="selected">{% translate 'CSV' %}</option>
              <option value="json">{% translate 'JSON' %}</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label for="id_order" class="col-sm-2 col-form-label">{% translate 'Tri' %}</label>
          <div class="col-sm-10">
            <select name="order" id="id_order" class="form-control input-sm">
              <option value="title" selected="selected">{% translate 'Title' %}</option>
              <option value="year">{% translate 'Year' %}</option>
              <option value="date">{% translate 'Date' %}</option>
            </select>
          </div>
        </div>
      </div>

      <div class="box-footer">
        <input type="submit" class="btn btn-primary center-block" value="{% translate 'Export...' %}" />
      </div>
    </form>
  </div>

{% endblock %}
