{% extends 'books/base.html' %}

{% load static %}
{% load i18n %}
{% load mimir %}

{% block footer_right %}
{% if saga.creation %}{% translate 'Creation:' %} {{ saga.creation }}.{% endif %}
{% if saga.modification %}{% translate 'Last modification:' %} {{ saga.modification }}.{% endif %}
{% endblock %}

{% block title %}
{{ saga.title }} - {% translate 'Books' %} - Mimir
{% endblock %}

{% block content_header %}
<section class="content-header">
  <h1>{% translate 'Saga' context 'The saga' %} <q><i>{{ saga.title }}</i></q>
    {% if user.is_authenticated %}
    <div class="pull-right">
      <a href="{% url 'books_saga_edit' saga.id|stringformat:'06d' %}" class="btn btn-sm btn-warning">{% translate 'Edit' %}</a>
      <a href="{% url 'books_saga_delete' saga.id|stringformat:'06d' %}" class="btn btn-sm btn-danger">{% translate 'Delete' %}</a>
    </div>
    {% endif %}
  </h1>
</section>
{% endblock content_header %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/datatables/dataTables.min.css' %}">
{% endblock %}

{% block extra_foot %}
<script src="{% static 'js/datatables/datatables.min.js' %}"></script>

<script>
$(function() {
    $("#works_list").DataTable({
        "paging"      : false,
        "lengthChange": false,
        "searching"   : false,
        "ordering"    : true,
        "info"        : false,
        "autoWidth"   : true,
        "language": {
            "processing":     "Traitement en cours...",
            "search":         "Rechercher&nbsp;:",
            "lengthMenu":     "Afficher _MENU_ &eacute;l&eacute;ments",
            "info":           "Affichage de l'&eacute;lement _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
            "infoEmpty":      "Affichage de l'&eacute;lement 0 &agrave; 0 sur 0 &eacute;l&eacute;ments",
            "infoFiltered":   "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
            "infoPostFix":    "",
            "loadingRecords": "Chargement en cours...",
            "zeroRecords":    "Aucun &eacute;l&eacute;ment &agrave; afficher",
            "emptyTable":     "Aucune donnée disponible dans le tableau.",
            "paginate": {
                "first":      "{% translate 'First' %}",
                "previous":   "{% translate 'Previous' %}",
                "next":       "{% translate 'Next' %}",
                "last":       "{% translate 'Last' %}"
            },
            "aria": {
                "sortAscending":  ": activer pour trier la colonne par ordre croissant",
                "sortDescending": ": activer pour trier la colonne par ordre décroissant"
            }
        },
    });
});
</script>
{% endblock %}

{% block content %}

  <div class="row">
    <div class="col-md-4">
      <div class="box box-solid box-info">
        <div class="box-body">
          <dl class="dl-horizontal">
            <dt>{% translate 'Title' %}{% translate ':' %}</dt><dd><i>{{ saga.title }}</i></dd>
            {% if saga.title_vo %}<dt>{% translate 'Original title' %}{% translate ':' %}</dt><dd><i>{{ saga.title_vo }}</i></dd>{% endif %}
          </dl>
        </div>
      </div>
    </div>
  </div>

  {% if saga.info %}
  <div class="box box-solid box-info">
    <div class="box-header with-border">
      <h3 class="box-title">{% translate 'Information' %}</h3>
    </div>
    <div class="box-body">{{ saga.info|linebreaks }}</div>
  </div>
  {% endif %}

  <div class="box box-solid box-info">
    <div class="box-header with-border">
      <h3 class="box-title">{% translate 'Works' %}</h3>
      <div class="box-tools pull-right">
        {% if perms.books.change_sagawork %}
        <a href="{% url 'books_saga_edit_works' saga.id|stringformat:'06d' %}" class="btn btn-box-tool" title="{% translate 'Edit works' %}">
          <i class="fa fa-edit"></i>
        </a>
        {% endif %}
        {% if perms.books.add_sagawork %}
        <a href="{% url 'books_saga_add_work' saga.id|stringformat:'06d' %}" class="btn btn-box-tool" title="{% translate 'Add work' %}">
          <i class="fa fa-plus-square"></i>
        </a>
        {% endif %}
        <button type="button" class="btn btn-box-tool" data-widget="collapse">
          <i class="fa fa-minus"></i>
        </button>
      </div>
    </div>
    <div class="box-body">
      {% if works|length > 0 %}
      <table class="table table-bordered table-stripped table-hover" id="works_list">
        <thead>
          <tr>
            <th>{% translate 'Order' %}</th>
            <th>{% translate 'Title' %}</th>
            <th>{% translate 'Year' %}</th>
            <th>{% translate 'Authors' %}</th>
            <th>{% translate 'Genre' %}</th>
          </tr>
        </thead>
        <tbody>
          {% for sagaWork in works %}
          <tr>
            <td>{{ sagaWork|get_order }}</td>
            <td>
              <a href="{% url 'work_info' sagaWork.work.id|stringformat:'06d' %}" class="{% if sagaWork.read %}work_read{% else %}work_not_read{% endif %}"><i>{{ sagaWork.work.title }}</i></a>
              {% if sagaWork.work.title_vo and sagaWork.work.title != sagaWork.work.title_vo %} (<i>{{ sagaWork.work.title_vo }}</i>){% endif %}
            </td>
            <td>{% if sagaWork.work.year %}{{ sagaWork.work.year }}{% endif %}</td>
            <td>
              {% if sagaWork.work.author_credit %}{{ sagaWork.work.author_credit }}{% endif %}
              {% if sagaWork.work.authors.count > 0 %}
                {% if sagaWork.work.author_credit %} ({% endif %}{% for author in sagaWork.work.authors.all %}{% if not forloop.first %}, {% endif %}<a href="{% url 'person_info' author.id|stringformat:'06d' %}">{{ author.name }}</a>{% endfor %}{% if sagaWork.work.author_credit %}){% endif %}
              {% endif %}
            </td>
            <td>{% if sagaWork.work.genre %}{{ sagaWork.work.genre }}{% else %}{% translate 'Unknown' context 'Unknown genre' %}{% endif %}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <p>{% translate 'No works.' %}</p>
      {% endif %}
    </div>
  </div>

{% endblock %}
