{% extends 'books/base.html' %}

{% load static %}
{% load i18n %}
{% load mimir %}

{% block content_title %}
{% translate 'Search' %}
{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/datatables/dataTables.min.css' %}">
{% endblock %}

{% block extra_foot %}
<script src="{% static 'js/datatables/datatables.min.js' %}"></script>

<script>
$(function() {
    function makeDataTable(obj, options={}) {
        var opt = {
            "paging"      : false,
            "lengthChange": false,
            "searching"   : false,
            "ordering"    : true,
            "info"        : false,
            "autoWidth"   : true,
            "language": {
                "processing":     "Traitement en cours...",
                "search":         "Rechercher&nbsp;:",
                "lengthMenu":     "Afficher _MENU_ &eacute;l&eacute;ments",
                "info":           "Affichage de l'&eacute;lement _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
                "infoEmpty":      "Affichage de l'&eacute;lement 0 &agrave; 0 sur 0 &eacute;l&eacute;ments",
                "infoFiltered":   "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
                "infoPostFix":    "",
                "loadingRecords": "Chargement en cours...",
                "zeroRecords":    "Aucun &eacute;l&eacute;ment &agrave; afficher",
                "emptyTable":     "Aucune donnée disponible dans le tableau.",
                "paginate": {
                    "first":      "{% translate 'First' %}",
                    "previous":   "{% translate 'Previous' %}",
                    "next":       "{% translate 'Next' %}",
                    "last":       "{% translate 'Last' %}"
                },
                "aria": {
                    "sortAscending":  ": activer pour trier la colonne par ordre croissant",
                    "sortDescending": ": activer pour trier la colonne par ordre décroissant"
                }
            },
        };
        jQuery.extend(opt, options);
        obj.DataTable(opt);
    }

  {% if works|length > 10 %}
    makeDataTable($('#works_list'), {"order": [[2, "asc"]], "paging": true});
  {% elif works|length > 0%}
    makeDataTable($('#works_list'), {"order": [[2, "asc"]]});
  {% endif %}

  {% if editions|length > 10 %}
    makeDataTable($('#editions_list'), {"order": [[2, "asc"]], "paging": true});
  {% elif editions|length > 0%}
    makeDataTable($('#editions_list'), {"order": [[2, "asc"]]});
  {% endif %}

  {% if sagas|length > 10 %}
    makeDataTable($('#sagas_list', {"paging": true}));
  {% elif sagas|length > 0%}
    makeDataTable($('#sagas_list'));
  {% endif %}

  {% if editions|length > 0%}
    $('a[data-toggle="tooltip"]').tooltip({
        animated: 'fade',
        placement: 'bottom',
        html: true,
    });
  {% endif %}
});
</script>
{% endblock %}

{% block content %}

  <div class="box box-solid box-info">
    <form action="{% url 'works_search' %}" class="form" method="get">
      <div class="box-body">
        <div class="form-group row">
          <label for="id_form_q" class="col-sm-2 col-form-label">{% translate 'Query' %}</label>
          <div class="col-sm-10">
            <input type="text" name="q" id="id_form_q" class="form-control input-sm" value="{{ query }}" />
          </div>
        </div>
      </div>

      <div class="box-footer">
        <input type="submit" class="btn btn-primary center-block" value="{% translate 'Search...' %}" />
      </div>
    </form>
  </div>

  {% if query %}
  <div class="box box-solid box-info">
    <div class="box-header">
      <h3 class="box-title">{% translate 'Works' %} <span class="badge">{{ works|length }}</span></h3>
    </div>

    <div class="box-body">
      {% if works %}
      <table class="table table-bordered table-stripped table-hover" id="works_list">
        <thead>
          <tr>
            <th>{% translate 'Title' %}</th>
            <th>{% translate 'Authors' %}</th>
            <th>{% translate 'Year' %}</th>
            <th>{% translate 'Genre' %}</th>
          </tr>
        </thead>
        <tbody>
          {% for work in works %}
          <tr>
            <td>
              <a href="{% url 'work_info' work.id|stringformat:'06d' %}" class="{% if work.read %}work_read{% else %}work_not_read{% endif %}"><i>{{ work.title }}</i></a>
              {% if work.title_vo and work.title != work.title_vo %} (<i>{{ work.title_vo }}</i>){% endif %}
            </td>
            <td>
              {% if work.author_credit %}{{ work.author_credit }}{% endif %}
              {% if work.authors.count > 0 %}
                {% if work.author_credit %} ({% endif %}
                  {% for author in work.authors.all %}{% if not forloop.first %}, {% endif %}
                    <span class="hidden">{% if author.lastname %}{{ author.lastname }}, {{ author.firstname }}{% else %}{{ author.name }}{%endif %}</span>
                    <a href="{% url 'person_info' author.id|stringformat:'06d' %}">{{ author.name }}</a>
                  {% endfor %}
                {% if work.author_credit %}){% endif %}
              {% endif %}
            </td>
            <td>{% if work.year %}{{ work.year }}{% endif %}</td>
            <td>{% if work.genre %}{{ work.genre }}{% else %}{% translate 'Unknown' context 'Unknown genre' %}{% endif %}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <p>{% translate 'No works.' %}</p>
      {% endif %}
    </div>
  </div>

  <div class="box box-solid box-info">
    <div class="box-header">
      <h3 class="box-title">{% translate 'Editions' %} <span class="badge">{{ editions|length }}</span></h3>
    </div>

    <div class="box-body">
      {% if editions %}
      <table class="table table-bordered table-stripped table-hover" id="editions_list">
        <thead>
          <tr>
            <th>{% translate 'Title' %}</th>
            <th>{% translate 'Authors' %}</th>
            <th>{% translate 'Year' %}</th>
            <th>{% translate 'Publisher' %}</th>
          </tr>
        </thead>
        <tbody>
          {% for edition in editions %}
          <tr>
            <td>
              <a href="{% url 'edition_info' edition.id|stringformat:'06d' %}"><i>{{ edition.title }}</i></a>
              {% if edition.work and edition.work.title != edition.title %} (<i>{{ edition.work.title}}</i>){% endif %}
            </td>
            <td>{% for author in edition.authors %}{% if not forloop.first %}, {% endif %}<a href="{% url 'person_info' author.id|stringformat:'06d' %}">{{ author.name }}</a>{% endfor %}</td>
            <td>{% if edition.year %}{{ edition.year }}{% endif %}</td>
            <td>{{ edition.publisher }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <p>{% translate 'No editions.' %}</p>
      {% endif %}
    </div>
  </div>

  {% if collections_texts %}
  <div class="box box-solid box-info">
    <div class="box-header">
      <h3 class="box-title">{% translate 'Collections' context 'collection of books' %} <span class="badge">{{ collections_texts|length }}</span></h3>
    </div>

    <div class="box-body">
      <table class="table table-bordered table-stripped table-hover" id="collections_list">
        <thead>
          <tr>
            <th>{% translate 'Title' %}</th>
            <th>{% translate 'Collection' context 'collection of books' %}</th>
            <th>{% translate 'Authors' %}</th>
            <th>{% translate 'Year' %}</th>
          </tr>
        </thead>
        <tbody>
          {% for edition_text in collections_texts %}
          <tr>
            <td>
              {% if edition_text.text.work %}
                <a href="{% url 'work_info' edition_text.text.id|stringformat:'06d' %}"><i>{{ edition_text.title }}</i></a>
              {% elif edition_text.text.translation %}
                <a href="{% url 'work_info' edition_text.text.translation.original_work.id|stringformat:'06d' %}"><i>{{ edition_text.title }}</i></a>
              {% endif %}

              {% if edition_text.text.work %}
                {% if edition_text.text.work.title_vo and edition_text.text.work.title_vo != edition_text.title %}
                  (<i>{{ edition_text.text.work.title_vo }}</i>)
                {% elif edition_text.text.work.title != edition_text.title %}
                  (<i>{{ edition_text.text.work.title }}</i>)
                {% endif %}
              {% elif edition_text.text.translation %}
                {% if edition_text.text.translation.original_work.title_vo and edition_text.text.translation.original_work.title_vo != edition_text.title %}
                  (<i>{{ edition_text.text.translation.original_work.title_vo }}</i>)
                {% elif edition_text.text.translation.original_work.title != edition_text.title %}
                  (<i>{{ edition_text.text.translation.original_work.title }}</i>)
                {% endif %}
              {% endif %}

              {% if edition_text.text.translation %}
                <br/>{% translate 'Translation' %}{% translate ':' %} <a href="{% url 'translation_info' edition_text.text.translation.id|stringformat:'06d' %}">{{ edition_text.text.translation }}</a>
              {% endif %}
            </td>
            <td>
              <a href="{% url 'edition_info' edition_text.edition.id|stringformat:'06d' %}"><i>{{ edition_text.edition.title }}</i></a>{% if edition_text.edition.year %} ({{ edition_text.edition.year }}){% endif %}
            </td>
            <td>
              {% if edition_text.text.work %}
                {% for author in edition_text.text.work.authors.all %}{% if not forloop.first %}, {% endif %}<a href="{% url 'person_info' author.id|stringformat:'06d' %}">{{ author.name }}</a>{% endfor %}
              {% elif edition_text.text.translation %}
                {% for author in edition_text.text.translation.original_work.authors.all %}{% if not forloop.first %}, {% endif %}<a href="{% url 'person_info' author.id|stringformat:'06d' %}">{{ author.name }}</a>{% endfor %}
              {% endif %}
            </td>
            <td>
              {% if edition_text.text.work %}
                {% if edition_text.text.work.year %}{{ edition_text.text.work.year }}{% endif %}
              {% elif edition_text.text.translation %}
                {% if edition_text.text.translation.original_work.year %}{{ edition_text.text.translation.original_work.year }}{% endif %}
              {% endif %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  {% endif %}

  <div class="box box-solid box-info">
    <div class="box-header">
      <h3 class="box-title">{% translate 'Sagas' %} <span class="badge">{{ sagas|length }}</span></h3>
    </div>

    <div class="box-body">
      {% if sagas %}
      <table class="table table-bordered table-stripped table-hover" id="sagas_list">
        <thead>
          <tr>
            <th>{% translate 'Title' %}</th>
            <th>{% translate 'Number of works' %}</th>
          </tr>
        </thead>
        <tbody>
          {% for saga in sagas %}
          <tr>
            <td>
              <a href="{% url 'books_saga_info' saga.id|stringformat:'06d' %}"><i>{{ saga.title }}</i></a>
              {% if saga.title_vo %} (<i>{{ saga.title_vo}}</i>){% endif %}
            </td>
            <td>{{ saga.works.count }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <p>{% translate 'No sagas.' %}</p>
      {% endif %}
    </div>
  </div>
  {% endif %}

{% endblock %}
