{% load i18n %}

<aside class="main-sidebar">
  <section class="sidebar">

    {% block form %}
    <!--//
    <form action="#" method="get" class="sidebar-form">
      <div class="input-group">
        <input type="text" name="q" class="form-control" placeholder="{% translate 'Search...' %}">
        <span class="input-group-btn">
          <button type="submit" name="search" id="search-btn" class="btn btn-flat">
            <i class="fa fa-search"></i>
          </button>
        </span>
      </div>
    </form>
    //-->
    {% endblock %}

    <form action="{% url 'works_search' %}" method="get" class="sidebar-form" role="search">
      <div class="input-group">
        <input type="text" name="q" class="form-control" placeholder="{% translate 'Search...' %}">
        <span class="input-group-btn">
          <button type="submit" id="search-btn" class="btn btn-flat">
            <i class="fa fa-search"></i>
          </button>
        </span>
      </div>
    </form>

    {% block nav_links %}
    <ul class="sidebar-menu" data-widget="tree">

      <li class="header">{% translate 'BOOKS' %}</li>
      <li class="{% if request.resolver_match.url_name == 'works_list' %}active{% endif %}">
        <a href="{% url 'works_list' %}">
          <i class="fa fa-list"></i> {% translate 'Works list' %}
        </a>
      </li>
      {% if perms.books.add_work %}
      <li class="{% if request.resolver_match.url_name == 'work_create' %}active{% endif %}">
        <a href="{% url 'work_create' %}">
          <i class="fa fa-plus-square"></i> {% translate 'Create work' %}
        </a>
      </li>
      {% endif %}
      {% if perms.books.add_edition %}
      <li class="{% if request.resolver_match.url_name == 'edition_collection_create' %}active{% endif %}">
        <a href="{% url 'edition_collection_create' %}">
          <i class="fa fa-plus-square"></i> {% translate 'Create collection' %}
        </a>
      </li>
      {% endif %}
      <li class="{% if request.resolver_match.url_name == 'works_search' %}active{% endif %}">
        <a href="{% url 'works_search' %}">
          <i class="fa fa-search"></i> {% translate 'Search' %}
        </a>
      </li>

      <li class="header">{% translate 'SAGAS' %}</li>
      <li class="{% if request.resolver_match.url_name == 'books_sagas_list' %}active{% endif %}">
        <a href="{% url 'books_sagas_list' %}">
          <i class="fa fa-list"></i> {% translate 'Sagas list' %}
        </a>
      </li>
      {% if perms.books.add_saga %}
      <li class="{% if request.resolver_match.url_name == 'books_saga_create' %}active{% endif %}">
        <a href="{% url 'books_saga_create' %}">
          <i class="fa fa-plus-square"></i> {% translate 'Create saga' %}
        </a>
      </li>
      {% endif %}

      {% if user.is_authenticated %}
      <li class="header">{% translate 'LIBRARY' %}</li>
      <li class="{% if request.resolver_match.url_name == 'books_list' %}active{% endif %}">
        <a href="{% url 'books_list' %}">
          <i class="fa fa-list"></i> {% translate 'My books' %}
        </a>
      </li>
      <li class="{% if request.resolver_match.url_name == 'booklists_list' %}active{% endif %}">
        <a href="{% url 'booklists_list' %}">
          <i class="fa fa-list"></i> {% translate 'Lists' %}
        </a>
      </li>
      <li class="{% if request.resolver_match.url_name == 'books_readings' %}active{% endif %}">
        <a href="{% url 'books_readings' %}">
          <i class="fa fa-list"></i> {% translate 'Readings' %}
        </a>
      </li>
      {% endif %}

    </ul>
    {% endblock nav_links %}
  </section>
</aside>
