{% extends 'books/base.html' %}

{% load i18n %}
{% load static %}
{% load mimir %}

{% block content_title %}
<a href="{% url 'translation_info' translation.id|stringformat:'06d' %}"><i>{{ translation.original_work.title }}</i></a> ({% translate 'translation' %}) - {% translate 'Edit' %}
{% endblock %}

{% block title %}
{{ translation.original_work.title }} ({% translate 'translation' %}) - {% translate 'Books' %} - Mimir
{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/fileinput.min.css' %}" media="all" />
<link rel="stylesheet" href="{% static 'css/select2.min.css' %}" media="all" />
{% endblock %}

{% block extra_foot %}
<script src="{% static 'js/fileinput/fileinput.min.js' %}"></script>
<script src="{% static 'js/fileinput/locales/fr.js' %}"></script>
<script src="{% static 'js/select2/select2.min.js' %}"></script>
<script src="{% static 'js/select2/i18n/fr.js' %}"></script>

<script>
$(function() {
    function formatPerson(person) {
        if (person.loading) {
            return person.text;
        }
        var markup = '';
        if (person.id < 0) {
            markup += "<i>{% translate 'Create person' context 'add' %}</i> ";
            markup += '<strong>' + person.text + '</strong>';
        } else {
            markup += '<div style="width: 20px; display: inline-block;">';
            if (person.gender == "M") {
                markup += '<i class="fa fa-male"></i>';
            } else if (person.gender == "F") {
                markup += '<i class="fa fa-female"></i>';
            }
            markup += '</div><div style="display: inline-block;">';
            markup += '<strong>' + person.text + '</strong>';
            if (person.birth_year || person.death_year) {
                markup += '<small> (';
                if (person.birth_year)
                    markup += person.birth_year;
                markup += '-';
                if (person.death_year)
                    markup += person.birth_year;
                markup += ')</small>';
            }
            markup += '</div>';
        }
        return markup;
    }

    function formatPersonSelection(person) {
        return person.text;
    }

    $("#id_translators_select").select2({
        ajax: {
            url: "{% url 'persons_api_search' %}",
            dataType: 'json',
            delay: 250,
            data: function(params) {
                return {
                    q: params.term,
                    page: params.page
                };
            },
            processResults: function(data, params) {
                params.page = params.page || 1;

                for (var i = 0; i < data.items.length; ++i) {
                    data.items[i]['text'] = data.items[i]['name'];
                }

                return {
                    results: data.items,
                    pagination: {
                        more: data.incomplete_results
                    }
                };
            },
            cache: true
        },
        escapeMarkup: function(markup) { return markup; },
        minimumInputLength: 1,
        templateResult: formatPerson,
        templateSelection: formatPersonSelection,
        width: "100%",
    });
});
</script>
{% endblock %}

{% block content %}

  {{ form.non_field_errors }}

  {% if form.subject.errors %}
    <ol>
      {% for error in form.subject.errors %}
      <li><strong>{{ error|escape }}</strong></li>
      {% endfor %}
    </ol>
  {% endif %}

  <div class="box box-primary">
    <form action="{% url 'translation_edit' translation.id|stringformat:'06d' %}" method="post" class="form">
      {% csrf_token %}

      <div class="box-body">
        {% for field in form.hidden_fields %}
          {{ field }}
        {% endfor %}
        {% for field in form.visible_fields %}
        <div class="form-group row{% if field.errors %} has-error{% endif %}">
          {{ field.errors }}
          <label for="{{ field.id_for_label }}" class="col-sm-2 col-form-label">{{ field.label }}</label>
          <div class="col-sm-10">{{ field|field_add_class:'form-control input-sm' }}</div>
          {% if field.help_text %}
            <p class="form-text text-muted">{{ field.help_text|safe }}</p>
          {% endif %}
        </div>
        {% endfor %}
      </div>

      <div class="box-footer">
        <input type="submit" class="btn btn-primary center-block" value="{% translate 'Submit' %}" />
      </div>
    </form>
  </div>

{% endblock %}
