{% extends 'books/base.html' %}

{% load static %}
{% load i18n %}
{% load mimir %}

{% block footer_right %}
{% if translation.creation %}{% translate 'Creation:' %} {{ translation.creation }}.{% endif %}
{% if translation.modification %}{% translate 'Last modification:' %} {{ translation.modification }}.{% endif %}
{% endblock %}

{% block title %}
{{ translation.original_work.title }} ({% translate 'translation' %}) - {% translate 'Books' %} - Mimir
{% endblock %}

{% block content_header %}
<section class="content-header">
  <h1><i>{{ translation.original_work.title }}</i> ({% translate 'translation' %})
    {% if perms.books.change_translation or perms.books.delete_translation %}
    <div class="pull-right">
      {% if perms.books.change_translation %}
      <a href="{% url 'translation_edit' translation.id|stringformat:'06d' %}" class="btn btn-sm btn-warning">{% translate 'Edit' %}</a>
      {% endif %}
      {% if perms.books.delete_translation %}
      <a href="{% url 'translation_delete' translation.id|stringformat:'06d' %}" class="btn btn-sm btn-danger">{% translate 'Delete' %}</a>
      {% endif %}
    </div>
    {% endif %}
  </h1>
</section>
{% endblock content_header %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/datatables/dataTables.min.css' %}" />
{% endblock %}

{% block extra_foot %}
<script src="{% static 'js/datatables/datatables.min.js' %}"></script>

<script>
$(function() {
    function makeDataTable(obj, options={}) {
        var opt = {
            "paging"      : false,
            "lengthChange": false,
            "searching"   : false,
            "ordering"    : true,
            "info"        : false,
            "autoWidth"   : true,
            "language": {
                "processing":     "Traitement en cours...",
                "search":         "Rechercher&nbsp;:",
                "lengthMenu":     "Afficher _MENU_ &eacute;l&eacute;ments",
                "info":           "Affichage de l'&eacute;lement _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
                "infoEmpty":      "Affichage de l'&eacute;lement 0 &agrave; 0 sur 0 &eacute;l&eacute;ments",
                "infoFiltered":   "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
                "infoPostFix":    "",
                "loadingRecords": "Chargement en cours...",
                "zeroRecords":    "Aucun &eacute;l&eacute;ment &agrave; afficher",
                "emptyTable":     "Aucune donnée disponible dans le tableau.",
                "paginate": {
                    "first":      "{% translate 'First' %}",
                    "previous":   "{% translate 'Previous' %}",
                    "next":       "{% translate 'Next' %}",
                    "last":       "{% translate 'Last' %}"
                },
                "aria": {
                    "sortAscending":  ": activer pour trier la colonne par ordre croissant",
                    "sortDescending": ": activer pour trier la colonne par ordre décroissant"
                }
            },
        };
        jQuery.extend(opt, options);
        obj.DataTable(opt);
    }

    makeDataTable($("#editions_list"), {"order": [1, "asc"]});

    $('a[data-toggle="tooltip"]').tooltip({
        animated: 'fade',
        placement: 'bottom',
        html: true,
    });
});
</script>
{% endblock %}

{% block content %}

  <div class="row">
    <div class="col-md-4">
      <div class="box box-solid box-info">
        <div class="box-body">
          <dl class="dl-horizontal">
            <dt>{% translate 'Work' %}{% translate ':' %}</dt><dd><a href="{% url 'work_info' translation.original_work.id|stringformat:'06d' %}"><i>{{ translation.original_work.title }}</i></a></dd>
            {% if translation.original_work.authors.count > 0 %}<dt>{% blocktranslate count c=translation.original_work.authors.count %}Author{% plural %}Authors{% endblocktranslate %}{% translate ':' %}</dt><dd>{% for author in translation.original_work.authors.all %}{% if not forloop.first %}, {% endif %}<a href="{% url 'person_info' author.id|stringformat:'06d' %}">{{ author.name }}</a>{% endfor %}</dd>{% endif %}
            {% if translation.year %}<dt>{% translate 'Year' %}{% translate ':' %}</dt><dd>{{ translation.year }}</dd>{% endif %}
            {% if translation.lang %}<dt>{% translate 'Language' context 'language' %}{% translate ':' %}</dt><dd>{{ translation.lang }}</dd>{% endif %}
            {% if translation.translators.count > 0 %}<dt>{% blocktranslate count c=translation.translators.count %}Translator{% plural %}Translators{% endblocktranslate %}{% translate ':' %}</dt><dd>{% for translator in translation.translators.all %}{% if not forloop.first %}, {% endif %}<a href="{% url 'person_info' translator.id|stringformat:'06d' %}">{{ translator.name }}</a>{% endfor %}</dd>{% endif %}
          </dl>
        </div>
      </div>
    </div>

    {% if perms.books.add_reading or readings.count > 0 %}
    <div class="col-md-offset-4 col-md-4">
      <div class="box box-solid box-info">
        <div class="box-header with-border">
          <h3 class="box-title">{% translate 'Readings' %}</h3>
          {% if user.is_authenticated %}
          <div class="box-tools pull-right">
            {% if perms.books.change_reading %}
            <a href="{% url 'translation_edit_readings' translation.id|stringformat:'06d' %}" class="btn btn-box-tool" title="{% translate 'Edit readings' %}">
              <i class="fa fa-edit"></i>
            </a>
            {% endif %}
            {% if perms.books.add_reading %}
            <a href="{% url 'translation_add_reading' translation.id|stringformat:'06d' %}" class="btn btn-box-tool" title="{% translate 'Add reading' %}">
              <i class="fa fa-plus-square"></i>
            </a>
            {% endif %}
          </div>
          {% endif %}
        </div>
        <div class="box-body">
          {% if readings|length > 0 %}
          <ul>
            {% for reading in readings %}
            <li>
            {% if reading.date_start != '0000-00-00' or reading.date_end != '0000-00-00' %}{{ reading.date_start|date_format }}{% if reading.date_end %} - {{ reading.date_end|date_format }}{% endif %}{% else %}{% translate 'Unknown date' %}{% endif %}
            {% if reading.user and reading.user != request.user %} par {{ reading.user }}{% endif %}
            {% if reading.info %} ({{ reading.info }}){% endif %}
            {% if not reading.text %} [<a href="{% url 'edition_info' reading.edition.id|stringformat:'06d' %}">{% translate 'collection' context 'collection of books' %}</a>]{% endif %}
            {% if not reading.date_end %} [en cours]{% endif %}
            </li>
            {% endfor %}
          </ul>
          {% else %}
          <p>{% translate 'No readings.' %}</p>
          {% endif %}
        </div>
      </div>
    </div>
    {% endif %}
  </div>

  {% if translation.info %}
  <div class="box box-solid box-info">
    <div class="box-header with-border">
      <h3 class="box-title">{% translate 'Information' %}</h3>
      <div class="box-tools pull-right">
        <button type="button" class="btn btn-box-tool" data-widget="collapse">
          <i class="fa fa-minus"></i>
        </button>
      </div>
    </div>
    <div class="box-body">{{ translation.info|linebreaks }}</div>
  </div>
  {% endif %}

  <div class="box box-solid box-info">
    <div class="box-header with-border">
      <h3 class="box-title">{% translate 'Editions' %}</h3>
      <div class="box-tools pull-right">
        {% if perms.books.add_edition %}
        <a href="{% url 'translation_add_edition' translation.id|stringformat:'06d' %}" class="btn btn-box-tool" title="{% translate 'Add edition' %}">
          <i class="fa fa-plus-square"></i>
        </a>
        {% endif %}
        <button type="button" class="btn btn-box-tool" data-widget="collapse">
          <i class="fa fa-minus"></i>
        </button>
      </div>
    </div>
    <div class="box-body">
      {% if translation.editions.count > 0 %}
      <table class="table table-bordered table-stripped table-hover" id="editions_list">
        <thead>
          <tr>
            <th>{% translate 'Title' %}</th>
            <th>{% translate 'Year' %}</th>
            <th>{% translate 'Publisher' %}</th>
          </tr>
        </thead>
        <tbody>
        {% for edition in translation.editions.all %}
          <tr>
            <td><a href="{% url 'edition_info' edition.id|stringformat:'06d' %}"{% if edition.image %} data-toggle="tooltip" title="<img src='{{ edition.image.url }}' style='max-width: 100px; max-height: 150px;' />"{% endif %}><i>{{ edition.title }}</i></a></td>
            <td>{% if edition.year %}{{ edition.year }}{% endif %}</td>
            <td>{% if edition.publisher %}{{ edition.publisher }}{% endif %}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
      {% else %}
      <p>{% translate 'No editions.' %}</p>
      {% endif %}
    </div>
  </div>

  {% if translation.collections.all %}
  <div class="box box-solid box-info">
    <div class="box-header with-border">
      <h3 class="box-title">{% translate 'Collections' context 'collection of books' %}</h3>
      <div class="box-tools pull-right">
        <button type="button" class="btn btn-box-tool" data-widget="collapse">
          <i class="fa fa-minus"></i>
        </button>
      </div>
    </div>
    <div class="box-body">
      <ul>
        {% for collection in translation.collections.all %}
        <li>
          <a href="{% url 'edition_info' collection.edition.id|stringformat:'06d' %}"><i>{{ collection.edition.title }}</i></a>
          {% if collection.title != translation.original_work.title %} (<i>{{ collection.title }}</i>){% endif %}
          {% if collection.edition.year  %} ({{ collection.edition.year }}){% endif %}
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  {% endif %}

  <div class="row">

    <div class="col-md-12 col-lg-6">
      <div class="box box-solid box-info">
        <div class="box-header with-border">
          <h3 class="box-title">{% translate 'Tags' %}</h3>
          <div class="box-tools pull-right">
            {% if perms.books.change_texttag %}
            <a href="{% url 'translation_edit_tags' translation.id|stringformat:'06d' %}" class="btn btn-box-tool" title="{% translate 'Edit tags' %}">
              <i class="fa fa-edit"></i>
            </a>
            {% endif %}
            {% if perms.books.add_texttag %}
            <a href="{% url 'translation_add_tag' translation.id|stringformat:'06d' %}" class="btn btn-box-tool" title="{% translate 'Add tag' %}">
              <i class="fa fa-plus-square"></i>
            </a>
            {% endif %}
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
              <i class="fa fa-minus"></i>
            </button>
          </div>
        </div>
        <div class="box-body">
          {% if translation.tags.count > 0 %}
          <ul>
            {% for translationTag in translation.tags.all %}
            <li><a href="{% url 'tag_info' translationTag.tag.id|stringformat:'06d' %}">{{ translationTag.tag.name }}</a>{% if translationTag.info %} ({{ translationTag.info }}){% endif %}</li>
            {% endfor %}
          </ul>
          {% else %}
          <p>{% translate 'No tags.' %}</p>
          {% endif %}
        </div>
      </div>
    </div>

    <div class="col-md-12 col-lg-6">
      <div class="box box-solid box-info">
        <div class="box-header with-border">
          <h3 class="box-title">{% translate 'Attributes' %}</h3>
          <div class="box-tools pull-right">
            {% if perms.books.change_textattribute %}
            <a href="{% url 'translation_edit_attributes' translation.id|stringformat:'06d' %}" class="btn btn-box-tool" title="{% translate 'Edit attributes' %}">
              <i class="fa fa-edit"></i>
            </a>
            {% endif %}
            {% if perms.books.add_textattribute %}
            <a href="{% url 'translation_add_attribute' translation.id|stringformat:'06d' %}" class="btn btn-box-tool" title="{% translate 'Add attribute' %}">
              <i class="fa fa-plus-square"></i>
            </a>
            {% endif %}
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
              <i class="fa fa-minus"></i>
            </button>
          </div>
        </div>
        <div class="box-body">
          {% if translation.attributes.count > 0 %}
          <ul>
            {% for attribute in translation.attributes.all %}
            <li>{{ attribute.name }} : {{ attribute.value }}</li>
            {% endfor %}
          </ul>
          {% else %}
          <p>{% translate 'No attributes.' %}</p>
          {% endif %}
        </div>
      </div>
    </div>

    <div class="col-md-12 col-lg-6">
      <div class="box box-solid box-info">
        <div class="box-header with-border">
          <h3 class="box-title">{% translate 'Links' %}</h3>
          <div class="box-tools pull-right">
            {% if perms.books.change_textlink %}
            <a href="{% url 'translation_edit_links' translation.id|stringformat:'06d' %}" class="btn btn-box-tool" title="{% translate 'Edit links' %}">
              <i class="fa fa-edit"></i>
            </a>
            {% endif %}
            {% if perms.books.add_textlink %}
            <a href="{% url 'translation_add_link' translation.id|stringformat:'06d' %}" class="btn btn-box-tool" title="{% translate 'Add link' %}">
              <i class="fa fa-plus-square"></i>
            </a>
            {% endif %}
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
              <i class="fa fa-minus"></i>
            </button>
          </div>
        </div>
        <div class="box-body">
          {% if translation.links.count > 0 %}
          <ul>
            {% for link in translation.links.all %}
            <li><a href="{{ link.uri }}">{{ link.name }} <span class="fa fa-external-link"></span></a>{% if link.lang %} ({{ link.lang }}){% endif %}</li>
            {% endfor %}
          </ul>
          {% else %}
          <p>{% translate 'No links.' %}</p>
          {% endif %}
        </div>
      </div>
    </div>

  </div>

{% endblock %}
