{% extends 'books/base.html' %}

{% load i18n %}
{% load static %}
{% load mimir %}

{% block content_title %}
<a href="{% url 'translation_info' translation.id|stringformat:'06d' %}"><i>{{ translation.original_work.title }}</i></a> ({% translate 'translation' %}) - {% translate 'Add edition' %}
{% endblock %}

{% block title %}
{{ translation.original_work.title }} ({% translate 'translation' %}) - {% translate 'Books' %} - Mimir
{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/fileinput.min.css' %}" media="all" />
{% endblock %}

{% block extra_foot %}
<script src="{% static 'js/fileinput/fileinput.min.js' %}"></script>
<script src="{% static 'js/fileinput/locales/fr.js' %}"></script>

<script>
$(function() {
    $('#id_image').fileinput({
        showPreview: true,
        previewFileType: 'image',
        allowedFileTypes: ['image'],
        showUpload: false,
        browseClass: 'btn btn-success',
        browseIcon: '<i class="glyphicon glyphicon-picture"></i> ',
        language: 'fr',
        maxFileCount: 1,
        autoReplace: true,
    });
});
</script>
{% endblock %}

{% block content %}

  {{ form.non_field_errors }}

  {% if form.subject.errors %}
  <ol>
    {% for error in form.subject.errors %}
    <li><strong>{{ error|escape }}</strong></li>
    {% endfor %}
  </ol>
  {% endif %}

  <div class="box box-primary">
    <form action="{% url 'translation_add_edition' translation.id %}" method="post" class="form" enctype="multipart/form-data">
      {% csrf_token %}

      <div class="box-body">
        {% for field in form.hidden_fields %}
          {{ field }}
        {% endfor %}
        {% for field in form.visible_fields %}
        <div class="form-group row{% if field.errors %} has-error{% endif %}">
          {{ field.errors }}
          <label for="{{ field.id_for_label }}" class="col-sm-2 col-form-label">{{ field.label }}</label>
          <div class="col-sm-10">{{ field|field_add_class:'form-control input-sm' }}</div>
          {% if field.help_text %}
            <p class="form-text text-muted">{{ field.help_text|safe }}</p>
          {% endif %}
        </div>
        {% endfor %}
      </div>

      <div class="box-footer">
        <input type="submit" class="btn btn-primary center-block" value="{% translate 'Submit' %}" />
      </div>
    </form>
  </div>

{% endblock %}
