{% extends 'books/base.html' %}

{% load i18n %}

{% block content_title %}
<a href="{% url 'translation_info' translation.id|stringformat:'06d' %}"><i>{{ translation.original_work.title }}</i></a> ({% translate 'translation' %}) - {% translate 'Add link' %}
{% endblock %}

{% block title %}
{{ translation.original_work.title }} ({% translate 'translation' %}) - {% translate 'Books' %} - Mimir
{% endblock %}

{% block content %}
{% include 'form_add_object.html' %}
{% endblock %}
