{% extends 'books/base.html' %}

{% load i18n %}

{% block content_title %}
<a href="{% url 'volume_info' volume.edition.id|stringformat:'06d' volume.id|stringformat:'06d' %}"><i>{{ volume.title }}</i></a> ({% translate 'volume' %}) - {% translate 'Add reading' %}
{% endblock %}

{% block title %}
{{ volume.title }} ({% translate 'volume' %}) - {% translate 'Books' %} - Mimir
{% endblock %}

{% block content %}
{% include 'form_add_object.html' %}
{% endblock %}
