{% extends 'books/base.html' %}

{% load static %}
{% load i18n %}
{% load mimir %}

{% block footer_right %}
{% if volume.creation %}{% translate 'Creation:' %} {{ volume.creation }}.{% endif %}
{% if volume.modification %}{% translate 'Last modification:' %} {{ volume.modification }}.{% endif %}
{% endblock %}

{% block title %}
{{ volume.title }} ({% translate 'volume' %}) - {% translate 'Books' %} - Mimir
{% endblock %}

{% block content_header %}
<section class="content-header">
  <h1><i>{{ volume.title }}</i> ({% translate 'volume' %})
    {% if perms.books.change_volume or perms.books.delete_volume %}
    <div class="pull-right">
      {% if perms.books.change_volume %}
      <a href="{% url 'volume_edit' volume.edition.id|stringformat:'06d' volume.id|stringformat:'06d' %}" class="btn btn-sm btn-warning">{% translate 'Edit' %}</a>
      {% endif %}
      {% if volume.edition.volumes.count > 1 and perms.books.delete_volume %}
      <a href="{% url 'volume_delete' volume.edition.id|stringformat:'06d' volume.id|stringformat:'06d' %}" class="btn btn-sm btn-danger">{% translate 'Delete' %}</a>
      {% endif %}
    </div>
    {% endif %}
  </h1>
</section>
{% endblock content_header %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/datatables/dataTables.min.css' %}" />
{% endblock %}

{% block extra_foot %}
<script src="{% static 'js/datatables/datatables.min.js' %}"></script>

<script>
$(function() {
    function makeDataTable(obj, options={}) {
        var opt = {
            "paging"      : false,
            "lengthChange": false,
            "searching"   : false,
            "ordering"    : true,
            "info"        : false,
            "autoWidth"   : true,
            "language": {
                "processing":     "Traitement en cours...",
                "search":         "Rechercher&nbsp;:",
                "lengthMenu":     "Afficher _MENU_ &eacute;l&eacute;ments",
                "info":           "Affichage de l'&eacute;lement _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
                "infoEmpty":      "Affichage de l'&eacute;lement 0 &agrave; 0 sur 0 &eacute;l&eacute;ments",
                "infoFiltered":   "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
                "infoPostFix":    "",
                "loadingRecords": "Chargement en cours...",
                "zeroRecords":    "Aucun &eacute;l&eacute;ment &agrave; afficher",
                "emptyTable":     "Aucune donnée disponible dans le tableau.",
                "paginate": {
                    "first":      "{% translate 'First' %}",
                    "previous":   "{% translate 'Previous' %}",
                    "next":       "{% translate 'Next' %}",
                    "last":       "{% translate 'Last' %}"
                },
                "aria": {
                    "sortAscending":  ": activer pour trier la colonne par ordre croissant",
                    "sortDescending": ": activer pour trier la colonne par ordre décroissant"
                }
            },
        };
        jQuery.extend(opt, options);
        obj.DataTable(opt);
    }

    makeDataTable($("#books_list"), {"order": [[0, "asc"]]});
});
</script>
{% endblock %}

{% block content %}

  <div class="row">
    <div class="col-md-4">
      <div class="box box-solid box-info">
        <div class="box-body">
          <dl class="dl-horizontal">
            {% if volume.edition.text %}
              <dt>{% translate 'Work' %}{% translate ':' %}</dt>
              <dd>
                {% if volume.edition.text.work %}
                  <a href="{% url 'work_info' volume.edition.text.work.id|stringformat:'06d' %}"><i>{{ volume.edition.text.work.title }}</i></a>
                  {% if volume.edition.text.work.year %} ({{ volume.edition.text.work.year }}){% endif %}
                {% elif volume.edition.text.translation %}
                  <a href="{% url 'work_info' volume.edition.text.translation.original_work.id|stringformat:'06d' %}"><i>{{ volume.edition.text.translation.original_work.title }}</i></a>
                  {% if volume.edition.text.translation.original_work.year %} ({{ volume.edition.text.translation.original_work.year }}){% endif %}
                {% endif %}
              </dd>
              {% if volume.edition.text.work %}
                {% if volume.edition.title != volume.edition.text.work.title %}<dt>{% translate 'Title' %}{% translate ':' %}</dt><dd><i>{{ volume.edition.title }}</i></dd>{% endif %}
              {% elif volume.edition.text.translation %}
                {% if volume.edition.title != volume.edition.text.translation.original_work.title %}<dt>{% translate 'Title' %}{% translate ':' %}</dt><dd><i>{{ volume.edition.title }}</i></dd>{% endif %}
              {% endif %}
            {% else %}
              <dt>{% translate 'Title' %}{% translate ':' %}</dt><dd><i>{{ volume.edition.title }}</i></dd>
            {% endif %}

            {% if volume.edition.text %}
              {% if volume.edition.text.work %}
                {% if volume.edition.text.work.authors.count > 0 %}
                  <dt>{% blocktranslate count c=volume.edition.text.work.authors.count %}Author{% plural %}Authors{% endblocktranslate %}{% translate ':' %}</dt>
                  <dd>{% for author in volume.edition.text.work.authors.all %}{% if not forloop.first %}, {% endif %}<a href="{% url 'person_info' author.id|stringformat:'06d' %}">{{ author.name }}</a>{% endfor %}</dd>
                {% endif %}
              {% elif volume.edition.text.translation %}
                {% if volume.edition.text.translation.original_work.authors.count > 0 %}
                  <dt>{% blocktranslate count c=volume.edition.text.translation.original_work.authors.count %}Author{% plural %}Authors{% endblocktranslate %}{% translate ':' %}</dt>
                  <dd>{% for author in volume.edition.text.translation.original_work.authors.all %}{% if not forloop.first %}, {% endif %}<a href="{% url 'person_info' author.id|stringformat:'06d' %}">{{ author.name }}</a>{% endfor %}</dd>
                {% endif %}
              {% endif %}
            {% else %}
              {% if volume.edition.authors|length > 0 %}
                <dt>{% blocktranslate count c=volume.edition.authors|length %}Author{% plural %}Authors{% endblocktranslate %}{% translate ':' %}</dt>
                <dd>{% for author in volume.edition.authors %}{% if not forloop.first %}, {% endif %}<a href="{% url 'person_info' author.id|stringformat:'06d' %}">{{ author.name }}</a>{% endfor %}</dd>
              {% endif %}
            {% endif %}
          </dl>

          {% if volume.edition.text.translation %}
          <dl class="dl-horizontal">
            <dt>{% translate 'Translation' %}{% translate ':' %}</dt>
            <dd><a href="{% url 'translation_info' volume.edition.text.translation.id|stringformat:'06d' %}">{{ volume.edition.text.translation }}</a></dd>
          </dl>
          {% endif %}

          <dl class="dl-horizontal">
            <dt>{% translate 'Edition' %}{% translate ':' %}</dt><dd><a href="{% url 'edition_info' volume.edition.id|stringformat:'06d' %}"><i>{{ volume.edition.title }}</i></a></dd>
            {% if volume.edition.publisher %}<dt>{% translate 'Publisher' %}{% translate ':' %}</dt><dd>{{ volume.edition.publisher }}</dd>{% endif %}
            {% if volume.edition.year %}<dt>{% translate 'Year' %}{% translate ':' %}</dt><dd>{{ volume.edition.year }}</dd>{% endif %}
          </dl>

          <dl class="dl-horizontal">
            {% if volume.title != volume.edition.title %}<dt>{% translate 'Title' %}{% translate ':' %}</dt><dd><i>{{ volume.title }}</i></dd>{% endif %}
            {% if volume.number %}<dt>{% translate 'Number' %}{% translate ':' %}</dt><dd>{{ volume.number }}</dd>{% endif %}
            {% if volume.pages %}<dt>{% translate 'Pages' %}{% translate ':' %}</dt><dd>{{ volume.pages }}</dd>{% endif %}
            <dt>{% translate 'ISBN' %}{% translate ':' %}</dt><dd>{% if volume.isbn %}{{ volume.isbn }}{% else %}{% translate 'Unknown' %}{% endif %}</dd>
          </dl>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      {% if volume.image %}
      <div class="box box-solid box-info" style="width: 220px;">
        <div class="box-body">
          <img src="{{ volume.image.url }}" style="max-width: 200px; max-height: 300px;" class="center-block" />
        </div>
      </div>
      {% endif %}
    </div>

    {% if perms.books.add_reading or readings.count > 0 %}
    <div class="col-md-4">
      <div class="box box-solid box-info">
        <div class="box-header with-border">
          <h3 class="box-title">{% translate 'Readings' %}</h3>
          {% if user.is_authenticated %}
          <div class="box-tools pull-right">
            {% if perms.books.change_reading %}
            <a href="{% url 'volume_edit_readings' volume.edition.id|stringformat:'06d' volume.id|stringformat:'06d' %}" class="btn btn-box-tool" title="{% translate 'Edit readings' %}">
              <i class="fa fa-edit"></i>
            </a>
            {% endif %}
            {% if perms.books.add_reading %}
            <a href="{% url 'volume_add_reading' volume.edition.id|stringformat:'06d' volume.id|stringformat:'06d' %}" class="btn btn-box-tool" title="{% translate 'Add reading' %}">
              <i class="fa fa-plus-square"></i>
            </a>
            {% endif %}
          </div>
          {% endif %}
        </div>
        <div class="box-body">
          {% if readings.count > 0 %}
          <ul>
            {% for reading in readings %}
            <li>{% if reading.date_start != '0000-00-00' or reading.date_end != '0000-00-00' %}{{ reading.date_start|date_format }}{% if reading.date_end %} - {{ reading.date_end|date_format }}{% endif %}{% else %}{% translate 'Unknown date' %}{% endif %}{% if reading.user and reading.user != request.user %} par {{ reading.user }}{% endif %}{% if reading.info %} ({{ reading.info }}){% endif %}{% if not reading.date_end %} [{% translate 'in progress' %}]{% endif %}</li>
            {% endfor %}
          </ul>
          {% else %}
          <p>{% translate 'No readings.' %}</p>
          {% endif %}
        </div>
      </div>
    </div>
    {% endif %}
  </div>

  {% if volume.info %}
  <div class="box box-solid box-info">
    <div class="box-header with-border">
      <h3 class="box-title">{% translate 'Information' %}</h3>
      <div class="box-tools pull-right">
        <button type="button" class="btn btn-box-tool" data-widget="collapse">
          <i class="fa fa-minus"></i>
        </button>
      </div>
    </div>
    <div class="box-body">{{ volume.info|linebreaks }}</div>
  </div>
  {% endif %}

  <div class="row">

    {% if perms.books.add_book or books.count > 0 %}
    <div class="col-md-12 col-lg-6">
      <div class="box box-solid box-info">
        <div class="box-header with-border">
          <h3 class="box-title">{% translate 'Books' %}</h3>
          <div class="box-tools pull-right">
            {% if perms.books.add_book %}
            <a href="{% url 'volume_add_book' volume.edition.id|stringformat:'06d' volume.id|stringformat:'06d' %}" class="btn btn-box-tool" title="{% translate 'Add book' %}">
              <i class="fa fa-plus-square"></i>
            </a>
            {% endif %}
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
              <i class="fa fa-minus"></i>
            </button>
          </div>
        </div>
        <div class="box-body">
          {% if books.count > 0 %}
          <table class="table table-bordered table-stripped table-hover" id="books_list">
            <thead>
              <tr>
                <th>{% translate 'Buying date' %}</th>
                <th>{% translate 'Owner' %}</th>
              </tr>
            </thead>
            <tbody>
            {% for book in books.all %}
              <tr>
                <td><a href="{% url 'book_info' book.id|stringformat:'06d' %}">{% if book.date %}{{ book.date|date_format }}{% else %}{% translate 'Unknown date' %}{% endif %}</a></td>
                <td><a href="{TODO% url 'user_info' book.user.id|stringformat:'06d' %}">{{ book.user.username }}</a></td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
          {% else %}
          <p>{% translate 'No books.' %}</p>
          {% endif %}
        </div>
      </div>
    </div>
    {% endif %}

    {% if perms.books.change_list and lists|length > 0 %}
    <div class="col-md-12 col-lg-6">
      <div class="box box-solid box-info">
        <div class="box-header with-border">
          <h3 class="box-title">{% translate 'Lists' %}</h3>
          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
              <i class="fa fa-minus"></i>
            </button>
          </div>
        </div>
        <div class="box-body">
          {% for list in lists %}
            {% if list.disabled %}
              <a class="btn btn-xs btn-default" href="{% url 'booklist_info' list.id|stringformat:'06d' %}">{{ list.name }}</a>
            {% else %}
              <a class="btn btn-xs btn-primary" href="{% url 'booklist_add_volume' list.id|stringformat:'06d' volume.id|stringformat:'06d' %}">Ajouter à la liste "{{ list.name }}"</a>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
    {% endif %}

  </div>

{% endblock %}
