{% extends 'books/base.html' %}

{% load i18n %}
{% load static %}

{% block content_title %}
<a href="{% url 'work_info' work.id|stringformat:'06d' %}"><i>{{ work.title }}</i></a> - {% translate 'Add translation' %}
{% endblock %}

{% block title %}
{{ work.title }} - {% translate 'Books' %} - Mimir
{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/fileinput.min.css' %}" media="all" />
<link rel="stylesheet" href="{% static 'css/select2.min.css' %}" media="all" />
{% endblock %}

{% block extra_foot %}
<script src="{% static 'js/fileinput/fileinput.min.js' %}"></script>
<script src="{% static 'js/fileinput/locales/fr.js' %}"></script>
<script src="{% static 'js/select2/select2.min.js' %}"></script>
<script src="{% static 'js/select2/i18n/fr.js' %}"></script>

<script>
$(function() {
    function formatPerson(person) {
        if (person.loading) {
            return person.text;
        }
        var markup = '';
        if (person.id < 0) {
            markup += "<i>{% translate 'Create person' context 'add' %}</i> ";
            markup += '<strong>' + person.text + '</strong>';
        } else {
            markup += '<div style="width: 20px; display: inline-block;">';
            if (person.gender == "M") {
                markup += '<i class="fa fa-male"></i>';
            } else if (person.gender == "F") {
                markup += '<i class="fa fa-female"></i>';
            }
            markup += '</div><div style="display: inline-block;">';
            markup += '<strong>' + person.text + '</strong>';
            if (person.birth_year || person.death_year) {
                markup += '<small> (';
                if (person.birth_year)
                    markup += person.birth_year;
                markup += '-';
                if (person.death_year)
                    markup += person.death_year;
                markup += ')</small>';
            }
            markup += '</div>';
        }
        return markup;
    }

    function formatPersonSelection(person) {
        return person.text;
    }

    $("#id_translators_select").select2({
        ajax: {
            url: "{% url 'persons_api_search' %}",
            dataType: 'json',
            delay: 250,
            data: function(params) {
                return {
                    q: params.term,
                    page: params.page
                };
            },
            processResults: function(data, params) {
                params.page = params.page || 1;

                for (var i = 0; i < data.items.length; ++i) {
                    data.items[i]['text'] = data.items[i]['name'];
                }

                return {
                    results: data.items,
                    pagination: {
                        more: data.incomplete_results
                    }
                };
            },
            cache: true
        },
        escapeMarkup: function(markup) { return markup; },
        minimumInputLength: 1,
        templateResult: formatPerson,
        templateSelection: formatPersonSelection,
        width: "100%",
    });
});
</script>
{% endblock %}

{% block content %}
{% include 'form_add_object.html' %}
{% endblock %}
