{% extends 'books/base.html' %}

{% load i18n %}

{% block content_title %}
<a href="{% url 'work_info' work.id|stringformat:'06d' %}"><i>{{ work.title }}</i></a> - {% translate 'Add reading' %}
{% endblock %}

{% block title %}
{{ work.title }} - {% translate 'Books' %} - Mimir
{% endblock %}

{% block content %}
{% include 'form_add_object.html' %}
{% endblock %}
