{% extends 'books/base.html' %}

{% load static %}
{% load i18n %}
{% load mimir %}

{% block content_title %}
{% translate 'Works' %}
{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/datatables/dataTables.min.css' %}">
{% endblock %}

{% block extra_foot %}
<script src="{% static 'js/datatables/datatables.min.js' %}"></script>

<script>
$(function() {
    $('#works_list').DataTable({
        "paging"      : true,
        "lengthChange": true,
        "searching"   : false,
        "ordering"    : true,
        "info"        : true,
        "autoWidth"   : true,
        "stateSave"   : true,
        "processing"  : true,
        "serverSide"  : true,
        "ajax": {
            "url": "{% url 'works_api_list' %}",
            "dataFilter": function(data) {
                var json = jQuery.parseJSON(data);

                for (var i = 0; i < json.data.length; ++i) {
                    json.data[i]["title_url"] = '<a href="' + json.data[i]['url'] + '"><i>' + json.data[i]['title'] + '</i></a>';
                    var authors = '';
                    for (var j = 0; j < json.data[i]["authors"].length; ++j) {
                        if (j > 0) {
                            authors += ', ';
                        }
                        authors += '<a href="' + json.data[i]["authors"][j]["url"] + '">' + json.data[i]["authors"][j]["name"] + '</a>';
                    }
                    json.data[i]["authors_list"] = authors;
                }

                return JSON.stringify(json);
            },
        },
        "columns": [
            { "data": "title_url" },
            { "data": "year" },
            { "data": "authors_list" },
            { "data": "genre" },
        ],
        "language": {
            "processing":     "Traitement en cours...",
            "search":         "Rechercher&nbsp;:",
            "lengthMenu":     "Afficher _MENU_ &eacute;l&eacute;ments",
            "info":           "Affichage de l'&eacute;lement _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
            "infoEmpty":      "Affichage de l'&eacute;lement 0 &agrave; 0 sur 0 &eacute;l&eacute;ments",
            "infoFiltered":   "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
            "infoPostFix":    "",
            "loadingRecords": "Chargement en cours...",
            "zeroRecords":    "Aucun &eacute;l&eacute;ment &agrave; afficher",
            "emptyTable":     "Aucune donnée disponible dans le tableau.",
            "paginate": {
                "first":      "{% translate 'First' %}",
                "previous":   "{% translate 'Previous' %}",
                "next":       "{% translate 'Next' %}",
                "last":       "{% translate 'Last' %}"
            },
            "aria": {
                "sortAscending":  ": activer pour trier la colonne par ordre croissant",
                "sortDescending": ": activer pour trier la colonne par ordre décroissant"
            }
        },
    });

    $('#collections_list').DataTable({
        "paging"      : true,
        "lengthChange": true,
        "searching"   : false,
        "ordering"    : true,
        "info"        : true,
        "autoWidth"   : true,
        "stateSave"   : true,
        "processing"  : true,
        "serverSide"  : true,
        "ajax": {
            "url": "{% url 'editions_api_list' %}?only_collections",
            "dataFilter": function(data) {
                var json = jQuery.parseJSON(data);

                for (var i = 0; i < json.data.length; ++i) {
                    json.data[i]["title_url"] = '<a href="' + json.data[i]['url'] + '"><i>' + json.data[i]['title'] + '</i></a>';
                    var authors = '';
                    for (var j = 0; j < json.data[i]["authors"].length; ++j) {
                        if (j > 0) {
                            authors += ', ';
                        }
                        authors += '<a href="' + json.data[i]["authors"][j]["url"] + '">' + json.data[i]["authors"][j]["name"] + '</a>';
                    }
                    json.data[i]["authors_list"] = authors;
                }

                return JSON.stringify(json);
            },
        },
        "columns": [
            { "data": "title_url" },
            { "data": "year" },
            { "data": "authors_list" },
        ],
        "language": {
            "processing":     "Traitement en cours...",
            "search":         "{% translate 'Search' %}{% translate ':' %}",
            "lengthMenu":     "Afficher _MENU_ &eacute;l&eacute;ments",
            "info":           "Affichage de l'&eacute;lement _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
            "infoEmpty":      "Affichage de l'&eacute;lement 0 &agrave; 0 sur 0 &eacute;l&eacute;ments",
            "infoFiltered":   "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
            "infoPostFix":    "",
            "loadingRecords": "Chargement en cours...",
            "zeroRecords":    "Aucun &eacute;l&eacute;ment &agrave; afficher",
            "emptyTable":     "Aucune donnée disponible dans le tableau.",
            "paginate": {
                "first":      "{% translate 'First' %}",
                "previous":   "{% translate 'Previous' %}",
                "next":       "{% translate 'Next' %}",
                "last":       "{% translate 'Last' %}"
            },
            "aria": {
                "sortAscending":  ": activer pour trier la colonne par ordre croissant",
                "sortDescending": ": activer pour trier la colonne par ordre décroissant"
            }
        },
    });
});
</script>
{% endblock %}

{% block content %}

  <div class="box box-solid box-info">

    <div class="box-header">
      <h3 class="box-title">{% translate 'Works list' %}</h3>
      {% if user.is_authenticated %}
      <div class="box-tools pull-right">
        <a href="{% url 'work_create' %}" class="btn btn-box-tool" title="{% translate 'Create work' %}">
          <i class="fa fa-plus-square"></i>
        </a>
      </div>
      {% endif %}
    </div>

    <div class="box-body">

      <table class="table table-bordered table-stripped table-hover" id="works_list">
        <thead>
          <tr>
            <th>{% translate 'Title' %}</th>
            <th>{% translate 'Year' %}</th>
            <th>{% translate 'Authors' %}</th>
            <th>{% translate 'Genre' %}</th>
          </tr>
        </thead>
        <tbody>
          {% for work in works %}
          <tr>
            <td><a href="{% url 'work_info' work.id|stringformat:'06d' %}"><i>{{ work.title }}</i></a></td>
            <td>{{ work.year }}</td>
            <td>
              {% for author in work.authors %}
              {% if not forloop.first %}, {% endif %}
              <span class="hidden">{% if author.lastname %}{{ author.lastname }}, {{ author.firstname }}{% else %}{{ author.name }}{%endif %}</span>
              <a href="{% url 'person_info' author.id|stringformat:'06d' %}">{{ author.name }}</a>
              {% endfor %}
            </td>
            <td>{% if work.genre %}{{ work.genre }}{% else %}{% translate 'Unknown' context 'Unknown genre' %}{% endif %}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

    </div>
  </div>

  <div class="box box-solid box-info">

    <div class="box-header">
      <h3 class="box-title">{% translate 'Collections' context 'collection of books' %}</h3>
      {% if perms.books.add_edition %}
      <div class="box-tools pull-right">
        <a href="{% url 'edition_collection_create' %}" class="btn btn-box-tool" title="{% translate 'Create collection' %}">
          <i class="fa fa-plus-square"></i>
        </a>
      </div>
      {% endif %}
    </div>

    <div class="box-body">

      <table class="table table-bordered table-stripped table-hover" id="collections_list">
        <thead>
          <tr>
            <th>{% translate 'Title' %}</th>
            <th>{% translate 'Year' %}</th>
            <th data-sortable="false">{% translate 'Authors' %}</th>
          </tr>
        </thead>
        <tbody>
          {% for collection in collections %}
          <tr>
            <td><a href="{% url 'edition_info' collection.id|stringformat:'06d' %}"><i>{{ collection.title }}</i></a></td>
            <td>{% if collection.year %}{{ collection.year }}{% endif %}</td>
            <td>
              {% for author in collection.authors %}
              {% if not forloop.first %}, {% endif %}
              <a href="{% url 'person_info' author.id|stringformat:'06d' %}">{{ author.name }}</a>
              {% endfor %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

    </div>
  </div>

{% endblock %}
