{% extends 'books/base.html' %}

{% load static %}
{% load i18n %}
{% load mimir %}

{% block footer_right %}
{% if work.creation %}{% translate 'Creation:' %} {{ work.creation }}.{% endif %}
{% if work.modification %}{% translate 'Last modification:' %} {{ work.modification }}.{% endif %}
{% endblock %}

{% block title %}
{{ work.title }} - {% translate 'Books' %} - Mimir
{% endblock %}

{% block content_header %}
<section class="content-header">
  <h1><i>{{ work.title }}</i>
    {% if perms.books.change_work or perms.books.delete_work %}
    <div class="pull-right">
      {% if perms.books.change_work %}
      <a href="{% url 'work_edit' work.id|stringformat:'06d' %}" class="btn btn-sm btn-warning">{% translate 'Edit' %}</a>
      {% endif %}
      {% if perms.books.delete_work %}
      <a href="{% url 'work_delete' work.id|stringformat:'06d' %}" class="btn btn-sm btn-danger">{% translate 'Delete' %}</a>
      {% endif %}
    </div>
    {% endif %}
  </h1>
</section>
{% endblock content_header %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/datatables/dataTables.min.css' %}" />
{% endblock %}

{% block extra_foot %}
<script src="{% static 'js/datatables/datatables.min.js' %}"></script>

<script>
$(function() {
    function makeDataTable(obj, options={}) {
        var opt = {
            "paging"      : false,
            "lengthChange": false,
            "searching"   : false,
            "ordering"    : true,
            "info"        : false,
            "autoWidth"   : true,
            "language": {
                "processing":     "Traitement en cours...",
                "search":         "Rechercher&nbsp;:",
                "lengthMenu":     "Afficher _MENU_ &eacute;l&eacute;ments",
                "info":           "Affichage de l'&eacute;lement _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
                "infoEmpty":      "Affichage de l'&eacute;lement 0 &agrave; 0 sur 0 &eacute;l&eacute;ments",
                "infoFiltered":   "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
                "infoPostFix":    "",
                "loadingRecords": "Chargement en cours...",
                "zeroRecords":    "Aucun &eacute;l&eacute;ment &agrave; afficher",
                "emptyTable":     "Aucune donnée disponible dans le tableau.",
                "paginate": {
                    "first":      "{% translate 'First' %}",
                    "previous":   "{% translate 'Previous' %}",
                    "next":       "{% translate 'Next' %}",
                    "last":       "{% translate 'Last' %}"
                },
                "aria": {
                    "sortAscending":  ": activer pour trier la colonne par ordre croissant",
                    "sortDescending": ": activer pour trier la colonne par ordre décroissant"
                }
            },
        };
        jQuery.extend(opt, options);
        obj.DataTable(opt);
    }

    makeDataTable($("#translations_list"), {"order": [[0, "asc"], [1, "asc"]]});
    makeDataTable($("#editions_list"), {"order": [2, "asc"]});

    $('a[data-toggle="tooltip"]').tooltip({
        animated: 'fade',
        placement: 'bottom',
        html: true,
    });
});
</script>
{% endblock %}

{% block content %}

  <div class="row">
    <div class="col-md-4">
      <div class="box box-solid box-info">
        <div class="box-body">
          <dl class="dl-horizontal">
            <dt>{% translate 'Title' %}{% translate ':' %}</dt><dd><i>{{ work.title }}</i></dd>
            {% if work.title_vo %}<dt>{% translate 'Original title' %}{% translate ':' %}</dt><dd><i>{{ work.title_vo }}</i></dd>{% endif %}
            {% if work.year %}<dt>{% translate 'Year' %}{% translate ':' %}</dt><dd>{{ work.year }}</dd>{% endif %}
            {% if work.lang %}<dt>{% translate 'Language' context 'The language' %}{% translate ':' %}</dt><dd><a href="{% url 'language_info' work.lang.code %}">{{ work.lang }}</a></dd>{% endif %}
            {% if work.author_credit %}<dt>{% translate 'Author credited' %}{% translate ':' %}</dt><dd>{{ work.author_credit }}</dd>{% endif %}
            {% if work.authors.count > 0 %}<dt>{% blocktranslate count c=work.authors.count %}Author{% plural %}Authors{% endblocktranslate %}{% translate ':' %}</dt><dd>{% for author in work.authors.all %}{% if not forloop.first %}, {% endif %}<a href="{% url 'person_info' author.id|stringformat:'06d' %}">{{ author.name }}</a>{% endfor %}</dd>{% endif %}
            <dt>{% translate 'Genre' %}{% translate ':' %}</dt><dd>{% if work.genre %}{{ work.genre }}{% else %}{% translate 'Unknown' context 'Unknown genre' %}{% endif %}</dd>

            {% if work.sagas.count > 0 %}
            <dt>{% blocktranslate count c=work.sagas.count %}Saga{% plural %}Sagas{% endblocktranslate %}{% translate ':' %}</dt>
            <dd>
              {% for sagaWork in work.sagas.all %}
                {% if not forloop.first %}, {% endif %}
                <a href="{% url 'books_saga_info' sagaWork.saga.id|stringformat:'06d' %}">{{ sagaWork.saga.title }}</a> (n° {{ sagaWork|get_order }})
              {% endfor %}
            </dd>
            {% endif %}
          </dl>
        </div>
      </div>
    </div>

    {% if perms.books.add_reading or readings.count > 0 %}
    <div class="col-md-offset-4 col-md-4">
      <div class="box box-solid box-info">
        <div class="box-header with-border">
          <h3 class="box-title">{% translate 'Readings' %}</h3>
          {% if user.is_authenticated %}
          <div class="box-tools pull-right">
            {% if perms.books.change_reading %}
            <a href="{% url 'work_edit_readings' work.id|stringformat:'06d' %}" class="btn btn-box-tool" title="{% translate 'Edit readings' %}">
              <i class="fa fa-edit"></i>
            </a>
            {% endif %}
            {% if perms.books.add_reading %}
            <a href="{% url 'work_add_reading' work.id|stringformat:'06d' %}" class="btn btn-box-tool" title="{% translate 'Add reading' %}">
              <i class="fa fa-plus-square"></i>
            </a>
            {% endif %}
          </div>
          {% endif %}
        </div>
        <div class="box-body">
          {% if readings|length > 0 %}
          <ul>
            {% for reading in readings %}
            <li>
            {% if reading.date_start != '0000-00-00' or reading.date_end != '0000-00-00' %}{{ reading.date_start|date_format }}{% if reading.date_end %} - {{ reading.date_end|date_format }}{% endif %}{% else %}{% translate 'Unknown date' %}{% endif %}
            {% if reading.user and reading.user != request.user %} par {{ reading.user }}{% endif %}
            {% if reading.info %} ({{ reading.info }}){% endif %}
            {% if reading.text.translation %} [<a href="{% url 'translation_info' reading.text.translation.id|stringformat:'06d' %}">{% translate 'translation' %}</a>]{% endif %}
            {% if not reading.text %} [<a href="{% url 'edition_info' reading.edition.id|stringformat:'06d' %}">{% translate 'collection' context 'collection of books' %}</a>]{% endif %}
            {% if not reading.date_end %} [en cours]{% endif %}
            </li>
            {% endfor %}
          </ul>
          {% else %}
          <p>{% translate 'No readings.' %}</p>
          {% endif %}
        </div>
      </div>
    </div>
    {% endif %}
  </div>

  {% if work.summary %}
  <div class="box box-solid box-info">
    <div class="box-header with-border">
      <h3 class="box-title">{% translate 'Summary' %}</h3>
      <div class="box-tools pull-right">
        <button type="button" class="btn btn-box-tool" data-widget="collapse">
          <i class="fa fa-minus"></i>
        </button>
      </div>
    </div>
    <div class="box-body">{{ work.summary|linebreaks }}</div>
  </div>
  {% endif %}

  {% if work.info %}
  <div class="box box-solid box-info">
    <div class="box-header with-border">
      <h3 class="box-title">{% translate 'Information' %}</h3>
      <div class="box-tools pull-right">
        <button type="button" class="btn btn-box-tool" data-widget="collapse">
          <i class="fa fa-minus"></i>
        </button>
      </div>
    </div>
    <div class="box-body">{{ work.info|linebreaks }}</div>
  </div>
  {% endif %}

  <div class="box box-solid box-info">
    <div class="box-header with-border">
      <h3 class="box-title">{% translate 'Translations' %}</h3>
      <div class="box-tools pull-right">
        {% if perms.books.add_translation %}
        <a href="{% url 'work_add_translation' work.id|stringformat:'06d' %}" class="btn btn-box-tool" title="{% translate 'Add translation' %}">
          <i class="fa fa-plus-square"></i>
        </a>
        {% endif %}
        <button type="button" class="btn btn-box-tool" data-widget="collapse">
          <i class="fa fa-minus"></i>
        </button>
      </div>
    </div>
    <div class="box-body">
      {% if work.translations.count > 0 %}
      <table class="table table-bordered table-stripped table-hover" id="translations_list">
        <thead>
          <tr>
            <th>{% translate 'Language' context 'The language' %}</th>
            <th>{% translate 'Year' %}</th>
            <th>{% translate 'Translators' %}</th>
          </tr>
        </thead>
        <tbody>
        {% for translation in work.translations.all %}
          <tr>
            <td><a href="{% url 'translation_info' translation.id|stringformat:'06d' %}">{% if translation.lang %}{{ translation.lang.name }}{% else %}{% translate 'Unknown language' %}{% endif %}</a></td>
            <td>{% if translation.year %}{{ translation.year }}{% endif %}</td>
            <td>
              {% for translator in translation.translators.all %}
              {% if not forloop.first %}, {% endif %}
              <a href="{% url 'person_info' translator.id|stringformat:'06d' %}">{{ translator.name }}</a>
              {% endfor %}
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
      {% else %}
      <p>{% translate 'No translations.' %}</p>
      {% endif %}
    </div>
  </div>

  <div class="box box-solid box-info">
    <div class="box-header with-border">
      <h3 class="box-title">{% translate 'Editions' %}</h3>
      <div class="box-tools pull-right">
        {% if perms.books.add_edition %}
        <a href="{% url 'work_add_edition' work.id|stringformat:'06d' %}" class="btn btn-box-tool" title="{% translate 'Add edition' %}">
          <i class="fa fa-plus-square"></i>
        </a>
        {% endif %}
        <button type="button" class="btn btn-box-tool" data-widget="collapse">
          <i class="fa fa-minus"></i>
        </button>
      </div>
    </div>
    <div class="box-body">
      {% if work.all_editions.count > 0 %}
      <table class="table table-bordered table-stripped table-hover" id="editions_list">
        <thead>
          <tr>
            <th>{% translate 'Title' %}</th>
            <th>{% translate 'Translation' %}</th>
            <th>{% translate 'Year' %}</th>
            <th>{% translate 'Publisher' %}</th>
          </tr>
        </thead>
        <tbody>
        {% for edition in work.all_editions.all %}
          <tr>
            <td><a href="{% url 'edition_info' edition.id|stringformat:'06d' %}"{% if edition.image %} data-toggle="tooltip" title="<img src='{{ edition.image.url }}' style='max-width: 100px; max-height: 150px;' />"{% endif %}><i>{{ edition.title }}</i></a></td>
            <td>{% if edition.text.translation %}<a href="{% url 'translation_info' edition.text.translation.id|stringformat:'06d' %}">{{ edition.text.translation }}</a>{% endif %}</td>
            <td>{% if edition.year %}{{ edition.year }}{% endif %}</td>
            <td>{% if edition.publisher %}{{ edition.publisher }}{% endif %}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
      {% else %}
      <p>{% translate 'No editions.' %}</p>
      {% endif %}
    </div>
  </div>

  {% if collections|length > 0 or collections_translation|length > 0 %}
  <div class="box box-solid box-info">
    <div class="box-header with-border">
      <h3 class="box-title">{% translate 'Collections' context 'collection of books' %}</h3>
      <div class="box-tools pull-right">
        <button type="button" class="btn btn-box-tool" data-widget="collapse">
          <i class="fa fa-minus"></i>
        </button>
      </div>
    </div>
    <div class="box-body">
      <ul>
        {% for collection in collections %}
        <li>
          <a href="{% url 'edition_info' collection.edition.id|stringformat:'06d' %}"><i>{{ collection.edition.title }}</i></a>
          {% if collection.edition.year  %} ({{ collection.edition.year }}){% endif %}{% if work.title_vo and work.title_vo != work.title %}{% if collection.title != work.title_vo %}, {% translate 'title' %}{% translate ':' %} <i>{{ collection.title }}</i>{% endif %}{% else %}{% if collection.title != work.title %}, {% translate 'title' %}{% translate ':' %} <i>{{ collection.title }}</i>{% endif %}{% endif %}
        </li>
        {% endfor %}
        {% for collection in collections_translation %}
        <li>
          <a href="{% url 'edition_info' collection.edition.id|stringformat:'06d' %}"><i>{{ collection.edition.title }}</i></a>
          {% if collection.edition.year  %} ({{ collection.edition.year }}){% endif %}{% if work.title_vo and work.title_vo != work.title %}{% if collection.title != work.title_vo %}, {% translate 'title' %}{% translate ':' %} <i>{{ collection.title }}</i>{% endif %}{% else %}{% if collection.title != work.title %}, {% translate 'title' %}{% translate ':' %} <i>{{ collection.title }}</i>{% endif %}{% endif %}, {% translate 'translation' %}{% translate ':' %} <a href="{% url 'translation_info' collection.text.translation.id|stringformat:'06d' %}">{{ collection.text.translation }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  {% endif %}

  <div class="row">

    <div class="col-md-12 col-lg-6">
      <div class="box box-solid box-info">
        <div class="box-header with-border">
          <h3 class="box-title">{% translate 'References' %}</h3>
          <div class="box-tools pull-right">
            {% if user.is_authenticated %}
            {% if work.refs.count > 0 and perms.books.change_workreference %}
            <a href="{% url 'work_edit_refs' work.id|stringformat:'06d' %}" class="btn btn-box-tool" title="{% translate 'Edit references' %}">
              <i class="fa fa-edit"></i>
            </a>
            {% endif %}
            {% if perms.books.add_workreference %}
            <a href="{% url 'work_add_ref' work.id|stringformat:'06d' %}" class="btn btn-box-tool" title="{% translate 'Add reference' %}">
              <i class="fa fa-plus-square"></i>
            </a>
            {% endif %}
            {% endif %}
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
              <i class="fa fa-minus"></i>
            </button>
          </div>
        </div>
        <div class="box-body">
          {% if work.refs.count > 0 %}
          <ul>
            {% for ref in work.refs.all %}
            <li>
              {% if ref.ref_movie %}
                {% if ref.ref_movie.episode %}{% translate 'Episode' %} <a href="{% url 'serie_info' ref.ref_movie.episode.season.serie.id|stringformat:'06d' %}"><i>{{ ref.ref_movie.episode.season.serie.title }}</i></a> - {% else %}{% translate 'Movie' %} {% endif %}
                <a href="{% url 'movie_info' ref.ref_movie.id|stringformat:'06d' %}"><i>{{ ref.ref_movie.title }}</i></a>
                {% if ref.info %} ({{ ref.info }}){% endif %}
              {% elif ref.ref_serie %}
                {% translate 'Serie' %} <a href="{% url 'serie_info' ref.ref_serie.id|stringformat:'06d' %}"><i>{{ ref.ref_serie.title }}</i></a>
                {% if ref.info %} ({{ ref.info }}){% endif %}
              {% elif ref.ref_person %}
                <a href="{% url 'person_info' ref.ref_person.id|stringformat:'06d' %}">{% if ref.ref_person.gender == 'M' %}<i class="fa fa-male"></i>{% elif ref.ref_person.gender == 'F' %}<i class="fa fa-female"></i>{% endif %}{{ ref.ref_person.name }}</a>
                {% if ref.info %} ({{ ref.info }}){% endif %}
              {% elif ref.ref_book %}
                {% if ref.ref_book.genre %}{{ ref.ref_book.genre }} {% endif %}<a href="{% url 'work_info' ref.ref_book.id|stringformat:'06d' %}"><i>{{ ref.ref_book.title }}</i></a>
                {% if ref.ref_book.author_credit %} {% translate 'by' %} {{ ref.ref_book.author_credit }}{% endif %}
                {% if ref.ref_book.authors.count > 0 %}
                  {% if ref.ref_book.author_credit %} ({% else %} {% translate 'by' %} {% endif %}
                  {% for author in ref.ref_book.authors.all %}{% if not forloop.first %}, {% endif %}<a href="{% url 'person_info' author.id|stringformat:'06d' %}">{{ author.name }}</a>{% endfor %}
                  {% if ref.ref_book.author_credit %}){% endif %}
                {% endif %}
                {% if ref.info %} ({{ ref.info }}){% endif %}
              {% elif ref.ref_game %}
                {% translate 'Game' %} <a href="{% url 'game_info' ref.ref_game.id|stringformat:'06d' %}"><i>{{ ref.ref_game.title }}</i></a>
                {% if ref.info %} ({{ ref.info }}){% endif %}
              {% else %}
                {{ ref.info }}
              {% endif %}
            </li>
            {% endfor %}
          </ul>
          {% else %}
          <p>{% translate 'No references.' %}</p>
          {% endif %}

          {% if work.ref_by.count > 0 or work.ref_by_work.count > 0 %}
          <p>{% translate 'Referenced by:' %}</p>
          <ul>
            {% for ref in work.ref_by.all %}
            <li>
              {% if ref.movie.episode %}{% translate 'Episode' %} <a href="{% url 'serie_info' ref.movie.episode.season.serie.id|stringformat:'06d' %}"><i>{{ ref.movie.episode.season.serie.title }}</i></a> - {% else %}{% translate 'Movie' %} {% endif %}
              <a href="{% url 'movie_info' ref.movie.id|stringformat:'06d' %}"><i>{{ ref.movie.title }}</i></a>
              {% if ref.info %} ({{ ref.info }}){% endif %}
            </li>
            {% endfor %}
            {% for ref in work.ref_by_work.all %}
            <li>
              {% if ref.work.genre %}{{ ref.work.genre }}{% else %}{% translate 'Work' %}{% endif %} <a href="{% url 'work_info' ref.work.id|stringformat:'06d' %}"><i>{{ ref.work.title }}</i></a>
              {% if ref.work.title_vo and ref.work.title != ref.work.title_vo %} (<i>{{ ref.work.title_vo }}</i>){% endif %}
              {% if ref.work.author_credit %} {% translate 'by' %} {{ ref.work.author_credit }}{% endif %}
              {% if ref.work.authors.count > 0 %}
                {% if ref.work.author_credit %} ({% else %} {% translate 'by' %} {% endif %}
                {% for author in ref.work.authors.all %}{% if not forloop.first %}, {% endif %}<a href="{% url 'person_info' author.id|stringformat:'06d' %}">{{ author.name }}</a>{% endfor %}
                {% if ref.work.author_credit %}){% endif %}
              {% endif %}
              {% if ref.info %} ({{ ref.info }}){% endif %}
            </li>
            {% endfor %}
          </ul>
          {% endif %}
        </div>
      </div>

      <div class="box box-solid box-info">
        <div class="box-header with-border">
          <h3 class="box-title">{% translate 'Tags' %}</h3>
          <div class="box-tools pull-right">
            {% if perms.books.change_texttag %}
            <a href="{% url 'work_edit_tags' work.id|stringformat:'06d' %}" class="btn btn-box-tool" title="{% translate 'Edit tags' %}">
              <i class="fa fa-edit"></i>
            </a>
            {% endif %}
            {% if perms.books.add_texttag %}
            <a href="{% url 'work_add_tag' work.id|stringformat:'06d' %}" class="btn btn-box-tool" title="{% translate 'Add tag' %}">
              <i class="fa fa-plus-square"></i>
            </a>
            {% endif %}
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
              <i class="fa fa-minus"></i>
            </button>
          </div>
        </div>
        <div class="box-body">
          {% if tags.count > 0 %}
          <ul>
            {% for workTag in tags.all %}
            <li><a href="{% url 'tag_info' workTag.tag.id|stringformat:'06d' %}">{{ workTag.tag.name }}</a>{% if workTag.info %} ({{ workTag.info }}){% endif %}</li>
            {% endfor %}
          </ul>
          {% else %}
          <p>{% translate 'No tags.' %}</p>
          {% endif %}
        </div>
      </div>
    </div>

    <div class="col-md-12 col-lg-6">
      <div class="box box-solid box-info">
        <div class="box-header with-border">
          <h3 class="box-title">{% translate 'Attributes' %}</h3>
          <div class="box-tools pull-right">
            {% if perms.books.change_textattribute %}
            <a href="{% url 'work_edit_attributes' work.id|stringformat:'06d' %}" class="btn btn-box-tool" title="{% translate 'Edit attributes' %}">
              <i class="fa fa-edit"></i>
            </a>
            {% endif %}
            {% if perms.books.add_textattribute %}
            <a href="{% url 'work_add_attribute' work.id|stringformat:'06d' %}" class="btn btn-box-tool" title="{% translate 'Add attribute' %}">
              <i class="fa fa-plus-square"></i>
            </a>
            {% endif %}
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
              <i class="fa fa-minus"></i>
            </button>
          </div>
        </div>
        <div class="box-body">
          {% if work.attributes.count > 0 %}
          <ul>
            {% for attribute in work.attributes.all %}
            <li>{{ attribute.name }} : {{ attribute.value }}</li>
            {% endfor %}
          </ul>
          {% else %}
          <p>{% translate 'No attributes.' %}</p>
          {% endif %}
        </div>
      </div>

      <div class="box box-solid box-info">
        <div class="box-header with-border">
          <h3 class="box-title">{% translate 'Links' %}</h3>
          <div class="box-tools pull-right">
            {% if perms.books.change_textlink %}
            <a href="{% url 'work_edit_links' work.id|stringformat:'06d' %}" class="btn btn-box-tool" title="{% translate 'Edit links' %}">
              <i class="fa fa-edit"></i>
            </a>
            {% endif %}
            {% if perms.books.add_textlink %}
            <a href="{% url 'work_add_link' work.id|stringformat:'06d' %}" class="btn btn-box-tool" title="{% translate 'Add link' %}">
              <i class="fa fa-plus-square"></i>
            </a>
            {% endif %}
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
              <i class="fa fa-minus"></i>
            </button>
          </div>
        </div>
        <div class="box-body">
          {% if links.count > 0 %}
          <ul>
            {% for link in links.all %}
            <li><a href="{{ link.uri }}">{{ link.name }} <span class="fa fa-external-link"></span></a>{% if link.lang %} ({{ link.lang }}){% endif %}</li>
            {% endfor %}
          </ul>
          {% else %}
          <p>{% translate 'No links.' %}</p>
          {% endif %}
        </div>
      </div>
    </div>

  </div>

{% endblock %}
