{% extends 'base/base.html' %}

{% load static %}
{% load i18n %}

{% block title %}
{% translate 'Countries' %} - Mimir
{% endblock %}

{% block content_title %}
{% translate 'Countries' %}
{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/datatables/dataTables.min.css' %}" />
{% endblock %}

{% block extra_foot %}
<script src="{% static 'js/datatables/datatables.min.js' %}"></script>

<script>
$(function() {
    $('#countries_list').DataTable({
        "paging"      : true,
        "lengthChange": true,
        "searching"   : true,
        "ordering"    : true,
        "info"        : true,
        "autoWidth"   : true,
        "stateSave"   : true,
        "order":      [[2, "asc"]],
        "language": {
            "processing":     "Traitement en cours...",
            "search":         "Rechercher&nbsp;:",
            "lengthMenu":     "Afficher _MENU_ &eacute;l&eacute;ments",
            "info":           "Affichage de l'&eacute;lement _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
            "infoEmpty":      "Affichage de l'&eacute;lement 0 &agrave; 0 sur 0 &eacute;l&eacute;ments",
            "infoFiltered":   "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
            "infoPostFix":    "",
            "loadingRecords": "Chargement en cours...",
            "zeroRecords":    "Aucun &eacute;l&eacute;ment &agrave; afficher",
            "emptyTable":     "Aucune donnée disponible dans le tableau.",
            "paginate": {
                "first":      "Premier",
                "previous":   "Pr&eacute;c&eacute;dent",
                "next":       "Suivant",
                "last":       "Dernier"
            },
            "aria": {
                "sortAscending":  ": activer pour trier la colonne par ordre croissant",
                "sortDescending": ": activer pour trier la colonne par ordre décroissant"
            }
        },
    });
});
</script>
{% endblock %}

{% block content %}

  <div class="box box-solid box-info">

    <div class="box-header">
      <h3 class="box-title">{% translate 'Countries list' %}</h3>
      {% if perms.base.add_country %}
      <div class="box-tools pull-right">
        <a href="{% url 'country_create' %}" class="btn btn-box-tool">
          <i class="fa fa-plus-square"></i>
        </a>
      </div>
      {% endif %}
    </div>

    <div class="box-body">

      {% if countries %}

      <table class="table table-bordered table-stripped table-hover" id="countries_list">
        <thead>
          <tr>
            <th data-sortable="false">{% translate 'Flag' %}</th>
            <th>{% translate 'Name' %}</th>
            <th>{% translate 'Code' %}</th>
            <th>{% translate 'Code ISO 3166-1' %}</th>
          </tr>
        </thead>
        <tbody>
          {% for country in countries %}
          <tr>
            <td><img src="{% static 'img/countries/' %}{{ country.code }}.svg" style="max-width: 50px; max-height: 18px;" /></td>
            <td><a href="{% url 'country_info' country.code %}">{{ country.name }}</a></td>
            <td>{{ country.code }}</td>
            <td>{% if country.iso %}{{ country.iso }}{% endif %}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

      {% else %}
      <p>{% translate 'No countries.' %}</p>
      {% endif %}

    </div>
  </div>

{% endblock %}
