{% extends 'base/base.html' %}

{% load static %}
{% load i18n %}
{% load mimir %}

{% block footer_right %}
{% if group.creation %}{% translate 'Creation:' %} {{ group.creation }}.{% endif %}
{% if group.modification %}{% translate 'Last modification:' %} {{ group.modification }}.{% endif %}
{% endblock %}

{% block title %}
{{ group.name }} - {% translate 'Groups' %} - Mimir
{% endblock %}

{% block content_header %}
<section class="content-header">
  <h1>{{ group.name }}
    {% if perms.base.change_group or perms.base.delete_group %}
    <div class="pull-right">
      {% if perms.base.change_group %}
      <a href="{% url 'group_edit' group.id|stringformat:'06d' %}" class="btn btn-sm btn-warning">{% translate 'Edit' %}</a>
      {% endif %}
      {% if perms.base.delete_group %}
      <a href="{% url 'group_delete' group.id|stringformat:'06d' %}" class="btn btn-sm btn-danger">{% translate 'Delete' %}</a>
      {% endif %}
    </div>
    {% endif %}
  </h1>
</section>
{% endblock content_header %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/datatables/dataTables.min.css' %}" />
{% endblock %}

{% block extra_foot %}
<script src="{% static 'js/datatables/datatables.min.js' %}"></script>

<script>
$(function() {
    function makeDataTable(obj, options={}) {
        var opt = {
            "paging"      : false,
            "lengthChange": false,
            "searching"   : false,
            "ordering"    : true,
            "info"        : false,
            "autoWidth"   : false,
            "language": {
                "processing":     "Traitement en cours...",
                "search":         "Rechercher&nbsp;:",
                "lengthMenu":     "Afficher _MENU_ &eacute;l&eacute;ments",
                "info":           "Affichage de l'&eacute;lement _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
                "infoEmpty":      "Affichage de l'&eacute;lement 0 &agrave; 0 sur 0 &eacute;l&eacute;ments",
                "infoFiltered":   "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
                "infoPostFix":    "",
                "loadingRecords": "Chargement en cours...",
                "zeroRecords":    "Aucun &eacute;l&eacute;ment &agrave; afficher",
                "emptyTable":     "Aucune donnée disponible dans le tableau.",
                "paginate": {
                    "first":      "{% translate 'First' %}",
                    "previous":   "{% translate 'Previous' %}",
                    "next":       "{% translate 'Next' %}",
                    "last":       "{% translate 'Last' %}"
                },
                "aria": {
                    "sortAscending":  ": activer pour trier la colonne par ordre croissant",
                    "sortDescending": ": activer pour trier la colonne par ordre décroissant"
                }
            },
        };
        jQuery.extend(opt, options);
        obj.DataTable(opt);
    }

    makeDataTable($(".actor_list"), {"order": [[1, "asc"]]});
    makeDataTable($(".episodes_actor_list"), {"order": [[0, "asc"]]});
    makeDataTable($("#serie_crew_list"), {"order": [[0, "asc"]]});

    $(".box-body.collapse").on('shown.bs.collapse', function(e) {
        if ($(this).is(e.target)) {
            $(this).parent().removeClass('collapsed-box');
        }
    });

    $(".box-body.collapse").on('hidden.bs.collapse', function(e) {
        if ($(this).is(e.target)) {
            $(this).parent().addClass('collapsed-box');
        }
    });

    $(".box-body.collapse").on('show.bs.collapse', function(e) {
        if ($(this).is(e.target)) {
            $(this).parent().children('.box-header').find('div > button > i').addClass('fa-minus').removeClass('fa-plus');
        }
    });

    $(".box-body.collapse").on('hide.bs.collapse', function(e) {
        if ($(this).is(e.target)) {
            $(this).parent().children('.box-header').find('div > button > i').addClass('fa-plus').removeClass('fa-minus');
        }
    });
});
</script>
{% endblock %}

{% block content %}

<div class="nav-tabs-custom">

  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab_summary" data-toggle="tab">{% translate 'Summary' %}</a></li>
    {% if movies_actor.count > 0 or episodes_actor or movies_dubbing_actor.count > 0 or episodes_dubbing_actor or movies_dubbed_by.count > 0 or episodes_dubbed_by or movies_crew.count > 0 or episodes_crew or group.moviename.series_as_crew_member.count > 0 %}<li><a href="#tab_movies" data-toggle="tab">{% translate 'Movies and series' %}</a></li>{% endif %}
    <li><a href="#tab_metadata" data-toggle="tab">{% translate 'Metadata' %}</a></li>
  </ul>

  <div class="tab-content">

    <div class="tab-pane active" id="tab_summary">

      <div class="row">
        <div class="col-md-4">
          <div class="box box-solid box-info">
            <div class="box-body">
              <dl class="dl-horizontal">
                <dt>{% translate 'Name' %}{% translate ':' %}</dt><dd>{{ group.name }}</dd>
                <dt>{% translate 'Type' %}{% translate ':' %}</dt><dd>{% if group.type == 'O' %}{% translate 'Other' %}{% elif group.type == 'S' %}{% translate 'Studies' %}{% elif group.type == 'T' %}{% translate 'Association' %}{% elif group.type == 'W' %}{% translate 'Work' context 'to work' %}{% elif group.type == 'A' %}{% translate 'Group of artists' %}{% elif group.type == 'C' %}{% translate 'Sport club' %}{% else %}{% translate 'Unknown type' %}{% endif %}</dd>
              </dl>
            </div>
          </div>
        </div>
      </div>

      {% if group.info %}
      <div class="box box-solid box-info">
        <div class="box-header with-border">
          <h3 class="box-title">{% translate 'Information' %}</h3>
          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
              <i class="fa fa-minus"></i>
            </button>
          </div>
        </div>
        <div class="box-body">{{ group.info|linebreaks }}</div>
      </div>
      {% endif %}

      <div class="box box-solid box-info">
        <div class="box-header with-border">
          <h3 class="box-title">{% translate 'Persons' %} <small>({{ members.count }})</small></h3>
          <div class="box-tools pull-right">
            {% if perms.base.change_group %}
            <a href="{% url 'group_edit_members' group.id|stringformat:'06d' %}" class="btn btn-box-tool" title="{% translate 'Edit members' %}">
              <i class="fa fa-edit"></i>
            </a>
            {% endif %}
            {% if perms.base.change_group %}
            <a href="{% url 'group_add_member' group.id|stringformat:'06d' %}" class="btn btn-box-tool" title="{% translate 'Add member' %}">
              <i class="fa fa-plus-square"></i>
            </a>
            {% endif %}
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
              <i class="fa fa-minus"></i>
            </button>
          </div>
        </div>
        <div class="box-body">
          {% if members.count > 0 %}
          <ul>
            {% for member in members.all %}
            <li><a href="{% url 'person_info' member.person.id|stringformat:'06d' %}">{% if member.person.gender == 'M' %}<i class="fa fa-male"></i> {% elif member.person.gender == 'F' %}<i class="fa fa-female"></i> {% endif %}{{ member.person.name }}</a>{% if member.info %} ({{ member.info }}){% endif %}</li>
            {% endfor %}
          </ul>
          {% else %}
          <p>{% translate 'No members.' %}</p>
          {% endif %}
        </div>
      </div>

    </div>

    <div class="tab-pane" id="tab_movies">

      {% if movies_actor.count > 0 %}
      <div class="box box-solid box-info">
        <div class="box-header with-border">
          <h3 class="box-title">{% translate 'Actor' %} ({% translate 'Movies' %})</h3>
          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
              <i class="fa fa-minus"></i>
            </button>
          </div>
        </div>
        <div class="box-body">
          <table class="table table-bordered table-stripped table-hover actor_list">
            <thead>
              <tr>
                <th data-sortable="true">{% translate 'Movie' %}</th>
                <th data-sortable="true">{% translate 'Year' %}</th>
                <th data-sortable="true">{% translate 'Role' %}</th>
                <th data-sortable="true">{% translate 'Language' context 'The language' %}</th>
                <th data-sortable="false">{% translate 'Information' %}</th>
                <th data-sortable="true">{% translate 'Credited as' %}</th>
                <th data-sortable="true">{% translate 'Credited' %}</th>
                <th data-sortable="true">{% translate 'Visible' %}</th>
              </tr>
            </thead>
            <tbody>
              {% for actor in movies_actor.all %}
              <tr>
                <td><a href="{% url 'movie_info' actor.movie.id|stringformat:'06d' %}">{{ actor.movie.title }}</a></td>
                <td><span class="hidden">{{ actor.movie.date }}</span>{{ actor.movie.date|date_year }}</td>
                <td>{{ actor.role }}</td>
                <td>{% if actor.lang %}{{ actor.lang.name }}{% endif %}</td>
                <td>{{ actor.info }}</td>
                <td>{% if actor.name and actor.name != group.name %}{{ actor.name }}{% endif %}</td>
                <td><span class="glyphicon glyphicon-{% if actor.credit %}check{% else %}unchecked{% endif %}" aria-hidden="true"> <span class="sr-only">{{ actor.credit }}</span></td>
                <td><span class="glyphicon glyphicon-{% if actor.visible %}check{% else %}unchecked{% endif %}" aria-hidden="true"> <span class="sr-only">{{ actor.visible }}</span></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      {% endif %}

      {% if episodes_actor %}
      <div class="box box-solid box-info">
        <div class="box-header with-border">
          <h3 class="box-title">{% translate 'Actor' %} ({% translate 'Episodes' %})</h3>
          <div class="box-tools pull-right">
            <button data-target="#episodes_actor" class="btn btn-box-tool" data-toggle="collapse">
              <i class="fa fa-minus"></i>
            </button>
          </div>
        </div>
        <div class="box-body collapse in" id="episodes_actor">

          {% for serie in episodes_actor.values %}
          <div class="box box-solid box-default">
            <div class="box-header">
              <h4 class="box-title">
                <i>{{ serie.serie.title }}</i>
                {% if serie.serie.title_vo and serie.serie.title_vo != serie.serie.title %} (<i>{{ serie.serie.title_vo }}</i>){% endif %}
              </h4>
              <div class="box-tools pull-right">
                <button data-target="#episodes_actor-{{ serie.serie.id }}" class="btn btn-box-tool" data-toggle="collapse">
                  <i class="fa fa-minus"></i>
                </button>
              </div>
            </div>
            <div class="box-body collapse in" id="episodes_actor-{{ serie.serie.id }}">
              <table class="table table-bordered table-stripped table-hover episodes_actor_list">
                <thead>
                  <tr>
                    <th data-sortable="true">{% translate 'Episode' %}</th>
                    <th data-sortable="true">{% translate 'Title' %}</th>
                    <th data-sortable="true">{% translate 'Year' %}</th>
                    <th data-sortable="true">{% translate 'Role' %}</th>
                    <th data-sortable="true">{% translate 'Language' context 'The language' %}</th>
                    <th data-sortable="false">{% translate 'Information' %}</th>
                    <th data-sortable="true">{% translate 'Credited as' %}</th>
                    <th data-sortable="true">{% translate 'Credited' %}</th>
                    <th data-sortable="true">{% translate 'Visible' %}</th>
                  </tr>
                </thead>
                <tbody>
                  {% for episode in serie.episodes %}
                    {% for actor in episode.actors %}
                    <tr>
                      <td><span class="hidden">{{ episode.episode.season|get_order|rjust:9 }}-{{ episode.episode|get_order|rjust:9 }}</span>{{ episode.episode.season.name }} épisode n° {{ episode.episode|get_order }}</td>
                      <td><a href="{% url 'movie_info' actor.movie.id|stringformat:'06d' %}">{{ actor.movie.title }}</a></td>
                      <td><span class="hidden">{{ actor.movie.date }}</span>{{ actor.movie.date|date_year }}</td>
                      <td>{{ actor.role }}</td>
                      <td>{% if actor.lang %}{{ actor.lang.name }}{% endif %}</td>
                      <td>{{ actor.info }}</td>
                      <td>{% if actor.name and actor.name != group.name %}{{ actor.name }}{% endif %}</td>
                      <td><span class="glyphicon glyphicon-{% if actor.credit %}check{% else %}unchecked{% endif %}" aria-hidden="true"> <span class="sr-only">{{ actor.credit }}</span></td>
                      <td><span class="glyphicon glyphicon-{% if actor.visible %}check{% else %}unchecked{% endif %}" aria-hidden="true"> <span class="sr-only">{{ actor.visible }}</span></td>
                    </tr>
                    {% endfor %}
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
          {% endfor %}

        </div>
      </div>
      {% endif %}

      {% if movies_dubbing_actor.all %}
      <div class="box box-solid box-info">
        <div class="box-header with-border">
          <h3 class="box-title">{% translate 'Dubbing actor' %} ({% translate 'Movies' %})</h3>
          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
              <i class="fa fa-minus"></i>
            </button>
          </div>
        </div>
        <div class="box-body">
          <table class="table table-bordered table-stripped table-hover actor_list">
            <thead>
              <tr>
                <th data-sortable="true">{% translate 'Movie' %}</th>
                <th data-sortable="true">{% translate 'Year' %}</th>
                <th data-sortable="true">{% translate 'Actor' %}</th>
                <th data-sortable="true">{% translate 'Language' context 'The language' %}</th>
              </tr>
            </thead>
            <tbody>
              {% for actor in movies_dubbing_actor.all %}
              <tr data-id="{{ actor.id }}">
                <td>
                  <a href="{% url 'movie_info' actor.movie.id %}">{{ actor.movie.title }}</a>
                  {% if actor.movie.title_vo and actor.movie.title_vo != actor.movie.title %} ({{ actor.movie.title_vo }}){% endif %}
                </td>
                <td>{{ actor.movie.date|date_year }}</td>
                <td>
                  {% if actor.actor.person %}
                    <a href="{% url 'person_info' actor.actor.person.id|stringformat:'06d' %}">{{ actor.actor.person.name }}</a>
                  {% elif actor.actor.group %}
                    <a href="{% url 'group_info' actor.actor.group.id|stringformat:'06d' %}">{{ actor.actor.group.name }}</a>
                  {% else %}
                    {{ actor.actor.name }}
                  {% endif %}
                </td>
                <td>{% if actor.lang %}{{ actor.lang.name }}{% endif %}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      {% endif %}

      {% if episodes_dubbing_actor %}
      <div class="box box-solid box-info">
        <div class="box-header with-border">
          <h3 class="box-title">{% translate 'Dubbing actor' %} ({% translate 'Episodes' %})</h3>
          <div class="box-tools pull-right">
            <button data-target="#episodes_dubbing_actor" class="btn btn-box-tool" data-toggle="collapse">
              <i class="fa fa-minus"></i>
            </button>
          </div>
        </div>
        <div class="box-body collapse in" id="episodes_dubbing_actor">

          {% for serie in episodes_dubbing_actor.values %}
          <div class="box box-solid box-default">
            <div class="box-header">
              <h4 class="box-title">
                <i>{{ serie.serie.title }}</i>
                {% if serie.serie.title_vo and serie.serie.title_vo != serie.serie.title %} (<i>{{ serie.serie.title_vo }}</i>){% endif %}
              </h4>
              <div class="box-tools pull-right">
                <button data-target="#episodes_dubbing_actor-{{ serie.serie.id|stringformat:'06d' }}" class="btn btn-box-tool" data-toggle="collapse">
                  <i class="fa fa-minus"></i>
                </button>
              </div>
            </div>
            <div class="box-body collapse in" id="episodes_dubbing_actor-{{ serie.serie.id }}">
              <table class="table table-bordered table-stripped table-hover episodes_actor_list">
                <thead>
                  <tr>
                    <th data-sortable="true">{% translate 'Episode' %}</th>
                    <th data-sortable="true">{% translate 'Title' %}</th>
                    <th data-sortable="true">{% translate 'Year' %}</th>
                    <th data-sortable="true">{% translate 'Actor' %}</th>
                    <th data-sortable="true">{% translate 'Language' context 'The language' %}</th>
                  </tr>
                </thead>
                <tbody>
                  {% for episode in serie.episodes %}
                    {% for actor in episode.actors %}
                    <tr>
                      <td><span class="hidden">{{ episode.episode.season|get_order|rjust:9 }}-{{ episode.episode|get_order|rjust:9 }}</span>{{ episode.episode.season.name }} épisode n° {{ episode.episode|get_order }}</td>
                      <td>
                        <a href="{% url 'movie_info' actor.movie.id|stringformat:'06d' %}">{{ actor.movie.title }}</a>
                        {% if actor.movie.title_vo and actor.movie.title_vo != actor.movie.title %} ({{ actor.movie.title_vo }}){% endif %}
                      </td>
                      <td>{{ actor.movie.date|date_year }}</td>
                      <td>
                        {% if actor.actor.person %}
                          <a href="{% url 'person_info' actor.actor.person.id|stringformat:'06d' %}">{{ actor.actor.person.name }}</a>
                        {% elif actor.actor.group %}
                          <a href="{% url 'group_info' actor.actor.group.id|stringformat:'06d' %}">{{ actor.actor.group.name }}</a>
                        {% else %}
                          {{ actor.actor.name }}
                        {% endif %}
                      </td>
                      <td>{% if actor.lang %}{{ actor.lang.name }}{% endif %}</td>
                    </tr>
                    {% endfor %}
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
          {% endfor %}

        </div>
      </div>
      {% endif %}

      {% if movies_dubbed_by.all %}
      <div class="box box-solid box-info">
        <div class="box-header with-border">
          <h3 class="box-title">{% translate 'Dubbed by' %} ({% translate 'Movies' %})</h3>
          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
              <i class="fa fa-minus"></i>
            </button>
          </div>
        </div>
        <div class="box-body">
          <table class="table table-bordered table-stripped table-hover actor_list">
            <thead>
              <tr>
                <th data-sortable="true">{% translate 'Movie' %}</th>
                <th data-sortable="true">{% translate 'Year' %}</th>
                <th data-sortable="true">{% translate 'Dubbing actor' %}</th>
                <th data-sortable="true">{% translate 'Language' context 'The language' %}</th>
              </tr>
            </thead>
            <tbody>
              {% for actor in movies_dubbed_by.all %}
              <tr data-id="{{ actor.id }}">
                <td>
                  <a href="{% url 'movie_info' actor.movie.id|stringformat:'06d' %}">{{ actor.movie.title }}</a>
                  {% if actor.movie.title_vo and actor.movie.title_vo != actor.movie.title %} ({{ actor.movie.title_vo }}){% endif %}
                </td>
                <td>{{ actor.movie.date|date_year }}</td>
                <td>
                  {% if actor.person.person %}
                    <a href="{% url 'person_info' actor.person.person.id|stringformat:'06d' %}">{{ actor.person.person.name }}</a>
                  {% elif actor.person.group %}
                    <a href="{% url 'group_info' actor.person.group.id|stringformat:'06d' %}">{{ actor.person.group.name }}</a>
                  {% else %}
                    {{ actor.person.name }}
                  {% endif %}
                </td>
                <td>{% if actor.lang %}{{ actor.lang.name }}{% endif %}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      {% endif %}

      {% if episodes_dubbed_by %}
      <div class="box box-solid box-info">
        <div class="box-header with-border">
          <h3 class="box-title">{% translate 'Dubbed by' %} ({% translate 'Episodes' %})</h3>
          <div class="box-tools pull-right">
            <button data-target="#episodes_dubbed_by" class="btn btn-box-tool" data-toggle="collapse">
              <i class="fa fa-minus"></i>
            </button>
          </div>
        </div>
        <div class="box-body collapse in" id="episodes_dubbed_by">

          {% for serie in episodes_dubbed_by.values %}
          <div class="box box-solid box-default">
            <div class="box-header">
              <h4 class="box-title">
                <i>{{ serie.serie.title }}</i>
                {% if serie.serie.title_vo and serie.serie.title_vo != serie.serie.title %} (<i>{{ serie.serie.title_vo }}</i>){% endif %}
              </h4>
              <div class="box-tools pull-right">
                <button data-target="#episodes_dubbed_by-{{ serie.serie.id }}" class="btn btn-box-tool" data-toggle="collapse">
                  <i class="fa fa-minus"></i>
                </button>
              </div>
            </div>
            <div class="box-body collapse in" id="episodes_dubbed_by-{{ serie.serie.id }}">
              <table class="table table-bordered table-stripped table-hover episodes_actor_list">
                <thead>
                  <tr>
                    <th data-sortable="true">{% translate 'Episode' %}</th>
                    <th data-sortable="true">{% translate 'Title' %}</th>
                    <th data-sortable="true">{% translate 'Year' %}</th>
                    <th data-sortable="true">{% translate 'Dubbing actor' %}</th>
                    <th data-sortable="true">{% translate 'Language' context 'The language' %}</th>
                  </tr>
                </thead>
                <tbody>
                  {% for episode in serie.episodes %}
                    {% for actor in episode.actors %}
                    <tr>
                      <td><span class="hidden">{{ episode.episode.season|get_order|rjust:9 }}-{{ episode.episode|get_order|rjust:9 }}</span>{{ episode.episode.season.name }} épisode n° {{ episode.episode|get_order }}</td>
                      <td>
                        <a href="{% url 'movie_info' actor.movie.id|stringformat:'06d' %}">{{ actor.movie.title }}</a>
                        {% if actor.movie.title_vo and actor.movie.title_vo != actor.movie.title %} ({{ actor.movie.title_vo }}){% endif %}
                      </td>
                      <td>{{ actor.movie.date|date_year }}</td>
                      <td>
                        {% if actor.person.person %}
                          <a href="{% url 'person_info' actor.person.person.id|stringformat:'06d' %}">{{ actor.person.person.name }}</a>
                        {% elif actor.person.group %}
                          <a href="{% url 'group_info' actor.person.group.id|stringformat:'06d' %}">{{ actor.person.group.name }}</a>
                        {% else %}
                          {{ actor.person.name }}
                        {% endif %}
                      </td>
                      <td>{% if actor.lang %}{{ actor.lang.name }}{% endif %}</td>
                    </tr>
                    {% endfor %}
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
          {% endfor %}

        </div>
      </div>
      {% endif %}

      {% if movies_crew.all %}
      <div class="box box-solid box-info">
        <div class="box-header with-border">
          <h3 class="box-title">{% translate 'Crew' %} ({% translate 'Movies' %})</h3>
          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
              <i class="fa fa-minus"></i>
            </button>
          </div>
        </div>
        <div class="box-body">
          <table class="table table-bordered table-stripped table-hover actor_list">
            <thead>
              <tr>
                <th data-sortable="true">{% translate 'Movie' %}</th>
                <th data-sortable="true">{% translate 'Year' %}</th>
                <th data-sortable="true">{% translate 'Function' %}</th>
                <th data-sortable="false">{% translate 'Information' %}</th>
                <th data-sortable="true">{% translate 'Credited' %}</th>
              </tr>
            </thead>
            <tbody>
              {% for member in movies_crew.all %}
              <tr data-id="{{ member.id }}">
                <td><a href="{% url 'movie_info' member.movie.id|stringformat:'06d' %}">{{ member.movie.title }}</a></td>
                <td>{{ member.movie.date|date_year }}</td>
                <td>{{ member.function }}</td>
                <td>{{ member.info }}</td>
                <td><span class="glyphicon glyphicon-{% if member.credit %}check{% else %}unchecked{% endif %}" aria-hidden="true"> <span class="sr-only">{{ member.credit }}</span></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      {% endif %}

      {% if episodes_crew %}
      <div class="box box-solid box-info">
        <div class="box-header with-border">
          <h3 class="box-title">{% translate 'Crew' %} ({% translate 'Episodes' %})</h3>
          <div class="box-tools pull-right">
            <button data-target="#episodes_crew" class="btn btn-box-tool" data-toggle="collapse">
              <i class="fa fa-minus"></i>
            </button>
          </div>
        </div>
        <div class="box-body collapse in" id="episodes_crew">

          {% for serie in episodes_crew.values %}
          <div class="box box-solid box-default">
            <div class="box-header">
              <h4 class="box-title">
                <i>{{ serie.serie.title }}</i>
                {% if serie.serie.title_vo and serie.serie.title_vo != serie.serie.title %} (<i>{{ serie.serie.title_vo }}</i>){% endif %}
              </h4>
              <div class="box-tools pull-right">
                <button data-target="#episodes_crew-{{ serie.serie.id }}" class="btn btn-box-tool" data-toggle="collapse">
                  <i class="fa fa-minus"></i>
                </button>
              </div>
            </div>
            <div class="box-body collapse in" id="episodes_crew-{{ serie.serie.id }}">
              <table class="table table-bordered table-stripped table-hover episodes_actor_list">
                <thead>
                  <tr>
                    <th data-sortable="true">{% translate 'Episode' %}</th>
                    <th data-sortable="true">{% translate 'Title' %}</th>
                    <th data-sortable="true">{% translate 'Year' %}</th>
                    <th data-sortable="true">{% translate 'Function' %}</th>
                    <th data-sortable="false">{% translate 'Information' %}</th>
                    <th data-sortable="true">{% translate 'Credited' %}</th>
                  </tr>
                </thead>
                <tbody>
                  {% for episode in serie.episodes %}
                    {% for member in episode.members %}
                    <tr>
                      <td><span class="hidden">{{ episode.episode.season|get_order|rjust:9 }}-{{ episode.episode|get_order|rjust:9 }}</span>{{ episode.episode.season.name }} épisode n° {{ episode.episode|get_order }}</td>
                      <td><a href="{% url 'movie_info' member.movie.id|stringformat:'06d' %}">{{ member.movie.title }}</a></td>
                      <td>{{ member.movie.date|date_year }}</td>
                      <td>{{ member.function }}</td>
                      <td>{{ member.info }}</td>
                      <td><span class="glyphicon glyphicon-{% if member.credit %}check{% else %}unchecked{% endif %}" aria-hidden="true"> <span class="sr-only">{{ member.credit }}</span></td>
                    </tr>
                    {% endfor %}
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
          {% endfor %}

        </div>
      </div>
      {% endif %}

      {% if group.moviename.series_as_crew_member.count > 0 %}
      <div class="box box-solid box-info">
        <div class="box-header with-border">
          <h3 class="box-title">{% translate 'Crew' %} ({% translate 'Series' %})</h3>
          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
              <i class="fa fa-minus"></i>
            </button>
          </div>
        </div>
        <div class="box-body">
          <table class="table table-bordered table-stripped table-hover " id="serie_crew_list">
            <thead>
              <tr>
                <th data-sortable="true">{% translate 'Serie' %}</th>
                <th data-sortable="true">{% translate 'Function' %}</th>
                <th data-sortable="false">{% translate 'Information' %}</th>
              </tr>
            </thead>
            <tbody>
              {% for member in group.moviename.series_as_crew_member.all %}
              <tr data-id="{{ member.id }}">
                <td><a href="{% url 'serie_info' member.serie.id|stringformat:'06d' %}">{{ member.serie.title }}</a></td>
                <td>{{ member.function }}</td>
                <td>{{ member.info }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      {% endif %}

    </div>

    <div class="tab-pane" id="tab_metadata">

      <div class="row">

        <div class="col-md-12 col-lg-6">
          <div class="box box-solid box-info">
            <div class="box-header with-border">
              <h3 class="box-title">{% translate 'Attributes' %}</h3>
              <div class="box-tools pull-right">
                {% if perms.base.change_groupattribute %}
                <a href="{% url 'group_edit_attributes' group.id|stringformat:'06d' %}" class="btn btn-box-tool" title="{% translate 'Edit attributes' %}">
                  <i class="fa fa-edit"></i>
                </a>
                {% endif %}
                {% if perms.base.add_groupattribute %}
                <a href="{% url 'group_add_attribute' group.id|stringformat:'06d' %}" class="btn btn-box-tool" title="{% translate 'Add attribute' %}">
                  <i class="fa fa-plus-square"></i>
                </a>
                {% endif %}
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                  <i class="fa fa-minus"></i>
                </button>
              </div>
            </div>
            <div class="box-body">
              {% if group.attributes.count > 0 %}
              <ul>
                {% for attribute in group.attributes.all %}
                <li>{{ attribute.name }} : {{ attribute.value }}</li>
                {% endfor %}
              </ul>
              {% else %}
              <p>{% translate 'No attributes.' %}</p>
              {% endif %}
            </div>
          </div>
        </div>

        <div class="col-md-12 col-lg-6">
          <div class="box box-solid box-info">
            <div class="box-header with-border">
              <h3 class="box-title">{% translate 'Links' %}</h3>
              <div class="box-tools pull-right">
                {% if perms.base.change_group %}
                <a href="{% url 'group_edit_links' group.id|stringformat:'06d' %}" class="btn btn-box-tool" title="{% translate 'Edit links' %}">
                  <i class="fa fa-edit"></i>
                </a>
                {% endif %}
                {% if perms.base.change_group %}
                <a href="{% url 'group_add_link' group.id|stringformat:'06d' %}" class="btn btn-box-tool" title="{% translate 'Add link' %}">
                  <i class="fa fa-plus-square"></i>
                </a>
                {% endif %}
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                  <i class="fa fa-minus"></i>
                </button>
              </div>
            </div>
            <div class="box-body">
              {% if links.count > 0 %}
              <ul>
                {% for link in links.all %}
                <li><a href="{{ link.uri }}">{{ link.name }} <span class="fa fa-external-link"></span></a>{% if link.lang %} ({{ link.lang }}){% endif %}</li>
                {% endfor %}
              </ul>
              {% else %}
              <p>{% translate 'No links.' %}</p>
              {% endif %}
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>

{% endblock %}
