{% extends 'base/base.html' %}

{% load static %}
{% load i18n %}
{% load mimir %}

{% block content_title %}
<a href="{% url 'group_info' group.id|stringformat:'06d' %}">{{ group.name }}</a> - {% translate 'Add member' %}
{% endblock %}

{% block title %}
{{ group.name }} - {% translate 'Groups' %} - Mimir
{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/select2.min.css' %}" media="all" />
{% endblock %}

{% block extra_foot %}
<script src="{% static 'js/select2/select2.min.js' %}"></script>
<script src="{% static 'js/select2/i18n/fr.js' %}"></script>

<script>
$(function() {
    function formatPerson(person) {
        var markup = '';
        if (person.id < 0)
            markup += "<i>{% translate 'Create person' context 'add' %}</i> ";
        markup += '<strong>' + person.name + '</strong>';
        if (person.birth_year || person.death_year) {
            markup += ' (';
            if (person.birth_year)
                markup += person.birth_year;
            markup += '-';
            if (person.death_year)
                markup += person.birth_year;
            markup += ')';
        }
        return markup;
    }

    function formatPersonSelection(person) {
        var value = person.name;
        return value;
    }

    $("#id_person_id").select2({
        ajax: {
            url: "{% url 'persons_api_search' %}?create=1",
            dataType: 'json',
            delay: 250,
            data: function(params) {
                return {
                    q: params.term,
                    page: params.page
                };
            },
            processResults: function(data, params) {
                params.page = params.page || 1;

                for (var i = 0; i < data.items.length; ++i) {
                    data.items[i]['text'] = data.items[i]['name'];
                }

                return {
                    results: data.items,
                    pagination: {
                        more: data.incomplete_results
                    }
                };
            },
            cache: true
        },
        escapeMarkup: function(markup) { return markup; },
        minimumInputLength: 1,
        templateResult: formatPerson,
        templateSelection: formatPersonSelection,
    }).on("change", function(e) {
        $('#id_person_name').val($('#id_person_id option:selected').text());
        $('#id_person').val($('#id_person_id').val());
    });

    if ($('#id_person').val() != "") {
        $('#id_person_id').append('<option value="' + $('#id_person').val() + '" title="' + $('#id_person_name').val() +'" selected="selected">' + $('#id_person_name').val() +'</option>');
        $('#id_person_id').trigger('change');
    }
});
</script>
{% endblock %}

{% block content %}

  {{ form.non_field_errors }}

  {% if form.subject.errors %}
  <ol>
    {% for error in form.subject.errors %}
    <li><strong>{{ error|escape }}</strong></li>
    {% endfor %}
  </ol>
  {% endif %}

  <div class="box box-primary">
    <form action="{% url 'group_add_member' group.id|stringformat:'06d' %}" method="post" class="form">
      {% csrf_token %}

      <div class="box-body">
        {% for field in form.hidden_fields %}
          {{ field }} {{ field.errors }}
        {% endfor %}
        {% for field in form.visible_fields %}
        <div class="form-group row{% if field.errors %} has-error{% endif %}">
          {{ field.errors }}
          <label for="{{ field.id_for_label }}" class="col-sm-2 col-form-label">{{ field.label }}</label>
          <div class="col-sm-10">{{ field|field_add_class:'form-control input-sm' }}</div>
          {% if field.help_text %}
            <p class="form-text text-muted">{{ field.help_text|safe }}</p>
          {% endif %}
        </div>
        {% endfor %}
      </div>

      <div class="box-footer">
        <input type="submit" class="btn btn-primary center-block" value="{% translate 'Submit' %}" />
      </div>
    </form>
  </div>

{% endblock %}
