{% extends 'base/base.html' %}

{% load static %}
{% load i18n %}
{% load mimir %}

{% block content_title %}
<a href="{% url 'group_info' group.id|stringformat:'06d' %}">{{ group.name }}</a> - {{ title }}
{% endblock %}

{% block title %}
{{ group.name }} - {% translate 'Groups' %} - Mimir
{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/select2.min.css' %}" media="all" />
{% endblock %}

{% block extra_foot %}
<script src="{% static 'js/select2/select2.min.js' %}"></script>
<script src="{% static 'js/select2/i18n/fr.js' %}"></script>

<script>
$(function() {

  {% if formset.can_delete %}
    function clickButtonDelete() {
        var num = $(this).data('num');
        if ($(this).hasClass('active')) {
            $('#id_form-' + num + '-DELETE').prop('checked', false);
            $(this).addClass('btn-warning');
            $(this).removeClass('btn-danger');
        } else {
            $('#id_form-' + num + '-DELETE').prop('checked', true);
            $(this).addClass('btn-danger');
            $(this).removeClass('btn-warning');
        }
    }

    $('button.btn_delete').click(clickButtonDelete);
  {% endif %}

  {% if formset.empty_form %}
    $('button#btn_add').click(function() {
        var val = parseInt($('#id_form-TOTAL_FORMS').val());

        {% for field in formset.empty_form.hidden_fields %}
          html = '{{ field|escapejs }}'.replace(/__prefix__/g, val);
          $('form#form_data').append(html);
        {% endfor %}

        html = '<tr>';
        {% for field in formset.empty_form.visible_fields %}
          {% if field.name != 'DELETE' and field.name != 'ORDER' %}
            html += '<td>';
            html += '<label for="{{ field.id_for_label|escapejs }}" class="sr-only">{{ field.label|escapejs }}</label>';
            html += '{{ field|field_add_class:'form-control input-sm'|escapejs }}';
            {% if field.help_text %}
              html += '<p class="formset.empty_form-text text-muted">{{ field.help_text|safe|escapejs }}</p>';
            {% endif %}
            html += '</td>';
          {% endif %}
        {% endfor %}
        {% if formset.can_delete %}
          html += '<td>';
          {% with formset.empty_form.DELETE as field %}
            html += '<input type="checkbox" class="hidden" name="{{ field.html_name|escapejs }}" id="{{ field.id_for_label|escapejs }}" />';
            html += '<button type="button" class="btn btn-sm btn-warning btn_delete" data-num="__prefix__" data-toggle="button" id="{{ field.id_for_label|escapejs }}-btn">';
            html += '<i class="fa fa-remove"></i> {% translate "Remove" %}';
            html += '</button>';
          {% endwith %}
          html += '</td>';
        {% endif %}
        html += '</tr>';

        html = html.replace(/__prefix__/g, val).replace('__prefix_plus_1__', val + 1);
        $('table#table_data > tbody').append(html);

        {% if formset.can_delete %}
          $('#{{ formset.empty_form.DELETE.id_for_label }}-btn'.replace('__prefix__', val)).click(clickButtonDelete);
        {% endif %}

        initSelectPerson($('select#id_form-' + val + '-person_id'));

        $('#id_form-TOTAL_FORMS').val(val + 1);
    });
  {% endif %}

    function formatPerson(person) {
        if (person.loading) {
            return person.text;
        }
        var markup = '';
        if (person.id < 0)
            markup += "<i>{% translate 'Create person' context 'add' %}</i> ";
        markup += '<strong>' + person.text + '</strong>';
        if (person.birth_year || person.death_year) {
            markup += ' (';
            if (person.birth_year)
                markup += person.birth_year;
            markup += '-';
            if (person.death_year)
                markup += person.birth_year;
            markup += ')';
        }
        return markup;
    }

    function formatPersonSelection(person) {
        if (person.loading) {
            return person.text;
        }
        return person.text;
    }

    function setDataNum(obj) {
        var id = obj.prop('id');
        idPart = id.split('-');
        if (idPart.length == 3 && idPart[0] == 'id_form') {
            var num = parseInt(idPart[1]);
            obj.data('num', num);
        }
    }
    
    function initSelectPerson(obj) {
        setDataNum(obj);
        obj.select2({
            ajax: {
                url: "{% url 'persons_api_search' %}?create=1",
                dataType: 'json',
                delay: 250,
                data: function(params) {
                    return {
                        q: params.term,
                        page: params.page
                    };
                },
                processResults: function(data, params) {
                    params.page = params.page || 1;

                    for (var i = 0; i < data.items.length; ++i) {
                        data.items[i]['text'] = data.items[i]['name'];
                    }

                    return {
                        results: data.items,
                        pagination: {
                            more: data.incomplete_results
                        }
                    };
                },
                cache: true
            },
            escapeMarkup: function(markup) { return markup; },
            minimumInputLength: 1,
            templateResult: formatPerson,
            templateSelection: formatPersonSelection,
            width: '100%',
        }).on("change", function(e) {
            var num = $(this).data('num');
            $('#id_form-' + num + '-person_name').val($('#id_form-' + num + '-person_id option:selected').text());
            $('#id_form-' + num + '-person').val($('#id_form-' + num + '-person_id').val());
        });

        var num = obj.data('num');
        if ($('#id_form-' + num + '-person').val() != "") {
            obj.append('<option value="' + $('#id_form-' + num + '-person').val() + '" title="' + $('#id_form-' + num + '-person_name').val() +'" selected="selected">' + $('#id_form-' + num + '-person_name').val() +'</option>');
            obj.trigger('change');
        }
    }

    $("select.select_person").each(function() { initSelectPerson($(this)); });
});
</script>
{% endblock %}

{% block content %}

  {{ form.non_field_errors }}

  {% if form.subject.errors %}
  <ol>
    {% for error in form.subject.errors %}
    <li><strong>{{ error|escape }}</strong></li>
    {% endfor %}
  </ol>
  {% endif %}

  <div class="box box-primary">
    <form action="{{ form_url }}" method="post" class="form" id="form_data">
      {% csrf_token %}
      {{ formset.management_form }}

      {% for form in formset %}
        {% for field in form.hidden_fields %}
          {{ field }} {{ field.errors }}
        {% endfor %}
      {% endfor %}

      <div class="box-body">
        <table class="table table-bordered table-stripped table-hover" id="table_data">
          {% for form in formset %}
            {% if forloop.first %}
            <thead>
              <tr>
                {% for field in form.visible_fields %}
                  {% if field.name != 'DELETE' and field.name != 'ORDER' %}
                  <th>{{ field.label }}</th>
                  {% endif %}
                {% endfor %}
                {% if formset.can_delete or formset.can_order %}
                  <th>{% translate 'Actions' %}</th>
                {% endif %}
              </tr>
            </thead>
            <tbody>
            {% endif %}
            <tr>
              {% for field in form.visible_fields %}
                {% if field.name != 'DELETE' and field.name != 'ORDER' %}
                  <td{% if field.errors %} class="has-error"{% endif %}>
                    {{ field.errors }}
                    <label for="{{ field.id_for_label }}" class="sr-only">{{ field.label }}</label>
                    {{ field|field_add_class:'form-control input-sm' }}
                    {% if field.help_text %}
                      <p class="form-text text-muted">{{ field.help_text|safe }}</p>
                    {% endif %}
                  </td>
                {% endif %}
              {% endfor %}
              {% if formset.can_delete %}
                <td>
                  {% with form.DELETE as field %}
                    <input type="checkbox" class="hidden" name="{{ field.html_name }}" id="{{ field.id_for_label }}" />
                    <button type="button" class="btn btn-sm btn-warning btn_delete" data-num="{{ forloop.counter0 }}" data-toggle="button" id="{{ field.id_for_label }}-btn">
                      <i class="fa fa-remove"></i> {% translate 'Remove' %}
                    </button>
                  {% endwith %}
                </td>
              {% endif %}
            </tr>
            {% endfor %}
          </tbody>
          {% if formset.empty_form %}
          <tfoot>
            <tr>
              <td>
                <button type="button" class="btn btn-sm btn-success" id="btn_add">
                  <i class="fa fa-plus-square"></i> {% translate 'Add' %}
                </button>
              </td>
            </tr>
          </tfoot>
          {% endif %}
        </table>
        
      </div>

      <div class="box-footer">
        <button type="submit" class="btn btn-primary center-block">{% translate 'Submit' %}</button>
      </div>
    </form>
  </div>

{% endblock %}
