{% extends 'base/base.html' %}

{% load i18n %}

{% block content %}

<div class="row">
    <div class="col-md-6">
        <div class="box box-solid box-info">
            <div class="box-header with-border">
                <h3 class="box-title">{% translate 'Statistics' %}</h3>
            </div>
            <div class="box-body">
                <ul>
                    <li><strong>{% translate 'Persons:' %}</strong> {{ persons_count }}</li>
                    <li><strong>{% translate 'Groups:' %}</strong> {{ groups_count }}</li>
                    <li><strong>{% translate 'Tags:' %}</strong> {{ tags_count }}</li>
                    <li><strong>{% translate 'Countries:' %}</strong> {{ countries_count }}</li>
                    <li><strong>{% translate 'Languages:' %}</strong> {{ languages_count }}</li>
                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock %}
