{% extends 'base/base.html' %}

{% load i18n %}
{% load static %}
{% load mimir %}

{% block title %}
{{ language.name }} - {% translate 'Languages' %} - Mimir
{% endblock %}

{% block content_header %}
<section class="content-header">
  <h1>{{ language.name }}
    {% if perms.base.change_language %}
    <span class="pull-right">
      <a href="{% url 'language_edit' language.code %}" class="btn btn-sm btn-warning">{% translate 'Edit' %}</a>
    </span>
    {% endif %}
  </h1>
</section>
{% endblock content_header %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/datatables/dataTables.min.css' %}" />
{% endblock %}

{% block extra_foot %}
<script src="{% static 'js/datatables/datatables.min.js' %}"></script>

<script>
$(function() {
    function makeDataTable(obj, options={}) {
        var opt = {
            "paging"      : true,
            "lengthChange": true,
            "searching"   : true,
            "ordering"    : true,
            "info"        : true,
            "autoWidth"   : true,
            "language": {
                "processing":     "Traitement en cours...",
                "search":         "Rechercher&nbsp;:",
                "lengthMenu":     "Afficher _MENU_ &eacute;l&eacute;ments",
                "info":           "Affichage de l'&eacute;lement _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
                "infoEmpty":      "Affichage de l'&eacute;lement 0 &agrave; 0 sur 0 &eacute;l&eacute;ments",
                "infoFiltered":   "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
                "infoPostFix":    "",
                "loadingRecords": "Chargement en cours...",
                "zeroRecords":    "Aucun &eacute;l&eacute;ment &agrave; afficher",
                "emptyTable":     "Aucune donnée disponible dans le tableau.",
                "paginate": {
                    "first":      "Premier",
                    "previous":   "Pr&eacute;c&eacute;dent",
                    "next":       "Suivant",
                    "last":       "Dernier"
                },
                "aria": {
                    "sortAscending":  ": activer pour trier la colonne par ordre croissant",
                    "sortDescending": ": activer pour trier la colonne par ordre décroissant"
                }
            },
        };
        jQuery.extend(opt, options);
        obj.DataTable(opt);
    }

    makeDataTable($("#movies_list"), {"order": [[1, "asc"]]});
    makeDataTable($("#series_list"), {"order": [[0, "asc"]]});
    makeDataTable($("#works_list"), {"order": [[1, "asc"]]});
});
</script>
{% endblock %}

{% block content %}


<div class="row">
  <div class="col-sm-12 col-md-8 col-lg-4">
    <div class="box box-solid box-info">
      <div class="box-body">
        <dl class="dl-horizontal">
          <dt>{% translate 'Name' %}</dt><dd>{{ language.name }}</dd>
          <dt>{% translate 'Code' %}</dt><dd>{{ language.code }}</dd>
          {% if language.iso1 %}<dt>{% translate 'Code ISO 639-1' %}</dt><dd>{{ language.iso1 }}</dd>{% endif %}
          {% if language.iso2 %}<dt>{% translate 'Code ISO 639-2' %}</dt><dd>{{ language.iso2 }}</dd>{% endif %}
          {% if language.iso3 %}<dt>{% translate 'Code ISO 639-3' %}</dt><dd>{{ language.iso3 }}</dd>{% endif %}
        </dl>
      </div>
    </div>
  </div>
</div>

<div class="box box-solid box-info">
  <div class="box-header with-border">
    <h3 class="box-title">{% translate 'Movies' %}</h3>
    <div class="box-tools pull-right">
      <button type="button" class="btn btn-box-tool" data-widget="collapse">
        <i class="fa fa-minus"></i>
      </button>
    </div>
  </div>
  <div class="box-body">
    {% if movies|length > 0 %}
    <table class="table table-bordered table-stripped table-hover" id="movies_list">
      <thead>
        <tr>
          <th data-sortable="true">{% translate 'Title' %}</th>
          <th data-sortable="true">{% translate 'Year' %}</th>
          <th data-sortable="true">{% translate 'Duration' %}</th>
        </tr>
      </thead>
      <tbody>
      {% for movie in movies %}
        <tr>
          <td>
            <a href="{% url 'movie_info' movie.id|stringformat:'06d' %}" class="{% if movie.viewed %}movie_viewed{% else %}movie_not_viewed{% endif %}"><i>{{ movie.title }}</i></a>
            {% if movie.title_vo and movie.title_vo != movie.title %} (<i>{{ movie.title_vo }}</i>){% endif %}
          </td>
          <td><span class="hidden">{{ movie.date }}</span>{{ movie.date|date_year }}</td>
          <td><span class="hidden">{{ movie.duration|stringformat:'06d' }}</span>{{ movie.duration|duration_txt }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    {% else %}
      <p>{% translate 'No movies.' %}</p>
    {% endif %}
  </div>
</div>

<div class="box box-solid box-info">
  <div class="box-header with-border">
    <h3 class="box-title">{% translate 'Series' %}</h3>
    <div class="box-tools pull-right">
      <button type="button" class="btn btn-box-tool" data-widget="collapse">
        <i class="fa fa-minus"></i>
      </button>
    </div>
  </div>
  <div class="box-body">
    {% if language.serie_set.count > 0 %}
    <table class="table table-bordered table-stripped table-hover" id="series_list">
      <thead>
        <tr>
          <th data-sortable="true">{% translate 'Title' %}</th>
        </tr>
      </thead>
      <tbody>
      {% for serie in language.serie_set.all %}
        <tr>
          <td>
            <a href="{% url 'serie_info' serie.id|stringformat:'06d' %}"><i>{{ serie.title }}</i></a>
            {% if serie.title_vo and serie.title_vo != serie.title %} (<i>{{ serie.title_vo}}</i>){% endif %}
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    {% else %}
      <p>{% translate 'No series.' %}</p>
    {% endif %}
  </div>
</div>

<div class="box box-solid box-info">
  <div class="box-header with-border">
    <h3 class="box-title">{% translate 'Books' %}</h3>
    <div class="box-tools pull-right">
      <button type="button" class="btn btn-box-tool" data-widget="collapse">
        <i class="fa fa-minus"></i>
      </button>
    </div>
  </div>
  <div class="box-body">
    {% if works|length > 0 %}
    <table class="table table-bordered table-stripped table-hover" id="works_list">
      <thead>
        <tr>
          <th data-sortable="true">{% translate 'Title' %}</th>
          <th data-sortable="true">{% translate 'Year' %}</th>
        </tr>
      </thead>
      <tbody>
      {% for work in works %}
        <tr>
          <td>
            <a href="{% url 'work_info' work.id|stringformat:'06d' %}"><i>{{ work.title }}</i></a>
            {% if work.title_vo and work.title_vo != work.title %} (<i>{{ work.title_vo}}</i>){% endif %}
          </td>
          <td>{% if work.year %}{{ work.year}}{% endif %}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    {% else %}
      <p>{% translate 'No books.' %}</p>
    {% endif %}
  </div>
</div>

{% endblock %}
