{% extends 'base/base.html' %}

{% load static %}
{% load i18n %}

{% block title %}
{% translate 'Languages' %} - Mimir
{% endblock %}

{% block content_title %}
{% translate 'Languages' %}
{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/datatables/dataTables.min.css' %}" />
{% endblock %}

{% block extra_foot %}
<script src="{% static 'js/datatables/datatables.min.js' %}"></script>

<script>
$(function() {
    $('#languages_list').DataTable({
        "paging"      : true,
        "lengthChange": true,
        "searching"   : true,
        "ordering"    : true,
        "info"        : true,
        "autoWidth"   : true,
        "stateSave"   : true,
        "order":      [[1, "asc"]],
        "language": {
            "processing":     "Traitement en cours...",
            "search":         "Rechercher&nbsp;:",
            "lengthMenu":     "Afficher _MENU_ &eacute;l&eacute;ments",
            "info":           "Affichage de l'&eacute;lement _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
            "infoEmpty":      "Affichage de l'&eacute;lement 0 &agrave; 0 sur 0 &eacute;l&eacute;ments",
            "infoFiltered":   "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
            "infoPostFix":    "",
            "loadingRecords": "Chargement en cours...",
            "zeroRecords":    "Aucun &eacute;l&eacute;ment &agrave; afficher",
            "emptyTable":     "Aucune donnée disponible dans le tableau.",
            "paginate": {
                "first":      "Premier",
                "previous":   "Pr&eacute;c&eacute;dent",
                "next":       "Suivant",
                "last":       "Dernier"
            },
            "aria": {
                "sortAscending":  ": activer pour trier la colonne par ordre croissant",
                "sortDescending": ": activer pour trier la colonne par ordre décroissant"
            }
        },
    });
});
</script>
{% endblock %}

{% block content %}

  <div class="box box-solid box-info">

    <div class="box-header">
      <h3 class="box-title">{% translate 'Languages list' %}</h3>
      {% if perms.base.add_language %}
      <div class="box-tools pull-right">
        <a href="{% url 'language_create' %}" class="btn btn-box-tool">
          <i class="fa fa-plus-square"></i>
        </a>
      </div>
      {% endif %}
    </div>

    <div class="box-body">

      {% if languages %}

      <table class="table table-bordered table-stripped table-hover" id="languages_list">
        <thead>
          <tr>
            <th>{% translate 'Name' %}</th>
            <th>{% translate 'Code' %}</th>
            <th>{% translate 'Code ISO 639-1' %}</th>
            <th>{% translate 'Code ISO 639-2' %}</th>
            <th>{% translate 'Code ISO 639-3' %}</th>
          </tr>
        </thead>
        <tbody>
          {% for language in languages %}
          <tr>
            <td><a href="{% url 'language_info' language.code %}">{{ language.name }}</a></td>
            <td>{{ language.code }}</td>
            <td>{% if language.iso1 %}{{ language.iso1 }}{% endif %}</td>
            <td>{% if language.iso2 %}{{ language.iso2 }}{% endif %}</td>
            <td>{% if language.iso3 %}{{ language.iso3 }}{% endif %}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

      {% else %}
      <p>{% translate 'No languages.' %}</p>
      {% endif %}

    </div>
  </div>

{% endblock %}
