{% extends 'base/base.html' %}

{% load i18n %}
{% load mimir %}

{% block content_title %}
<a href="{% url 'person_info' person1.id|stringformat:'06d' %}">{{ person1.name }}</a> - {% translate 'Merge with ' %}<a href="{% url 'person_info' person2.id|stringformat:'06d' %}">{{ person2.name }}</a>
{% endblock %}

{% block title %}
{{ person1.name }} - {% translate 'Persons' %} - Mimir
{% endblock %}

{% block content %}

<div class="box box-solid box-info">
  <div class="box-header with-border">
    <h3 class="box-title">{% translate 'Merge two persons' %}</h3>
  </div>
  <div class="box-body">
    <form action="{% url 'person_merge' person1.id|stringformat:'06d' person2.id|stringformat:'06d' %}" method="post">
      {% csrf_token %}

      {% if diff %}
      <table class="table table-bordered table-stripped table-hover">
        <thead>
          <th></th>
          <th>{{ person1.name }} ({{ person1.id }})</th>
          <th>{{ person2.name }} ({{ person2.id }})</th>
        </thead>
        <tbody>
          {% for entry in diff %}
          <tr>
            <th>{{ entry.label }}</th>
            <td><label><input type="radio" name="{{ entry.key }}" value="1"{% if entry.s1 %} checked="checked"{% endif %} /> {% if entry.p1 %}{{ entry.p1 }}{% else %}<i>{% translate 'undefined' %}</i>{% endif %}</td>
            <td><label><input type="radio" name="{{ entry.key }}" value="2"{% if not entry.s1 %} checked="checked"{% endif %} /> {% if entry.p2 %}{{ entry.p2 }}{% else %}<i>{% translate 'undefined' %}</i>{% endif %}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% endif %}

      <div class="box-body">
        <div class="alert alert-warning">
          <p>{% translate 'Are you sure you want to merge those persons?' %}</p>
          <p><i class="icon fa fa-warning"></i>{% translate 'This action is irreversible.' %}</p>
        </div>
      </div>

      <div class="box-footer">
        <input type="submit" class="btn btn-warning center-block" value="{% translate 'Merge' %}" />
      </div>

    </form>
  </div>
</div>

{% endblock %}
