{% extends 'base/base.html' %}

{% load static %}
{% load i18n %}
{% load mimir %}

{% block footer_right %}
{% if person.creation %}{% translate 'Creation:' %} {{ person.creation }}.{% endif %}
{% if person.modification %}{% translate 'Last modification:' %} {{ person.modification }}.{% endif %}
{% endblock %}

{% block title %}
{{ person.name }} - {% translate 'Persons' %} - Mimir
{% endblock %}

{% block content_header %}
<section class="content-header">
  <h1>{{ person.name }}
    {% if perms.base.change_person or perms.base.delete_person %}
    <div class="pull-right">
      {% if perms.base.change_person %}
      <a href="{% url 'person_edit' person.id|stringformat:'06d' %}" class="btn btn-sm btn-warning">{% translate 'Edit' %}</a>
      {% endif %}
      {% if perms.base.delete_person %}
      <a href="{% url 'person_delete' person.id|stringformat:'06d' %}" class="btn btn-sm btn-danger">{% translate 'Delete' %}</a>
      {% endif %}
    </div>
    {% endif %}
  </h1>
</section>
{% endblock content_header %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/datatables/dataTables.min.css' %}" />
{% endblock %}

{% block extra_foot %}
<script src="{% static 'js/datatables/datatables.min.js' %}"></script>

<script>
$(function() {
    function makeDataTable(obj, options={}) {
        var opt = {
            "paging"      : false,
            "lengthChange": false,
            "searching"   : false,
            "ordering"    : true,
            "info"        : false,
            "autoWidth"   : false,
            "language": {
                "processing":     "Traitement en cours...",
                "search":         "Rechercher&nbsp;:",
                "lengthMenu":     "Afficher _MENU_ &eacute;l&eacute;ments",
                "info":           "Affichage de l'&eacute;lement _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
                "infoEmpty":      "Affichage de l'&eacute;lement 0 &agrave; 0 sur 0 &eacute;l&eacute;ments",
                "infoFiltered":   "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
                "infoPostFix":    "",
                "loadingRecords": "Chargement en cours...",
                "zeroRecords":    "Aucun &eacute;l&eacute;ment &agrave; afficher",
                "emptyTable":     "Aucune donnée disponible dans le tableau.",
                "paginate": {
                    "first":      "{% translate 'First' %}",
                    "previous":   "{% translate 'Previous' %}",
                    "next":       "{% translate 'Next' %}",
                    "last":       "{% translate 'Last' %}"
                },
                "aria": {
                    "sortAscending":  ": activer pour trier la colonne par ordre croissant",
                    "sortDescending": ": activer pour trier la colonne par ordre décroissant"
                }
            },
        };
        jQuery.extend(opt, options);
        obj.DataTable(opt);
    }

    makeDataTable($(".actor_list"), {"order": [[1, "asc"]]});
    makeDataTable($(".episodes_actor_list"), {"order": [[0, "asc"]]});
    makeDataTable($("#serie_crew_list"), {"order": [[0, "asc"]]});
    makeDataTable($("#relations_list"), {"order": [[0, "asc"]]});
    {% if works|length > 0 %}
    makeDataTable($("#work_list"), {"order": [[1, "asc"]]});
    {% endif %}
    {% if translations|length > 0 %}
    makeDataTable($("#translations_list"), {"order": [[3, "asc"]]});
    {% endif %}

    $(".box-body.collapse").on('shown.bs.collapse', function(e) {
        if ($(this).is(e.target)) {
            $(this).parent().removeClass('collapsed-box');
        }
    });

    $(".box-body.collapse").on('hidden.bs.collapse', function(e) {
        if ($(this).is(e.target)) {
            $(this).parent().addClass('collapsed-box');
        }
    });

    $(".box-body.collapse").on('show.bs.collapse', function(e) {
        if ($(this).is(e.target)) {
            $(this).parent().children('.box-header').find('div > button > i').addClass('fa-minus').removeClass('fa-plus');
        }
    });

    $(".box-body.collapse").on('hide.bs.collapse', function(e) {
        if ($(this).is(e.target)) {
            $(this).parent().children('.box-header').find('div > button > i').addClass('fa-plus').removeClass('fa-minus');
        }
    });
});
</script>
{% endblock %}

{% block content %}

<div class="nav-tabs-custom">

  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab_summary" data-toggle="tab">{% translate 'Summary' %}</a></li>
    {% if movies_actor|length > 0 or episodes_actor or movies_dubbing_actor|length > 0 or episodes_dubbing_actor or movies_dubbed_by|length > 0 or episodes_dubbed_by or movies_crew|length > 0 or episodes_crew or person.moviename.series_as_crew_member.count > 0 or person.ref_by.count > 0 %}<li><a href="#tab_movies" data-toggle="tab">{% translate 'Movies and series' %}</a></li>{% endif %}
    {% if works|length > 0 or translations|length > 0 %}<li><a href="#tab_books" data-toggle="tab">{% translate 'Books' %}</a></li>{% endif %}
    <li><a href="#tab_events" data-toggle="tab">{% translate 'Events' %} <span class="badge">{{ person.events.count }}</span></a></li>
    <li><a href="#tab_relations" data-toggle="tab">{% translate 'Relations' %} <span class="badge">{{ person.relations.count }}</span></a></li>
    <li><a href="#tab_metadata" data-toggle="tab">{% translate 'Metadata' %}</a></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="tab_summary">

      <div class="row">
        <div class="col-sm-12 col-md-8 col-lg-4">
          <div class="box box-solid box-info">
            <div class="box-body">
              <dl class="dl-horizontal">
                <dt>{% translate 'Person name' %}{% translate ':' %}</dt><dd>{{ person.name }}</dd>
                {% if person.lastname %}<dt>{% translate 'Last name' %}{% translate ':' %}</dt><dd>{{ person.lastname }}</dd>{% endif %}
                {% if person.firstname %}<dt>{% translate 'First name' %}{% translate ':' %}</dt><dd>{{ person.firstname }}</dd>{% endif %}
                <dt>{% translate 'Gender' %}{% translate ':' %}</dt><dd>{{ person.gender|gender_text }}</dd>
                {% if person.birthdate %}<dt>{% translate 'Birth date' %}{% translate ':' %}</dt><dd>{{ person.birthdate|date_txt }}</dd>{% endif %}
                {% if person.birthplace %}<dt>{% translate 'Birth place' %}{% translate ':' %}</dt><dd>{{ person.birthplace }}</dd>{% endif %}
                {% if person.deathdate %}<dt>{% translate 'Death date' %}{% translate ':' %}</dt><dd>{{ person.deathdate|date_txt }}</dd>{% endif %}
                {% if person.deathplace %}<dt>{% translate 'Death place' %}{% translate ':' %}</dt><dd>{{ person.deathplace }}</dd>{% endif %}
                {% if person.groups.count > 0 %}<dt>{% blocktranslate count c=person.groups.count %}Group{% plural %}Groups{% endblocktranslate %}{% translate ':' %}</dt><dd>{% for member in person.groups.all %}{% if not forloop.first %}, {% endif %}<a href="{% url 'group_info' member.group.id|stringformat:'06d' %}">{{ member.group.name }}</a>{% endfor %}</dd>{% endif %}
              </dl>
            </div>
          </div>
        </div>

        {% if homonyms.count > 0 %}
        <div class="col-sm-12 col-md-8 col-lg-4">
          <div class="box box-solid box-info">
            <div class="box-header with-border">
              <h3 class="box-title">{% translate 'Homonyms' %}</h3>
            </div>
            <div class="box-body">
              <ul>
                {% for homonym in homonyms.all %}
                <li><a href="{% url 'person_info' homonym.id|stringformat:'06d' %}">{{ homonym.name }}</a>{% if perms.base.change_person and perms.base.delete_person %} <a href="{% url 'person_merge' person.id|stringformat:'06d' homonym.id|stringformat:'06d' %}" class="btn btn-warning btn-xs">{% translate 'Merge' %}</a>{% endif %}</li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
        {% endif %}
      </div>

      {% if person.info %}
      <div class="box box-solid box-info">
        <div class="box-header with-border">
          <h3 class="box-title">{% translate 'Information' %}</h3>
        </div>
        <div class="box-body">{{ person.info|linebreaks }}</div>
      </div>
      {% endif %}

    </div>

    {% if movies_actor|length > 0 or episodes_actor or movies_dubbing_actor|length > 0 or episodes_dubbing_actor or movies_dubbed_by|length > 0 or episodes_dubbed_by or movies_crew|length > 0 or episodes_crew or person.moviename.series_as_crew_member.count > 0 or person.ref_by.count > 0 %}
    <div class="tab-pane" id="tab_movies">

      {% if movies_actor|length > 0 %}
      <div class="box box-solid box-info">
        <div class="box-header with-border">
          <h3 class="box-title">{% translate 'Actor' %} ({% translate 'Movies' %})</h3>
          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
              <i class="fa fa-minus"></i>
            </button>
          </div>
        </div>
        <div class="box-body">
          <table class="table table-bordered table-stripped table-hover actor_list">
            <thead>
              <tr>
                <th data-sortable="true">{% translate 'Title' %}</th>
                <th data-sortable="true">{% translate 'Year' %}</th>
                <th data-sortable="true">{% translate 'Role' %}</th>
                <th data-sortable="true">{% translate 'Language' context 'language' %}</th>
                <th data-sortable="false">{% translate 'Information' %}</th>
                <th data-sortable="true">{% translate 'Credited as' %}</th>
                <th data-sortable="true">{% translate 'Credited' %}</th>
                <th data-sortable="true">{% translate 'Visible' %}</th>
              </tr>
            </thead>
            <tbody>
              {% for actor in movies_actor %}
              <tr>
                <td>
                  <a href="{% url 'movie_info' actor.movie.id|stringformat:'06d' %}"{% if user.is_authenticated %} class="{% if actor.movie.viewed %}movie_viewed{% else %}movie_not_viewed{% endif %}"{% endif %}><i>{{ actor.movie.title }}</i></a>
                  {% if actor.movie.title_vo and actor.movie.title_vo != actor.movie.title %} (<i>{{ actor.movie.title_vo }}</i>){% endif %}
                </td>
                <td><span class="hidden">{{ actor.movie.date }}</span>{{ actor.movie.date|date_year }}</td>
                <td>{{ actor.role }}</td>
                <td>{% if actor.lang %}{{ actor.lang.name }}{% endif %}</td>
                <td>{{ actor.info }}</td>
                <td>{% if actor.name and actor.name != person.name %}{{ actor.name }}{% endif %}</td>
                <td><span class="glyphicon glyphicon-{% if actor.credit %}check{% else %}unchecked{% endif %}" aria-hidden="true"> <span class="sr-only">{{ actor.credit }}</span></td>
                <td><span class="glyphicon glyphicon-{% if actor.visible %}check{% else %}unchecked{% endif %}" aria-hidden="true"> <span class="sr-only">{{ actor.visible }}</span></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      {% endif %}

      {% if episodes_actor %}
      <div class="box box-solid box-info">
        <div class="box-header with-border">
          <h3 class="box-title">{% translate 'Actor' %} ({% translate 'Episodes' %})</h3>
          <div class="box-tools pull-right">
            <button data-target="#episodes_actor" class="btn btn-box-tool" data-toggle="collapse">
              <i class="fa fa-minus"></i>
            </button>
          </div>
        </div>
        <div class="box-body collapse in" id="episodes_actor">

          {% for serie in episodes_actor.values %}
          <div class="box box-solid box-default">
            <div class="box-header">
              <h4 class="box-title">
                <a href="{% url 'serie_info' serie.serie.id|stringformat:'06d' %}">
                  <i>{{ serie.serie.title }}</i>
                  {% if serie.serie.title_vo and serie.serie.title_vo != serie.serie.title %} (<i>{{ serie.serie.title_vo }}</i>){% endif %}
                </a>
              </h4>
              <div class="box-tools pull-right">
                <button data-target="#episodes_actor-{{ serie.serie.id }}" class="btn btn-box-tool" data-toggle="collapse">
                  <i class="fa fa-minus"></i>
                </button>
              </div>
            </div>
            <div class="box-body collapse in" id="episodes_actor-{{ serie.serie.id }}">
              <table class="table table-bordered table-stripped table-hover episodes_actor_list">
                <thead>
                  <tr>
                    <th data-sortable="true">{% translate 'Episode' %}</th>
                    <th data-sortable="true">{% translate 'Title' %}</th>
                    <th data-sortable="true">{% translate 'Year' %}</th>
                    <th data-sortable="true">{% translate 'Role' %}</th>
                    <th data-sortable="true">{% translate 'Language' context 'The language' %}</th>
                    <th data-sortable="false">{% translate 'Information' %}</th>
                    <th data-sortable="true">{% translate 'Credited as' %}</th>
                    <th data-sortable="true">{% translate 'Credited' %}</th>
                    <th data-sortable="true">{% translate 'Visible' %}</th>
                  </tr>
                </thead>
                <tbody>
                  {% for episode in serie.episodes %}
                    {% for actor in episode.actors %}
                    <tr>
                      <td><span class="hidden">{{ episode.episode.season|get_order|rjust:9 }}-{{ episode.episode|get_order|rjust:9 }}</span>{{ episode.episode.season.name }} épisode n° {{ episode.episode|get_order }}</td>
                      <td><a href="{% url 'movie_info' actor.movie.id|stringformat:'06d' %}"><i>{{ actor.movie.title }}</i></a></td>
                      <td><span class="hidden">{{ actor.movie.date }}</span>{{ actor.movie.date|date_year }}</td>
                      <td>{{ actor.role }}</td>
                      <td>{% if actor.lang %}{{ actor.lang.name }}{% endif %}</td>
                      <td>{{ actor.info }}</td>
                      <td>{% if actor.name and actor.name != person.name %}{{ actor.name }}{% endif %}</td>
                      <td><span class="glyphicon glyphicon-{% if actor.credit %}check{% else %}unchecked{% endif %}" aria-hidden="true"> <span class="sr-only">{{ actor.credit }}</span></td>
                      <td><span class="glyphicon glyphicon-{% if actor.visible %}check{% else %}unchecked{% endif %}" aria-hidden="true"> <span class="sr-only">{{ actor.visible }}</span></td>
                    </tr>
                    {% endfor %}
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
          {% endfor %}

        </div>
      </div>
      {% endif %}

      {% if movies_dubbing_actor|length > 0 %}
      <div class="box box-solid box-info">
        <div class="box-header with-border">
          <h3 class="box-title">{% translate 'Dubbing actor' %} ({% translate 'Movies' %})</h3>
          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
              <i class="fa fa-minus"></i>
            </button>
          </div>
        </div>
        <div class="box-body">
          <table class="table table-bordered table-stripped table-hover actor_list">
            <thead>
              <tr>
                <th data-sortable="true">{% translate 'Title' %}</th>
                <th data-sortable="true">{% translate 'Year' %}</th>
                <th data-sortable="true">{% translate 'Actor' %}</th>
                <th data-sortable="true">{% translate 'Language' context 'The language' %}</th>
              </tr>
            </thead>
            <tbody>
              {% for actor in movies_dubbing_actor %}
              <tr>
                <td>
                  <a href="{% url 'movie_info' actor.movie.id|stringformat:'06d' %}"{% if user.is_authenticated %} class="{% if actor.movie.viewed %}movie_viewed{% else %}movie_not_viewed{% endif %}"{% endif %}><i>{{ actor.movie.title }}</i></a>
                  {% if actor.movie.title_vo and actor.movie.title_vo != actor.movie.title %} (<i>{{ actor.movie.title_vo }}</i>){% endif %}
                </td>
                <td>{{ actor.movie.date|date_year }}</td>
                <td>
                  {% if actor.actor.person %}
                    <a href="{% url 'person_info' actor.actor.person.id|stringformat:'06d' %}">{{ actor.actor.person.name }}</a>
                  {% elif actor.actor.group %}
                    <a href="{% url 'group_info' actor.actor.group.id|stringformat:'06d' %}">{{ actor.actor.group.name }}</a>
                  {% else %}
                    {{ actor.actor.name }}
                  {% endif %}
                </td>
                <td>{% if actor.lang %}{{ actor.lang.name }}{% endif %}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      {% endif %}

      {% if episodes_dubbing_actor %}
      <div class="box box-solid box-info">
        <div class="box-header with-border">
          <h3 class="box-title">{% translate 'Dubbing actor' %} ({% translate 'Episodes' %})</h3>
          <div class="box-tools pull-right">
            <button data-target="#episodes_dubbing_actor" class="btn btn-box-tool" data-toggle="collapse">
              <i class="fa fa-minus"></i>
            </button>
          </div>
        </div>
        <div class="box-body collapse in" id="episodes_dubbing_actor">

          {% for serie in episodes_dubbing_actor.values %}
          <div class="box box-solid box-default">
            <div class="box-header">
              <h4 class="box-title">
                <i>{{ serie.serie.title }}</i>
                {% if serie.serie.title_vo and serie.serie.title_vo != serie.serie.title %} (<i>{{ serie.serie.title_vo }}</i>){% endif %}
              </h4>
              <div class="box-tools pull-right">
                <button data-target="#episodes_dubbing_actor-{{ serie.serie.id }}" class="btn btn-box-tool" data-toggle="collapse">
                  <i class="fa fa-minus"></i>
                </button>
              </div>
            </div>
            <div class="box-body collapse in" id="episodes_dubbing_actor-{{ serie.serie.id }}">
              <table class="table table-bordered table-stripped table-hover episodes_actor_list">
                <thead>
                  <tr>
                    <th data-sortable="true">{% translate 'Episode' %}</th>
                    <th data-sortable="true">{% translate 'Title' %}</th>
                    <th data-sortable="true">{% translate 'Year' %}</th>
                    <th data-sortable="true">{% translate 'Actor' %}</th>
                    <th data-sortable="true">{% translate 'Language' context 'The language' %}</th>
                  </tr>
                </thead>
                <tbody>
                  {% for episode in serie.episodes %}
                    {% for actor in episode.actors %}
                    <tr>
                      <td><span class="hidden">{{ episode.episode.season|get_order|rjust:9 }}-{{ episode.episode|get_order|rjust:9 }}</span>{{ episode.episode.season.name }} épisode n° {{ episode.episode|get_order }}</td>
                      <td>
                        <a href="{% url 'movie_info' actor.movie.id|stringformat:'06d' %}">{{ actor.movie.title }}</a>
                        {% if actor.movie.title_vo and actor.movie.title_vo != actor.movie.title %} ({{ actor.movie.title_vo }}){% endif %}
                      </td>
                      <td>{{ actor.movie.date|date_year }}</td>
                      <td>
                        {% if actor.actor.person %}
                          <a href="{% url 'person_info' actor.actor.person.id|stringformat:'06d' %}">{{ actor.actor.person.name }}</a>
                        {% elif actor.actor.group %}
                          <a href="{% url 'group_info' actor.actor.group.id|stringformat:'06d' %}">{{ actor.actor.group.name }}</a>
                        {% else %}
                          {{ actor.actor.name }}
                        {% endif %}
                      </td>
                      <td>{% if actor.lang %}{{ actor.lang.name }}{% endif %}</td>
                    </tr>
                    {% endfor %}
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
          {% endfor %}

        </div>
      </div>
      {% endif %}

      {% if movies_dubbed_by|length > 0 %}
      <div class="box box-solid box-info">
        <div class="box-header with-border">
          <h3 class="box-title">{% translate 'Dubbed by' %} ({% translate 'Movies' %})</h3>
          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
              <i class="fa fa-minus"></i>
            </button>
          </div>
        </div>
        <div class="box-body">
          <table class="table table-bordered table-stripped table-hover actor_list">
            <thead>
              <tr>
                <th data-sortable="true">{% translate 'Title' %}</th>
                <th data-sortable="true">{% translate 'Year' %}</th>
                <th data-sortable="true">{% translate 'Dubbing actor' %}</th>
                <th data-sortable="true">{% translate 'Language' context 'The language' %}</th>
              </tr>
            </thead>
            <tbody>
              {% for actor in movies_dubbed_by %}
              <tr>
                <td>
                  <a href="{% url 'movie_info' actor.movie.id|stringformat:'06d' %}"{% if user.is_authenticated %} class="{% if actor.movie.viewed %}movie_viewed{% else %}movie_not_viewed{% endif %}"{% endif %}><i>{{ actor.movie.title }}</i></a>
                  {% if actor.movie.title_vo and actor.movie.title_vo != actor.movie.title %} (<i>{{ actor.movie.title_vo }}</i>){% endif %}
                </td>
                <td>{{ actor.movie.date|date_year }}</td>
                <td>
                  {% if actor.person.person %}
                    <a href="{% url 'person_info' actor.person.person.id|stringformat:'06d' %}">{{ actor.person.person.name }}</a>
                  {% elif actor.person.group %}
                    <a href="{% url 'group_info' actor.person.group.id|stringformat:'06d' %}">{{ actor.person.group.name }}</a>
                  {% else %}
                    {{ actor.person.name }}
                  {% endif %}
                </td>
                <td>{% if actor.lang %}{{ actor.lang.name }}{% endif %}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      {% endif %}

      {% if episodes_dubbed_by %}
      <div class="box box-solid box-info">
        <div class="box-header with-border">
          <h3 class="box-title">{% translate 'Dubbed by' %} ({% translate 'Episodes' %})</h3>
          <div class="box-tools pull-right">
            <button data-target="#episodes_dubbed_by" class="btn btn-box-tool" data-toggle="collapse">
              <i class="fa fa-minus"></i>
            </button>
          </div>
        </div>
        <div class="box-body collapse in" id="episodes_dubbed_by">

          {% for serie in episodes_dubbed_by.values %}
          <div class="box box-solid box-default">
            <div class="box-header">
              <h4 class="box-title">
                <i>{{ serie.serie.title }}</i>
                {% if serie.serie.title_vo and serie.serie.title_vo != serie.serie.title %} (<i>{{ serie.serie.title_vo }}</i>){% endif %}
              </h4>
              <div class="box-tools pull-right">
                <button data-target="#episodes_dubbed_by-{{ serie.serie.id }}" class="btn btn-box-tool" data-toggle="collapse">
                  <i class="fa fa-minus"></i>
                </button>
              </div>
            </div>
            <div class="box-body collapse in" id="episodes_dubbed_by-{{ serie.serie.id }}">
              <table class="table table-bordered table-stripped table-hover episodes_actor_list">
                <thead>
                  <tr>
                    <th data-sortable="true">{% translate 'Episode' %}</th>
                    <th data-sortable="true">{% translate 'Title' %}</th>
                    <th data-sortable="true">{% translate 'Year' %}</th>
                    <th data-sortable="true">{% translate 'Dubbing actor' %}</th>
                    <th data-sortable="true">{% translate 'Language' context 'The language' %}</th>
                  </tr>
                </thead>
                <tbody>
                  {% for episode in serie.episodes %}
                    {% for actor in episode.actors %}
                    <tr>
                      <td><span class="hidden">{{ episode.episode.season|get_order|rjust:9 }}-{{ episode.episode|get_order|rjust:9 }}</span>{{ episode.episode.season.name }} épisode n° {{ episode.episode|get_order }}</td>
                      <td>
                        <a href="{% url 'movie_info' actor.movie.id|stringformat:'06d' %}"><i>{{ actor.movie.title }}</i></a>
                        {% if actor.movie.title_vo and actor.movie.title_vo != actor.movie.title %} (<i>{{ actor.movie.title_vo }}</i>){% endif %}
                      </td>
                      <td>{{ actor.movie.date|date_year }}</td>
                      <td>
                        {% if actor.person.person %}
                          <a href="{% url 'person_info' actor.person.person.id|stringformat:'06d' %}">{{ actor.person.person.name }}</a>
                        {% elif actor.person.group %}
                          <a href="{% url 'group_info' actor.person.group.id|stringformat:'06d' %}">{{ actor.person.group.name }}</a>
                        {% else %}
                          {{ actor.person.name }}
                        {% endif %}
                      </td>
                      <td>{% if actor.lang %}{{ actor.lang.name }}{% endif %}</td>
                    </tr>
                    {% endfor %}
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
          {% endfor %}

        </div>
      </div>
      {% endif %}

      {% if movies_crew|length > 0 %}
      <div class="box box-solid box-info">
        <div class="box-header with-border">
          <h3 class="box-title">{% translate 'Crew' %} ({% translate 'Movies' %})</h3>
          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
              <i class="fa fa-minus"></i>
            </button>
          </div>
        </div>
        <div class="box-body">
          <table class="table table-bordered table-stripped table-hover actor_list">
            <thead>
              <tr>
                <th data-sortable="true">{% translate 'Title' %}</th>
                <th data-sortable="true">{% translate 'Year' %}</th>
                <th data-sortable="true">{% translate 'Function' %}</th>
                <th data-sortable="false">{% translate 'Information' %}</th>
                <th data-sortable="true">{% translate 'Credited' %}</th>
              </tr>
            </thead>
            <tbody>
              {% for member in movies_crew %}
              <tr>
                <td>
                  <a href="{% url 'movie_info' member.movie.id|stringformat:'06d' %}"{% if user.is_authenticated %} class="{% if member.movie.viewed %}movie_viewed{% else %}movie_not_viewed{% endif %}"{% endif %}><i>{{ member.movie.title }}</i></a>
                  {% if member.movie.title_vo and member.movie.title_vo != member.movie.title %} (<i>{{ member.movie.title_vo }}</i>){% endif %}
                </td>
                <td>{{ member.movie.date|date_year }}</td>
                <td>{{ member.function }}</td>
                <td>{{ member.info }}</td>
                <td><span class="glyphicon glyphicon-{% if member.credit %}check{% else %}unchecked{% endif %}" aria-hidden="true"> <span class="sr-only">{{ member.credit }}</span></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      {% endif %}

      {% if episodes_crew %}
      <div class="box box-solid box-info">
        <div class="box-header with-border">
          <h3 class="box-title">{% translate 'Crew' %} ({% translate 'Episodes' %})</h3>
          <div class="box-tools pull-right">
            <button data-target="#episodes_crew" class="btn btn-box-tool" data-toggle="collapse">
              <i class="fa fa-minus"></i>
            </button>
          </div>
        </div>
        <div class="box-body collapse in" id="episodes_crew">

          {% for serie in episodes_crew.values %}
          <div class="box box-solid box-default">
            <div class="box-header">
              <h4 class="box-title">
                <i>{{ serie.serie.title }}</i>
                {% if serie.serie.title_vo and serie.serie.title_vo != serie.serie.title %} (<i>{{ serie.serie.title_vo }}</i>){% endif %}
              </h4>
              <div class="box-tools pull-right">
                <button data-target="#episodes_crew-{{ serie.serie.id }}" class="btn btn-box-tool" data-toggle="collapse">
                  <i class="fa fa-minus"></i>
                </button>
              </div>
            </div>
            <div class="box-body collapse in" id="episodes_crew-{{ serie.serie.id }}">
              <table class="table table-bordered table-stripped table-hover episodes_actor_list">
                <thead>
                  <tr>
                    <th data-sortable="true">{% translate 'Episode' %}</th>
                    <th data-sortable="true">{% translate 'Title' %}</th>
                    <th data-sortable="true">{% translate 'Year' %}</th>
                    <th data-sortable="true">{% translate 'Function' %}</th>
                    <th data-sortable="false">{% translate 'Information' %}</th>
                    <th data-sortable="true">{% translate 'Credited' %}</th>
                  </tr>
                </thead>
                <tbody>
                  {% for episode in serie.episodes %}
                    {% for member in episode.members %}
                    <tr>
                      <td><span class="hidden">{{ episode.episode.season|get_order|rjust:9 }}-{{ episode.episode|get_order|rjust:9 }}</span>{{ episode.episode.season.name }} épisode n° {{ episode.episode|get_order }}</td>
                      <td><a href="{% url 'movie_info' member.movie.id|stringformat:'06d' %}"><i>{{ member.movie.title }}</i></a></td>
                      <td>{{ member.movie.date|date_year }}</td>
                      <td>{{ member.function }}</td>
                      <td>{{ member.info }}</td>
                      <td><span class="glyphicon glyphicon-{% if member.credit %}check{% else %}unchecked{% endif %}" aria-hidden="true"> <span class="sr-only">{{ member.credit }}</span></td>
                    </tr>
                    {% endfor %}
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
          {% endfor %}

        </div>
      </div>
      {% endif %}

      {% if person.moviename.series_as_crew_member.count > 0 %}
      <div class="box box-solid box-info">
        <div class="box-header with-border">
          <h3 class="box-title">{% translate 'Crew' %} ({% translate 'Series' %})</h3>
          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
              <i class="fa fa-minus"></i>
            </button>
          </div>
        </div>
        <div class="box-body">
          <table class="table table-bordered table-stripped table-hover " id="serie_crew_list">
            <thead>
              <tr>
                <th data-sortable="true">{% translate 'Serie' %}</th>
                <th data-sortable="true">{% translate 'Function' %}</th>
                <th data-sortable="false">{% translate 'Information' %}</th>
              </tr>
            </thead>
            <tbody>
              {% for member in person.moviename.series_as_crew_member.all %}
              <tr>
                <td>
                  <a href="{% url 'serie_info' member.serie.id|stringformat:'06d' %}"><i>{{ member.serie.title }}</i></a>
                  {% if member.serie.title_vo and member.serie.title_vo != member.serie.title %} (<i>{{ member.serie.title_vo }}</i>){% endif %}
                </td>
                <td>{{ member.function }}</td>
                <td>{{ member.info }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      {% endif %}

      {% if person.ref_by.count > 0 %}
      <div class="box box-solid box-info">
        <div class="box-header with-border">
          <h3 class="box-title">{% translate 'Referenced by' %}</h3>
          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
              <i class="fa fa-minus"></i>
            </button>
          </div>
        </div>
        <div class="box-body">
          <table class="table table-bordered table-stripped table-hover " id="movies_ref_list">
            <thead>
              <tr>
                <th data-sortable="true">{% translate 'Title' %}</th>
                <th data-sortable="true">{% translate 'Year' %}</th>
                <th data-sortable="false">{% translate 'Information' %}</th>
              </tr>
            </thead>
            <tbody>
              {% for ref in person.ref_by.all %}
              <tr>
                <td>
                  {% if ref.movie.episode %}
                  <a href="{% url 'serie_info' ref.movie.episode.season.serie.id|stringformat:'06d' %}"><i>{{ ref.movie.episode.season.serie.title }}</i></a> -
                  {% endif %}
                  <a href="{% url 'movie_info' ref.movie.id|stringformat:'06d' %}"><i>{{ ref.movie.title }}</i></a>
                  {% if ref.movie.title_vo and ref.movie.title_vo != ref.movie.title %} (<i>{{ ref.movie.title_vo }}</i>){% endif %}
                </td>
                <td><span class="hidden">{{ ref.movie.date }}</span>{{ ref.movie.date|date_year }}</td>
                <td>{{ ref.info }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      {% endif %}

    </div>
    {% endif %}

    {% if works|length > 0 or translations|length > 0 %}
    <div class="tab-pane" id="tab_books">

      {% if works|length > 0 %}
      <div class="box box-solid box-info">
        <div class="box-header with-border">
          <h3 class="box-title">{% translate 'Author' context 'function' %} <small>({{ works|length }})</small></h3>
          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
              <i class="fa fa-minus"></i>
            </button>
          </div>
        </div>
        <div class="box-body">
          <table class="table table-bordered table-stripped table-hover" id="work_list">
            <thead>
              <tr>
                <th data-sortable="true">{% translate 'Title' %}</th>
                <th data-sortable="true">{% translate 'Year' %}</th>
                <th data-sortable="true">{% translate 'Language' context 'The language' %}</th>
                <th data-sortable="true">{% translate 'Genre' %}</th>
              </tr>
            </thead>
            <tbody>
              {% for work in works %}
              <tr>
                <td>
                  <a href="{% url 'work_info' work.id|stringformat:'06d' %}" class="{% if work.read %}work_read{% else %}work_not_read{% endif %}"><i>{{ work.title }}</i></a>
                  {% if work.title_vo and work.title != work.title_vo %} (<i>{{ work.title_vo }}</i>){% endif %}
                </td>
                <td>{% if work.year %}{{ work.year }}{% endif %}</td>
                <td>{{ work.lang }}</td>
                <td>{% if work.genre %}{{ work.genre }}{% else %}{% translate 'Unknown' context 'Unknown genre' %}{% endif %}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      {% endif %}

      {% if translations|length > 0 %}
      <div class="box box-solid box-info">
        <div class="box-header with-border">
          <h3 class="box-title">{% translate 'Translator' context 'function' %} <small>({{ translations|length }})</small></h3>
          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
              <i class="fa fa-minus"></i>
            </button>
          </div>
        </div>
        <div class="box-body">
          <table class="table table-bordered table-stripped table-hover" id="translations_list">
            <thead>
              <tr>
                <th>{% translate 'Work' %}</th>
                <th>{% translate 'Author' context 'function' %}</th>
                <th>{% translate 'Language' context 'The language' %}</th>
                <th>{% translate 'Year' %}</th>
              </tr>
            </thead>
            <tbody>
            {% for translation in translations %}
              <tr>
                <td>
                  <a href="{% url 'work_info' translation.original_work.id|stringformat:'06d' %}" class="{% if translation.read %}work_read{% else %}work_not_read{% endif %}"><i>{{ translation.original_work.title }}</i></a>
                  {% if translation.original_work.title_vo and translation.original_work.title != translation.original_work.title_vo %} (<i>{{ translation.original_work.title_vo }}</i>){% endif %}
                </td>
                <td>{% for author in translation.original_work.authors.all %}{% if not forloop.first %}, {% endif %}<a href="{% url 'person_info' author.id|stringformat:'06d' %}">{{ author.name }}</a>{% endfor %}</td>
                <td>{% if translation.lang %}{{ translation.lang.name }}{% endif %}</td>
                <td>{% if translation.year %}{{ translation.year }}{% endif %}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      {% endif %}

    </div>
    {% endif %}

    <div class="tab-pane" id="tab_events">

      <div class="box box-solid box-info">
        <div class="box-header with-border">
          <h3 class="box-title">{% translate 'Events' %}</h3>
          <div class="box-tools pull-right">
            {% if perms.base.change_person %}
            <a href="{TODO% url 'person_edit_events' person.id|stringformat:'06d' %}" class="btn btn-box-tool" title="{% translate 'Edit events' %}">
              <i class="fa fa-edit"></i>
            </a>
            {% endif %}
            {% if perms.base.change_person %}
            <a href="{% url 'person_add_event' person.id|stringformat:'06d' %}" class="btn btn-box-tool" title="{% translate 'Add event' %}">
              <i class="fa fa-plus-square"></i>
            </a>
            {% endif %}
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
              <i class="fa fa-minus"></i>
            </button>
          </div>
        </div>
        <div class="box-body">
          {% if person.events.count > 0 %}
          <ul class="timeline">
            {% for event in person.events.all %}
            <li>
              <i class="fa fa-{{ event.event.icon }} bg-blue"></i>
              <div class="timeline-item">
                {% if event.date %}<span class="time"><i class="fa fa-clock-o"></i> {{ event.date }}</span>{% endif %}
                <h3 class="timeline-header">{{ event.event.name }}</h3>
                <div class="timeline-body">
                  {{ event.description }}
                </div>
                <div class="timeline-footer">
                  <a class="btn btn-warning btn-flat btn-xs">Edit event</a>
                </div>
              </div>
            </li>
            {% endfor %}
            <li>
              <i class="fa fa-clock-o bg-gray"></i>
            </li>
          </ul>
          {% else %}
          <p>{% translate 'No events.' %}</p>
          {% endif %}
        </div>
      </div>

    </div>

    <div class="tab-pane" id="tab_relations">

      <div class="box box-solid box-info">
        <div class="box-header with-border">
          <h3 class="box-title">{% translate 'Relations' %}</h3>
          <div class="box-tools pull-right">
            {% if perms.base.change_person %}
            <a href="{TODO% url 'person_edit_relations' person.id|stringformat:'06d' %}" class="btn btn-box-tool" title="{% translate 'Edit relations' %}">
              <i class="fa fa-edit"></i>
            </a>
            {% endif %}
            {% if perms.base.change_person %}
            <a href="{% url 'person_add_relation' person.id|stringformat:'06d' %}" class="btn btn-box-tool" title="{% translate 'Add relation' %}">
              <i class="fa fa-plus-square"></i>
            </a>
            {% endif %}
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
              <i class="fa fa-minus"></i>
            </button>
          </div>
        </div>
        <div class="box-body">
          {% if person.relations.count > 0 %}
          <table class="table table-bordered table-stripped table-hover " id="relations_list">
            <thead>
              <tr>
                <th data-sortable="true">{% translate 'Person' %}</th>
                <th data-sortable="true">{% translate 'Relation type' %}</th>
                <th data-sortable="true">{% translate 'Date start' %}</th>
                <th data-sortable="true">{% translate 'Date end' %}</th>
                <th data-sortable="false">{% translate 'Information' %}</th>
              </tr>
            </thead>
            <tbody>
              {% for relation in person.relations.all %}
              <tr>
                <td><a href="{% url 'person_info' relation.personto.id|stringformat:'06d' %}">{{ relation.personto.name }}</a></td>
                <td>{{ relation.type }}</td>
                <td>{% if relation.date_start %}<span class="hidden">{{ relation.date_start }}</span>{{ relation.date_start|date_format }}{% endif %}</td>
                <td>{% if relation.date_end %}<span class="hidden">{{ relation.date_end }}</span>{{ relation.date_end|date_format }}{% endif %}</td>
                <td>{{ relation.info }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          {% else %}
          <p>{% translate 'No relations.' %}</p>
          {% endif %}
        </div>
      </div>

    </div>

    <div class="tab-pane" id="tab_metadata">

      <div class="row">

        <div class="col-md-12 col-lg-6">

          <div class="box box-solid box-info">
            <div class="box-header with-border">
              <h3 class="box-title">{% translate 'Tags' %}</h3>
              <div class="box-tools pull-right">
                {% if perms.base.change_persontag %}
                <a href="{% url 'person_edit_tags' person.id|stringformat:'06d' %}" class="btn btn-box-tool" title="{% translate 'Edit tags' %}">
                  <i class="fa fa-edit"></i>
                </a>
                {% endif %}
                {% if perms.base.add_persontag %}
                <a href="{% url 'person_add_tag' person.id|stringformat:'06d' %}" class="btn btn-box-tool" title="{% translate 'Add tag' %}">
                  <i class="fa fa-plus-square"></i>
                </a>
                {% endif %}
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                  <i class="fa fa-minus"></i>
                </button>
              </div>
            </div>
            <div class="box-body">
              {% if tags.count > 0 %}
              <ul>
                {% for personTag in tags.all %}
                <li><a href="{% url 'tag_info' personTag.tag.id|stringformat:'06d' %}">{{ personTag.tag.name }}</a>{% if personTag.info %} ({{ personTag.info }}){% endif %}</li>
                {% endfor %}
              </ul>
              {% else %}
              <p>{% translate 'No tags.' %}</p>
              {% endif %}
            </div>
          </div>

        </div>

        <div class="col-md-12 col-lg-6">

          <div class="box box-solid box-info">
            <div class="box-header with-border">
              <h3 class="box-title">{% translate 'Attributes' %}</h3>
              <div class="box-tools pull-right">
                {% if perms.base.change_person %}
                <a href="{% url 'person_edit_attributes' person.id|stringformat:'06d' %}" class="btn btn-box-tool" title="{% translate 'Edit attributes' %}">
                  <i class="fa fa-edit"></i>
                </a>
                {% endif %}
                {% if perms.base.change_person %}
                <a href="{% url 'person_add_attribute' person.id|stringformat:'06d' %}" class="btn btn-box-tool" title="{% translate 'Add attribute' %}">
                  <i class="fa fa-plus-square"></i>
                </a>
                {% endif %}
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                  <i class="fa fa-minus"></i>
                </button>
              </div>
            </div>
            <div class="box-body">
              {% if person.attributes.count > 0 %}
              <ul>
                {% for attribute in person.attributes.all %}
                <li>{{ attribute.name }} : {{ attribute.value }}</li>
                {% endfor %}
              </ul>
              {% else %}
              <p>{% translate 'No attributes.' %}</p>
              {% endif %}
            </div>
          </div>

          <div class="box box-solid box-info">
            <div class="box-header with-border">
              <h3 class="box-title">{% translate 'Links' %}</h3>
              <div class="box-tools pull-right">
                {% if perms.base.change_person %}
                <a href="{% url 'person_edit_links' person.id|stringformat:'06d' %}" class="btn btn-box-tool" title="{% translate 'Edit links' %}">
                  <i class="fa fa-edit"></i>
                </a>
                {% endif %}
                {% if perms.base.change_person %}
                <a href="{% url 'person_add_link' person.id|stringformat:'06d' %}" class="btn btn-box-tool" title="{% translate 'Add link' %}">
                  <i class="fa fa-plus-square"></i>
                </a>
                {% endif %}
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                  <i class="fa fa-minus"></i>
                </button>
              </div>
            </div>
            <div class="box-body">
              {% if links.count > 0 %}
              <ul>
                {% for link in links.all %}
                <li><a href="{{ link.uri }}">{{ link.name }} <span class="fa fa-external-link"></span></a>{% if link.lang %} ({{ link.lang }}){% endif %}</li>
                {% endfor %}
              </ul>
              {% else %}
              <p>{% translate 'No links.' %}</p>
              {% endif %}
            </div>
          </div>

        </div>

      </div>

    </div>

  </div>
</div>

{% endblock %}
