{% extends 'base/base.html' %}

{% load static %}
{% load i18n %}
{% load mimir %}

{% block content_title %}
{% translate 'Persons' %}
{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/datatables/dataTables.min.css' %}">
{% endblock %}

{% block extra_foot %}
<script src="{% static 'js/datatables/datatables.min.js' %}"></script>

<script>
$(function() {
    $('#persons_list').DataTable({
        "paging"      : true,
        "lengthChange": true,
        'searching'   : false,
        'ordering'    : true,
        'info'        : true,
        'autoWidth'   : true,
        'stateSave'   : true,
        'processing'  : true,
        'serverSide'  : true,
        'ajax': {
            url: "{% url 'persons_api_list' %}",
            dataFilter: function(data) {
                var json = jQuery.parseJSON(data);

                for (var i = 0; i < json.data.length; ++i) {
                    json.data[i]["name_url"] = '<a href="' + json.data[i]['url'] + '">' + json.data[i]['name'] + '</a>';
                }

                return JSON.stringify(json);
            },
        },
        "columns": [
            { "data": "name_url" },
            { "data": "gender_txt" },
            { "data": "birthdate_txt" },
            { "data": "deathdate_txt" },
        ],
        "language": {
            "processing":     "Traitement en cours...",
            "search":         "Rechercher&nbsp;:",
            "lengthMenu":     "Afficher _MENU_ &eacute;l&eacute;ments",
            "info":           "Affichage de l'&eacute;lement _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
            "infoEmpty":      "Affichage de l'&eacute;lement 0 &agrave; 0 sur 0 &eacute;l&eacute;ments",
            "infoFiltered":   "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
            "infoPostFix":    "",
            "loadingRecords": "Chargement en cours...",
            "zeroRecords":    "Aucun &eacute;l&eacute;ment &agrave; afficher",
            "emptyTable":     "Aucune donnée disponible dans le tableau.",
            "paginate": {
                "first":      "{% translate 'First' %}",
                "previous":   "{% translate 'Previous' %}",
                "next":       "{% translate 'Next' %}",
                "last":       "{% translate 'Last' %}"
            },
            "aria": {
                "sortAscending":  ": activer pour trier la colonne par ordre croissant",
                "sortDescending": ": activer pour trier la colonne par ordre décroissant"
            }
        },
    });
});
</script>
{% endblock %}

{% block content %}

  <div class="box box-solid box-info">

    <div class="box-header">
      <h3 class="box-title">{% translate 'Persons list' %}</h3>
      {% if perms.base.add_person %}
      <div class="box-tools pull-right">
        <a href="{% url 'person_create' %}" class="btn btn-box-tool">
          <i class="fa fa-plus-square"></i>
        </a>
      </div>
      {% endif %}
    </div>

    <div class="box-body">

      <table class="table table-bordered table-stripped table-hover" id="persons_list">
        <thead>
          <tr>
            <th>{% translate 'Name' %}</th>
            <th>{% translate 'Gender' %}</th>
            <th>{% translate 'Birth date' %}</th>
            <th>{% translate 'Death date' %}</th>
          </tr>
        </thead>
        <tbody>
          {% for person in persons %}
          <tr data-id="{{ person.id }}">
            <td><a href="{% url 'person_info' person.id|stringformat:'06d' %}">{{ person.name }}</a></td>
            <td>{% if person.gender == 'M' %}{% translate 'Male' %}{% elif person.gender == 'F' %}{% translate 'Female' %}{% elif person.gender == 'O' %}{% translate 'Other' %}{% else %}{% translate 'Unknown gender' %}{% endif %}</td>
            <td>{{ person.birthdate|date_format }}</td>
            <td>{{ person.deathdate|date_format }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

    </div>

  </div>

{% endblock %}
