{% extends 'base/base.html' %}

{% load i18n %}
{% load static %}

{% block content_title %}
<a href="{% url 'person_info' person.id|stringformat:'06d' %}">{{ person.name }}</a> - {% translate 'Add tag' %}
{% endblock %}

{% block title %}
{{ person.name }} - {% translate 'Persons' %} - Mimir
{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/select2.min.css' %}" media="all" />
{% endblock %}

{% block extra_foot %}
<script src="{% static 'js/select2/select2.min.js' %}"></script>
<script src="{% static 'js/select2/i18n/fr.js' %}"></script>

<script>
$(function() {
    const tags = [{% for person_tag in person.tags.all %}{% if forloop.counter0 > 0 %},{% endif %}{{ person_tag.tag.id }}{% endfor %}];

    function formatTag(tag) {
        if (tag.loading) {
            return tag.text;
        }
        var markup = '';
        if (tag.id < 0) {
            markup += "<i>{% translate 'Create tag' context 'add' %}</i> ";
            markup += '<strong>' + tag.text + '</strong>';
        } else {
            markup += '<strong>' + tag.text + '</strong>';
            if (tags.includes(tag.id)) {
                markup += " ({% translate 'already used' %})";
            }
        }
        return markup;
    }

    function formatTagSelection(tag) {
        return tag.text;
    }

    var current_n = 0;

    $("select.select_tag").select2({
        ajax: {
            url: "{% url 'tags_api_search' %}?create=1",
            dataType: 'json',
            delay: 250,
            data: function(params) {
                ++current_n;
                return {
                    q: params.term,
                    page: params.page,
                    n: current_n,
                };
            },
            processResults: function(data, params) {
                params.page = params.page || 1;

                for (var i = 0; i < data.items.length; ++i) {
                    data.items[i]['text'] = data.items[i]['name'];
                }

                return {
                    results: data.items,
                    pagination: {
                        more: data.incomplete_results
                    }
                };
            },
            cache: true
        },
        escapeMarkup: function(markup) { return markup; },
        minimumInputLength: 1,
        templateResult: formatTag,
        templateSelection: formatTagSelection,
    }).on("change", function(e) {
        $('#id_tag_name').val($('#id_tag_select option:selected').text());
        if ($('#id_tag_select').val()) {
            var id = parseInt($('#id_tag_select').val(), 10);
            $('#id_tag_id').val(id);

            if (id > 0 && tags.includes(id)) {
                $('#form_info').html('<i class="fa fa-info-circle"></i> {% translate "This tag is already used." %}');
            } else {
                $('#form_info').html('');
            }
        }
    }).on('select2:selecting', function(e) {
        $('#id_tag_select').empty();
    });

    $(document).on('select2:open', function(e) {
        document.querySelector(`[aria-controls="select2-${e.target.id}-results"]`).focus();
    });

    if ($('#id_tag_id').val()) {
        var id = parseInt($('#id_tag_id').val(), 10);
        if (id < 0) {
            current_n = -id;
        }

        if ($('#id_tag_select').find("option[value='" + id + "']").length) {
            $('#id_tag_select').val(id);
        } else {
            var name = $('#id_tag_name').val();
            $('#id_tag_select').append(new Option(name, id));
        }
        $('#id_tag_select').trigger('change');
    }
});
</script>
{% endblock %}

{% block content %}
{% include 'form_add_object.html' %}
{% endblock %}
