{% extends 'base/base.html' %}

{% load static %}
{% load i18n %}
{% load mimir %}

{% block title %}
{% translate 'Search a person' %} - Mimir
{% endblock %}

{% block content_title %}
{% translate 'Search a person' %}
{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/datatables/dataTables.min.css' %}">
{% endblock %}

{% block extra_foot %}
<script src="{% static 'js/datatables/datatables.min.js' %}"></script>

<script>
$(function() {
    $('#persons_list').DataTable({
        "paging"      : true,
        "lengthChange": true,
        "searching"   : false,
        "ordering"    : true,
        "info"        : true,
        "autoWidth"   : true,
        "stateSave"   : false,
        "processing"  : true,
        "serverSide"  : true,
        "ajax": {
            "url": "{% url 'persons_api_list' %}?q={{ query }}",
            "dataFilter": function(data) {
                var json = jQuery.parseJSON(data);

                for (var i = 0; i < json.data.length; ++i) {
                    json.data[i]["name_url"] = '<a href="' + json.data[i]['url'] + '"><i>' + json.data[i]['name'] + '</i></a>';
                }

                return JSON.stringify(json);
            },
        },
        "columns": [
            { "data": "name_url" },
            { "data": "gender_txt" },
            { "data": "birthdate_txt" },
            { "data": "deathdate_txt" },
        ],
        "language": {
            "processing":     "Traitement en cours...",
            "search":         "Rechercher&nbsp;:",
            "lengthMenu":     "Afficher _MENU_ &eacute;l&eacute;ments",
            "info":           "Affichage de l'&eacute;lement _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
            "infoEmpty":      "Affichage de l'&eacute;lement 0 &agrave; 0 sur 0 &eacute;l&eacute;ments",
            "infoFiltered":   "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
            "infoPostFix":    "",
            "loadingRecords": "Chargement en cours...",
            "zeroRecords":    "Aucun &eacute;l&eacute;ment &agrave; afficher",
            "emptyTable":     "Aucune donnée disponible dans le tableau.",
            "paginate": {
                "first":      "{% translate 'First' %}",
                "previous":   "{% translate 'Previous' %}",
                "next":       "{% translate 'Next' %}",
                "last":       "{% translate 'Last' %}"
            },
            "aria": {
                "sortAscending":  ": activer pour trier la colonne par ordre croissant",
                "sortDescending": ": activer pour trier la colonne par ordre décroissant"
            }
        },
    });

    $('#groups_list').DataTable({
        "paging"      : true,
        "lengthChange": true,
        "searching"   : true,
        "ordering"    : true,
        "info"        : true,
        "autoWidth"   : true,
        "stateSave"   : true,
        "language": {
            "processing":     "Traitement en cours...",
            "search":         "Rechercher&nbsp;:",
            "lengthMenu":     "Afficher _MENU_ &eacute;l&eacute;ments",
            "info":           "Affichage de l'&eacute;lement _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
            "infoEmpty":      "Affichage de l'&eacute;lement 0 &agrave; 0 sur 0 &eacute;l&eacute;ments",
            "infoFiltered":   "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
            "infoPostFix":    "",
            "loadingRecords": "Chargement en cours...",
            "zeroRecords":    "Aucun &eacute;l&eacute;ment &agrave; afficher",
            "emptyTable":     "Aucune donnée disponible dans le tableau.",
            "paginate": {
                "first":      "{% translate 'First' %}",
                "previous":   "{% translate 'Previous' %}",
                "next":       "{% translate 'Next' %}",
                "last":       "{% translate 'Last' %}"
            },
            "aria": {
                "sortAscending":  ": activer pour trier la colonne par ordre croissant",
                "sortDescending": ": activer pour trier la colonne par ordre décroissant"
            }
        },
    });
});
</script>
{% endblock %}

{% block content %}

  <div class="box box-solid box-info">
    <form action="{% url 'persons_search' %}" class="form" method="get">
      <div class="box-body">
        <div class="form-group row">
          <label for="id_form_q" class="col-sm-2 col-form-label">{% translate 'Query' %}</label>
          <div class="col-sm-10">
            <input type="text" name="q" id="id_form_q" class="form-control input-sm" value="{{ query }}" />
          </div>
        </div>
      </div>

      <div class="box-footer">
        <input type="submit" class="btn btn-primary center-block" value="{% translate 'Search...' %}" />
      </div>
    </form>
  </div>

  {% if query %}
  <div class="box box-solid box-info">
    <div class="box-header">
      <h3 class="box-title">{% translate 'Persons' %} <span class="badge">{{ persons_count }}</span></h3>
    </div>

    <div class="box-body">
      {% if persons_count > 0 %}
      <table class="table table-bordered table-stripped table-hover" id="persons_list">
        <thead>
          <tr>
            <th>{% translate 'Name' %}</th>
            <th>{% translate 'Gender' %}</th>
            <th>{% translate 'Birth date' %}</th>
            <th>{% translate 'Death date' %}</th>
          </tr>
        </thead>
        <tbody>
          {% comment %}
          {% for person in persons %}
          <tr data-id="{{ person.id }}">
            <td><a href="{% url 'person_info' person.id|stringformat:'06d' %}">{{ person.name }}</a></td>
            <td>{% if person.gender == 'M' %}{% translate 'Male' %}{% elif person.gender == 'F' %}{% translate 'Female' %}{% elif person.gender == 'O' %}{% translate 'Other' %}{% else %}{% translate 'Unknown gender' %}{% endif %}</td>
            <td>{{ person.birthdate|date_format }}</td>
            <td>{{ person.deathdate|date_format }}</td>
          </tr>
          {% endfor %}
          {% endcomment %}
        </tbody>
      </table>
      {% else %}
      <p>{% translate 'No persons.' %}</p>
      {% endif %}
    </div>
  </div>

  <div class="box box-solid box-info">
    <div class="box-header">
      <h3 class="box-title">{% translate 'Groups' %} <span class="badge">{{ groups|length }}</span></h3>
    </div>
    <div class="box-body">
      {% if groups %}
      <table class="table table-bordered table-stripped table-hover" id="groups_list">
        <thead>
          <tr>
            <th>{% translate 'Name' %}</th>
            <th>{% translate 'Type' %}</th>
          </tr>
        </thead>
        <tbody>
          {% for group in groups %}
          <tr>
            <td><a href="{% url 'group_info' group.id|stringformat:'06d' %}">{{ group.name }}</a></td>
            <td>{% if group.type == 'O' %}{% translate 'Other' %}{% elif group.type == 'S' %}{% translate 'Studies' %}{% elif group.type == 'T' %}{% translate 'Association' %}{% elif group.type == 'W' %}{% translate 'Work' context 'to work' %}{% elif group.type == 'A' %}{% translate 'Group of artists' %}{% elif group.type == 'C' %}{% translate 'Sport club' %}{% else %}{% translate 'Unknown type' %}{% endif %}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <p>{% translate 'No groups.' %}</p>
      {% endif %}
    </div>
  </div>
  {% endif %}

{% endblock %}
