{% load i18n %}

<aside class="main-sidebar">
  <section class="sidebar">

    <form action="{% url 'persons_search' %}" method="get" class="sidebar-form" role="search">
      <div class="input-group">
        <input type="text" name="q" class="form-control" placeholder="{% translate 'Search...' %}">
        <span class="input-group-btn">
          <button type="submit" id="search-btn" class="btn btn-flat">
            <i class="fa fa-search"></i>
          </button>
        </span>
      </div>
    </form>

    {% block nav_links %}
    <ul class="sidebar-menu" data-widget="tree">

      <li class="header">{% translate 'PERSONS' %}</li>
      <li class="{% if request.resolver_match.url_name == 'persons_list' %}active{% endif %}">
        <a href="{% url 'persons_list' %}">
          <i class="fa fa-list"></i> {% translate 'Persons list' %}
        </a>
      </li>
      {% if perms.base.add_person %}
      <li class="{% if request.resolver_match.url_name == 'person_create' %}active{% endif %}">
        <a href="{% url 'person_create' %}">
          <i class="fa fa-plus-square"></i> {% translate 'Create person' %}
        </a>
      </li>
      {% endif %}
      <li class="{% if request.resolver_match.url_name == 'groups_list' %}active{% endif %}">
        <a href="{% url 'groups_list' %}">
          <i class="fa fa-list"></i> {% translate 'Groups list' %}
        </a>
      </li>
      <li class="{% if request.resolver_match.url_name == 'persons_search' %}active{% endif %}">
        <a href="{% url 'persons_search' %}">
          <i class="fa fa-search"></i> {% translate 'Search' %}
        </a>
      </li>

      <li class="header">{% translate 'OBJECTS' %}</li>
      <li class="{% if request.resolver_match.url_name == 'tags_list' %}active{% endif %}">
        <a href="{% url 'tags_list' %}">
          <i class="fa fa-list"></i> {% translate 'Tags list' %}
        </a>
      </li>
      <li class="{% if request.resolver_match.url_name == 'countries_list' %}active{% endif %}">
        <a href="{% url 'countries_list' %}">
          <i class="fa fa-list"></i> {% translate 'Countries list' %}
        </a>
      </li>
      <li class="{% if request.resolver_match.url_name == 'languages_list' %}active{% endif %}">
        <a href="{% url 'languages_list' %}">
          <i class="fa fa-list"></i> {% translate 'Languages list' %}
        </a>
      </li>

    </ul>
    {% endblock nav_links %}
  </section>
</aside>
