{% extends 'base/base.html' %}

{% load i18n %}
{% load static %}
{% load mimir %}

{% block footer_right %}
{% if tag.creation %}{% translate 'Creation:' %} {{ tag.creation }}.{% endif %}
{% if tag.modification %}{% translate 'Last modification:' %} {{ tag.modification }}.{% endif %}
{% endblock %}

{% block title %}
{{ tag.name }} - {% translate 'Tags' %} - Mimir
{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/datatables/dataTables.min.css' %}" />
{% endblock %}

{% block content_header %}
  <section class="content-header">
    <h1>{{ tag.name }}
      {% if user.is_authenticated %}
      <div class="pull-right">
        <a href="{% url 'tag_edit' tag.id|stringformat:'06d' %}" class="btn btn-sm btn-warning">{% translate 'Edit' %}</a>
        <a href="{% url 'tag_delete' tag.id|stringformat:'06d' %}" class="btn btn-sm btn-danger">{% translate 'Delete' %}</a>
      </div>
      {% endif %}
    </h1>
  </section>
{% endblock content_header %}

{% block extra_foot %}
<script src="{% static 'js/datatables/datatables.min.js' %}"></script>

<script>
$(function() {
    function makeDataTable(obj, options={}) {
        var opt = {
            "paging"      : false,
            "lengthChange": false,
            "searching"   : true,
            "ordering"    : true,
            "info"        : false,
            "autoWidth"   : true,
            "language": {
                "processing":     "Traitement en cours...",
                "search":         "Rechercher&nbsp;:",
                "lengthMenu":     "Afficher _MENU_ &eacute;l&eacute;ments",
                "info":           "Affichage de l'&eacute;lement _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
                "infoEmpty":      "Affichage de l'&eacute;lement 0 &agrave; 0 sur 0 &eacute;l&eacute;ments",
                "infoFiltered":   "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
                "infoPostFix":    "",
                "loadingRecords": "Chargement en cours...",
                "zeroRecords":    "Aucun &eacute;l&eacute;ment &agrave; afficher",
                "emptyTable":     "Aucune donnée disponible dans le tableau.",
                "paginate": {
                    "first":      "{% translate 'First' %}",
                    "previous":   "{% translate 'Previous' %}",
                    "next":       "{% translate 'Next' %}",
                    "last":       "{% translate 'Last' %}"
                },
                "aria": {
                    "sortAscending":  ": activer pour trier la colonne par ordre croissant",
                    "sortDescending": ": activer pour trier la colonne par ordre décroissant"
                }
            },
        };
        jQuery.extend(opt, options);
        obj.DataTable(opt);
    }

    makeDataTable($("#persons_list"), {"order": [[{{ tag.persons_order }}, "asc"]]});
    makeDataTable($("#movies_list"), {"order": [[{% if tag.movies_order == 2 %}3{% else %}{{ tag.movies_order }}{% endif %}, "asc"]]});
    makeDataTable($("#series_list"), {"order": [[{{ tag.series_order }}, "asc"]]});
    makeDataTable($("#books_list"), {"order": [[{% if tag.books_order == 2 %}3{% else %}{{ tag.books_order }}{% endif %}, "asc"]]});
    makeDataTable($("#games_list"), {"order": [[{{ tag.games_order }}, "asc"]]});
});
</script>
{% endblock %}

{% block content %}

  {% if tag.parent %}
  <p>{% translate 'Parent tag' %}{% translate ':' %} <a href="{% url 'tag_info' tag.parent.id|stringformat:'06d' %}">{{ tag.parent.name }}</a></p>
  {% endif %}

  {% if tag.children.count > 0 %}
  <p>{% translate 'Children tags' %}{% translate ':' %}</p>
  <ul>
    {% for child in tag.children.all %}
    <li><a href="{% url 'tag_info' child.id|stringformat:'06d' %}">{{ child.name }}</a></li>
    {% endfor %}
  </ul>
  {% endif %}

  {% if tag.info %}
  <div class="box box-solid box-info">
    <div class="box-header with-border">
      <h3 class="box-title">{% translate 'Information' %}</h3>
      <div class="box-tools pull-right">
        <button type="button" class="btn btn-box-tool" data-widget="collapse">
          <i class="fa fa-minus"></i>
        </button>
      </div>
    </div>
    <div class="box-body">{{ tag.info|linebreaks }}</div>
  </div>
  {% endif %}

  {% if tag.persons.count > 0 %}
  <div class="box box-solid box-info">
    <div class="box-header with-border">
      <h3 class="box-title">{% translate 'Persons' %} <small>({{ tag.persons.count }})</small></h3>
      <div class="box-tools pull-right">
        <button type="button" class="btn btn-box-tool" data-widget="collapse">
          <i class="fa fa-minus"></i>
        </button>
      </div>
    </div>
    <div class="box-body">


      <table class="table table-bordered table-stripped table-hover" id="persons_list">
        <thead>
          <tr>
            <th>{% translate 'Name' %}</th>
            <th>{% translate 'Information' %}</th>
          </tr>
        </thead>
        <tbody>
          {% for person_tag in tag.persons.all %}
          <tr>
            <td><a href="{% url 'person_info' person_tag.person.id|stringformat:'06d' %}">{% if person_tag.person.gender == 'M' %}<i class="fa fa-male"></i> {% elif person_tag.person.gender == 'F' %}<i class="fa fa-female"></i> {% endif %}{{ person_tag.person.name }}</a></td>
            <td>{{ person_tag.info }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  {% endif %}

  {% if movies|length > 0 %}
  <div class="box box-solid box-info">
    <div class="box-header with-border">
      <h3 class="box-title">{% translate 'Movies' %} <small>({{ movies|length }})</small></h3>
      <div class="box-tools pull-right">
        <button type="button" class="btn btn-box-tool" data-widget="collapse">
          <i class="fa fa-minus"></i>
        </button>
      </div>
    </div>
    <div class="box-body">
      {% if user.is_authenticated %}
      <p>{% translate 'Filter' %}{% translate ':' %} <a href="{% url 'tag_info' tag.id|stringformat:'06d' %}?viewed=all">{% translate 'All' context 'all movies' %}</a>, <a href="{% url 'tag_info' tag.id|stringformat:'06d' %}?viewed=yes">{% translate 'Viewed' %}</a>, <a href="{% url 'tag_info' tag.id|stringformat:'06d' %}?viewed=no">{% translate 'Not viewed' %}</a></p>
      {% endif %}
      <table class="table table-bordered table-stripped table-hover" id="movies_list">
        <thead>
          <tr>
            <th>{% translate 'Title' %}</th>
            <th>{% translate 'Year' %}</th>
            <th>{% translate 'Duration' %}</th>
            <th>{% translate 'Information' %}</th>
          </tr>
        </thead>
        <tbody>
          {% for movie_tag in movies %}
          <tr>
            <td>
              <a href="{% url 'movie_info' movie_tag.movie.id|stringformat:'06d' %}"{% if user.is_authenticated %} class="{% if movie_tag.movie.viewed %}movie_viewed{% else %}movie_not_viewed{% endif %}"{% endif %}><i>{{ movie_tag.movie.title }}</i></a>
              {% if movie_tag.movie.title_vo and movie_tag.movie.title != movie_tag.movie.title_vo %} (<i>{{ movie_tag.movie.title_vo }}</i>){% endif %}
              {% if movie_tag.movie.episode %}
                (<a href="{% url 'serie_info' movie_tag.movie.episode.season.serie.id|stringformat:'06d' %}">{{ movie_tag.movie.episode.season.serie }}</a> - {{ movie_tag.movie.episode.season }})
              {% endif %}
            </td>
            <td><span class="hidden">{{ movie_tag.movie.date }}</span>{{ movie_tag.movie.date|date_year }}</td>
            <td><span class="hidden">{% if movie_tag.movie.duration %}{{ movie_tag.movie.duration|stringformat:'06d' }}{% else %}000000{% endif %}</span>{% if movie_tag.movie.duration > 0 %}{{ movie_tag.movie.duration|duration_txt }}{% endif %}</td>
            <td>{{ movie_tag.info }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  {% endif %}

  {% if tag.series.count > 0 %}
  <div class="box box-solid box-info">
    <div class="box-header with-border">
      <h3 class="box-title">{% translate 'Series' %} <small>({{ tag.series.all|length }})</small></h3>
      <div class="box-tools pull-right">
        <button type="button" class="btn btn-box-tool" data-widget="collapse">
          <i class="fa fa-minus"></i>
        </button>
      </div>
    </div>
    <div class="box-body">
      <table class="table table-bordered table-stripped table-hover" id="series_list">
        <thead>
          <tr>
            <th>{% translate 'Title' %}</th>
            <th>{% translate 'Information' %}</th>
          </tr>
        </thead>
        <tbody>
          {% for serie_tag in tag.series.all %}
          <tr>
            <td>
              <a href="{% url 'serie_info' serie_tag.serie.id|stringformat:'06d' %}"><i>{{ serie_tag.serie.title }}</i></a>
              {% if serie_tag.serie.title_vo and serie_tag.serie.title != serie_tag.serie.title_vo %} (<i>{{ serie_tag.serie.title_vo }}</i>){% endif %}
            </td>
            <td>{{ serie_tag.info }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  {% endif %}

  {% if texts|length > 0 %}
  <div class="box box-solid box-info">
    <div class="box-header with-border">
      <h3 class="box-title">{% translate 'Books' %} <small>({{ texts|length }})</small></h3>
      <div class="box-tools pull-right">
        <button type="button" class="btn btn-box-tool" data-widget="collapse">
          <i class="fa fa-minus"></i>
        </button>
      </div>
    </div>
    <div class="box-body">
      <table class="table table-bordered table-stripped table-hover" id="books_list">
        <thead>
          <tr>
            <th>{% translate 'Title' %}</th>
            <th>{% translate 'Year' %}</th>
            <th>{% translate 'Authors' %}</th>
            <th>{% translate 'Information' %}</th>
          </tr>
        </thead>
        <tbody>
          {% for work_tag in texts %}
          <tr>
            <td>
              {% if work_tag.text.work %}
                <a href="{% url 'work_info' work_tag.text.id|stringformat:'06d' %}" class="{% if work_tag.read %}work_read{% else %}work_not_read{% endif %}"><i>{{ work_tag.text.work.title }}</i></a>
              {% elif work_tag.text.translation %}
                <a href="{% url 'translation_info' work_tag.text.id|stringformat:'06d' %}"><i>{{ work_tag.text.translation.original_work.title }}</i></a>
              {% elif work_tag.text.collection %}
                <a href="{% url 'collection_info' work_tag.text.id|stringformat:'06d' %}"><i>{{ work_tag.text.collection.title }}</i></a>
              {% endif %}
            </td>
            <td>{% if work_tag.text.year %}{{ work_tag.text.year }}{% endif %}</td>
            <td>
              {% if work_tag.text.work %}
                {% for author in work_tag.text.work.authors.all %}{% if not forloop.first %}, {% endif %}<a href="{% url 'person_info' author.id|stringformat:'06d' %}">{{ author.name }}</a>{% endfor %}
              {% elif work_tag.text.translation %}
                {% for author in work_tag.text.translation.original_work.authors.all %}{% if not forloop.first %}, {% endif %}<a href="{% url 'person_info' author.id|stringformat:'06d' %}">{{ author.name }}</a>{% endfor %}
              {% elif work_tag.text.collection %}
                {% for author in work_tag.text.collection.authors %}{% if not forloop.first %}, {% endif %}<a href="{% url 'person_info' author.id|stringformat:'06d' %}">{{ author.name }}</a>{% endfor %}
              {% endif %}
            </td>
            <td>{{ work_tag.info }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  {% endif %}

  {% if games|length > 0 %}
  <div class="box box-solid box-info">
    <div class="box-header with-border">
      <h3 class="box-title">{% translate 'Games' %} <small>({{ games|length }})</small></h3>
      <div class="box-tools pull-right">
        <button type="button" class="btn btn-box-tool" data-widget="collapse">
          <i class="fa fa-minus"></i>
        </button>
      </div>
    </div>
    <div class="box-body">
      <table class="table table-bordered table-stripped table-hover" id="games_list">
        <thead>
          <tr>
            <th>{% translate 'Title' %}</th>
            <th>{% translate 'Year' %}</th>
            <th>{% translate 'Information' %}</th>
          </tr>
        </thead>
        <tbody>
          {% for game_tag in games %}
          <tr>
            <td>
              <i><a href="{% url 'game_info' game_tag.game.id|stringformat:'06d' %}" class="{% if game_tag.finished %}game_finished{% elif game_tag.played %}game_played{% else %}game_not_played{% endif %}"><i>{{ game_tag.game.title }}</i></a></i>
            </td>
            <td>{% if game_tag.game.year %}{{ game_tag.game.year }}{% endif %}</td>
            <td>{{ game_tag.info }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  {% endif %}

{% endblock %}
