{% extends 'base/base.html' %}

{% load i18n %}
{% load mimir %}
{% load static %}

{% block content_title %}
<a href="{% url 'tag_info' tag.id|stringformat:'06d' %}">{{ tag.name }}</a> - {% translate 'Edit' %}
{% endblock %}

{% block title %}
{{ tag.name }} - {% translate 'Tags' %} - Mimir
{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/select2.min.css' %}" media="all" />
{% endblock %}

{% block extra_foot %}
<script src="{% static 'js/select2/select2.min.js' %}"></script>
<script src="{% static 'js/select2/i18n/fr.js' %}"></script>

<script>
$(function() {
    function formatTag(tag) {
        if (tag.loading) {
            return tag.text;
        }
        var markup = '';
        if (tag.id < 0) {
            markup += "<i>{% translate 'Create tag' context 'add' %}</i> ";
            markup += '<strong>' + tag.text + '</strong>';
        } else {
            markup += '<strong>' + tag.text + '</strong>';
        }
        return markup;
    }

    function formatTagSelection(tag) {
        return tag.text;
    }

    var current_n = 0;

    $("select.select_tag").select2({
        ajax: {
            url: "{% url 'tags_api_search' %}?create=1&exclude={{ tag.id }}",
            dataType: 'json',
            delay: 250,
            data: function(params) {
                ++current_n;
                return {
                    q: params.term,
                    page: params.page,
                    n: current_n,
                };
            },
            processResults: function(data, params) {
                params.page = params.page || 1;

                for (var i = 0; i < data.items.length; ++i) {
                    data.items[i]['text'] = data.items[i]['name'];
                }

                return {
                    results: data.items,
                    pagination: {
                        more: data.incomplete_results
                    }
                };
            },
            cache: true
        },
        escapeMarkup: function(markup) { return markup; },
        minimumInputLength: 1,
        templateResult: formatTag,
        templateSelection: formatTagSelection,
    }).on("change", function(e) {
        $('#id_parent_name').val($('#id_parent_select option:selected').text());
        if ($('#id_parent_select').val()) {
            var id = parseInt($('#id_parent_select').val(), 10);
            $('#id_parent_id').val(id);

            $('#form_info').html('');
        }
    }).on('select2:selecting', function(e) {
        $('#id_parent_select').empty();
    });

    $(document).on('select2:open', function(e) {
        document.querySelector(`[aria-controls="select2-${e.target.id}-results"]`).focus();
    });

    if ($('#id_parent_id').val()) {
        var id = parseInt($('#id_parent_id').val(), 10);
        if (id < 0) {
            current_n = -id;
        }

        if ($('#id_parent_select').find("option[value='" + id + "']").length) {
            $('#id_parent_select').val(id);
        } else {
            var name = $('#id_parent_name').val();
            $('#id_parent_select').append(new Option(name, id));
        }
        $('#id_parent_select').trigger('change');
    }
});
</script>
{% endblock %}

{% block content %}

  {{ form.non_field_errors }}

  {% if form.subject.errors %}
    <ol>
      {% for error in form.subject.errors %}
      <li><strong>{{ error|escape }}</strong></li>
      {% endfor %}
    </ol>
  {% endif %}

  <div class="box box-primary">
    <form action="{% url 'tag_edit' tag.id|stringformat:'06d' %}" method="post" class="form">
      {% csrf_token %}

      <div class="box-body">
        {% for field in form.hidden_fields %}
          {{ field }}
        {% endfor %}
        {% for field in form.visible_fields %}
        <div class="form-group row{% if field.errors %} has-error{% endif %}">
          {{ field.errors }}
          <label for="{{ field.id_for_label }}" class="col-sm-2 col-form-label">{{ field.label }}</label>
          <div class="col-sm-10">{{ field|field_add_class:'form-control input-sm' }}</div>
          {% if field.help_text %}
            <p class="form-text text-muted">{{ field.help_text|safe }}</p>
          {% endif %}
        </div>
        {% endfor %}
      </div>

      <div class="box-footer">
        <input type="submit" class="btn btn-primary center-block" value="{% translate 'Submit' %}" />
      </div>
    </form>
  </div>

{% endblock %}
