{% extends 'base/base.html' %}

{% load static %}
{% load i18n %}

{% block title %}
{% translate 'Tags' %} - Mimir
{% endblock %}

{% block content_title %}
{% translate 'Tags' %}
{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/datatables/dataTables.min.css' %}" />
{% endblock %}

{% block extra_foot %}
<script src="{% static 'js/datatables/datatables.min.js' %}"></script>

<script>
$(function() {
    $('#tags_list').DataTable({
        "paging"      : true,
        "lengthChange": true,
        'searching'   : true,
        'ordering'    : true,
        'info'        : true,
        'autoWidth'   : true,
        "language": {
            "processing":     "Traitement en cours...",
            "search":         "Rechercher&nbsp;:",
            "lengthMenu":     "Afficher _MENU_ &eacute;l&eacute;ments",
            "info":           "Affichage de l'&eacute;lement _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
            "infoEmpty":      "Affichage de l'&eacute;lement 0 &agrave; 0 sur 0 &eacute;l&eacute;ments",
            "infoFiltered":   "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
            "infoPostFix":    "",
            "loadingRecords": "Chargement en cours...",
            "zeroRecords":    "Aucun &eacute;l&eacute;ment &agrave; afficher",
            "emptyTable":     "Aucune donnée disponible dans le tableau.",
            "paginate": {
                "first":      "Premier",
                "previous":   "Pr&eacute;c&eacute;dent",
                "next":       "Suivant",
                "last":       "Dernier"
            },
            "aria": {
                "sortAscending":  ": activer pour trier la colonne par ordre croissant",
                "sortDescending": ": activer pour trier la colonne par ordre décroissant"
            }
        },
    });
});
</script>
{% endblock %}

{% block content %}

  <div class="box box-solid box-info">

    <div class="box-header">
      <h3 class="box-title">{% translate 'Tags list' %}</h3>
    </div>

    <div class="box-body">

      {% if tags %}

      <table class="table table-bordered table-stripped table-hover" id="tags_list">
        <thead>
          <tr>
            <th>{% translate 'Name' %}</th>
          </tr>
        </thead>
        <tbody>
          {% for tag in tags %}
          <tr>
            <td><a href="{% url 'tag_info' tag.id|stringformat:'06d' %}">{{ tag.name }}</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

      {% else %}
      <p>Il n'y a aucun tag pour le moment.</p>
      {% endif %}

    </div>

{% endblock %}
